/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/shared/calendar-views.css);

calendar-event-column {
  -moz-user-focus: normal;
}

/* Navigation controls for the views */

#view-box {
  background-color: white;
  border-width: 0 0 0 1px;
}

.calview-tabs {
  -moz-box-align: stretch;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  position: static;
}

radio.calview[selected="true"] {
  background-color: #fff;
}

.navigation-bottombox {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  #view-box {
    background-color: Field;
    border-color: Field;
  }

  radio.calview[selected="true"],
  .navigation-bottombox {
    background-color: Field;
  }
}
