/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/shared/calendar-views.css);

calendar-event-column {
  -moz-user-focus: normal;
}

/** Start time bar **/

.calendar-time-bar-label {
  margin: 2px 2px;
}

calendar-event-box[invitation-status="NEEDS-ACTION"],
calendar-editable-item[invitation-status="NEEDS-ACTION"],
calendar-month-day-box-item[invitation-status="NEEDS-ACTION"] {
  opacity: 0.5;
}

calendar-event-box[invitation-status="TENTATIVE"],
calendar-editable-item[invitation-status="TENTATIVE"],
calendar-month-day-box-item[invitation-status="TENTATIVE"],
calendar-event-box[status="TENTATIVE"],
calendar-editable-item[status="TENTATIVE"],
calendar-month-day-box-item[status="TENTATIVE"],
richlistitem[is="agenda-richlistitem"][status="TENTATIVE"] {
  opacity: 0.5;
}

calendar-event-box[invitation-status="DECLINED"],
calendar-editable-item[invitation-status="DECLINED"],
calendar-month-day-box-item[invitation-status="DECLINED"],
calendar-event-box[status="CANCELLED"],
calendar-editable-item[status="CANCELLED"],
calendar-month-day-box-item[status="CANCELLED"],
richlistitem[is="agenda-richlistitem"][status="CANCELLED"] {
  opacity: 0.5;
}

/* Navigation controls for the views */
#calendar-nav-control {
  background-color: #e8e8e8;
  --calview-tabline-color: -moz-accent-color;
  --calview-border-color: #bdbdbd;
  --calview-border-bottom-color: #d2d2d2;
}

#view-box {
  background-color: white;
  border-width: 0 0 0 1px;
}

.calview-tabs {
  -moz-box-align: stretch;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  position: static;
}

radio.calview[selected="true"] {
  background-color: #fff;
}

.view-header {
  margin-top: 3px;
  margin-bottom: 1px;
}

.navigation-bottombox {
  background-color: white;
}

.view-navigation-button {
  margin-top: 2px;
}

.today-navigation-button {
  margin-top: 2px;
  padding-top: 2px;
}

#calendar-nav-control:-moz-window-inactive {
  background: -moz-mac-chrome-inactive;
  --calview-border-bottom-color: hsl(0, 0%, 85%);
}
