/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/shared/calendar-unifinder.css);

/* added for new id ..... search box ..... */
#unifinder-searchBox {
  border-bottom: 1px solid #bebebe;
  height: 30px;
}

.unifinder-closebutton > .toolbarbutton-text {
  display: none;
}

@media not (prefers-color-scheme: dark) {
  #unifinder-searchBox:-moz-window-inactive {
    border-bottom-color: hsl(0, 0%, 85%);
    background-color: -moz-mac-chrome-inactive;
  }
}
