/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar-common/skin/today-pane.css);

#today-pane-panel:-moz-lwtheme > sidebarheader {
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(rgba(255, 255, 255, 0.32), rgba(255, 255, 255, 0) 19px);
}

.today-pane-cycler,
.today-pane-cycler .toolbarbutton-icon,
.today-pane-cycler .toolbarbutton-text {
  padding: 0;
  margin: 0;
  border-style: none;
}

.today-pane-cycler[dir="prev"],
.today-pane-cycler[dir="next"]:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://calendar/skin/spin-buttons.png");
  -moz-image-region: rect(0 15px 16px 0);
}

.today-pane-cycler[dir="next"],
.today-pane-cycler[dir="prev"]:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://calendar/skin/spin-buttons.png");
  -moz-image-region: rect(0 31px 16px 15px);
  margin-inline-end: 4px;
}

.today-pane-cycler:active {
  list-style-image: url("chrome://calendar/skin/spin-buttons-active.png");
}

.miniday-nav-buttons {
  list-style-image: url("chrome://calendar-common/skin/widgets/nav-arrow.svg");
}

#previous-day-button:-moz-locale-dir(ltr),
#next-day-button:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.today-closebutton {
  list-style-image: url("chrome://global/skin/icons/close.png");
}

.today-closebutton:not([selected]):not(:hover):-moz-lwtheme-brighttext {
  -moz-image-region: rect(0 64px 16px 48px);
}

.today-closebutton > .toolbarbutton-text {
   display: none;
}

.today-subpane {
  border-color: #b8b8b8;
}

.monthlabel {
  margin-bottom: 1px;
}

#mini-day-image {
  background: linear-gradient(hsl(0, 0%, 93%), hsl(0, 0%, 83%));
}

#agenda-toolbar {
  background-color: -moz-dialog;
  color: -moz-dialogtext;
}

#today-pane-panel:-moz-lwtheme {
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .4);
}

@media not all and (-moz-mac-yosemite-theme) {
  #todaypane-new-event-button {
    list-style-image: url(chrome://calendar-common/skin/calendar-toolbar-osxlion.svg#newevent);
  }
}

@media (-moz-mac-yosemite-theme) {
  #today-pane-panel {
    border-top: solid 1px rgba(0, 0, 0, 0.37);
  }

  #today-pane-panel:not(:-moz-lwtheme):-moz-window-inactive {
    border-top-color: rgba(0, 0, 0, 0.2);
    background-color: hsl(0, 0%, 97%);
  }

  #mini-day-image:-moz-window-inactive {
    background: linear-gradient(hsl(0, 0%, 97%), hsl(0, 0%, 95%));
  }

  #agenda-toolbar:-moz-window-inactive {
    background-color: hsl(0, 0%, 97%);
  }

  #todaypane-new-event-button {
    list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#newevent-flat);
  }
}

#todaypane-new-event-button[disabled="true"] > .toolbarbutton-icon {
  opacity: .5;
}

#todaypane-new-event-button > .toolbarbutton-text {
  margin-inline-start: 0px;
}

#todaypane-new-event-button > .toolbarbutton-icon {
  width: 18px;
  height: 18px;
  margin: -1px;
}

#agenda-listbox {
  border-top-color: #B8B8B8;
}

#today-pane-splitter {
  min-height: 9px;
  border-top: 1px solid #B8B8B8;
}
