/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.ib-msg-txt {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.moz-txt-underscore {
  text-decoration: underline;
}

/* disable overflow in themes until bug 42676 is fixed in Mozilla */
#Chat {
  overflow: hidden !important;

  & * {
    overflow: visible !important;
    unicode-bidi: plaintext;
  }
}

#unread-ruler {
  margin: 0;
  width: 100%;
  border: none;
  border-top: 1px dashed red;
}

.ib-nick {
  font-weight: bold;

  &[left] {
    color: grey;
  }
}

.monospaced {
  font-family: monospace;
}
