/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tooltipBuddies {
  margin-inline-start: -3px;
}

.tooltipTable {
  border-spacing: 0;

  & th {
    text-align: start;
    white-space: nowrap;
  }

  & :is(th, td) {
    line-height: 1.5em;
  }
}

.chatTooltipSeparator {
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.5);
}

.displayUserAccount.tooltipDisplayUserAccount {
  /* Remove padding from top and sides. */
  padding-inline: 0;
  padding-block-start: 0;
}
