/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.otr-container {
  border-top: 1px solid var(--splitter-color);
  min-height: 32px;
  padding: 4px;
}

.otr-label {
  font-weight: 600;
}

.otr-not-private > image {
  list-style-image: url("chrome://messenger/skin/icons/connection-insecure.svg");
}

.otr-unverified > image {
  list-style-image: url("chrome://messenger/skin/icons/connection-mixed.svg");
}

.otr-finished > image {
  list-style-image: url("chrome://chat/skin/otr-connection-finished.svg");
}

.otr-private > image {
  list-style-image: url("chrome://chat/skin/otr-connection-encrypted.svg");
}

.otr-button {
  appearance: none !important;
  padding: 1px !important;
  border: 1px solid var(--toolbarbutton-hover-bordercolor);
  border-radius: var(--toolbarbutton-border-radius);
  background: var(--toolbarbutton-hover-background) !important;
  box-shadow: var(--toolbarbutton-hover-boxshadow);
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  -moz-context-properties: fill;
  fill: currentColor;
}

.otr-button:not([disabled="true"]):not([open="true"]):hover {
  background: var(--toolbarbutton-active-background) !important;
  border-color: var(--toolbarbutton-active-bordercolor);
}

.otr-button[open="true"] {
  background: var(--toolbarbutton-active-background) !important;
  border-color: var(--toolbarbutton-active-bordercolor);
  box-shadow: var(--toolbarbutton-active-boxshadow);
}

.otr-button > image {
  margin-inline-end: 3px !important;
  width: 14px;
}

.otr-button .toolbarbutton-menu-dropmarker {
  appearance: none !important;
  list-style-image: url("chrome://global/skin/icons/arrow-down-12.svg");
  margin-left: 0;
  margin-right: 0;
  margin-inline-start: 3px;
}

/* otr botificationbox tweaks */

#otr-notification-box notification[type="warning"] {
  background: #FFF2BE !important;
}

#otr-notification-box notification {
  padding-inline-start: 6px !important;
  padding: 6px !important;
  border-top: 1px solid var(--splitter-color) !important;
  border-bottom: none !important;
}

#otr-notification-box .messageImage {
  margin-inline-end: 6px !important;
  color: #9E650C;
}

#otr-notification-box .messageText {
  margin-inline-start: 6px !important;
  margin-bottom: 6px !important;
}

.otr-notification-header {
  display: inherit;
  padding: 3px 6px;
}

.otr-notification-header title {
  font-weight: bold;
  color: #9E650C;
  flex-grow: 1;
}

.otr-notification-header .messageCloseButton {
  min-height: 20px;
}

.otr-notification-header .messageCloseButton > .toolbarbutton-icon {
  margin-inline-end: 0px !important;
}

.otr-notification-footer {
  display: flex;
  justify-content: end;
}

/* waiting */
#otr-notification-box notification[type="warning"][status="otr:auth-waiting"] >
  hbox > .messageImage {
  list-style-image: url("chrome://global/skin/icons/help.svg") !important;
}

/* fail */
#otr-notification-box notification[type="warning"][status="otr:auth-fail"] {
  background: #ffc9d5 !important;
}

#otr-notification-box notification[type="warning"][status="otr:auth-fail"] >
  hbox > .messageImage {
  list-style-image: url("chrome://global/skin/icons/error.svg") !important;
  color: #c93434 !important;
}

#otr-notification-box notification[type="warning"][status="otr:auth-fail"]
  .otr-notification-header title {
  color: #c93434 !important;
}

/* success */
#otr-notification-box notification[type="warning"][status="otr:auth-success"] {
  background: #D3F4AF !important;
}

#otr-notification-box notification[type="warning"][status="otr:auth-success"] >
  hbox > .messageImage {
  list-style-image: url("chrome://global/skin/icons/check.svg") !important;
  color: #407501 !important;
}

#otr-notification-box notification[type="warning"][status="otr:auth-success"]
  .otr-notification-header title {
  color: #407501 !important;
}
