# Always ignore node_modules.
**/node_modules/**/*.*

# lint eslint config files which are excluded by default
!**/.eslintrc.js

# Exclude expected objdirs.
obj*/**

# Exclude mozilla directory, this one is checked separately
mozilla/**

# These directories don't contain any js and are not meant to
config/**
db/**
other-licenses/**
testing/**

# We ignore all these directories by default, until we get them enabled.
# If you are enabling a directory, please add directory specific exclusions
# below.
build/**
chat/**
editor/**
im/**
ldap/**
suite/**

# mailnews exclusions
mailnews/mailnews.js
mailnews/addrbook/*
mailnews/base/*
mailnews/build/*
mailnews/compose/*
mailnews/db/*
mailnews/imap/*
mailnews/import/*
mailnews/intl/*
mailnews/jsaccount/*
mailnews/local/*
mailnews/mapi/*
mailnews/mime/*
mailnews/news/*
mailnews/test/*

# mailnews/extensions exclusions
mailnews/extensions/*
!mailnews/extensions/newsblog

# mail exclusions
mail/app/**
mail/base/content/protovis-r2.6-modded.js
mail/branding/**
mail/config/**
mail/extensions/**
mail/installer/**
mail/locales/**
mail/test/**
mail/themes/**

# prefs files
mail/components/im/all-im.js

# calendar/ exclusions

# prefs files
calendar/lightning/content/lightning.js

# third party library
calendar/base/modules/ical.js
