[flake8]
max-line-length = 99
exclude =
    # These paths should be triaged and either fixed or moved to the list below.
    python/l10n/tb_fluent_migrations

# See:
#   - http://flake8.pycqa.org/en/latest/user/error-codes.html
#   - http://pep8.readthedocs.io/en/latest/intro.html#configuration
ignore =
    # These should be triaged and either fixed or moved to the list below.
    W605, W606,
    # These are intentionally disabled (not necessarily for good reason).
    #   F723: syntax error in type comment
    #       text contains quotes which breaks our custom JSON formatter
    F723, E704, E741,

    # black is already in charge of formatting, no need to start a formatter
    # battle here
    E1, W1, E2, W2, E3, W3, E4, W4, E5, W5

# per-file-ignores =

builtins =
    # For GDB extensions
    gdb
