# Exclude everything by default, then include all the formats we support.
*.*
!*.js
!*.jsm
!*.json
!*.mjs
!*.jsx
!*.sjs

# Not currently enabled, but planning to soon.
# These files are disabled due to parsing errors when using Prettier.
# Bug 1560186
# !*.html
# !*.xhtml
# !*.xml

# Preference files.
calendar/base/calendar.js
chat/chat-prefs.js
mail/app/profile/all-thunderbird.js
mail/branding/nightly/pref/thunderbird-branding.js
mail/branding/thunderbird/pref/thunderbird-branding.js
mail/components/compose/composer.js
mail/extensions/am-e2e/prefs/e2e-prefs.js
mail/locales/**
mailnews/extensions/mdn/mdn.js
mailnews/mailnews.js

# This file is split into two in order to keep it as a valid json file
# for documentation purposes (policies.json) but to be accessed by the
# code as a JS module (schema.sys.mjs).
mail/components/enterprisepolicies/schemas/schema.sys.mjs

# Ignore SeaMonkey files.
suite/**

try_task_config.json

#Intentionally incorrect
mailnews/test/data/alias-9.json

##############################################################################
# The list below is copied from ThirdPartyPaths.txt. Prettier doesn't currently
# support multiple ignore files or dynamic ignore configurations.
# When this is implemented, we'll update the configuration below (bug 1825508)
##############################################################################

calendar/base/modules/Ical.jsm
chat/protocols/matrix/lib/**
chat/protocols/xmpp/lib/**
mail/base/content/protovis-r2.6-modded.js
mail/components/compose/texzilla/TeXZilla.js
mail/components/storybook/storybook-static/**
third_party/**


##############################################################################
# The list below is copied from Generated.txt. Prettier doesn't currently
# support multiple ignore files or dynamic ignore configurations.
# When this is implemented, we'll update the configuration below (bug 1825508)
##############################################################################

mailnews/extensions/newsblog/test/unit/resources/feeds-missing-timestamp/feeds.json
mailnews/extensions/newsblog/test/unit/resources/feeds-simple/feeditems.json
mailnews/extensions/newsblog/test/unit/resources/feeds-simple/feeds.json
