# Exclude everything by default, then include all the formats we support.
*.*
!*.js
!*.jsm
!*.json
!*.mjs
!*.jsx
!*.sjs
!*.xhtml
!*.html

# Exclude xhtml/html test files.
**/test*/**/*.xhtml
**/test*/**/*.html

# Preference files.
calendar/base/calendar.js
chat/chat-prefs.js
mail/app/profile/all-thunderbird.js
mail/branding/nightly/pref/thunderbird-branding.js
mail/branding/thunderbird/pref/thunderbird-branding.js
mail/components/compose/composer.js
mail/extensions/am-e2e/prefs/e2e-prefs.js
mail/locales/**
mailnews/extensions/mdn/mdn.js
mailnews/mailnews.js

# This file is split into two in order to keep it as a valid json file
# for documentation purposes (policies.json) but to be accessed by the
# code as a JS module (schema.sys.mjs).
mail/components/enterprisepolicies/schemas/schema.sys.mjs

# Ignore SeaMonkey files.
suite/**

try_task_config.json

# Intentionally incorrect
mailnews/test/data/alias-9.json

# Ignore .inc.(x)html files, since they may contain preprocessor directives/
# incomplete HTML.
**/*.inc.xhtml
**/*.inc.html


# Ignore preprocessed xhtml/html files
calendar/base/content/widgets/*.xhtml
mail/base/content/about3Pane.xhtml
mail/base/content/aboutDialog.xhtml
mail/base/content/aboutMessage.xhtml
mail/base/content/browserRequest.xhtml
mail/base/content/buildconfig.html
mail/base/content/hiddenWindowMac.xhtml
mail/base/content/messageWindow.xhtml
mail/base/content/messenger.xhtml
mail/base/content/newTagDialog.xhtml
mail/base/content/profileDowngrade.xhtml
mail/base/content/SearchDialog.xhtml
mail/base/content/viewSource.xhtml
mail/components/about-support/content/aboutSupport.xhtml
mail/components/activity/content/activity.xhtml
mail/components/addrbook/content/aboutAddressBook.xhtml
mail/components/addrbook/content/abSearchDialog.xhtml
mail/components/compose/content/messengercompose.xhtml
mail/components/downloads/content/aboutDownloads.xhtml
mail/components/extensions/extensionPopup.xhtml
mail/components/migration/content/migration.xhtml
mail/components/preferences/colors.xhtml
mail/components/preferences/cookies.xhtml
mail/components/preferences/dockoptions.xhtml
mail/components/preferences/preferences.xhtml
mail/components/preferences/tagDialog.xhtml
mail/extensions/am-e2e/am-e2e.xhtml
mail/extensions/mailviews/content/mailViewSetup.xhtml
mailnews/base/content/virtualFolderProperties.xhtml
mailnews/base/prefs/content/AccountManager.xhtml
mailnews/base/prefs/content/AccountWizard.xhtml
mailnews/base/prefs/content/am-addressing.xhtml
mailnews/base/prefs/content/am-copies.xhtml
mailnews/base/prefs/content/am-identity-edit.xhtml
mailnews/import/content/aboutImport.xhtml
mailnews/search/content/FilterEditor.xhtml

# Chat template files that are space sensitive
mail/components/im/messages/bubbles/*.html
mail/components/im/messages/bubbles/Incoming/*.html
mail/components/im/messages/dark/*.html
mail/components/im/messages/dark/Incoming/*.html
mail/components/im/messages/mail/*.html
mail/components/im/messages/mail/Incoming/*.html
mail/components/im/messages/mail/Outgoing/*.html
mail/components/im/messages/papersheets/*.html
mail/components/im/messages/papersheets/Incoming/*.html
mail/components/im/messages/simple/*.html
mail/components/im/messages/simple/Incoming/*.html


# (x)html files that currently fail and need investigation/fixing.
# DTD strings issues
mail/base/content/FilterListDialog.xhtml
mail/base/content/sanitize.xhtml
mailnews/addrbook/prefs/content/pref-directory-add.xhtml
mailnews/base/prefs/content/removeAccount.xhtml

# Documentation Jinja templates
docs/_templates/**

##############################################################################
# The list below is copied from ThirdPartyPaths.txt. Prettier doesn't currently
# support multiple ignore files or dynamic ignore configurations.
# When this is implemented, we'll update the configuration below (bug 1825508)
##############################################################################

calendar/base/modules/Ical.jsm
chat/protocols/matrix/lib/**
chat/protocols/xmpp/lib/**
mail/base/content/protovis-r2.6-modded.js
mail/components/compose/texzilla/TeXZilla.js
mail/components/storybook/storybook-static/**
third_party/**


##############################################################################
# The list below is copied from Generated.txt. Prettier doesn't currently
# support multiple ignore files or dynamic ignore configurations.
# When this is implemented, we'll update the configuration below (bug 1825508)
##############################################################################

mailnews/extensions/newsblog/test/unit/resources/feeds-missing-timestamp/feeds.json
mailnews/extensions/newsblog/test/unit/resources/feeds-simple/feeditems.json
mailnews/extensions/newsblog/test/unit/resources/feeds-simple/feeds.json
