# This list automatically picks up exclusions from .eslintignore

# These files are disabled due to parsing errors when using Prettier.
# Bug 1560186
*.html
*.xhtml
*.xul
*.xml

# Ignore SeaMonkey files.
suite/**
