/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://chat/skin/status.css");
@namespace html url("http://www.w3.org/1999/xhtml");

#chatTabPanel {
  --imbox-selected-text-color: -moz-FieldText;
  --imbox-selected-background-color: -moz-Field;
  --imgroup-selected-background-color: ThreeDLightShadow;
}

:root[lwt-tree-brighttext] #chatTabPanel {
  --imbox-selected-text-color: #f9f9fa;
  --imbox-selected-background-color: #18181a;
}

.im-placeholder-screen {
  color: -moz-FieldText;
  background-color: -moz-Field;
  overflow: auto;
  font-size: 15px;
  font-weight: normal;
}

:root[lwt-tree-brighttext] .im-placeholder-screen {
  color: var(--sidebar-text-color);
  background-color: var(--sidebar-background-color);
}

.im-placeholder-box {
  max-width: calc(500px + 9em);
  min-height: 3em;
  background: url("chrome://global/skin/icons/info.svg") left 0 no-repeat;
  -moz-context-properties: fill;
  fill: currentColor;
  background-size: 3em;
  margin-right: .5em;
  margin-left: .5em;
  padding-right: 4.5em;
  padding-left: 4.5em;
}

:root[lwt-tree-brighttext] .im-placeholder-box {
  -moz-context-properties: fill;
  fill: currentColor;
  opacity: 0.7;
}

.im-placeholder-innerbox {
  opacity: .8;
}

.im-placeholder-title {
  font-size: 2em;
  font-weight: lighter;
  line-height: 1.2;
  margin: 0;
  margin-bottom: .5em;
  padding-bottom: .4em;
  border-bottom: 1px solid var(--splitter-color);
}

.im-placeholder-desc {
  margin-right: 0;
  margin-left: 0;
}

#noPreviousConvDesc {
  margin-top: 0;
  margin-bottom: 0;
}

.im-placeholder-button-box > button {
  appearance: none;
  /* override forms.css */
  font: inherit;
  min-height: 30px;
  color: -moz-FieldText;
  border: 1px solid -moz-FieldText;
  border-radius: 2px;
  background-color: -moz-Field;
}

.im-placeholder-button-box> button:hover {
  color: -moz-ButtonHoverText;
  background-color: -moz-ButtonHoverFace;
}

:root[lwt-tree-brighttext] .im-placeholder-button-box > button {
  color: var(--sidebar-text-color);
  border-color: var(--sidebar-text-color);
  background-color: var(--sidebar-background-color);
}

:root[lwt-tree-brighttext] .im-placeholder-button-box> button:hover {
  color: var(--sidebar-text-color);
  background-color: var(--sidebar-background-color);
  background-image: linear-gradient(rgba(249, 249, 250, 0.1),
                                    rgba(249, 249, 250, 0.1));
}

.im-placeholder-button-box > button > .button-box {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

#listPaneBox {
  border-inline-end: 1px solid var(--splitter-color);
}

:root[lwt-tree] #listPaneBox {
  appearance: none;
  background-color: var(--sidebar-background-color);
  border-inline-end-color: var(--sidebar-border-color, hsla(0,0%,60%,.4));
  color: var(--sidebar-text-color);
  scrollbar-color: rgba(204,204,204,.5) rgba(230,230,235,.5);
}

:root[lwt-tree-brighttext] #listPaneBox {
  border-inline-end-color: var(--sidebar-border-color, rgba(249,249,250,.2));
  scrollbar-color: rgba(249,249,250,.4) rgba(20,20,25,.3);
}

#contactlistbox {
  color: inherit;
  margin: 0;
  /* make it possible to let the children overwrite the end border.
     margin-inline-start because of the inverted direction */
  margin-inline-start: -1px;
  pointer-events: none;
}

/* move the scrollbar to the left */
#contactlistbox:-moz-locale-dir(ltr),
#contactlistbox:-moz-locale-dir(rtl) > richlistitem:is([is="chat-imconv-richlistitem"],[is="chat-contact-richlistitem"],[is="chat-group-richlistitem"]) {
  direction: rtl;
}

#contactlistbox:-moz-locale-dir(rtl),
#contactlistbox:-moz-locale-dir(ltr) > richlistitem:is([is="chat-imconv-richlistitem"],[is="chat-contact-richlistitem"],[is="chat-group-richlistitem"]) {
  direction: ltr;
}

richlistitem[is="chat-group-richlistitem"] {
  padding-inline-start: 4px;
  margin-inline-end: 1px;
}

richlistitem[is="chat-group-richlistitem"] > label {
  margin-inline-start: 4px;
}

richlistitem[is="chat-group-richlistitem"],
richlistitem[is="chat-imconv-richlistitem"][unread] {
  font-weight: bold;
}

richlistitem[is="chat-imconv-richlistitem"][attention] {
  color: blue;
}

richlistitem[is="chat-group-richlistitem"][selected] {
  background-color: var(--imgroup-selected-background-color);
  color: var(--imbox-selected-text-color);
}

richlistbox:focus > richlistitem[is="chat-group-richlistitem"][selected="true"] {
  background-color: var(--imgroup-selected-background-color);
  color: var(--imbox-selected-text-color);
}

richlistitem[is="chat-imconv-richlistitem"],
richlistitem[is="chat-contact-richlistitem"] {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -moz-box-align: stretch;
}

.box-line {
  width: 2px;
}

richlistitem[is="chat-contact-richlistitem"] > .box-line {
  /* equalize the space, the .closeConversationButton uses */
  margin-inline-end: 22px;
}

.box-line[selected=true] {
  background-color: var(--tabline-color);
}

richlistitem:is([is="chat-imconv-richlistitem"],[is="chat-contact-richlistitem"],[is="chat-group-richlistitem"]) {
  pointer-events: auto;
}

richlistitem:is([is="chat-imconv-richlistitem"],[is="chat-contact-richlistitem"],[is="chat-group-richlistitem"]):not([selected=true]):hover {
  background-color: rgba(0,0,0,.1);
}

:root[lwt-tree] richlistitem[is="chat-group-richlistitem"],
:root[lwt-tree] richlistitem[is="chat-imconv-richlistitem"]:not([selected]),
:root[lwt-tree] richlistitem[is="chat-contact-richlistitem"]:not([selected]) {
  color: var(--sidebar-text-color);
}

richlistitem[is="chat-imconv-richlistitem"][selected=true],
richlistitem[is="chat-contact-richlistitem"][selected=true] {
  background-color: var(--imbox-selected-background-color) !important;
  border-color: var(--splitter-color) !important;
  color: var(--imbox-selected-text-color) !important;
}

:root[lwt-tree] richlistitem[is="chat-group-richlistitem"][selected],
:root[lwt-tree] richlistitem:is([is="chat-imconv-richlistitem"],[is="chat-contact-richlistitem"],[is="chat-group-richlistitem"]):not([selected=true]):hover {
  background-color: var(--sidebar-highlight-background-color, hsla(0,0%,80%,.3));
  color: var(--sidebar-highlight-text-color, var(--sidebar-text-color));
}

:root[lwt-tree-brighttext] richlistitem[is="chat-group-richlistitem"][selected],
:root[lwt-tree-brighttext] richlistitem:is([is="chat-imconv-richlistitem"],[is="chat-contact-richlistitem"],[is="chat-group-richlistitem"]):not([selected=true]):hover {
  background-color: var(--sidebar-highlight-background-color, rgba(249,249,250,.1));
}

richlistitem[is="chat-imconv-richlistitem"]:not(:hover) > .closeConversationButton {
  visibility: hidden;
}

/* From instantbird/themes/blist.css */
.contactStatusText,
.convStatusText {
  color: GrayText;
}

.convUnreadCount,
.contactDisplayName,
.convDisplayName,
.contactDisplayNameInput {
  margin-inline-end: 0;
}

.contactDisplayNameInput {
  margin: 0;
}

.convUnreadCount {
  margin-inline-start: 0.5ch;
}

.convUnreadTargetedCount {
  color: hsl(0, 100%, 27%);
  background-color: hsl(0, 100%, 87%);
  border-radius: 50px;
  margin: 1px 3px;
  margin-inline-start: 1ch;
}

.convUnreadTargetedCountLabel {
  margin: 0;
}

.contactStatusText,
.convStatusText {
  margin-inline-start: 0;
}

/* Avoid a strange jumping bug when hovering and the startChatBubble appears */
.contact-vbox {
  min-height: 40px;
}

.startChatBubble,
.closeConversationButton {
  margin: 0 3px;
  padding: 0;
  border: none;
  background: transparent;
  appearance: none;
  width: 16px;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
}

.startChatBubble {
  list-style-image: url('chrome://chat/skin/prpl-generic/icon.png');
}

.startChatBubble > .button-box,
.closeConversationButton > .button-box {
  padding: 0;
}

.closeConversationButton > .button-box > .button-icon {
  width: 16px;
  height: 16px;
}

/* From im/themes/conversation.css */
.browser {
  margin: 0 0;
}

.conv-bottom, .conv-nicklist {
  margin: 0 0;
}

.convBox {
  min-height: 135px;
}

.conv-top {
  min-height: 60px;
}

.conv-top-info {
  margin: 0;
  border-style: none;
  appearance: none;
  -moz-window-dragging: no-drag;
  border-bottom: 1px solid var(--splitter-color);
}

.userIconHolder {
  border: 2px solid rgba(0,0,0,0.15);
  border-radius: 5px;
  overflow: hidden;
}

:root[lwt-tree-brighttext] .userIconHolder {
  border-color: rgba(255,255,255,0.15);
}

.userIcon,
.userIconHolder {
  max-width: 48px;
  max-height: 48px;
  min-width: 48px;
  min-height: 48px;
  width: 48px;
  height: 48px;
}

.userIcon:not([src]),
.userIconHolder:not([userIcon]) {
  display: none;
}

.userIcon[src=""] {
  background-image: url("chrome://messenger/skin/icons/userIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -moz-context-properties: fill, fill-opacity;
  fill: #000;
  fill-opacity: 0.25;
}

:root[lwt-tree-brighttext] .userIcon[src=""] {
  fill: #fff;
}

.statusTypeIcon {
  margin: 32px 0 0;
  width: 16px;
  height: 16px;
  max-width: 16px;
  max-height: 16px;
  min-height: 16px;
  min-width: 16px;
  appearance: none;
  background-color: transparent;
  border: none;
}

.userIconHolder[userIcon] + .statusTypeIcon {
  margin-inline-start: 32px;
}

#statusTypeIcon[status="available"],
#statusTypeAvailable,
.statusTypeIcon[status="available"],
#imStatusAvailable,
#appmenu_imStatusAvailable,
richlistitem[state="connected"] .accountStateIcon {
  list-style-image: url("chrome://messenger/skin/icons/status-online.svg");
}

#statusTypeIcon[status="idle"],
.statusTypeIcon[status="idle"] {
  list-style-image: url("chrome://messenger/skin/icons/status-idle.svg");
}

#statusTypeIcon[status="offline"],
#statusTypeIcon[status="invisible"],
#statusTypeOffline,
.statusTypeIcon[status="offline"],
.statusTypeIcon[status="invisible"],
#imStatusOffline,
#appmenu_imStatusOffline,
richlistitem[state="disconnected"] .accountStateIcon {
  list-style-image: url("chrome://messenger/skin/icons/status-offline.svg");
}

#statusTypeIcon[status="unavailable"],
#statusTypeIcon[status="away"],
#statusTypeUnavailable,
.statusTypeIcon[status="unavailable"],
.statusTypeIcon[status="away"],
#imStatusUnavailable,
#appmenu_imStatusUnavailable {
  list-style-image: url("chrome://messenger/skin/icons/status-away.svg");
}

.statusTypeIcon[typing="active"] {
  list-style-image: url('chrome://chat/skin/typing.svg');
}

.statusTypeIcon[typing="paused"] {
  list-style-image: url('chrome://chat/skin/typed.svg');
}

.statusMessage, .statusMessageInput {
  margin: 32px 0 0;
  min-height: 16px;
}

.statusMessageInput[noTopic]:not([editing]),
.statusMessageWithDash[noTopic] {
  font-style: italic;
}

/* corresponds to im/themes/conversation.css @media all and (min-height: 251px) */
.displayUserAccount {
  padding: 4px;
}

.statusImageStack,
.displayNameAndstatusMessageStack {
  margin: 2px 2px;
}

.displayName {
  font-size: 16px;
  border-bottom: 1px solid var(--splitter-color);
  margin: 0 0 16px;
  padding-right: 20px;
}

.prplIcon {
  margin-top: 0;
  margin-inline-end: 1px;
  margin-bottom: 16px ;
  margin-inline-start: -16px;
}

.conv-messages {
  min-width: 150px;
}

/* Animation copied from the find bar in Firefox - http://dxr.mozilla.org/mozilla-central/source/toolkit/themes/linux/global/findBar.css#7 */
.conv-status-container {
  display: block;
  height: 20px;
  padding: 3px;
  border-bottom: 1px solid ThreeDShadow;
  transition-property: margin-top, opacity, visibility;
  transition-duration: 150ms, 150ms, 0s;
  transition-timing-function: ease-in-out, ease-in-out, linear;
}

.conv-status-container[hidden] {
  /* Override display:none to make the transition work. */
  display: -moz-box;
  visibility: collapse;
  margin-top: -1em;
  opacity: 0;
  transition-delay: 0s, 0s, 150ms;
}

:root[lwt-tree] .conv-textbox {
  background-color: var(--lwt-toolbar-field-background-color, hsla(0,0%,100%,.8));
  color: var(--lwt-toolbar-field-color, black);
}

.conv-counter {
  justify-self: end;
  align-self: end;
  color: #000;
  background-color: rgba(246, 246, 246, 0.7);
  border-inline-start: 1px solid rgb(200, 200, 200);
  border-top: 1px solid rgb(200, 200, 200);
  /* Padding that gets flipped to margins in .conv-counter[value^="0"] to avoid the red border. */
  font-size: 130%;
  padding-top: 0;
  padding-bottom: 1px;
  padding-inline-start: 5px;
  padding-inline-end: 6px;
  margin: 0;
}

:root[lwt-tree-brighttext] .conv-counter {
  color: var(--sidebar-text-color);
  background-color: rgba(22, 22, 22, 0.2);
  border-inline-start: 1px solid var(--splitter-color);
  border-top: 1px solid var(--splitter-color);
}

.conv-counter:-moz-locale-dir(ltr) {
  border-top-left-radius: 3px;
}

.conv-counter:-moz-locale-dir(rtl) {
  border-top-right-radius: 3px;
}

.conv-counter[value=""] {
  display: none;
}

/* Negative counter values (user went over the character limit). */
.conv-counter[value^="-"] {
  color: red;
}

.splitter[orient="vertical"],
#logsSplitter {
  border-style: none;
  min-height: 0;
  /* splitter grip area */
  height: 5px;
  background-color: transparent;
  /* make only the splitter border visible */
  margin-top: -5px;
  margin-inline-start: 0;
  /* because of the negative margin needed to make the splitter visible */
  position: relative;
  z-index: 10;
  border-bottom: 1px solid var(--splitter-color);
}

/* Adaptation of #folderpane_splitter */
#listSplitter,
#contextSplitter {
  margin-top: 0;
  /* splitter grip area */
  width: 5px;
  /* because of the negative margin needed to make the splitter visible */
  position: relative;
  z-index: 10;
  transition: border-width .3s ease-in;
}

#listSplitter {
  border-inline-start: 1px solid transparent;
  /* make only the splitter border visible */
  margin-inline-end: -5px;
}

#listSplitter[state="collapsed"]:hover {
  border-inline-start: 4px solid highlight;
}

#contextSplitter {
  border-inline-end: 1px solid var(--splitter-color);
  /* make only the splitter border visible */
  margin-inline-start: -5px;
}

#contextSplitter[state="collapsed"]:hover {
  border-inline-end: 4px solid highlight;
}

#conv-toolbar {
  border-style: none;
}

#logTree {
  margin: 0 0;
}

.conv-nicklist > richlistitem > label {
  pointer-events: none;
  font-weight: bold;
  padding-inline-start: 1px;
}

.conv-nicklist > richlistitem > image {
  pointer-events: none;
  min-width: 16px;
  margin: 0 2px;
}

.conv-logs-header-label {
  appearance: auto;
  -moz-default-appearance: treeheadercell;
  margin: 0 -1px 0 0;
  padding-left: 3px;
}

#nicklist > richlistitem[inactive] > image {
  opacity: 0.45;
}

#nicklist > richlistitem[inactive][selected] > image {
  opacity: 0.7;
}

#nicklist > richlistitem[inactive] > label {
  color: GrayText !important;
  font-weight: normal;
}

.conv-nicklist:focus > richlistitem[inactive][selected] > label {
  color: HighlightText !important;
}

/* from instantbird/themes/blist.css */
richlistitem[is="chat-group-richlistitem"] .twisty {
  padding-top: 1px;
  width: 10px;
  height: 10px;
  margin-inline-start: 5px;
  background: url("chrome://global/skin/icons/twisty-expanded.svg") no-repeat center;
  background-size: contain;
  -moz-context-properties: fill;
  fill: currentColor;
}

richlistitem[is="chat-group-richlistitem"].closed .twisty {
  background-image: url("chrome://global/skin/icons/twisty-collapsed.svg");
}

richlistitem[is="chat-group-richlistitem"].closed:-moz-locale-dir(rtl) .twisty {
  background-image: url("chrome://global/skin/icons/twisty-collapsed-rtl.svg");
}

.prplBuddyIcon {
  margin: 2px 0;
}

#searchResultConv > .prplBuddyIcon > .protoIcon {
  list-style-image: url(chrome://messenger/skin/icons/search-glass.svg);
  -moz-context-properties: fill;
  fill: currentColor;
  opacity: 0.54;
}

#statusTypeIcon {
  min-width: 40px;
}

/* show the status icon also in text mode */
toolbar[mode="text"] #statusTypeIcon > .toolbarbutton-icon {
  display: -moz-box;
}

.statusMessageToolbarItem {
  margin: 2px 4px;
  margin-inline-start: -1px;
  padding: 3px 5px 4px;
  border: 1px solid transparent;
  background-clip: padding-box;
}

#chat-status-selector:hover > vbox > .statusMessageToolbarItem,
.statusMessageToolbarItem:focus {
  border-color: ThreeDShadow;
}

#chat-status-selector:-moz-lwtheme:hover > vbox > .statusMessageToolbarItem,
.statusMessageToolbarItem:-moz-lwtheme:focus {
  background-color: var(--lwt-toolbar-field-background-color, hsla(0,0%,100%,.8));
  color: var(--lwt-toolbar-field-color, black);
  border-color: var(--lwt-toolbar-field-border-color, hsla(240,5%,5%,.25));
}

.statusMessageToolbarItem[statusType="offline"],
.statusMessageToolbarItem[disabled] {
  border: none;
}

#chat-status-selector > vbox > .statusMessageToolbarItem[editing] {
  appearance: none;
  padding-inline-start: 4px;
  padding-inline-end: 4px;
  border-color: ThreeDShadow;
  background-color: -moz-field;
}

#chat-status-selector:-moz-lwtheme > vbox > .statusMessageToolbarItem[editing] {
  background-color: var(--lwt-toolbar-field-focus, var(--lwt-toolbar-field-background-color, white));
  color: var(--lwt-toolbar-field-focus-color, var(--lwt-toolbar-field-color, black));
  border-color: var(--toolbar-field-focus-border-color);
}

.tabmail-tab[type="chat"] {
  list-style-image: url("chrome://messenger/skin/icons/chat.svg");
}

.alltabs-item[style*="chat.svg"],
.tabmail-tab[type="chat"] > .tab-stack > .tab-content > .tab-icon-image {
  -moz-context-properties: fill, stroke-opacity;
  stroke-opacity: 0;
  fill: currentColor;
}

#button-add-buddy {
  list-style-image: url("chrome://messenger/skin/icons/addcontact.svg");
}

#button-join-chat {
  list-style-image: url("chrome://messenger/skin/icons/join.svg");
}

#button-chat-accounts {
  list-style-image: url("chrome://messenger/skin/icons/accounts.svg");
}

:root[lwt-tree] #contextPane {
  background-color: var(--sidebar-background-color);
  border-bottom: 1px solid var(--sidebar-border-color, hsla(0,0%,60%,.4));
  color: var(--sidebar-text-color);
}

:root[lwt-tree] #nicklist,
:root[lwt-tree] .conv-nicklist-header,
:root[lwt-tree] .conv-logs-header-label {
  appearance: none;
  background-color: var(--sidebar-background-color);
  border-bottom: 1px solid var(--sidebar-border-color, hsla(0,0%,60%,.4));
  color: var(--sidebar-text-color);
}

:root[lwt-tree-brighttext] #nicklist,
:root[lwt-tree-brighttext] .conv-nicklist-header,
:root[lwt-tree-brighttext] .conv-logs-header-label {
  border-bottom-color: var(--sidebar-border-color, rgba(249,249,250,.2));
}

:root[lwt-tree] #nicklist {
  scrollbar-color: rgba(204,204,204,.5) rgba(230,230,235,.5);
}

:root[lwt-tree-brighttext] #nicklist {
  scrollbar-color: rgba(249,249,250,.4) rgba(20,20,25,.3);
}

:root[lwt-tree] #participantCount {
  color: var(--sidebar-text-color);
}

:root[lwt-tree] .conv-nicklist.theme-listbox > richlistitem {
  color: var(--sidebar-text-color);
  box-shadow: none;
}

:root[lwt-tree] .conv-nicklist.theme-listbox > richlistitem[selected="true"],
:root[lwt-tree] .conv-nicklist.theme-listbox:focus > richlistitem[current="true"],
:root[lwt-tree] .conv-nicklist.theme-listbox:focus > richlistitem[selected="true"] {
  background-color: var(--sidebar-highlight-background-color, hsla(0,0%,80%,.3));
  background-image: none;
  border-color: var(--sidebar-border-color, hsla(0,0%,80%,.3));
  color: var(--sidebar-highlight-text-color, var(--sidebar-text-color));
}

:root[lwt-tree-brighttext] .conv-nicklist.theme-listbox > richlistitem[selected="true"],
:root[lwt-tree-brighttext] .conv-nicklist.theme-listbox:focus > richlistitem[current="true"],
:root[lwt-tree-brighttext] .conv-nicklist.theme-listbox:focus > richlistitem[selected="true"] {
  background-color: var(--sidebar-highlight-background-color, rgba(249,249,250,.1));
  border-color: var(--sidebar-highlight-background-color, rgba(249,249,250,.1));
}

:root[lwt-tree] #nicklist > richlistitem[inactive]:not([selected]) > label {
  color: var(--sidebar-text-color) !important;
  opacity: .55;
}

:root[lwt-tree] #nicklist > richlistitem[inactive][selected] > label,
:root[lwt-tree] #nicklist:focus > richlistitem[inactive][selected] > label {
  color: var(--sidebar-highlight-text-color, var(--sidebar-text-color)) !important;
}

:root[lwt-tree] #logTree {
  appearance: none;
}

#goToConversation {
  appearance: none !important;
  margin: 4px;
  padding: 1px !important;
  color: inherit !important;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
  border-radius: var(--toolbarbutton-border-radius);
  background-color: hsla(0, 0%, 50%, 0.2) !important;
  box-shadow: none;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
}

#goToConversation:hover {
  background-color: hsla(0, 0%, 50%, 0.3) !important;
}

#goToConversation:hover:active {
  background-color: hsla(0, 0%, 50%, 0.4) !important;
  box-shadow: 0 0 1px hsla(0, 0%, 50%, 0.15) inset;
}
