/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%ifdef XP_WIN
@namespace html url("http://www.w3.org/1999/xhtml");
%endif

#accountprotocol,
#accountsummary {
  overflow: visible;
}

#summarygrid {
  overflow: auto;
}

.collapsable {
  -moz-user-focus: normal;
}

%ifdef XP_WIN
.caption-text {
  border: 1px solid transparent;
}

.collapsable:focus .caption-text {
  border: 1px dotted ThreeDDarkShadow;
}
%endif

.collapsable[closed="true"] {
  border: none;
  -moz-appearance: none;
}

.collapsable[closed="true"] > .groupbox-body {
  display: none;
}

.caption-icon {
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  margin-inline-start: 1px;
  margin-inline-end: 3px;
  background-image: url("chrome://global/skin/icons/twisty-expanded.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}

.collapsable[closed="true"] .caption-icon {
  background-image: url("chrome://global/skin/icons/twisty-collapsed.svg");
}

.collapsable[closed="true"] .caption-icon:-moz-locale-dir(rtl) {
  background-image: url("chrome://global/skin/icons/twisty-collapsed-rtl.svg");
}

#value-column {
  min-width: 15em;
}

%ifdef XP_WIN
textbox html|*.textbox-input::placeholder {
  font-style: normal;
}
%endif
