<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<script type="text/javascript;version=1.8">

function checkNewText(target)
{
  if (target.tagName == "P" && target.className == "event") {
    let parent = target.parentNode;
    // We need to start a group with this element if there are at least 4
    // system messages and they aren't already grouped.
    if (!parent.grouped && parent.querySelector("p.event:nth-of-type(4)")) {
      var p = document.createElement("p");
      p.className = "eventToggle";
      p.addEventListener("click", event =>
        event.target.parentNode.classList.toggle("hide-children"));
      parent.insertBefore(p, parent.querySelector("p.event:nth-of-type(2)"));
      parent.classList.add("hide-children");
      parent.grouped = true;
    }
  }
}

new MutationObserver(function(aMutations) {
  for (let mutation of aMutations)
    for (let node of mutation.addedNodes)
      if (node instanceof HTMLElement)
        checkNewText(node);
}).observe(document.getElementById("ibcontent"),
           {childList: true, subtree: true});

</script>
