/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@media (prefers-color-scheme: light) {
  :root {
    --felt-background: image-set(url("chrome://branding/content/felt-background-light@2x.png") 2x);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --felt-background: image-set(url("chrome://branding/content/felt-background-dark@2x.png") 2x);
  }
}

@media (forced-colors: active) {
  :root {
    --felt-background: image-set(url("chrome://branding/content/felt-background-dark@2x.png") 2x);
  }
}
