/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  margin: 0;
  padding: 0;
  background: -moz-linear-gradient(top, -moz-dialog, -moz-default-background-color) fixed;
}

p {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

div.bubble {
  margin: 20px 20px 3px 20px;
  padding: 0;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;
}

div.bubble:not(.context):not(.event) {
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fadein;
  -moz-animation-iteration-count: 1;
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1.0;
  }
}

div.bubble.context:not(:hover) {
  filter: url("bubbles.svg#desaturate");
}

div.bubble>div.indicator {
  margin: 0;
  padding: 9px 15px 10px 15px;
}

div.bubble.event {
  padding: 4px 15px 4px 15px;
  background-color: hsl(0, 0%, 99%);
  border-color: hsl(0, 0%, 85%);
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px;
}

div.bubble p.pseudo {
  font-size: smaller;
  font-weight: bold;
  margin: -9px 0px 3px -15px;
}

div.bubble p.pseudo>span {
  padding: 0px 15px 1px 15px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.bubble p.pseudo>span>span.time {
  display: none;
}

div.bubble:hover p.pseudo>span>span.time {
  display: inline;
}

div.bubble hr {
  margin: 3px 0px 1px 0px;
  height: 2px;
  border-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

p.interval {
  text-align: center;
  color: hsl(0, 0%, 60%);
}

#lastMessage {
  line-height: 20px;
  text-align: center;
  color: hsl(0, 0%, 60%);
}

p.nick {
  font-weight: bold;
}

p.action {
  font-style: italic;
}

p.action:before {
  content: "*** ";
}

p.event {
  color: hsl(0, 0%, 60%);
}

#Chat {
  white-space: normal;
}

p *:-moz-any-link img {
  margin-bottom: 1px;
  border-bottom: solid 1px;
}

#unread-ruler {
  margin: 1em 0 !important;
  height: 2px;
  border: none !important;
  background-image: -moz-linear-gradient(center top, rgb(211,211,211) 50%, rgb(255,255,255) 50%);
}


/* used by javascript */
p.button {
  cursor: pointer;
  min-height: 20px;
  margin-left: -24px;
  margin-bottom: -3px;
  padding-left: 24px;
}

p.hide {
  background: url('Bitmaps/plus.png') no-repeat left top;
}

p.hide:hover {
  background: url('Bitmaps/plus-hover.png') no-repeat left top;
}

p.hide:after {
  content: "...";
  color: hsl(0, 0%, 60%);
}

p.show {
  background: url('Bitmaps/minus.png') no-repeat left top;
  margin-bottom: -20px;
  width: 0;
}

p.show:hover {
  background: url('Bitmaps/minus-hover.png') no-repeat left top;
}
