/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/accountManage.css");

window > vbox,
#accountTreeBox {
  font-size: 1.25em;
}

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-smtp) {
  list-style-image: url("chrome://messenger/skin/icons/server.png");
  -moz-image-region: rect(16px 64px 32px 48px);
}
