/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/attachmentList.css");

/* styles for the attachment list */

@media (-moz-windows-default-theme) {
  .attachmentItem {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1px;
  }

  .attachmentList:focus .attachmentItem[selected="true"],
  #attachmentList:focus > .attachmentItem[selected="true"] {
    color: FieldText;
  }

  .attachmentlist[orient="horizontal"] {
    margin-inline-end: 1px;
    margin-bottom: 1px;
  }

  .attachmentList[orient="horizontal"] .attachmentItem {
    margin-top: 1px;
    margin-inline-start: 1px;
  }

  .attachmentcell-name, .attachmentcell-size {
    margin: 0 4px;
  }

  @media (-moz-os-version: windows-win7) {
    .attachmentItem {
      border-radius: 3px;
    }

    .attachmentItem[selected="true"] {
      border-color: rgb(217, 217, 217);
      background-image: linear-gradient(rgba(190, 190, 190, 0.1),
                                        rgba(190, 190, 190, 0.4));
    }

    .attachmentItem[selected="true"]:hover {
      border-color: rgb(125, 162, 206);
      background-image: linear-gradient(rgba(131, 183, 249, 0.28),
                                        rgba(131, 183, 249, 0.5));
    }

    .attachmentList:focus .attachmentItem[current="true"] {
      border-color: rgb(125, 162, 206);
    }

    .attachmentList:focus .attachmentItem[current="true"]:hover {
      border-color: rgb(125, 162, 206);
      background-image: linear-gradient(rgba(131, 183, 249, 0.05),
                                        rgba(131, 183, 249, 0.16));
    }

    .attachmentList:focus .attachmentItem[selected="true"] {
      border-color: rgb(132, 172, 221);
      background-image: linear-gradient(rgba(131, 183, 249, 0.16),
                                        rgba(131, 183, 249, 0.375));
    }

    .attachmentList:focus .attachmentItem[selected="true"]:hover,
    .attachmentList:focus .attachmentItem[selected="true"][current="true"] {
      border-color: rgb(125, 162, 206);
      background-image: linear-gradient(rgba(131, 183, 249, 0.28),
                                        rgba(131, 183, 249, 0.5));
    }

    .attachmentItem:hover {
      border-color: rgb(184, 214, 251);
      background-image: linear-gradient(rgba(131, 183, 249, 0.05),
                                        rgba(131, 183, 249, 0.16));
    }

    #attachmentBucket[orient="vertical"]:focus >
      .attachmentItem:is([current="true"],[selected="true"]) +
      .attachmentItem:is([current="true"],[selected="true"]) {
      border-top-color: rgba(131, 183, 249, 0.375);
    }
  }

  @media not all and (-moz-os-version: windows-win7) {
    .attachmentItem[selected="true"] {
      border-color: rgb(217, 217, 217);
      background-color: rgb(217, 217, 217);
    }

    .attachmentItem[selected="true"]:hover {
      border-color: rgb(229, 243, 255);
      background-color: rgb(229, 243, 255);
    }

    .attachmentList:focus .attachmentItem[selected="true"] {
      border-color: rgb(142, 186, 235);
      background-color: rgb(205, 232, 255);
    }

    #attachmentBucket[orient="vertical"]:focus
      .attachmentItem[selected="true"]:not([current="true"],:hover) {
      border-inline-color: transparent;
    }

    .attachmentList:focus .attachmentItem[current="true"] {
      border-color: rgb(125, 162, 206);
    }

    .attachmentList:focus .attachmentItem[current="true"]:hover,
    .attachmentList:focus .attachmentItem[selected="true"]:hover,
    .attachmentList:focus .attachmentItem[selected="true"][current="true"] {
      border-color: rgb(125, 162, 206);
    }

    .attachmentItem:hover {
      border-color: rgb(229, 243, 255);
      background-color: rgb(229, 243, 255);
    }

    #attachmentBucket[orient="vertical"]:focus >
      .attachmentItem:is([current="true"],[selected="true"]) +
      .attachmentItem:is([current="true"],[selected="true"]) {
      border-top-color: transparent;
    }
  }
}
