/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/chat.css");

.convUnreadTargetedCount {
  padding: 0 7px;
}

#listPaneBox {

  & > * {
    background: transparent !important;
    appearance: none !important;
    border: none;
  }
  /* Adaptation from #folderTree */
  :root:not([lwt-tree]) & {
    appearance: none;
    background-color: Field;
    color: FieldText;
  }

  @media not (prefers-contrast) {
    :root:not([lwt-tree],[lwtheme]) & {
      background-color: var(--layout-background-1);
    }
  }
}

#conversationsBox {
  background: var(--imbox-selected-background-color);
}

.conv-textbox > .textbox-input-box {
  background: inherit;
}

.conv-counter {
  padding-bottom: 0;
  padding-inline-end: 5px;
  margin-inline-end: 2px;
  margin-bottom: 2px !important; /* override 4px from description */

  &[value^="-"] {
    margin-inline-end: 2px;
    padding-inline-end: 4px;
  }
}

.splitter.conv-chat {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

#contextPane {
  background-color: Field;
  color: FieldText;
}

.userIcon {
  border-width: 0;
}

#logTree,
.conv-nicklist {
  appearance: none;
  border-style: none;
  margin: 0;
}

.conv-nicklist-header,
.conv-logs-header-label {
  margin: 0;
  padding-block: 2px;
  border-bottom: 1px solid ThreeDShadow;
  background-color: -moz-Dialog;
}

.conv-nicklist-header-label {
  font-weight: bold;
  margin-inline: 0 2px !important;
}

.statusMessageToolbarItem {
  margin: 0 1px;
  margin-inline-start: -2px;
  padding: 3px 3px 4px;
}

#listSplitter,
#contextSplitter {
  background-color: transparent;
  min-width: 0;
}

#listSplitter {
  border-inline-end-width: 0;
}

#contextSplitter {
  border-inline-start-width: 0;
}

#nicklist > richlistitem[inactive][selected] > label {
  color: -moz-cellhighlighttext !important;
}

richlistitem[is="chat-group-richlistitem"] .twisty {
  margin-inline-end: 2px;
}

@media not (prefers-contrast) {
  .conv-status-container {
    border-bottom-color: var(--color-gray-30);
  }

  #statusTypeIcon > .toolbarbutton-menu-dropmarker {
    padding: 1px 3px;
  }

  #chat-status-selector > vbox > .statusMessageToolbarItem[editing] {
    appearance: none;
    padding-inline: 2px;
  }
}
