/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/contextMenu.css");

menupopup {

  &:not([type="arrow"]) {
    margin: -4px;
  }

  @media (prefers-contrast) {
    :root:not([lwtheme]) & > :is(menu, menuitem):not([disabled="true"])[_moz-menuactive] {
      color: SelectedItemText;
    }
  }

  & > :is(menu, menuitem) {
    padding-block: var(--menuitem-vertical-padding);
  }

  menulist > & > :is(menu, menuitem) {
    padding-inline-end: 5px;
  }

  &[needsgutter] > menu:not([icon], .menu-iconic),
  &[needsgutter] > menuitem:not([checked="true"], [icon], .menuitem-iconic),
  menubar > menu
    &:not([needsgutter]) > :is(menu:not(.menu-iconic),menuitem:not(.menuitem-iconic)) {
    padding-inline-start: 32px;
  }

  /* Override menu.css rule. */
  &:not([needsgutter]) {

    & > menuitem:not([checked="true"], [icon], .menuitem-iconic) {
      padding-inline-start: 8px;
    }

    & > menuitem:is([type="checkbox"],[type="radio"]):not([checked="true"]) > .menu-iconic-left {
      padding-inline-end: 8px;

      & > .menu-iconic-icon {
        display: flex;
      }
    }
  }

  & > :is(menu, menuitem):not([needsgutter]) >
    menuitem:not([icon], .menuitem-iconic) {
    padding-inline-start: 1em;
  }

  & menuitem[checked="true"] {
    padding-inline-start: 8px;
  }

  /* Disabled empty item looks too small otherwise, because it has no icon. */
  & menuitem[disabled="true"]:not(.menuitem-iconic) {
    /* This is 16px for an icon + 3px for its margins + 1px for its padding +
     * 2px for its border. */
    min-height: 22px;
  }
}
