/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/customizeToolbar.css");

#palette-box {
  margin: 0 4px 10px;

  @media (prefers-contrast) {
    :root:not([lwtheme])  & {
      background-color: transparent;
      border-color: ThreeDShadow;
    }
  }
}
