/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

textbox[type="filefield"] {
  -moz-appearance: none;
  padding-inline-start: 20px;
  background: center left 2px / 16px no-repeat -moz-dialog;
  border: 1px solid threedshadow;
}

textbox[type="filefield"]:-moz-locale-dir(rtl) {
  background-position-x: right 2px;
}

textbox[type="filefield"][disabled="true"] {
  opacity: 0.5;
  color: -moz-DialogText;
}
