/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== mailWindow1.css ================================================
  == Styles for the main Mail window in the default layout scheme.
  ======================================================================= */

@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://messenger/skin/primaryToolbar.css");
@import url("chrome://messenger/skin/folderPane.css");
@import url("chrome://messenger/skin/messageIcons.css");
@import url("chrome://messenger/skin/shared/mailWindow1.css");

#messengerBox {
  background-color: -moz-Dialog;
}

/* ::::: thread decoration ::::: */

/* ::::: group rows ::::: */
treechildren::-moz-tree-row(dummy, hover),
treechildren::-moz-tree-row(dummy, selected, focus) {
  background-color: var(--row-grouped-header-bg-color-selected) !important;
  color: inherit;
}

/* ..... tabs ..... */

#tabpanelcontainer {
  appearance: none;
  color-scheme: light dark;
}

@media not (prefers-contrast) {
  :root:not(:-moz-lwtheme) {
    background-color: light-dark(var(--color-gray-10), var(--color-gray-90));

    &:-moz-lwtheme {
      background-color: var(--lwt-accent-color);

      &:-moz-window-inactive {
        background-color: var(--lwt-accent-color-inactive, var(--lwt-accent-color));
      }
    }
  }

  @media (-moz-windows-accent-color-in-titlebar: 0) {
    :root[sizemode=normal][tabsintitlebar] {
      border-top: 1px solid rgba(0, 0, 0, 0.7);

      &[always-use-accent-color-for-window-border]:not(:-moz-window-inactive) {
        border-top-color: AccentColor;
      }
    }
    :root[tabsintitlebar]:not(:-moz-window-inactive,:-moz-lwtheme) {
      background-color: light-dark(var(--color-gray-20), var(--color-gray-90));
    }
  }

  @media (-moz-windows-accent-color-in-titlebar) {
    :root[tabsintitlebar]:not(:-moz-window-inactive,:-moz-lwtheme) {
      background-color: AccentColor;

      & #navigation-toolbox {
        color: AccentColorText;
      }
    }
  }
}

@media (prefers-contrast) {
  :root[tabsintitlebar]:not(:-moz-lwtheme) {
    background-color: ActiveCaption;
    color: CaptionText;

    &:-moz-window-inactive {
      background-color: InactiveCaption;
      color: InactiveCaptionText;
    }
  }
}

.titlebar-buttonbox,
.titlebar-button {
  appearance: none !important;
}

.titlebar-button {
  border: none;
  margin: 0 !important;
  padding: 9px 17px;
  -moz-context-properties: stroke;
  stroke: currentColor;
}

@media not (prefers-contrast) {
  @media (-moz-windows-accent-color-in-titlebar) {
    .titlebar-button:not(:-moz-window-inactive,:-moz-lwtheme) {
      stroke: AccentColorText;
    }
  }
}

.titlebar-buttonbox > .titlebar-button > .toolbarbutton-icon {
  display: inline-flex;
  width: 12px;
  height: 12px;
}

.titlebar-min {
  list-style-image: url("chrome://messenger/skin/window-controls/minimize.svg");
  margin-inline-end: 2px;
}

.titlebar-max {
  list-style-image: url("chrome://messenger/skin/window-controls/maximize.svg");
}

.titlebar-restore {
  list-style-image: url("chrome://messenger/skin/window-controls/restore.svg");
}

.titlebar-restore:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.titlebar-close {
  list-style-image: url("chrome://messenger/skin/window-controls/close.svg");
}

:root[lwtheme-image] .titlebar-button {
  -moz-context-properties: unset;
}
:root[lwtheme-image] .titlebar-min {
  list-style-image: url("chrome://messenger/skin/window-controls/minimize-themes.svg");
}
:root[lwtheme-image] .titlebar-max {
  list-style-image: url("chrome://messenger/skin/window-controls/maximize-themes.svg");
}
:root[lwtheme-image] .titlebar-restore {
  list-style-image: url("chrome://messenger/skin/window-controls/restore-themes.svg");
}
:root[lwtheme-image] .titlebar-close {
  list-style-image: url("chrome://messenger/skin/window-controls/close-themes.svg");
}

/* the 12px image renders a 10px icon, and the 10px upscaled gets rounded to 12.5, which
 * rounds up to 13px, which makes the icon one pixel too big on 1.25dppx. Fix: */
@media (min-resolution: 1.20dppx) and (max-resolution: 1.45dppx) {
  .titlebar-button > .toolbarbutton-icon {
    width: 11.5px;
    height: 11.5px;
  }
}

/* 175% dpi should result in the same device pixel sizes as 150% dpi. */
@media (min-resolution: 1.70dppx) and (max-resolution: 1.95dppx) {
  .titlebar-button {
    padding-left: 14.1px;
    padding-right: 14.1px;
  }

  .titlebar-button > .toolbarbutton-icon {
    width: 10.8px;
    height: 10.8px;
  }
}

/* 225% dpi should result in the same device pixel sizes as 200% dpi. */
@media (min-resolution: 2.20dppx) and (max-resolution: 2.45dppx) {
  .titlebar-button {
    padding-left: 15.3333px;
    padding-right: 15.3333px;
  }

  .titlebar-button > .toolbarbutton-icon {
    width: 10.8px;
    height: 10.8px;
  }
}

/* 275% dpi should result in the same device pixel sizes as 250% dpi. */
@media (min-resolution: 2.70dppx) and (max-resolution: 2.95dppx) {
  /* NB: todo: this should also change padding on the buttons
   * themselves, but without a device to test this on, it's
   * impossible to know by how much. */
  .titlebar-button > .toolbarbutton-icon {
    width: 10.8px;
    height: 10.8px;
  }
}

@media not (prefers-contrast) {
  .titlebar-button:hover {
    background-color: hsla(0, 0%, 0%, .12);
  }

  .titlebar-button:hover:active {
    background-color: hsla(0, 0%, 0%, .22);
  }

  .titlebar-button:not(:hover) > .toolbarbutton-icon:-moz-window-inactive {
    opacity: 0.5;
  }

  .titlebar-close:hover {
    stroke: white;
    background-color: var(--color-red-60);
  }

  .titlebar-close:hover:active {
    background-color: var(--color-red-50);
  }

  @media (prefers-color-scheme: dark) {
    .titlebar-button:hover {
      background-color: hsla(0, 0%, 100%, .12);
    }

    .titlebar-button:hover:active {
      background-color: hsla(0, 0%, 100%, .22);
    }

    .titlebar-close:hover {
      background-color: var(--color-red-70);
    }

    .titlebar-close:hover:active {
      background-color: var(--color-red-60);
    }
  }
}

@media (prefers-contrast) {
  .titlebar-button {
    stroke: ButtonText;
    background-color: Field;
  }
  .titlebar-button:hover {
    stroke: SelectedItemText;
    background-color: SelectedItem;
  }

  .titlebar-min {
    list-style-image: url("chrome://messenger/skin/window-controls/minimize-highcontrast.svg");
  }

  .titlebar-max {
    list-style-image: url("chrome://messenger/skin/window-controls/maximize-highcontrast.svg");
  }

  .titlebar-restore {
    list-style-image: url("chrome://messenger/skin/window-controls/restore-highcontrast.svg");
  }

  .titlebar-close {
    list-style-image: url("chrome://messenger/skin/window-controls/close-highcontrast.svg");
  }
}

#messagepanebox {
  border-top-width: 0;
  border-inline-start: none;
}

@media (prefers-contrast) {
  :root:not(:-moz-lwtheme)
    treechildren::-moz-tree-image(selected) {
    color: inherit;
  }
}

:root:not([lwt-tree],:-moz-lwtheme) #folderTree {
  background-color: #fafafa;
}

/* Global notification popup */

#notification-popup {
  appearance: none;
  background: transparent;
  border: none;
}
