/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/menulist.css");

@namespace html url("http://www.w3.org/1999/xhtml");

menulist {

  &::part(text-input) {
    appearance: none;
    border-style: none;
    margin-block: -2px;
    margin-inline: -2px 3px;
    padding-block: 1px;
    padding-inline: 3px 0;
  }

  &[is="menulist-editable"][editable="true"] {
    padding: 0;

    &::part(dropmarker) {
      display: flex;
    }

    &::part(text-input) {
      background-color: Field;
      color: FieldText;
      padding-inline-end: 3px;
    }
  }
}
