/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messageHeader.css ==============================================
  == Styles for the header toolbars of a mail message.
  ======================================================================= */

@import url("chrome://messenger/skin/shared/messageHeader.css");

/* ::::: for the entire area ::::: */
.main-header-area {
  color: WindowText;
  background-color: ButtonFace;
  border-bottom: 1px solid ThreeDDarkShadow;
  padding: 0.4ex;
}

/* :::::  message in a tab ::::: */

#displayDeck[collapsed="true"] + splitter + #messagepaneboxwrapper
.main-header-area {
  background-image: linear-gradient(rgba(255, 255, 255, .5),
                                    rgba(255, 255, 255, .5) 100%);
}

/* ::::: msg header toolbars ::::: */

#expandedHeaderView[show_header_mode="all"] {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 14em;
}

#expandedBoxSpacer {
  display: block;
  height: 10px;
}

/* ::::: expanded header pane ::::: */

/* toolbars are optimized to look like OS-provided widgets; override this */
.inline-toolbox {
  border-top-width: 0;
  -moz-appearance: none;
  background-color: transparent;
}

/* ::::: attachment view ::::: */

#attachmentList {
  -moz-appearance: none;
  border-top: 1px solid ThreeDDarkShadow;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

#attachmentToggle {
  /* Override button appearance */
  -moz-appearance: none;
  min-width: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  -moz-user-focus: normal;

  list-style-image: url("chrome://global/skin/tree/twisty-clsd.png");
}

#attachmentToggle[checked="true"] {
  list-style-image: url("chrome://global/skin/tree/twisty-open.png");
}

#attachmentIcon {
  list-style-image: url("chrome://messenger/skin/icons/attachment-col.png");
  -moz-margin-start: 5px;
}

#attachmentName:hover,
#attachmentName[selected="true"] {
  cursor: pointer;
  color: HighlightText;
  background-color: Highlight;
}

#attachmentSize {
  margin: 0;
  -moz-margin-start: 8px;
  opacity: 0.5; /* lower contrast */
}

#attachment-view-toolbox {
  background-color: transparent;
}

#attachmentSaveAllSingle,
#attachmentSaveAllMultiple {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 192px 16px 176px);
}

#attachment-splitter[collapsed="true"] + #attachmentView {
  border-top: 1px solid ThreeDShadow;
}

#attachmentBar {
  color: -moz-dialogtext;
  background-color: -moz-Dialog;
}

.findbar-container {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* ::::: msg header captions ::::: */

#msgHeaderView {
  padding: 0 !important;
  margin: 0 !important;
}

.dateLabel {
  line-height: 1.5em;
  margin: 0;
  padding: .1em 0;
  -moz-padding-end: 8px;
  -moz-user-select: text;
  -moz-user-focus: normal;
  cursor: text;
}

.msgHeaderView-button {
  -moz-appearance: button;
  min-height: 1ex;
  -moz-margin-start: 2px;
  -moz-margin-end: 2px;
  margin-top: 1px;
  margin-bottom: 2px;
  vertical-align: middle;
  /* important required to override messenger.css rules */
  min-width: 1em !important;
  -moz-padding-start: 4px !important;
  -moz-padding-end: 3px !important;
  padding-top: 3px !important;
  padding-bottom: 2px !important;
  list-style-image: none;
}

.msgHeaderView-button > .toolbarbutton-icon,
.msgHeaderView-button[type="menu-button"] > .toolbarbutton-menubutton-button
> .toolbarbutton-icon {
  /* Needed to make the buttons w/o icons the same height as those with icons */
  min-height: 16px;
}

.msgHeaderView-button[type="menu-button"] {
  /* important required to override -moz-appearance from msgHdrView-button */
  -moz-appearance: dualbutton !important;
  -moz-margin-end: 0 !important;

  /* Need to override both rules from messenger.css and msgHeaderView-button */
  padding: 0 !important;
}

.msgHeaderView-button[type="menu-button"] > .toolbarbutton-menubutton-button {
  -moz-appearance: button;
  min-width: 1em;
  min-height: 1ex;
  margin: 0px;
  /* important required to override messenger.css rules */
  -moz-padding-start: 4px !important;
  -moz-padding-end: 3px !important;
  padding-top: 3px !important;
  padding-bottom: 2px !important;
}

/* toolbar[mode="text"] is necessary so that we end up with more specificity
 * than the !important rule in toolkit's toolbar.css.
 */
toolbar[mode="text"] .msgHeaderView-button .toolbarbutton-text,
toolbar[mode="text"] toolbarpaletteitem .msgHeaderView-button .toolbarbutton-text {
  margin: 0 !important;
  padding-top: 1px !important;
  padding-bottom: 0px !important;
  -moz-padding-start: 0px !important;
  -moz-padding-end: 0px !important;
}

/* For unclear reasons, toolkit's toolbarbutton.css forces a margin of 0,
 * jamming the image up against the text, so we need this !important
 * rule to override that.
 *
 * The second selector is a descendent selector rather than a child selector
 * so that we effect both buttons and menubuttons.
 */

toolbox[labelalign="end"] toolbar[mode="full"] toolbarpaletteitem .msgHeaderView-button .toolbarbutton-text,
toolbox[labelalign="end"] toolbar[mode="full"] .msgHeaderView-button .toolbarbutton-text {
  -moz-margin-start: 2px !important;
}

.hdrReplyToSenderButton,
.hdrDummyReplyButton,
.hdrReplyButton {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 64px 16px 48px);
}

.hdrReplyAllButton {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 80px 16px 64px);
}

.hdrReplyListButton,
.hdrFollowupButton {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 112px 16px 96px);
}

.hdrForwardButton {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 96px 16px 80px);
}

.hdrArchiveButton {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 320px 16px 304px);
}

.hdrJunkButton {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 144px 16px 128px);
}

.hdrTrashButton {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 128px 16px 112px);
}

.hdrTagButton {
  list-style-image: url("chrome://messenger/skin/icons/mail-toolbar-small.png");
  -moz-image-region: rect(0px 256px 16px 240px);
}

#otherActionsButton > .toolbarbutton-icon {
  display: none;
}

#otherActionsButton > hbox > .toolbarbutton-menu-dropmarker {
  -moz-padding-end: 3px;
  list-style-image: url(chrome://messenger/skin/icons/mainwindow-dropdown-arrow.png);
  -moz-image-region: rect(0 13px 11px 0);
}

#header-view-toolbar[brighttext] #otherActionsButton > hbox >
  .toolbarbutton-menu-dropmarker {
  list-style-image: url(chrome://messenger/skin/icons/mainwindow-dropdown-arrow-inverted.png);
}

/* show a icon in customize window */
#CustomizeToolbarWindow toolbarpaletteitem > #otherActionsButton >
  .toolbarbutton-icon {
  display: -moz-box;
  width: 13px;
  padding-top: 2px;
  padding-bottom: 2px;
  list-style-image: url(chrome://messenger/skin/icons/mainwindow-dropdown-arrow.png);
  -moz-image-region: rect(0 13px 11px 0);
}

.inline-toolbar toolbarpaletteitem toolbarseparator,
.inline-toolbar toolbarseparator {
  height: 27px;
  margin-top: 1px;
  -moz-margin-start: 1px; /* make it symetrical */
}

.inline-toolbar toolbarspacer {
  height: 23px;
}

.inline-toolbar {
  -moz-appearance: none;
  -moz-box-pack: end;
  border-bottom-width: 0 !important;
}

window[inlinetoolbox] #smallicons,
window[inlinetoolbox] #newtoolbar {
  display: none;
}

.inline-toolbox[doCustomization] #attachment-view-toolbar {
  min-width: 100px;
  min-height: 10px;
}

.msgHeaderView-button,
toolbarpaletteitem .msgHeaderView-button {
  min-height: 27px;
}

.msgHeaderView-button[type="menu-button"] {
  padding-top: 1px;
}

.msgHeaderView-button[type="menu-button"] > .button-menubutton-button:hover {
  border-right-color: ButtonShadow;
}

.headerName {
  color: windowtext;
  opacity: 0.5; /* lower contrast */
  text-align: right;
  background-color: transparent;
  padding: 0px;
  margin-top: 0;
  -moz-margin-end: 3px;
}

.headerValueBox {
  overflow:visible;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.headerValue {
  min-width: 50px;
  white-space: normal;
  color: WindowText;
  line-height: 1.5em;
  -moz-appearance: none;
  padding: .1em 0px;
  margin: 0px;
  margin-bottom: 3px !important;
  -moz-margin-start: 3px;
  border-width: 0px;
  background-color: transparent;
}

.headerValueUrl {
  cursor: pointer;
  color: -moz-hyperlinktext;
  text-decoration: underline;
}

.headerValueUrl:hover {
  color: -moz-activehyperlinktext;
}

.moreIndicator {
  font-weight: bold;
}

/* ::::: msg header message ids ::::: */

.messageIdDisplayButton {
  cursor: pointer;
  color: -moz-hyperlinktext;
  text-decoration: underline;
  margin: 0;
  background-color: transparent;
}

.messageIdDisplayButton:hover {
  color: -moz-activehyperlinktext;
}

.messageIdDisplayImage {
  -moz-padding-start: 2px;
  -moz-box-pack: end;
}


/* ::::: msg header email addresses ::::: */

.emailDisplayButton {
  margin: 0;
  -moz-padding-start: 2px !important;
  -moz-padding-end: 2px !important;
  background-color: transparent;
  border-radius: 2px;
  border: 1px dotted transparent;
}

.emailDisplayButton:hover {
  cursor: pointer;
  color: HighlightText;
  background-color: Highlight;
}

mail-emailaddress[selected="true"] .emailDisplayButton{
  /* when an email address context menu is selected,
    make sure that the email bubble stays displayed, and
    tweak the bottom to blend in more w/ the menu */
  cursor: pointer;
  border-radius: 3px;
  color: HighlightText;
  background-color: Highlight;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.emailSeparator {
  /* this is for the comma in between email addresses/newsgroups */
  -moz-margin-start: -3px; /* squeeze it inside the bubble, by the star */
}

.emailDisplayButton:focus {
  border: 1px dotted Highlight;
}

.emailStar {
  max-width: 1em;
  max-height: 1em;
  -moz-appearance: none;
  -moz-box-orient: vertical;
  padding: 0px;
  -moz-margin-start: -2px !important;
  /*margin: 0px 2px;*/
  list-style-image: url("chrome://messenger/skin/starContact.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.emailStar:hover {
  -moz-image-region:rect(0px 32px 16px 16px);
}

.emailStar:hover:active {
  -moz-image-region:rect(0px 48px 16px 32px);
}

.emailStar[hascard="true"] {
  list-style-image: url("chrome://messenger/skin/contactStarred.png");
}

.emailPresence {
  padding: 0px;
  -moz-margin-start: -2px !important;
  -moz-image-region: rect(6px, 16px, 16px, 6px);
}

.emailPopup {
  font-size: inherit;
  max-height: 7px; /* the height of the image */
  margin: 0.2em 2px 0px; /* 0.2em just to move it off the top of the text */
  list-style-image: url("chrome://messenger/skin/icons/arrow-dn-grey.png");
}

/* ::::: view expand and collapse twisties  ::::: */

.expandHeaderViewButton {
  list-style-image: url("chrome://global/skin/tree/twisty-open.png");
}

#header-view-toolbox {
  float: right;
  padding-top: 3px;
}
