/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/messageIcons.css");

/* ..... junkStatus column ..... */

.junkStatusHeader {
  padding-inline-end: 3px;
}

/* ..... correspondent column ..... */

#correspondentCol {
  padding-inline-start: 20px;
}

/* ..... subject column ..... */

#subjectCol {
  padding-inline-start: 20px;

  @media (prefers-contrast) {
    padding-inline-start: 23px;
  }

  &[primary="true"] {
    padding-inline-start: 40px;

    @media (prefers-contrast) {
      padding-inline-start: 43px;
    }
  }
}

/* ..... attachment column ..... */

treechildren::-moz-tree-image(attachmentCol) {
  margin-inline-start: 1px;
}

/* ..... junkStatus column ..... */

treechildren::-moz-tree-image(junkStatusCol) {
  margin-inline-start: 1px;
}
