/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== searchDialog.css ===============================================
  == Styles for the Mail Search dialog.
  ======================================================================= */

@import url("chrome://messenger/skin/shared/searchDialog.css");

:root[lwt-tree]:not([lwt-tree-brighttext]) {
  --toolbarbutton-hover-background: #bbb;
  --toolbarbutton-active-background: #aaa;
}

:root:not([lwt-tree]) #threadTree,
:root:not([lwt-tree]) #abResultsTree {
  -moz-appearance: listbox;
}

menulist {
  width: 12em;
}

menulist > menupopup > menuitem {
  padding-inline-end: 2px;
}

.small-button {
  min-width: 3em;
  margin: 1px 2px;
}

.small-button + .small-button {
  margin-inline-start: 0;
  margin-inline-end: 4px;
}

:root[lwt-tree] #searchTermList menulist > .menulist-dropmarker {
  -moz-appearance: none;
  list-style-image: url("chrome://global/skin/icons/arrow-dropdown-12.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}
