/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/*
 * On Vista, the emptytext style would appear to use italics.  This is causing
 * problems for the search box because it has no minwidth and is flexy, so
 * removing the emptytext causes the size of the box to change and this is silly
 * and undesirable.  This change is being made to maintain the generally
 * accepted status quo while reducing breakage.  This will cause visual
 * inconsistency with the quick filter bar unless it gets a change like this
 * too.
 */
#searchInput {
  font-style: normal !important;
}

.quick-search-textbox {
  padding-top: 1px;
}

#quick-search-button  {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 2px;
}

.gloda-search-icon {
  list-style-image: url(chrome://global/skin/icons/Search-glass.png);
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.gloda-search-icon:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.gloda-search-icon[searchbutton]:not([disabled]) {
  cursor: pointer;
}

.gloda-search-icon[searchbutton]:not([disabled]):hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.gloda-search-icon[searchbutton]:not([disabled]):hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}


/* things from xul.css that only exist if Thunderbird did not define
 * AUTOCOMPLETE_OLD_STYLE
 */

.autocomplete-history-dropmarker {
  display: none;
}

.autocomplete-history-dropmarker[enablehistory="true"] {
  display: -moz-box;
  -moz-binding: url("chrome://global/content/bindings/autocomplete.xml#history-dropmarker");
}

.remote-gloda-search-container {
  padding-top: 1px;
  padding-bottom: 1px;
}

.searchBox,
#view-task-edit-field,
#unifinder-task-edit-field {
  -moz-appearance: none;
  border: 1px solid ThreeDShadow;
  padding-inline-end: 2px;
  padding-inline-start: 2px;
}

@media (-moz-os-version: windows-xp) {
  .remote-gloda-search-container {
    padding-top: 6px;
    padding-bottom: 5px;
  }

  .searchBox,
  #view-task-edit-field,
  #unifinder-task-edit-field {
    min-height: 22px;
  }
}

@media not all and (-moz-os-version: windows-xp) {
  .searchBox,
  #view-task-edit-field,
  #unifinder-task-edit-field {
    background-clip: padding-box;
    min-height: 24px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 25em;
  }

  #searchInput,
  #IMSearchInput,
  #peopleSearchInput {
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .searchBox[focused],
  #view-task-edit-field[focused],
  #unifinder-task-edit-field[focused] {
    border-color: Highlight;
  }
}

@media (-moz-windows-default-theme) and (-moz-os-version: windows-vista),
       (-moz-windows-default-theme) and (-moz-os-version: windows-win7) {
  .searchBox,
  #view-task-edit-field,
  #unifinder-task-edit-field {
    border-radius: 2px;
  }
}

@media (-moz-windows-default-theme) and (-moz-os-version: windows-vista),
       (-moz-windows-default-theme) and (-moz-os-version: windows-win7),
       (-moz-windows-default-theme) and (-moz-os-version: windows-win8) {
  .searchBox,
  #view-task-edit-field,
  #unifinder-task-edit-field {
    border-color: hsla(210, 54%, 20%, .25) hsla(210, 54%, 20%, .27)
                  hsla(210, 54%, 20%, .3);
    box-shadow: 0 1px 0 hsla(0, 0%, 0%, .01) inset,
                0 1px 0 hsla(0, 0%, 100%, .1);
  }

  .searchBox:hover,
  #view-task-edit-field:hover,
  #unifinder-task-edit-field:hover {
    border-color: hsla(210, 54%, 20%, .35) hsla(210, 54%, 20%, .37)
                  hsla(210, 54%, 20%, .4);
  }
}

@media (-moz-windows-default-theme) and (-moz-os-version: windows-win10) {
  .searchBox,
  #view-task-edit-field,
  #unifinder-task-edit-field {
    border-radius: 1px;
    border-color: hsl(0, 0%, 90%);
    transition-property: border-color;
    transition-duration: .1s;
  }

  .searchBox:hover,
  #view-task-edit-field:hover,
  #unifinder-task-edit-field:hover {
    border-color: hsl(0, 0%, 80%);
  }

  .searchBox[focused],
  #view-task-edit-field[focused],
  #unifinder-task-edit-field[focused] {
    border-color: Highlight;
    box-shadow: 0 0 0 1px Highlight inset;
  }
}

/* special treatment because this boxes are on the main toolbars */
#searchInput,
#IMSearchInput,
#peopleSearchInput,
.remote-gloda-search {
  min-height: 28px;
}

#searchInput:-moz-lwtheme,
#IMSearchInput:-moz-lwtheme,
#peopleSearchInput:-moz-lwtheme,
.remote-gloda-search:-moz-lwtheme {
  border-color: rgba(0, 0, 0, .32);
  color: black;
}

#searchInput:-moz-lwtheme:hover,
#IMSearchInput:-moz-lwtheme:hover,
#peopleSearchInput:-moz-lwtheme:hover,
.remote-gloda-search:-moz-lwtheme:hover {
  background-color: rgba(255,255,255,.9);
}

#searchInput:-moz-lwtheme:not([focused]),
#IMSearchInput:-moz-lwtheme:not([focused]),
#peopleSearchInput:-moz-lwtheme:not([focused]),
.remote-gloda-search:-moz-lwtheme:not([focused]) {
  opacity: .85;
}

#searchInput:-moz-lwtheme[focused],
#IMSearchInput:-moz-lwtheme[focused],
#peopleSearchInput:-moz-lwtheme[focused],
.remote-gloda-search:-moz-lwtheme[focused] {
  box-shadow: none;
  border-color: rgba(0, 0, 0, .32);
  background-color: white;
}

@media (-moz-windows-glass) {
  #tabbar-toolbar #searchInput:not(:-moz-lwtheme):not([focused]) {
    background-color: rgba(255, 255, 255, .725);
    border-color: rgba(0, 0, 0, .32);
  }

  #tabbar-toolbar #searchInput:not(:-moz-lwtheme):not([focused]):hover {
    background-color: rgba(255, 255, 255, .9);
  }
}
