/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/spacesToolbar.css");

@media (-moz-platform: windows-win7) and (-moz-windows-default-theme),
       (-moz-platform: windows-win8) and (-moz-windows-default-theme) {
  @media (-moz-windows-compositor) {
    #messengerWindow[sizemode="normal"][spacestoolbar="true"] #tabpanelcontainer,
    #messengerWindow[sizemode="normal"][spacestoolbar="true"] .statusbar {
      border-inline-start-width: 0;
    }

    #messengerWindow[sizemode="normal"] .spaces-toolbar:not([hidden]) {
      border-inline-start: 1px solid var(--glassShadowColor);
      border-bottom: 1px solid var(--glassShadowColor);
    }
  }
}

@media (-moz-platform: windows-win7) {
  @media (-moz-windows-default-theme) {
    #messengerWindow[sizemode="maximized"] .spaces-toolbar:not([hidden]) {
      margin-top: 8px;
    }
  }

  @media (-moz-windows-glass) {
    #messengerWindow[sizemode="normal"] .spaces-toolbar:not([hidden], :-moz-lwtheme) {
      margin-top: 2px;
    }
  }

  @media (-moz-windows-default-theme) and (-moz-windows-glass: 0) {
    #messengerWindow[sizemode="normal"] .spaces-toolbar:not([hidden], :-moz-lwtheme) {
      background-image: linear-gradient(to bottom, ThreeDDarkShadow 0,
                                        ThreeDDarkShadow 1px, ThreeDHighlight 1px,
                                        ThreeDHighlight 2px, transparent 2px);
    }
  }

  @media (-moz-windows-classic) {
    /* Add a window top border behind the titlebar */
    #messengerWindow[sizemode="normal"] .spaces-toolbar:not([hidden], :-moz-lwtheme) {
      background-image: linear-gradient(to bottom, ThreeDLightShadow 0,
                                        ThreeDLightShadow 1px, ThreeDHighlight 1px,
                                        ThreeDHighlight 2px, ActiveBorder 2px,
                                        ActiveBorder 4px, transparent 4px);
    }
  }

  @media (-moz-windows-default-theme: 0) {
    #messengerWindow[sizemode="maximized"] .spaces-toolbar:not([hidden]) {
      margin-top: 8px;
    }
  }

  @media (prefers-contrast) {
    /* Add a window top border behind the titlebar */
    #messengerWindow[sizemode="normal"] .spaces-toolbar:not([hidden], :-moz-lwtheme) {
      background-image: linear-gradient(to bottom, ThreeDLightShadow 0,
                                        ThreeDLightShadow 1px, ThreeDHighlight 1px,
                                        ThreeDHighlight 2px, transparent 2px);
    }
  }
}

@media (-moz-platform: windows-win8) {
  #messengerWindow[sizemode="normal"] .spaces-toolbar:not([hidden], :-moz-lwtheme) {
    margin-top: 1px;
  }

  #messengerWindow[sizemode="maximized"] .spaces-toolbar:not([hidden]) {
    margin-top: 8px;
  }
}
