/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/spacesToolbar.css");

@media (-moz-windows-accent-color-in-titlebar) {
  :root[sizemode=normal][customtitlebar] #spacesToolbar {
    margin-top: 1px;
  }
}

@media (prefers-contrast) {
  :root[customtitlebar]:not([lwtheme]) #spacesToolbar {
    margin-top: 2px;
    color: -moz-DialogText;
  }
}
