/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/tabmail.css");

/* Make sure the drop indicator stays inside the parent boundaries */
#tabmail-tabs {
  position: relative;
}

/**
 * Tabmail Tabs
 */

#tabpanelcontainer:-moz-lwtheme {
  color: inherit;
}

/**
 * Tab
 */

tabpanels {
  appearance: none;
  background-color: transparent;
}

/* tabmail-tab focus ring */
.tabmail-tab .tab-label-container {
  border: 1px dotted transparent;
}

.tabmail-tab:focus .tab-label-container {
  border-color: -moz-DialogText;
}

/**
 * Tab Scrollbox Arrow Buttons
 */

#tabmail-arrowscrollbox {
  &[overflow="true"] > .tabmail-tab:first-child::before {
    content: '';
    display: flex;
    margin-inline-start: 0;
  }

  &::part(scrollbutton-up),
  &::part(scrollbutton-down) {
    appearance: none;
    border-style: none !important;
    padding: 0 3px !important;
    margin: 0 !important;
    margin-inline-end: 1px !important;
  }

  &[scrolledtostart=true]::part(scrollbutton-up),
  &[scrolledtoend=true]::part(scrollbutton-down) {
    --toolbarbutton-icon-fill-opacity: .4;
  }

  &:-moz-locale-dir(rtl)::part(scrollbutton-up),
  &:-moz-locale-dir(ltr)::part(scrollbutton-down) {
    margin-inline: 1px 0 !important;
  }

  &:not([scrolledtostart=true])::part(scrollbutton-up):hover,
  &:not([scrolledtoend=true])::part(scrollbutton-down):hover {
    background: var(--toolbarbutton-active-background);
  }
}

/**
 * All Tabs Button
 */

#alltabs-button {
  padding-inline: 3px !important;
}

.tabs-alltabs-button > hbox > .toolbarbutton-menu-dropmarker {
  display: none;
}

/* Content Tabs */
.contentTabAddress {
  height: 34px;
  padding-inline: 10px;
}
