/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/themeableDialog.css");

@namespace html url("http://www.w3.org/1999/xhtml");

html|input {
  padding: 2px 4px;
}

menulist[is="menulist-editable"][editable="true"]::part(text-input) {
  padding: 2px 4px;
}

.menu-right {
  transform: scale(0.7);
}

.menu-right:-moz-locale-dir(ltr) {
  transform: scaleX(-1) scale(0.7);
}

.radio-label-box {
  margin-inline-start: 0;
  padding-inline-start: 0;
}
