/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/themeableDialog.css");

@namespace html url("http://www.w3.org/1999/xhtml");

@media not (-moz-proton) {
:root {
  --button-border-radius: 0;
}

@media (-moz-os-version: windows-win7) {
  :root {
    --button-border-radius: 2px;
  }
}
} /** END not Proton **/

html|input {
  padding: 2px 4px;
}

html|input[type="number"]::-moz-number-spin-up,
html|input[type="number"]::-moz-number-spin-down {
  min-height: 0.55em;
}

menulist[is="menulist-editable"][editable="true"]::part(text-input) {
  padding: 2px 4px;
}

@media not (-moz-proton-contextmenus) {
menulist menupopup menu,
menulist menupopup menuitem,
button menupopup menu,
button menupopup menuitem {
  padding-block: 2px;
}
} /** END not Proton **/

menu > menupopup > menuitem,
menu > menupopup > menu {
  padding-inline: 5px;
}

@media not (-moz-proton) {
.menu-right {
  transform: scale(0.7);
}

.menu-right:-moz-locale-dir(ltr) {
  transform: scaleX(-1) scale(0.7);
}
} /** END not Proton **/

@media (-moz-proton) {
.menu-right {
  transform: scale(0.5);
}

.menu-right:-moz-locale-dir(rtl) {
  transform: scaleX(-1) scale(0.5);
}
} /** END Proton **/

.radio-label-box {
  margin-inline-start: 0;
  padding-inline-start: 0;
}

@media (-moz-os-version: windows-win10) and (-moz-windows-default-theme: 0) {
  :root:not(:-moz-lwtheme) {
    --button-background: ButtonFace;
    --button-background-hover: Highlight;
    --button-background-active: Highlight;
    --button-text-active: HighlightText;
    --button-border-color: ThreeDShadow;
    --field-border-color: ThreeDShadow;
    --field-border-hover-color: HighlightText;
    --popup-item-hover: Highlight;
    --popup-item-hover-text: HighlightText;
    --tab-hover-background: Highlight;
    --tab-selected-background: Highlight;
  }

  button[open],
  button:not([disabled="true"]):hover,
  button:not([disabled="true"]):hover:active,
  menulist:not([disabled="true"],[open="true"]):hover,
  menulist[open="true"]:not([disabled="true"]),
  tab:hover,
  tab[visuallyselected="true"] {
    color: var(--button-text-active, inherit) !important;
  }
}
