/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --toolbarHighlight: rgba(255, 255, 255, 0.4);
  --fgTabTexture: linear-gradient(transparent, transparent 2px, var(--toolbarHighlight) 2px, var(--toolbarHighlight));
  --fgTabBackgroundColor: -moz-dialog;
  --fgTabTextureLWT: var(--fgTabTexture);

  /* Aero-only variables */

  --customToolbarColor: hsl(210, 75%, 92%);
}

@media (-moz-os-version: windows-win8),
       (-moz-os-version: windows-win10) {
  :root:not(:-moz-lwtheme) {
    --fgTabTexture: linear-gradient(transparent, transparent)
  }
}
