/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

/**
 * Enigmail styles for Windows (Aero Theme)
 */

@import url("chrome://messenger/skin/openpgp/enigmail-common.css"); /* common styles for all platforms */


#button-enigmail-decrypt
  {
    list-style-image : url("chrome://messenger/skin/openpgp/decrypt-active-18.svg");
  }

#button-enigmail-decrypt[disabled]
  {
    list-style-image : url("chrome://messenger/skin/openpgp/decrypt-inactive-18.svg");
  }



/***************************************************
 *  Icons for compose toolbar: encryption
 ***************************************************/

#button-enigmail-encrypt
{
  list-style-image : url("chrome://messenger/skin/openpgp/encrypt-inactive-18.svg");
}

/* hide label unless text-only mode is enabled */
toolbar:not([mode="text"]) #button-enigmail-encrypt .toolbarbutton-text {
  display: none;
}

#button-enigmail-encrypt[disabled] {
  list-style-image : url("chrome://messenger/skin/openpgp/encrypt-disabled-18.svg");
}

#button-enigmail-encrypt[encrypted="activeNone"]
{
  list-style-image : url("chrome://messenger/skin/openpgp/encrypt-active-18.svg");
}

#button-enigmail-encrypt[encrypted="forceYes"]
{
  list-style-image : url("chrome://messenger/skin/openpgp/encrypt-active-18.svg");
}

#button-enigmail-encrypt[encrypted="forceNo"]
{
  list-style-image : url("chrome://messenger/skin/openpgp/encrypt-inactive-18.svg");
}



/***************************************************
 *  Icons for compose toolbar: signing
 ***************************************************/

#button-enigmail-sign
{
  list-style-image : url("chrome://messenger/skin/openpgp/sign-inactive-18.svg");
}

/* hide label unless text-only mode is enabled */
toolbar:not([mode="text"]) #button-enigmail-sign .toolbarbutton-text {
  display: none;
}

#button-enigmail-sign[disabled] {
  list-style-image : url("chrome://messenger/skin/openpgp/sign-disabled-18.svg");
}

#button-enigmail-sign[signed="activeNone"]
{
  list-style-image : url("chrome://messenger/skin/openpgp/sign-active-18.svg");
}

#button-enigmail-sign[signed="forceYes"]
{
  list-style-image : url("chrome://messenger/skin/openpgp/sign-active-18.svg");
}

#button-enigmail-sign[signed="forceNo"]
{
  list-style-image : url("chrome://messenger/skin/openpgp/sign-inactive-18.svg");
}

/***************************************************
 *  Icons for compose toolbar: attach own key
 ***************************************************/

#button-enigmail-attach
{
  list-style-image : url("chrome://messenger/skin/openpgp/attach-inactive-18.svg");
}

#button-enigmail-attach[disabled] {
  list-style-image : url("chrome://messenger/skin/openpgp/attach-disabled-18.svg");
}

#button-enigmail-attach[addPubkey="true"]
{
  list-style-image : url("chrome://messenger/skin/openpgp/attach-active-18.svg");
}


/***************************************************
 *  Icons for compose toolbar: Protect header
 ***************************************************/

#enigmail-toolbar-encryptHdr-button
{
  list-style-image : url("chrome://messenger/skin/openpgp/headerUnprotected-18.svg");
}

#enigmail-toolbar-encryptHdr-button[disabled] {
  list-style-image : url("chrome://messenger/skin/openpgp/headerUnprotected-18.svg");
}

#enigmail-toolbar-encryptHdr-button[checked="true"]
{
  list-style-image : url("chrome://messenger/skin/openpgp/headerProtected-18.svg");
}
