<clientConfig version="1.1">
  <emailProvider id="%DOMAIN%">
    <domain>%EMAILDOMAIN%</domain>
    <displayName>Provisioned Account</displayName>
    <incomingServer type="imap">
      <hostname>imap-provisioned.%EMAILDOMAIN%</hostname>
      <port>993</port>
      <socketType>SSL</socketType>
      <username>%EMAILADDRESS%</username>
      <authentication>password-cleartext</authentication>
      <password>Håhå</password>
    </incomingServer>
    <incomingServer type="pop3">
      <hostname>pop-provisioned.%EMAILDOMAIN%</hostname>
      <port>995</port>
      <socketType>SSL</socketType>
      <username>%EMAILLOCALPART%</username>
      <authentication>password-cleartext</authentication>
      <password>Testing</password>
      <pop3>
        <leaveMessagesOnServer>true</leaveMessagesOnServer>
      </pop3>
    </incomingServer>
    <outgoingServer type="smtp">
      <hostname>smtp-provisioned.%EMAILDOMAIN%</hostname>
      <port>465</port>
      <socketType>SSL</socketType>
      <username>%EMAILADDRESS%</username>
      <authentication>password-cleartext</authentication>
      <password>Östad3</password>
    </outgoingServer>
  </emailProvider>
</clientConfig>
