/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
@import url("chrome://global/skin/in-content/common.css");

:host(calendar-invitation-panel) {
  background-color: Field;
  width: auto;
  border: 1px solid var(--splitter-color);
}

:host(calendar-invitation-panel) .notificationbox-stack {
  width: 100%;
  padding: 10px 20px;
}

:host(calendar-invitation-panel) .notificationbox-stack > notification-message {
  margin: 0;
}

.calendar-invitation-panel-wrapper {
  display: flex;
  padding: 10px 20px;
}

.calendar-invitation-panel-details {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.calendar-invitation-panel-title {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.calendar-invitation-panel-title > h1 {
  font-size: 1.4rem;
  font-weight: 800;
  margin: 0;
}

.calendar-invitation-panel-response-buttons {
  margin-inline-start: auto;
}

.calendar-invitation-panel-response-buttons button {
  min-height: 2.5em;
  font-size: .8em;
}

.calendar-invitation-panel-details-footer:not([hidden]) {
  flex-grow: 2;
  display: flex;
  align-items: baseline;
  padding: 10px 20px;
}

.calendar-invitation-panel-props {
  margin: 1.5em 0px;
}

.calendar-invitation-panel-props > dt,
.calendar-invitation-panel-props > dd {
  display: inline-block;
}

.calendar-invitation-panel-props th, .calendar-invitation-panel-props td {
  vertical-align: top;
  padding: 3px 0;
}

.calendar-invitation-panel-props th {
  text-align: end;
  padding-inline-end: 1em;
}

.calendar-invitation-panel-props td.content {
  overflow-y: auto;
  max-width: 28em;
  word-break: break-word;
}

calendar-invitation-interval {
  display: inline-block;
}

.calendar-invitation-panel-partstat-breakdown:before {
  content: "("
}

.calendar-invitation-panel-partstat-breakdown:after {
  content: ")"
}

.calendar-invitation-panel-partstat-summary +
.calendar-invitation-panel-partstat-summary {
  margin-inline-start: 0.5em;
}

.calendar-invitation-panel-partstat-summary-total {
  margin-inline-end: 0.5em;
}

.calendar-invitation-panel-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.calendar-invitation-panel-list li {
  display: flex;
  align-items: center;
  gap: 3px;
}

.calendar-invitation-panel-list li img {
  width: 16px;
  height: 16px;
}

.calendar-invitation-panel-list li span.removed {
  text-decoration: line-through;
}

calendar-invitation-change-indicator:not([hidden]) {
  border-radius: var(--button-border-radius);
  margin-inline-end: 3px;
  margin-block: 2px;
  padding-inline: 7px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px transparent;
  display: inline-block;
}
