/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

minimonth {
  --mmMainBackground: #fff;
  --mmHighlightColor: HighlightText;
  --mmHighlightBackground: Highlight;
  --mmHighlightBorderColor: Highlight;
  --mmBoxBackground: #f5f5f6;
  --mmBoxBorderColor: #c0c0c0;
  --mmDayColor: #2e4e73;
  --mmDayBorderColor: #fff;
  --mmDayOtherColor: #b2b2b2;
  --mmDayOtherBackground: #f0f0f0;
  --mmDayOtherBorderColor: #f0f0f0;
  --mmDayTodayBackground: #dfeaf4;
  --mmDayTodayBorderColor: #67acd8;
  --mmDaySelectedColor: #2e4e73;
  --mmDaySelectedBackground: #fffabc;
  --mmDaySelectedBorderColor: #d9c585;
  --mmDaySelectedTodayBackground: #f2edb2;
  --mmDaySelectedTodayBorderColor: #67acd8;
}

:root[systemcolors] minimonth {
  --mmMainBackground: -moz-field;
  --mmBoxBackground: -moz-Dialog;
  --mmBoxBorderColor: ThreeDShadow;
  --mmDayColor: WindowText;
  --mmDayBorderColor: Window;
  --mmDayOtherColor: GrayText;
  --mmDayOtherBackground: ButtonFace;
  --mmDayOtherBorderColor: Transparent;
  --mmDayTodayBackground: -moz-field;
  --mmDayTodayBorderColor: Highlight;
  --mmDaySelectedColor: HighlightText;
  --mmDaySelectedBackground: Highlight;
  --mmDaySelectedBorderColor: ButtonFace;
  --mmDaySelectedTodayBackground: Highlight;
  --mmDaySelectedTodayBorderColor: ButtonFace;
}

minimonth {
  background-color: var(--mmMainBackground);
  border: 0px;
  padding: 4px;
}

.minimonth-month-box {
  background-color: var(--mmBoxBackground);
  border: 1px dotted var(--mmBoxBorderColor);
}

.minimonth-month-name {
  font-weight: bold;
  padding: 0px;
  -moz-user-focus: normal;
}

.minimonth-month-name-readonly {
  text-align: right;
  font-weight: bold;
}

.minimonth-year-name {
  min-width: 4em;
  font-weight: bold;
  padding: 0px;
  -moz-user-focus: normal;
}

.minimonth-year-name-readonly {
  min-width: 4em;
  font-weight: bold;
  -moz-padding-start: 4px;
}

.minimonth-month-name > .toolbarbutton-text {
  text-align: right;
}

.minimonth-month-name > .toolbarbutton-icon,
.minimonth-year-name > .toolbarbutton-icon {
  display: none;
}

.minimonth-nav-btns > .toolbarbutton-icon {
  margin: 1px;
}

.minimonth-nav-btns {
  padding: 0px;
  min-width: 19px;
  list-style-image: url("chrome://calendar-common/skin/widgets/nav-arrow.svg");
  -moz-user-focus: normal;
}

.minimonth-nav-btns > .toolbarbutton-text  {
  display: none;
}

.minimonth-nav-btns[disabled] {
  opacity: .3;
}

.minimonth-nav-btns:-moz-locale-dir(ltr)[dir="-1"],
.minimonth-nav-btns:-moz-locale-dir(rtl)[dir="1"] {
  transform: scaleX(-1);
}

.minimonth-nav-btns[dir="0"] {
  list-style-image: url("chrome://calendar-common/skin/widgets/nav-today.svg");
}

.minimonth-row-header {
  text-align: center;
}

.minimonth-day {
  color: var(--mmDayColor);
  text-align: center;
  border: 1px solid var(--mmDayBorderColor);
  background-color: var(--mmMainBackground);
  min-height: 16px;
}

.minimonth-row-header-week {
  color: var(--mmDayOtherColor);
  text-align: center;
  border-right: 1px dotted var(--mmDayOtherColor);
}

.minimonth-week {
  color: var(--mmDayOtherColor);
  text-align: center;
  border: 1px solid var(--mmDayBorderColor);
  border-right: 1px dotted var(--mmDayOtherColor);
  background-color: var(--mmMainBackground);
  min-height: 16px;
}

.minimonth-day[othermonth="true"] {
  color: var(--mmDayOtherColor);
  background-color: var(--mmDayOtherBackground);
  border: 1px solid var(--mmDayOtherBorderColor);
}

.minimonth-day[today="true"] {
  background-color: var(--mmDayTodayBackground);
  border: 1px solid var(--mmDayTodayBorderColor);
}

.minimonth-day[selected="true"] {
  background-color: var(--mmDaySelectedBackground);
  color: var(--mmDaySelectedColor);
  border: 1px solid var(--mmDaySelectedBorderColor);
}

.minimonth-day[selected="true"][today="true"] {
  background-color: var(--mmDaySelectedTodayBackground);
  border: 1px solid var(--mmDaySelectedTodayBorderColor);
}

.minimonth-day[busy] {
  font-weight: bold;
}

.minimonth-day:hover[interactive] {
  cursor: pointer;
  border: 1px solid var(--mmHighlightBorderColor);
}

.minimonth-day:active[interactive] {
  background-color: var(--mmHighlightBackground);
  color: var(--mmHighlightColor);
}

.minimonth-list {
  -moz-padding-start: 1em;
  -moz-padding-end: 1em;
}

.minimonth-list[current="true"] {
  font-weight: bold;
}

.minimonth-list:hover {
  background-color: var(--mmHighlightBackground);
  color: var(--mmHighlightColor);
  cursor: pointer;
}
