/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/accountProvisioner.css");

#otherLangDesc.fadeIn {
  animation-duration: 0.4s;
  animation-name: fadein;
  display: block;
  opacity: 1.0;
}

@keyframes fadein {
  0% {
    opacity: 0.0;
    display: none;
  }
  1% {
    opacity: 0.0;
    display: block;
  }
  100% {
    opacity: 1.0;
    display: block;
  }
}

#otherLangDesc.fadeOut {
  animation-duration: 0.4s;
  animation-name: fadeout;
  display: none;
  opacity: 0.0;
}

@keyframes fadeout {
  0% {
    opacity: 1.0;
    display: block;
  }
  99% {
    opacity: 0.0;
    display: none;
  }
  100% {
    opacity: 0.0;
    display: none;
  }
}
