/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

calendar-list-tree > tree > treechildren::-moz-tree-cell(color-treecol, color-default) {
    background-color: #a8c2e1;
}

calendar-list-tree > tree > treechildren::-moz-tree-cell(color-treecol) {
    margin: 1px;
}

calendar-list-tree > tree > treechildren::-moz-tree-cell(calendarname-treecol) {
    margin-inline-start: 1px;
}

calendar-list-tree > tree > treechildren::-moz-tree-image(status-treecol, readonly) {
    list-style-image: url(chrome://calendar-common/skin/icons/locked.svg);
}

calendar-list-tree > tree > treechildren::-moz-tree-image(status-treecol, readonly, selected) {
    list-style-image: url(chrome://calendar-common/skin/icons/locked-selected.svg);
}

calendar-list-tree > tree > treechildren::-moz-tree-image(status-treecol, readfailed) {
    list-style-image: url(chrome://calendar-common/skin/icons/warn.svg);
}

calendar-list-tree > tree > treechildren::-moz-tree-image(status-treecol, readfailed, selected) {
    list-style-image: url(chrome://calendar-common/skin/icons/warn-selected.svg);
}

calendar-list-tree > tree > treechildren::-moz-tree-cell-text(disabled) {
    color: GrayText;
}

calendar-list-tree > tree {
    padding: 0;
    margin: 4px 0;
    -moz-appearance: none;
}

calendar-list-tree > tree > treecols > treecol[hideheader="true"],
calendar-list-tree > tree > treecols > treecol[hideheader="true"] {
    font-size: 0;
    border: none;
    padding: 0;
    max-height: 0;
    height: 0;
}

@media (-moz-overlay-scrollbars) {
    calendar-list-tree > tree > treecols > treecol[anonid="scrollbar-spacer"] {
      display: none;
    }
}
