/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://calendar/skin/shared/widgets/minimonth.css");

#calendar-print {
  flex: 1;
  display: flex;
  flex-direction: column;
  font: menu;
  overflow: auto;
}

#calendar-print fieldset.section-block {
  border: none;
  padding: 0;
  display: flex;
}

#calendar-print select#from-month,
#calendar-print select#to-month {
  flex: 1;
}

#calendar-print input#from-year,
#calendar-print input#to-year {
  flex: 1;
  margin-block: 0;
  margin-inline: 3px 0;
}

#calendar-print select {
  width: 100%;
}

#calendar-print label.indent {
  padding-inline-start: 1.5em;
  box-sizing: border-box;
}

calendar-minimonth {
  padding: 0;
  width: 100%;
}

#next-button-container,
#back-button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

#next-button-container > button,
#back-button-container > button {
  flex: 1 1 auto;
  margin: 0;
}

#back-button-container {
  margin-bottom: 8px;
}

#button-container {
  margin-top: 8px;
}
