/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/* only format Unifinder lists */
#unifinder-search-results-tree > treechildren::-moz-tree-cell-text(highpriority) {
   font-weight: bold;
}

#unifinder-search-results-tree > treechildren::-moz-tree-cell-text(lowpriority) {
   font-style: italic;
   color: GrayText !important;
   background-color: -moz-field;
}

/* workaround to avoid Window Flick */
#unifinder-search-results-tree {
    -moz-appearance: none;
    min-height: 92px;
    margin: 0;
}
