/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Calendar tool bar button */
#lightning-button-calendar {
  list-style-image: var(--icon-calendar);
}

/* Tasks tool bar button */
#lightning-button-tasks {
  list-style-image: var(--icon-tasks);
}

/* Toolbar buttons */
#calendar-synchronize-button,
#task-synchronize-button {
  list-style-image: var(--icon-sync);
}

#extractEventButton,
#task-newevent-button,
#calendar-newevent-button {
  list-style-image: var(--icon-new-event);
}

#extractTaskButton,
#task-newtask-button,
#calendar-newtask-button {
  list-style-image:var(--icon-new-task);
}

#calendar-edit-button,
#task-edit-button {
  list-style-image: var(--icon-pencil);
}

#calendar-delete-button,
#task-delete-button {
  list-style-image: var(--icon-trash);
}

#calendar-goto-today-button {
  list-style-image: var(--icon-calendar-today);
}

#calendar-print-button,
#task-print-button {
  list-style-image: var(--icon-print);
}

#calendar-unifinder-button {
  list-style-image: var(--icon-search);
}
