/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Calendar tool bar button */
#lightning-button-calendar {
  list-style-image: var(--icon-calendar);
}

/* Tasks tool bar button */
#lightning-button-tasks {
  list-style-image: var(--icon-tasks);
}

#extractEventButton {
  list-style-image: var(--icon-new-event);
}

#extractTaskButton {
  list-style-image:var(--icon-new-task);
}
