/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

#dialog-box > hbox {
  display: flex;
  align-items: center;
  margin: 0.3em 0;
}

html|label {
  white-space: nowrap;
  margin-right: 0.5em;
}

#publish-progressmeter {
  width: 100%;
  appearance: none;
  height: 4px;
  margin: 10px 4px;
  background-color: hsla(0, 0%, 60%, 0.2);
  border-style: none;
  border-radius: 2px;
}

#publish-progressmeter::-moz-progress-bar {
  appearance: none;
  background-color: var(--primary);
  border-radius: 2px;
}

#publish-progressmeter:indeterminate::-moz-progress-bar {
  /* Make a white reflecting animation.
     Create a gradient with 2 identical pattern, and enlarge the size to 200%.
     This allows us to animate background-position with percentage. */
  background-image: linear-gradient(90deg, transparent 0%,
                                           rgba(255, 255, 255, 0.5) 25%,
                                           transparent 50%,
                                           rgba(255, 255, 255, 0.5) 75%,
                                           transparent 100%);
  background-size: 200% 100%;
}

@media (prefers-reduced-motion: no-preference) {
  #publish-progressmeter:indeterminate::-moz-progress-bar {
    animation: progressSlideX 1.5s linear infinite;
  }

  @keyframes progressSlideX {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
}
