/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.invitation-details {
  text-align: center;
  margin: 1em 0;
  padding: 1em;
}

.invitation-details[open] > summary {
  margin-bottom: 0.5em;
}

.invitation-border {
  border: 3px solid -moz-default-color;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: -moz-fit-content;
  height: -moz-fit-content;
}

.invitation-table {
  border-collapse: collapse;
  width: 40em;
}

.invitation-table :is(td, th) {
  padding: 3px;
  vertical-align: baseline;
}

.invitation-table td {
  overflow-wrap: anywhere;
}

.invitation-table .description {
  width: 9em;
  text-align: end;
  font-weight: normal;
  border-inline-end: 1px solid hsla(0, 0%, 50%, .2);
  background-color: hsla(0, 0%, 50%, .2);
}

.invitation-table .content {
  width: 29em;
}

.invitation-table .added {
  color: rgb(255, 0, 0);
  text-decoration-line: none;
}

.invitation-table .modified {
  color: rgb(255, 0, 0);
  font-style: italic;
}

.invitation-table .removed {
  color: rgb(125, 125, 125);
}

@media (prefers-contrast) {
  .invitation-table .added {
    color: currentColor;
    font-weight: bold;
  }

  .invitation-table .modified {
    color: currentColor;
  }

  .invitation-table .removed {
    color: currentColor;
  }
}
