/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

:is(#event-toolbox, #FormatToolbox) > toolbar {
  color: inherit;
}

:root:not([lwtheme-image]) :is(#event-toolbox, #FormatToolbox) > toolbar {
  background-color: inherit;
}

/*--------------------------------------------------------------------
 *   Event dialog keep duration button
 *-------------------------------------------------------------------*/

#keepduration-button {
  min-width: 18px;
}

#timezone-endtime {
  margin-inline-start: 16px;
}

#percent-complete-textbox {
  padding: 3px;
}

.formatting-button > .toolbarbutton-menu-dropmarker {
  appearance: none !important;
  margin-inline-start: 3px;
}

#paragraphPopup > menuitem > .menu-text {
  margin-inline-start: 6px !important;
}

#smileyPopup > menuitem > .menu-text {
  margin-inline-start: 1px !important;
}
