/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/*--------------------------------------------------------------------
 *   Event dialog keep duration button
 *-------------------------------------------------------------------*/

#keepduration-button {
  min-width: 21px;
}

#timezone-endtime {
  margin-inline-start: 16px;
}


#todo-entrydate menulist[is="menulist-editable"][editable="true"],
#todo-duedate menulist[is="menulist-editable"][editable="true"] {
  margin-inline-end: 2.4em;
}

#todo-entrydate .menulist-dropmarker,
#todo-duedate .menulist-dropmarker {
  display: block !important;
}

#percent-complete-textbox {
  padding: 3px;
}
