/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#activityManager[lwt-tree] {
  background-color: var(--toolbar-bgcolor);
  color: var(--lwt-text-color);
}

.activityview {
  appearance: none;
  margin: 0;
  border-bottom: 1px solid ThreeDLightShadow;
}

#search {
  -moz-box-pack: end;
}


/**
 * Images for buttons in the interface
 */

richlistitem[is="activity-process-richlistitem"] button,
richlistitem[is="activity-event-richlistitem"] button,
richlistitem[is="activity-warning-richlistitem"] button,
richlistitem[is="activity-group-richlistitem"] button {
  appearance: none;
  min-height: 16px;
  min-width: 16px;
  max-height: 16px;
  max-width: 16px;
  padding: 0;
  margin: 0 1px;
  list-style-image: url(chrome://messenger/skin/activity/buttons.png);
}

richlistitem[is="activity-process-richlistitem"]:not([selected="true"]) button {
  -moz-user-focus: none;
}

.cancel {
  -moz-image-region: rect(0, 16px, 16px, 0);
}
.cancel:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}
.cancel:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

.pause {
  -moz-image-region: rect(48px, 16px, 64px, 0);
}
.pause:hover {
  -moz-image-region: rect(48px, 32px, 64px, 16px);
}
.pause:not([disabled="true"]):hover:active {
  -moz-image-region: rect(48px, 48px, 64px, 32px);
}
.pause[disabled="true"] {
  -moz-image-region: rect(48px, 16px, 64px, 0);
}

.resume {
  -moz-image-region: rect(16px, 16px, 32px, 0);
}
.resume:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
.resume:hover:active {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}

.retry {
  -moz-image-region: rect(32px, 16px, 48px, 0);
  display: none;
}
.retry:hover {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
.retry:hover:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}
.retry[enabled="true"] {
  display: inline;
}

.undo {
  -moz-image-region: rect(32px, 16px, 48px, 0);
}
.undo:hover {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
.undo:hover:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}

.recover {
  -moz-image-region: rect(32px, 16px, 48px, 0);
}
.recover:hover {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
.recover:hover:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}

.activitygroupbox richlistitem[is="activity-event-richlistitem"],
.activitygroupbox richlistitem[is="activity-warning-richlistitem"],
.activitygroupbox richlistitem[is="activity-process-richlistitem"] {
  padding-inline-start: 3px;
}

.retry {
  -moz-image-region: rect(32px, 16px, 48px, 0);
}
.retry:hover {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
.retry:hover:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}

/* Specialized Activity Bindings */

richlistitem[is="activity-process-richlistitem"] {
  padding: 3px 8px;
  min-height: 40px !important;
}

.dateTime,
.statusText {
  font-size: smaller;
  opacity: .6;
}

richlistbox:focus .activityitem[selected="true"] .dateTime,
richlistbox:focus .activityitem[selected="true"] .statusText {
  opacity: .8;
}

.processIconBox image {
  list-style-image: url(chrome://messenger/skin/activity/defaultProcessIcon.png);
}

.eventIconBox image {
  list-style-image: url(chrome://messenger/skin/activity/defaultEventIcon.png);
}

.warningIconBox image {
  list-style-image: url(chrome://messenger/skin/activity/defaultWarningIcon.png);
}

image.syncMail {
  list-style-image: url(chrome://messenger/skin/activity/syncMailIcon.png);
}

image.sendMail {
  list-style-image: url(chrome://messenger/skin/activity/sendMailIcon.png);
}

image.copyMail {
  list-style-image: url(chrome://messenger/skin/activity/copyMailIcon.png);
}

image.moveMail {
  list-style-image: url(chrome://messenger/skin/activity/moveMailIcon.png);
}

image.deleteMail {
  list-style-image: url(chrome://messenger/skin/activity/deleteMailIcon.png);
}

image.addItem {
  list-style-image: url(chrome://messenger/skin/activity/addItemIcon.png);
}

image.removeItem {
  list-style-image: url(chrome://messenger/skin/activity/removeItemIcon.png);
}

image.undo {
  list-style-image: url(chrome://messenger/skin/activity/undoIcon.png);
}

image.indexMail {
  list-style-image: url(chrome://messenger/skin/activity/indexMailIcon.png);
}

image.compactMail {
  list-style-image: url(chrome://messenger/skin/activity/compactMailIcon.png);
}

/* prevent flickering when changing states */
.activityTypeIcon {
  min-height: 32px;
  min-width: 32px;
  padding-inline-end: 2px;
}

/* these are copied from richlistbox.css, to give us a starting point on selection */

.activityitem {
  padding: 7px 4px;
  border-bottom: 1px solid var(--field-border-color);
}
