/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/shared/widgets/calendar-widgets.css);

#task-tree-filtergroup {
  padding-inline-start: 18px;
}

#calendar-list-pane #calendar-list richlistitem {
  padding-inline-start: 18px;
  padding-block: 2px;
}

#calendar-list .calendar-color {
  /* Shift the color box closer to the name label */
  margin-inline-start: 1px;
}
