/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --in-content-categories-background: #ebebef;
}

@supports -moz-bool-pref("browser.in-content.dark-mode") {
  @media (prefers-color-scheme: dark) {
    :root {
      --in-content-categories-background: rgba(249,249,250,0.1);
    }
  }
}

#category-box {
  background-color: var(--in-content-categories-background);
}

.nav-button {
  -moz-appearance: none;
  list-style-image: url(chrome://messenger/skin/icons/navigation.svg);
  margin-top: 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  -moz-context-properties: fill;
  fill: currentColor;
}

.nav-button[disabled="true"] > .toolbarbutton-icon {
  opacity: 0.4;
}

.nav-button:not([disabled="true"]):hover {
  background-color: #bebebe;
  cursor: pointer;
}

.nav-button > .toolbarbutton-text {
  display: none;
}

#back-btn:-moz-locale-dir(rtl),
#forward-btn:-moz-locale-dir(ltr) {
  transform: scaleX(-1);
}

#categories {
  padding-top: 0;
}

#preferencesButton {
  margin-bottom: 36px;
}

.sidebar-footer-button.help-button {
  display: none;
}

#nav-header {
  height: 50px;
}

#category-plugin {
  display: none;
}
