/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

attachmentlist {
  -moz-appearance: listbox;
  -moz-user-focus: normal;
}

attachmentlist[orient="horizontal"] {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#attachmentlist-horizontal");
}

attachmentlist[orient="vertical"] {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#attachmentlist-vertical");
}

.attachmentlist-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
}

attachmentitem {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#attachmentitem");
}

.attachmentcell-content {
  -moz-box-orient: horizontal;
}

.attachmentcell-text {
  -moz-box-orient: horizontal;
}

attachmentlist[view="large"] .attachmentcell-content {
  -moz-box-orient: horizontal;
}

attachmentlist[view="large"] .attachmentcell-text {
  -moz-box-align: start;
  -moz-box-orient: vertical;
}

attachmentlist[view="tile"] .attachmentcell-content {
  -moz-box-align: center;
  -moz-box-orient: vertical;
}

attachmentlist[view="tile"] .attachmentcell-text {
  -moz-box-align: center;
  -moz-box-orient: vertical;
}

attachmentlist[orient="horizontal"] > attachmentitem {
  min-width: 10em;
}

attachmentlist[orient="horizontal"][view="tile"] > attachmentitem {
  min-width: 5em;
  max-width: 10em;
}
