/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/textbox.css");
@import url("chrome://messenger/skin/numberbox.css");
@import url("chrome://messenger/skin/xbl-notification.css");
@import url("chrome://messenger/skin/spinbuttons.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

toolbox {
  -moz-binding: url("chrome://messenger/content/toolbar.xml#toolbox");
}

toolbar {
  -moz-binding: url("chrome://messenger/content/toolbar.xml#toolbar");
}

%ifndef XP_MACOSX
toolbar[type="menubar"][autohide="true"] {
  -moz-binding: url("chrome://messenger/content/toolbar.xml#toolbar-menubar-autohide");
}
%endif

toolbarbutton[type="menu-button"] {
  -moz-binding: url("chrome://messenger/content/toolbar.xml#menu-button");
}

toolbarpaletteitem {
  -moz-binding: url("chrome://messenger/content/toolbar.xml#toolbarpaletteitem");
}

toolbarpaletteitem[place="palette"] {
  -moz-box-orient: vertical;
  -moz-binding: url("chrome://messenger/content/toolbar.xml#toolbarpaletteitem-palette");
}

notificationbox {
  -moz-binding: url("chrome://messenger/content/notificationbox.xml#notificationbox");
  -moz-box-orient: vertical;
}
.notificationbox-stack {
  overflow: -moz-hidden-unscrollable;
}

xbl-notification {
  -moz-binding: url("chrome://messenger/content/notificationbox.xml#notification");
}

button[type="menu-button"] {
  -moz-binding: url("chrome://messenger/content/menubutton.xml#menu-button");
}

menulist[type="description"] > menupopup > menuitem[description] {
  -moz-binding: url("chrome://messenger/content/mailWidgets.xml#menuitem-iconic-desc-noaccel");
}

textbox[type="number"] {
  -moz-binding: url('chrome://messenger/content/numberbox.xml#numberbox');
}

spinbuttons {
  -moz-binding: url("chrome://messenger/content/spinbuttons.xml#spinbuttons");
}

.spinbuttons-button {
  -moz-user-focus: ignore;
}
