/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messenger.css ==================================================
  == Content specific styles for Messenger.
  ======================================================================= */

@import url("chrome://messenger/content/notification.css");

:root {
  --lwt-additional-images: none;
  --lwt-background-alignment: right top;
  --lwt-background-tiling: no-repeat;

  --toolbar-bgcolor: var(--toolbar-non-lwt-bgcolor);
  --toolbar-bgimage: var(--toolbar-non-lwt-bgimage);
  --toolbar-color: var(--toolbar-non-lwt-textcolor);

  --panelui-subview-transition-duration: 150ms;
}

/* message header widgets */
.emailDisplayButton {
  -moz-user-focus: normal;
}

mail-tagfield[collapsed="true"] {
  display: none;
}

.remote-gloda-search-container {
  min-width: 10em;
}

.chromeclass-toolbar {
  overflow-x: hidden;
}

/* Lightweight themes support */

:root:-moz-lwtheme {
  --toolbar-color: var(--lwt-text-color, inherit);

  color: var(--lwt-text-color);
}

/* Add a box to draw additional background images. */
#LW-background-box {
  display: none;
}

#LW-background-box:-moz-lwtheme {
  display: block;
  height: 60px;
  position: fixed;
  pointer-events: none;
  top: 0;
  width: -moz-available;
}

#messengerWindow[windowtype="mail:3pane"] #LW-background-box:-moz-lwtheme {
  z-index: -1;
}

#LW-background-box:-moz-lwtheme,
#ab-toolbox:-moz-lwtheme,
#compose-toolbox:-moz-lwtheme {
  background-color: var(--lwt-accent-color);
  background-image: var(--lwt-additional-images);
  background-repeat: var(--lwt-background-tiling);
  background-position: var(--lwt-background-alignment);
}

/* When a theme defines both theme_frame and additional_backgrounds, show
   the latter atop the former. */
:root[lwtheme-image] #LW-background-box,
:root[lwtheme-image] #ab-toolbox,
:root[lwtheme-image] #compose-toolbox {
  background-image: var(--lwt-header-image), var(--lwt-additional-images);
  background-repeat: no-repeat, var(--lwt-background-tiling);
  background-position: right top, var(--lwt-background-alignment);
}

#LW-background-box:-moz-window-inactive:-moz-lwtheme,
#ab-toolbox:-moz-window-inactive:-moz-lwtheme,
#compose-toolbox:-moz-window-inactive:-moz-lwtheme {
  background-color: var(--lwt-accent-color-inactive, var(--lwt-accent-color));
}

#status-bar:-moz-lwtheme {
  background-repeat: no-repeat, var(--lwt-background-tiling);
  background-position: bottom right, var(--lwt-background-alignment);
  background-color: var(--lwt-accent-color);
  background-image: var(--lwt-header-image), var(--lwt-additional-images);
  color: var(--lwt-text-color);
}

#titlebar {
  -moz-window-dragging: drag;
}

#messengerWindow:not([chromemargin]) #titlebar {
  display: none;
}

#titlebar-spacer {
  pointer-events: none;
}

toolbar[type="menubar"][autohide="true"] {
  overflow: hidden;
}

toolbar[type="menubar"][autohide="true"][inactive="true"]:not([customizing="true"]) {
  min-height: 0 !important;
  height: 0 !important;
  appearance: none !important;
}

/* Rules to help integrate WebExtension buttons */

.webextension-action > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  height: 18px;
  width: 18px;
}

@media not all and (min-resolution: 1.1dppx) {
  .webextension-action {
    list-style-image: var(--webextension-toolbar-image, inherit);
  }

  toolbar[brighttext] .webextension-action {
    list-style-image: var(--webextension-toolbar-image-light, inherit);
  }

  toolbar:not([brighttext]) .webextension-action:-moz-lwtheme {
    list-style-image: var(--webextension-toolbar-image-dark, inherit);
  }

  .webextension-action[cui-areatype="menu-panel"] {
    list-style-image: var(--webextension-menupanel-image, inherit);
  }

  :root[lwt-popup-brighttext] .webextension-action[cui-areatype="menu-panel"] {
    list-style-image: var(--webextension-menupanel-image-light, inherit);
  }

  :root:not([lwt-popup-brighttext]) .webextension-action[cui-areatype="menu-panel"]:-moz-lwtheme {
    list-style-image: var(--webextension-menupanel-image-dark, inherit);
  }

  .webextension-menuitem {
    list-style-image: var(--webextension-menuitem-image, inherit) !important;
  }
}

@media (min-resolution: 1.1dppx) {
  .webextension-action {
    list-style-image: var(--webextension-toolbar-image-2x, inherit);
  }

  toolbar[brighttext] .webextension-action {
    list-style-image: var(--webextension-toolbar-image-2x-light, inherit);
  }

  toolbar:not([brighttext]) .webextension-action:-moz-lwtheme {
    list-style-image: var(--webextension-toolbar-image-2x-dark, inherit);
  }

  .webextension-action[cui-areatype="menu-panel"] {
    list-style-image: var(--webextension-menupanel-image-2x, inherit);
  }

  :root[lwt-popup-brighttext] .webextension-action[cui-areatype="menu-panel"] {
    list-style-image: var(--webextension-menupanel-image-2x-light, inherit);
  }

  :root:not([lwt-popup-brighttext]) .webextension-action[cui-areatype="menu-panel"]:-moz-lwtheme {
    list-style-image: var(--webextension-menupanel-image-2x-dark, inherit);
  }

  .webextension-menuitem {
    list-style-image: var(--webextension-menuitem-image-2x, inherit) !important;
  }
}

panelmultiview[transitioning] {
  pointer-events: none;
}

.panel-viewcontainer {
  overflow: hidden;
}

.panel-viewcontainer[panelopen] {
  transition-property: height;
  transition-timing-function: var(--animation-easing-function);
  transition-duration: var(--panelui-subview-transition-duration);
  will-change: height;
}

.panel-viewcontainer.offscreen {
  display: block;
}

.panel-viewstack {
  overflow: visible;
  transition: height var(--panelui-subview-transition-duration);
}

/* Status panel */

statuspanel {
  position: fixed;
  display: block;
  margin-top: -3em;
  left: 0;
  z-index: 20;
  max-width: 50%;
  transition: opacity 120ms ease-out, visibility 120ms;
}

statuspanel:-moz-locale-dir(ltr)[mirror],
statuspanel:-moz-locale-dir(rtl):not([mirror]) {
  left: auto;
  right: 0;
}

statuspanel[label=""],
statuspanel:not([label]) {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.statuspanel-inner {
  height: 3em;
  -moz-box-align: end;
}

/* Frame used for rendering the DevTools inspector highlighters */
iframe.devtools-highlighter-renderer {
  border: none;
  pointer-events: none;
}

/* Highlighter for the Developer Toolbox */
:root iframe.devtools-highlighter-renderer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* Show hidden toolbars in customize mode */
toolbar[customizing="true"][collapsed="true"] {
  visibility: visible;
}

/* Print UI, mostly from browser.css */

.printPreviewStack {
  position: relative;
}

:is(browser, hbox, tabbox, vbox)[tabDialogShowing],
:is(browser, hbox, tabbox, vbox)[tabDialogShowing] * {
  -moz-user-focus: none !important;
}

.printSettingsBrowser {
  width: 250px !important;
}

.previewStack {
  background-color: #f9f9fa;
  color: #0c0c0d;
}

.previewRendering {
  background-image: url("chrome://browser/skin/tabbrowser/pendingpaint.png");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.previewStack[rendering=true] > .previewRendering {
  visibility: visible;
}

.printPreviewBrowser {
  visibility: collapse;
  opacity: 1;
  transition: opacity 60ms;
}

.previewStack[previewtype="source"] > .printPreviewBrowser[previewtype="source"],
.previewStack[previewtype="selection"] > .printPreviewBrowser[previewtype="selection"],
.previewStack[previewtype="simplified"] > .printPreviewBrowser[previewtype="simplified"] {
  visibility: visible;
}

.previewStack[rendering=true] > .printPreviewBrowser {
  opacity: 0;
  transition: opacity 1ms 250ms;
}

.print-pending-label {
  margin-top: 110px;
  font-size: large;
}

printpreview-pagination {
  opacity: 0;
  transition: opacity 100ms 500ms;
}
printpreview-pagination:focus-within,
.previewStack:hover printpreview-pagination {
  opacity: 1;
  transition: opacity 100ms;
}
.previewStack[rendering=true] printpreview-pagination {
  opacity: 0;
}

@media (-moz-toolbar-prefers-color-scheme: dark) {
  .previewStack {
    background-color: #2A2A2E;
    color: rgb(249, 249, 250);
  }
}

.dialogStack {
  /* Should outrank the z-index values of other UI elements, particularly the devtools
     splitter element. */
  z-index: 11;
  position: absolute;
  inset: 0 0 0 0;
}

.dialogStack.temporarilyHidden {
  /* For some printing use cases we need to visually hide the dialog before
   * actually closing it / make it disappear from the frame tree. */
  visibility: hidden;
}

.dialogOverlay {
  visibility: hidden;
}

.dialogOverlay[topmost="true"] {
  z-index: 1;
}

.dialogBox {
  background-clip: content-box;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
  display: -moz-box;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  border-radius: 8px;
}

.dialogBox[resizable="true"] {
  resize: both;
  overflow: hidden;
  min-height: 20em;
}

.dialogBox[sizeto="available"] {
  --box-inline-margin: 4px;
  --box-block-margin: 4px;
  --box-ideal-width: 1000;
  --box-ideal-height: 650;
  --box-max-width-margin: calc(100vw - 2 * var(--box-inline-margin));
  --box-max-height-margin: calc(100vh - var(--box-top-px) - var(--box-block-margin));
  --box-max-width-ratio: 70vw;
  --box-max-height-ratio: calc(var(--box-ideal-height) / var(--box-ideal-width) * var(--box-max-width-ratio));
  max-width: min(max(var(--box-ideal-width) * 1px, var(--box-max-width-ratio)), var(--box-max-width-margin));
  max-height: min(max(var(--box-ideal-height) * 1px, var(--box-max-height-ratio)), var(--box-max-height-margin));
  width: 100vw;
  height: 85vh; /* This is 100vh in Firefox but we have less space to work with. */
}

@media (min-width: 550px) {
  .dialogBox[sizeto="available"] {
    --box-inline-margin: min(calc(4px + (100vw - 550px) / 4), 16px);
  }
}

@media (min-width: 800px) {
  .dialogBox[sizeto="available"] {
    --box-inline-margin: min(calc(16px + (100vw - 800px) / 4), 32px);
  }
}

@media (min-height: 350px) {
  .dialogBox[sizeto="available"] {
    --box-block-margin: min(calc(4px + (100vh - 350px) / 4), 16px);
  }
}

@media (min-height: 550px) {
  .dialogBox[sizeto="available"] {
    --box-block-margin: min(calc(16px + (100vh - 550px) / 4), 32px);
  }
}

:not(.content-prompt-dialog) > .dialogOverlay > .dialogBox {
  /* Make dialogs overlap with upper chrome UI. */
  margin-top: 5px;
}

.dialogOverlay[topmost="true"] {
  background-color: rgba(28, 27, 34, 0.45);
}
