/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Generic (cross-platform) multimessage view CSS.  Some bits will be overridden
  by theme specific files */

:root {
  --body-background-color: Field;
  --body-text-color: FieldText;
  --header-background-color: Highlight;
  --head-text-color: HighlightText;
  --info-text-color: GrayText;
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  appearance: none;
  height: unset; /* needed to allow elements to react to events */
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: #2a2a2e;
    --body-text-color: rgb(249, 249, 250);
    --header-background-color: #002b57;
    --head-text-color: var(--body-text-color);
    --info-text-color: #b1b1b3;

  --toolbarbutton-hover-background: rgba(255, 255, 255, .25);
  --toolbarbutton-hover-bordercolor: rgba(255, 255, 255, .5);
  --toolbarbutton-header-bordercolor: rgba(255, 255, 255, .25);

  --toolbarbutton-active-background: rgba(255, 255, 255, .4);
  --toolbarbutton-active-bordercolor: rgba(255, 255, 255, .7);
  --toolbarbutton-active-boxshadow: 0 0 0 1px rgba(255, 255, 255, .4) inset;
  }
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#heading_wrapper {
  position: fixed;
  display: block;
  top: 0;
  width: -moz-available;
  color: var(--head-text-color);
  background-color: var(--header-background-color);
}

#heading {
  padding: 1ex 0 1ex 1ex;
  margin: 0;
  font-size: large;
  font-weight: normal;
  vertical-align: middle;
}

#content {
  height: 100%;
  overflow-y: auto;
}

.hidden {
  visibility: hidden;
  display: none !important; /* need to override the display property that sets inline-block */
}

a {
  color: -moz-nativehyperlinktext;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}
