/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tab-label-container {
  overflow: hidden;
}

.tab-label-container[textoverflow] {
  mask-image: linear-gradient(to left, transparent, black 2em);
}

.tab-label-container[textoverflow]:-moz-locale-dir(rtl) {
  mask-image: linear-gradient(to right, transparent, black 2em);
}

.tab-label {
  white-space: nowrap;
}

.tab-close-button {
  display: none;
}

#tabmail-tabs > arrowscrollbox > .tabmail-tab:first-child > .tab-stack > .tab-content >
.tab-close-button {
  visibility: collapse;
}

#tabmail-tabs:not([closebuttons="noclose"],[closebuttons="closeatend"]) >
arrowscrollbox > .tabmail-tab[selected="true"]:not(:only-child) > .tab-stack >
.tab-content > .tab-close-button {
  display: -moz-box;
}

#tabmail-tabs[closebuttons="alltabs"] > arrowscrollbox >
.tabmail-tab:not(:only-child) > .tab-stack > .tab-content > .tab-close-button {
  display: -moz-box;
}

.tab-drop-indicator {
  position: absolute;
  top: 0;
  /* The z-index needs to be big enough to trump other positioned UI pieces
     that we want to overlay. The selected tab uses 2. */
  z-index: 3;
}

.tab-throbber:not([busy]):not([thinking]),
.tab-throbber[busy] + .tab-icon-image,
.tab-throbber[thinking] + .tab-icon-image,
.tab-throbber[busy][thinking] + .tab-icon-image {
  display: none;
}
