/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* Rules to help integrate WebExtension buttons */

.webextension-action > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  height: 18px;
  width: 18px;
}

/* for browserAction, composeAction and messageAction */
.spaces-addon-menuitem,
.webextension-action {
  list-style-image: var(--webextension-toolbar-image, inherit);

  :root[lwtheme] & {
    list-style-image: var(--webextension-toolbar-image-dark, inherit);
  }
}

/* for buttons in sidebar or sidebar menu */
.spaces-addon-button img {
  content: var(--webextension-toolbar-image, inherit);

  :root[lwtheme] & {
    content: var(--webextension-toolbar-image-dark, inherit);
  }
}

@media (prefers-color-scheme: dark) {
  :root .spaces-addon-menuitem,
  .webextension-action {
    list-style-image: var(--webextension-toolbar-image-light, inherit) !important;
  }

  :root .spaces-addon-button img {
    content: var(--webextension-toolbar-image-light, inherit) !important;
  }
}

.webextension-action[cui-areatype="menu-panel"] {
  list-style-image: var(--webextension-menupanel-image, inherit);

  :root[lwt-popup-brighttext] & {
    list-style-image: var(--webextension-menupanel-image-light, inherit);
  }

  :root[lwtheme]:not([lwt-popup-brighttext]) & {
    list-style-image: var(--webextension-menupanel-image-dark, inherit);
  }
}

.webextension-menuitem {
  list-style-image: var(--webextension-menuitem-image, inherit) !important;
}
