/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  width: 700px;
  min-width: 700px;
  max-width: 700px;
}

fieldset {
  margin-inline: 20px;
  margin-block: 4px;

  & > div {
    display: flex;
    align-items: center;
  }
}
