/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.inline-notification-container {
  color: inherit;

  &:not([collapsed="true"],[hidden]) {
    display: flex;
    border-radius: 3px;
    padding: 6px 8px;
    margin: 10px 3px;
  }

  /* Info variation */

  &.info-container {
    background-color: rgba(69, 161, 255, 0.2);
  }

  /* error variation */

  &.error-container {
    background-color: #f7b6b6;
    color: #410303;
  }

  /* success variation */

  &.success-container {
    background-color: #c1f7b6;
    color: #043a08;
  }
}

.inline-notification-wrapper {
  display: flex;
  align-items: flex-start;

  &.align-center {
    align-items: center;

    & .notification-image {
      margin-top: 0;
    }
  }

  & description {
    flex: 1;
  }
}

.notification-image {
  -moz-context-properties: fill;
  fill: currentColor;
  margin-inline: 4px 8px;
  margin-top: 4px;
  width: 16px;
}
