/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== addressbook.css ================================================
  == Styles for the main Address Book window.
  ======================================================================= */

@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://messenger/skin/shared/addressbook.css");

#mail-menubar:-moz-lwtheme {
  color: inherit;
}

#ab-toolbox {
  appearance: none;
  border-bottom: 1px solid var(--chrome-content-separator-color);
}

#ab-toolbox > toolbar {
  /* force iconsize="small" on these toolbars */
  counter-reset: smallicons;
}

#abContent {
  background-color: -moz-Dialog;
}

/* directory pane adjustments */

#dirTree:not(:-moz-lwtheme) {
  border-bottom: 1px solid ThreeDShadow;
}

/* splitters */

#dirTree-splitter {
  appearance: none;
  border-inline-end: 1px solid var(--splitter-color);
  /* splitter grip area */
  width: 4px;
  /* make only the splitter border visible */
  margin-inline-start: -4px;
  /* because of the negative margin needed to make the splitter visible */
  position: relative;
  z-index: 10;
}

#results-splitter {
  appearance: none;
  border-top: 1px solid var(--splitter-color);
  /* splitter grip area */
  height: 4px;
  /* make only the splitter border visible */
  margin-bottom: -4px;
  /* because of the negative margin needed to make the splitter visible */
  position: relative;
  z-index: 10;
}

/* results pane */

#blankResultsPaneMessageBox {
  border-bottom: 1px solid ThreeDShadow;
}

#GeneratedName {
  padding-inline-start: 26px;
}

/* card view pane */

#CardViewOuterBox {
  border-bottom: 1px solid ThreeDShadow;
}

#cvHomeMapIt,
#cvWorkMapIt {
  margin-bottom: 0;
}

/* UI Density customization */

:root[uidensity="compact"] #dirTree > treechildren::-moz-tree-row {
  min-height: 1.3rem;
}
