/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== sidebarPanel.css ===============================================
  == Styles for the Address Book sidebar panel.
  ======================================================================= */

@import url("chrome://messenger/skin/messenger.css");

#abContactsPanel {
  appearance: none;
  background-color: -moz-Dialog;
  background-image: none !important;
  color: -moz-dialogText;
  text-shadow: none;

  &:not([lwt-tree]) {
    --button-background: rgba(128, 128, 128, .15);
    --button-background-hover: rgba(128, 128, 128, .25);
    --button-background-active: rgba(128, 128, 128, .35);
    --box-text-color: MenuText;
    --box-background-color: Menu;
    --box-border-color: ThreeDShadow;
    --field-border-color: rgba(128, 128, 128, .6);
  }

  &[lwt-tree] {
    background-color: var(--toolbar-bgcolor);
    color: var(--lwt-text-color);
  }
}

#AbPickerHeader {
  margin: 0 3px;
  gap: 3px;

  & #abContextMenuButton {
    min-width: unset;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    list-style-image: var(--icon-more);
    -moz-context-properties: stroke;
    stroke: currentColor;

    & .button-text {
      display: none;
    }
  }

  & #addressbookList {
    margin: 0;

    &::part(label-box) {
      width: 0; /* Make the label crop if necessary. */
    }
  }
}

#peopleSearchInput {
  margin: 0 3px;

  & [slot="clear-button"] {
    content: var(--icon-clear);
  }

  & [slot="search-button"] {
    content: var(--icon-search);
  }
}

#abResultsTree {
  border-block: 1px solid var(--sidebar-border-color);

  & .tree-table {
    width: 100%;
  }
}
