/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

button {
  margin: 0;
  padding: 0 12px;
  border-radius: var(--button-border-radius);
  min-block-size: var(--button-height);

  & + & {
    margin-inline-start: 6px;
  }
}

input[type="number"] {
  min-block-size: calc(var(--button-height) - 4px);
  padding: 1px;
  border-radius: var(--button-border-radius);

  /* sizes: chars + 8px padding + 1px borders + spin buttons 25+2+10px  */
  input[type="number"].size3 {
    inline-size: calc(3ch + 55px);
  }
  &.size5 {
    inline-size: calc(5ch + 55px);
  }

  &::-moz-number-spin-box {
    padding-inline-start: 10px;
  }

  &::-moz-number-spin-up,
  &::-moz-number-spin-down {
    appearance: none;
    min-inline-size: 25px;
    border: 1px solid var(--border-color);
    border-radius: 0;
    background-color: var(--button-background-color);
    background-position: center;
    background-repeat: no-repeat;
    -moz-context-properties: stroke;
    stroke: currentColor;
  }

  &::-moz-number-spin-up:hover,
  &::-moz-number-spin-down:hover {
    background-color: var(--button-background-color-hover);
  }

  &::-moz-number-spin-up {
    min-block-size: calc(var(--button-height) * 0.5 - 3px);
    border-block-end-width: 1px;
    border-block-end-style: solid;
    border-start-end-radius: var(--button-border-radius);
    background-image: var(--icon-nav-up-sm);
  }

  &::-moz-number-spin-down {
    min-block-size: calc(var(--button-height) * 0.5 - 4px);
    border-end-end-radius: var(--button-border-radius);
    background-image: var(--icon-nav-down-sm);
  }
}

input:is([type="email"], [type="tel"], [type="text"], [type="password"], [type="url"]) {
  border: 1px solid var(--toolbar-field-border-color);
  border-radius: var(--button-border-radius);
  padding-block: initial;
  /* it should be --button-height but input doesn't include the border */
  min-block-size: calc(var(--button-height) - 2px);
}
