/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.data-public {
  display: none;
}

#safe-mode-box > h3 {
  margin-top: 0;
}

#check-show-private-data {
  margin-inline-start: 10px;
  margin-inline-end: 3px;
  vertical-align: text-bottom;
}

.gray-text {
  color: #888;
}

.thead-level2 > th {
  background-color: #ebebeb;
  color: #333;
}

td.data-private {
  background-color: #ff9;
}

.calendar-table > thead > th:nth-of-type(1) {
  width: 25%;
}

.calendar-table + .calendar-table {
  margin-top: 50px;
}

.calendar-table caption {
  margin-bottom: 5px;
  font-weight: bold;
}
