/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDownloads {
  background-color: #f9f9fa;
  color: #0c0c0d;
  padding: 18px;
}

#msgDownloadsListEmptyDescription {
  margin: 1em;
  text-align: center;
  color: GrayText;
}

#msgDownloadsRichListBox {
  /** The default listbox appearance comes with an unwanted margin. **/
  -moz-appearance: none;
  margin: 0;
  border: 1px solid hsla(210,4%,10%,.14);
}

#msgDownloadsRichListBox > richlistitem.download {
  height: 6em;
  border-bottom: 1px solid #f1f1f1;
}

#clearDownloads {
  margin-inline-start: 0;
}

#searchBox {
  margin-inline-end: 0;
  padding-inline-start: 5px;
}

.fileTypeIcon {
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  margin-top: 12px;
  /* explicitly size the icon, so size doesn't vary on hidpi systems */
  max-height: 32px;
  width: 32px;
}

.fileName {
  margin-bottom: 3px;
  cursor: inherit;
}

.size,
.startDate {
  opacity: 0.7;
  font-size: 95%;
  cursor: inherit;
}
