/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@media (prefers-color-scheme: dark) {
  :root {
    --in-content-button-background: rgba(249, 249, 250, 0.1);
    --in-content-button-background-hover: rgba(249, 249, 250, 0.15);
    --in-content-button-background-active: rgba(249, 249, 250, 0.2);
    --in-content-primary-button-background: #45a1ff;
    --in-content-primary-button-background-hover: #65c1ff;
    --in-content-primary-button-background-active: #85e1ff;
    --in-content-focus-outline-color: #45a1ff;
  }
}

#support-buttons {
  display: flex;

  & > div {
    display: inherit;
    align-items: center;
  }
}

#contents.show-private-data .data-public {
  display: none;
}

#contents:not(.show-private-data) .data-private {
  display: none;
}

#safe-mode-box > h3 {
  margin-top: 0;
}

#check-show-private-data {
  margin-inline-end: 3px;
  vertical-align: text-bottom;
}

.gray-text {
  color: #888;
}

.thead-level2 > th {
  background-color: hsl(0, 0%, 60%);
}

td.data-private {
  background-color: #ff9;
  color: #333;
}

.calendar-table {
  & + & {
    margin-top: 3em;
  }

  & > thead > th:nth-of-type(1) {
    width: 25%;
  }

  & caption {
    margin-bottom: 5px;
    font-weight: bold;
  }
}
