/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== accountManage.css ==============================================
  == Styles for the Mail Account Manager.
  ======================================================================= */

@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://global/skin/in-content/common.css");
@import url("chrome://messenger/skin/preferences/preferences.css");

window > vbox {
  padding-block: 40px;
  padding-inline: 24px 28px;
}

#containerBox {
  max-width: 800px;
}

fieldset {
  margin: 0 0 32px;
  padding: initial;
}

fieldset:last-of-type {
  margin-bottom: 0;
}

#accountTreeBox {
  background-image: linear-gradient(to left, transparent, transparent 3px,
                    var(--in-content-categories-background) 3px);
  padding-block: 28px;
  padding-inline: 28px 4px;
}

#accountTreeBox:-moz-locale-dir(rtl) {
  background-image: linear-gradient(to right, transparent, transparent 3px,
                    var(--in-content-categories-background) 3px);
}

#accounttree {
  background-color: transparent;
  border-style: none;
}

#accounttree > treecols {
  border-bottom-style: none;
}

/* Styles for the Account Actions button */

#accountActionsButton {
  margin-inline: 0;
  border-end-end-radius: 0;
  border-start-end-radius: 0;
}

#accountActionsDropdown {
  -moz-appearance: none;
  min-width: 32ch;
  font-size: 1em;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 2px;
  background-color: var(--in-content-box-background);
}

#accountActionsDropdown menuitem {
  -moz-appearance: none;
  color: var(--in-content-text-color);
  padding-block: 0.2em;
  padding-inline: 10px 30px;
}

#accountActionsDropdown > menuitem:not([disabled="true"])[_moz-menuactive="true"] {
  color: var(--in-content-text-color);
  background-color: var(--in-content-item-hover);
}

#accountActionsDropdown > menuitem:not([disabled="true"])[selected="true"] {
  color: var(--in-content-selected-text);
  background-color: var(--in-content-item-selected);
}

#accountActionsDropdown > menuitem[disabled="true"] {
  color: #999;
  /* override the [_moz-menuactive="true"] background color from
     global/menu.css */
  background-color: transparent;
}

#accountActionsDropdown menuseparator {
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--in-content-box-border-color);
  border-bottom: none;
}

#archiveHierarchyButton,
#globalJunkPrefsLink {
  margin-inline-end: 8px;
}

/* ::::: account manager :::::: */

.header {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.4em;
  margin-block: 16px 4px;
  padding-bottom: 0;
}

.input-container:not([hidden="true"]) {
  display: flex;
}

.input-container:not([hidden="true"]) > .input-inline {
  flex: 1;
}

.identity-table {
  margin-inline-end: 14px;
}

.folderMenuItem::part(dropmarker) {
  -moz-image-region: auto;
}

menupopup[is="folder-menupopup"] {
  -moz-appearance: none;
}

menulist > menupopup menu,
menulist > menupopup menuitem {
  padding-inline-end: 5px;
}

/* Needed for additional menupopup levels */
menulist > menupopup menupopup {
  -moz-appearance: none;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 2px;
  background-color: var(--in-content-box-background);
}

menulist > menupopup menupopup > menu:not([disabled="true"])[_moz-menuactive="true"],
menulist > menupopup menupopup > menuitem:not([disabled="true"])[_moz-menuactive="true"] {
  color: var(--in-content-text-color);
  background-color: var(--in-content-item-hover);
}

menulist > menupopup menupopup > menu:not([disabled="true"])[selected="true"],
menulist > menupopup menupopup > menuitem:not([disabled="true"])[selected="true"] {
  color: var(--in-content-selected-text);
  background-color: var(--in-content-item-selected);
}

menulist > menupopup menupopup > menu[disabled="true"],
menulist > menupopup menupopup > menuitem[disabled="true"] {
  color: #999;
  /* override the [_moz-menuactive="true"] background color from
     global/menu.css */
  background-color: transparent;
}

menulist > menupopup .menu-right {
  -moz-appearance: none;
  -moz-context-properties: fill;
  list-style-image: url("chrome://messenger/skin/icons/back-12.svg");
  -moz-image-region: auto;
  fill: currentColor;
}

menulist > menupopup .menu-right:-moz-locale-dir(ltr) {
  transform: scaleX(-1);
}

menulist > menupopup menupopup menuseparator {
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--in-content-box-border-color);
  border-bottom: none;
}

.specialFolderPickerGrid {
  margin-inline-start: 20px;
}

.fccReplyFollowsParent {
  margin-inline-start: 20px;
}

.signatureBox {
  font-family: -moz-fixed;
}

richlistitem[default="true"],
#identitiesList > richlistitem:first-child {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(isDefaultServer-true) {
  text-decoration: underline;
}

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-smtp) {
  list-style-image: url("chrome://messenger/skin/icons/outbox.svg");
}

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-im) {
  list-style-image: url("chrome://messenger/skin/icons/chat.svg");
}

#accounttree treechildren::-moz-tree-indentation {
  width: 1ch;
}

.label-inline {
  margin-block: auto;
  min-width: 200px;
}

#defaultPort,
#servertypeVerbose,
#identityHtmlSigFormat {
  margin-inline-start: 4px;
}

#autosyncNotDownload {
  margin-inline-end: 12px;
}

/* ::::: SMTP Server Panel :::::: */

.smtpServerListItem {
  padding-inline-start: 3px;
}

#smtpServerInfoBox {
  padding: 9px;
  border: 1px solid var(--in-content-border-color);
  border-radius: 4px;
  background-color: rgba(215, 215, 219, 0.2);
}

#smtpServerInfoBox label {
  height: 30px;
  margin-block: 0;
  padding-block: 3px;
}

#smtpServerInfoBox .input-container {
  display: flex;
  height: 30px;
}

.input-container > .plain {
  flex: 1;
  background-color: transparent;
  border-style: none;
  padding-block: 0;
}

#smtpServerInfoBox textbox {
  background-color: transparent;
}

#archiveTree > treechildren {
  background-color: -moz-Field;
}

/* ::::: dialog header ::::: */

.dialogheader-title {
  margin-block: 0 8px;
  margin-inline-start: 0;
  font-size: 1.46em;
  font-weight: 300;
  line-height: 1.3em;
  color: var(--in-content-text-color);
}

.identity-table th {
  font-weight: normal;
  text-align: left;
}

.identity-table td {
  padding-inline-end: 10px;
}

.identity-table td input {
  width: 100%;
}
