/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

form {
  grid-row: header / footer;

  .hub-body {
    align-items: stretch;
    justify-content: flex-start;
    place-self: center;
    gap: 0;
    width: 100%;
    max-width: 400px;
    text-align: start;
    margin-inline: 0;
  }

  details {
    &[open=""] {
      span:first-of-type {
        display: none;
      }

      span:last-of-type {
        display: flex
      }
    }

    span:first-of-type {
      display: flex;
    }

    span:last-of-type {
      display: none;
    }
  }

  .hub-body.flex-direction-row {
    max-width: 700px;
  }

  label {
    font-size: 1.1rem;
    line-height: 1;
    margin-block-end: 3px;
  }

  .input-field {
    flex: 1;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 9px 14px;
    min-height: var(--hub-input-height);
    border: 1px solid var(--hub-input-border-color);
  }

  .menulist {
    margin: 4px 0;
    padding-inline-start: 6px;
    padding-block: 0;
    line-height: 2;
    border: 1px solid var(--hub-input-border-color);
    border-radius: var(--hub-input-border-radius);

    &:hover {
      border-color: var(--hub-input-border-color);
    }
  }

  .menupopup {
    --arrowpanel-padding: 4px 0;
    --panel-background: var(--arrowpanel-background);
    --panel-color: var(--arrowpanel-color);
    --panel-border-color: var(--arrowpanel-border-color);
    --panel-border-radius: var(--arrowpanel-border-radius);
    --panel-padding: var(--arrowpanel-padding);
    --menu-color: var(--arrowpanel-color);
    --menu-border-color: var(--arrowpanel-border-color);
    --menu-background-color: var(--arrowpanel-background);
  }

  xul|menulist > xul|menupopup xul|menuitem {
    padding-block: var(--menu-item-padding);
  }

  legend {
    margin-block: 0 10px;
    background-color: var(--hub-account-primary-button-background);
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--hub-button-color);
  }
}

div:has(legend) {
  display: flex;
}

.input-control {
  display: flex;
  align-items: center;
  margin-block-end: 21px;
}

.input-control.vertical {
  flex-direction: column;
  align-items: stretch;
}

.form-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: color-mix(in srgb, currentColor 20%, transparent);
  stroke: currentColor;
  fill-opacity: 0.7;
  margin-inline: -26px 10px;

  &.notification-icon {
    margin-inline: 0 10px;
    height: 16px;
    width: 16px;

    &.warning-icon {
      content: var(--icon-warning);
    }
  }
}

.notification-bar {
  background-color: var(--hub-notification-background-color-warning);
  padding: 6px 16px;
  border-radius: 4px;
  box-shadow: var(--hub-box-shadow);
  text-align: start;
  margin: 16px 75px 5px;
  color: var(--color-gray-90);

  &[aria-disabled="true"] {
    pointer-events: none;
  }

  .notification-title-container {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      font-size: 1.1rem;
      padding-inline-start: 5px;
      text-decoration: underline;
      margin-inline-start: auto;
      white-space: nowrap;
    }
  }

  .notification-title {
    font-size: 1.1rem;
    margin-block: 4px;
  }

  .notification-text {
    margin-block: 6px;
    font-size: 1rem;
  }
}

.form-toggle-button {
  cursor: pointer;
  appearance: none;
  background: transparent;
  border: none;
  padding: 0 4px;
  margin-inline: -30px 6px;
  min-width: auto;
  min-height: auto;
  margin-block: 0;
  line-height: 0;
}

.form-toggle-button:hover,
.form-toggle-button:active {
  background-color: transparent !important;
}

.form-toggle-button .form-icon {
  pointer-events: none;
  margin-inline: 0;
}

#password:placeholder-shown + .form-toggle-button {
  display: none;
}

#password[type="password"] + .form-toggle-button .form-icon {
  content: var(--icon-hidden);
}

#password[type="text"] + .form-toggle-button .form-icon {
  content: var(--icon-eye);
}

#password[type="text"] + .form-toggle-button {
  color: var(--in-content-primary-button-background);
  fill: color-mix(in srgb, currentColor 20%, transparent);
  stroke: currentColor;
}

.icon-warning {
  display: none;
  color: var(--orange-50);
  fill-opacity: 1;
}

input:user-invalid ~ .form-icon {
  display: none;
}

input:user-invalid ~ .icon-warning {
  display: inline-block;
}

.remember-button-container {
  margin-block-start: -18px;
}

#accountHubFooterMenu {
  background-color: transparent;
}
