/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

.warningicon {
  width: 16px;
  height: 16px;
  background: url("chrome://global/skin/icons/warning.svg") no-repeat;
  margin-top: 5px;
}

.insecureLarry {
  height: 64px;
  width: 64px;
  padding: 0;
  background: url("chrome://global/skin/icons/sslWarning.png") no-repeat;
}

.secureLarry {
  height: 64px;
  width: 64px;
  padding: 0;
  background: url("chrome://messenger/skin/icons/identity.png") no-repeat;
}

#warningbox {
  background: #333 none repeat scroll 0% 0%;
  padding: 1em;
  overflow: auto;
}

.warning {
  padding: 2em;
  border-radius: 10px;
  background-color: #722;
  border: 1px solid ThreeDShadow;
}

.warning_text {
  color: white;
  font-size: 120%;
}

.warning_text > vbox {
  padding-top: 5px;
}

.warning-heading {
  border-bottom: 1px solid ThreeDLightShadow;
  font-size: 160%;
  margin: 0;
  padding: 2px 2px 1px;
}

.warning_settings {
  color: yellow;
  font-weight: bold;
  margin: 0;
  margin-right: 2px;
}

.larrybox {
  padding-inline-end: 2em;
}

checkbox.acknowledge_checkbox {
  padding-top: .5em;
}

.title {
  font-weight: bold;
  padding: 0 3px;
}

.details {
  font-style: italic;
  padding: 3px;
}

.popup-panel {
  padding: 2px 3px;
  background-color: #ffffc7;
  max-width: 320px;
}

.protocol {
  width: 8em;
}

.protocol > label {
  padding-inline-start: 6px;
}

.security {
  width: 10em;
}

textbox.port {
  width: 4em;
}

textbox.username {
  margin-bottom: 4px !important;
  margin-top: 4px !important;
}

.auth,
.host,
textbox.username {
  width: 15em;
}

.technical_details {
  cursor: pointer;
  margin: 0;
  padding-left: 20px;
  background: url("chrome://messenger/skin/section_collapsed.png") left 0 no-repeat;
}

.technical_details[expanded] {
  background-image: url("chrome://messenger/skin/section_expanded.png");
}

.label-box {
  min-width: 9em;
}

.textbox-box {
  min-width: 12em;
}

.align-end {
  text-align: end;
}

.textbox-label {
  text-align: right;
}

.result-host-info {
  margin: 0;
  margin-inline-start: 6px;
  padding: 0;
}

#result-username {
  margin-top: 1px;
  margin-bottom: 2px;
  padding-top: 0;
}

#initialSettings {
  margin-bottom: 1em;
}

#manual-edit_area {
  margin-bottom: 2em;
}

/* status area */

#status_msg {
  min-height: 1.5em;
  max-width: 30em;
}

#status-lines {
  -moz-box-pack: start;
  -moz-box-flex: 10;
  margin-left: 10em;
}

.status-line[status="loading"] .status-img {
  background: url("chrome://global/skin/icons/loading.png") no-repeat;
  width: 16px;
  height: 16px;
}

.status-line[status="failed"] .status-img {
  background: url("chrome://messenger/skin/icons/exclude.png") no-repeat;
  width: 16px;
  height: 16px;
}

.status-line[status="succeeded"] .status-img {
  background: url("chrome://messenger/skin/icons/tick.png") no-repeat;
  width: 16px;
  height: 16px;
}

#status_area[status=loading] #status_msg {
  font-weight: bold;
}

#status_area[status=error] #status_msg {
  font-weight: bold;
}

#status_area[status=error] #status_img_before {
  background: url("chrome://global/skin/icons/warning.svg") no-repeat;
  background-position-y: 3px;
  width: 16px;
  height: 16px;
}

#status_area[status=loading] #status_img_after {
  background: url("chrome://global/skin/icons/loading.png") no-repeat;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

@media (min-resolution: 1.1dppx) {
  #status_area[status=loading] #status_img_after {
    background-image: url("chrome://global/skin/icons/loading@2x.png");
  }
}

/* result area */

#result_area {
  margin-bottom: 1em;
}

textbox.result-host-info > label {
  margin-left: 0;
  margin-right: 0;
}

textbox.result-host-info > label.host-without-domain,
textbox.result-host-info > label.ssl,
textbox.result-host-info > label.certStatus {
  margin-left: 0.4em;
}

textbox.result-host-info > label.domain {
  font-weight: bold;
}

textbox.result-host-info > label.insecure {
  color: red;
  font-weight: bold;
}

#result_servertype {
  margin-bottom: 1.5em;
}

#result_exchange_hostname_container {
  margin-bottom: 0.5em;
}

#result_area description {
  margin-top: 0px;
  margin-bottom: 0px;
}

#result_addon_intro {
  max-width: 40em;
}

#result_addon_install {
  margin-top: 4px;
}

#result_addon_install image.icon {
  width: 32px;
  height: 32px;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

#result_addon_install_column_link {
  max-width: 30em;
}

#result_addon_install_column_button {
  max-width: 10em;
}
