/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");
@import url("chrome://messenger/skin/preferences/preferences.css");

:root {
  --addon-bg: #f8f8f8;
  --addon-border: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --addon-bg: #333;
    --addon-border: #111;
  }
}

:root,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-flex: 1;
  overflow: auto;
}

header {
  margin: 3rem 4rem;
}

.title {
  font-size: 2.2rem;
}

.description {
  line-height: 1.45em;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 4rem 3rem;
  max-width: 80rem;
}

.column {
  flex: 1;
  min-width: 400px;
}

.first-column {
  max-width: 425px;
}

.second-column {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 57rem) {
  .second-column {
    max-width: 425px;
    margin-top: 2rem;
  }

  .second-column img {
    display: none;
  }
}

.second-column article p {
  max-width: 40rem;
  padding-inline: 4rem;
}

#form {
  display: flex;
  flex-direction: column;
}

#form label {
  font-size: 1rem;
  line-height: 1em;
  margin-block-end: 3px;
}

.input-control {
  display: flex;
  align-items: center;
  margin-block-end: 21px;
}

.input-control.vertical {
  flex-direction: column;
  align-items: stretch;
}

#form .input-field {
  flex: 1;
  font-size: 0.9em;
  margin-inline: 0;
  padding-block: 0;
  padding-inline-end: 33px;
  min-height: 35px;
  border-radius: 3px;
}

.form-icon {
  cursor: pointer;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: 0.7;
  margin-inline: -26px 10px;
}

.icon-warning {
  display: none;
  color: var(--orange-50);
  fill-opacity: 1;
}

input:user-invalid ~ .form-icon {
  display: none;
}

input:user-invalid ~ .icon-warning {
  display: inline-block;
}

.provisioner-button-container {
  display: flex;
  justify-content: end;
}

.btn-link {
  appearance: none;
  background-color: transparent !important;
  color: var(--in-content-link-color) !important;
  border-style: none;
  padding: 0 3px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  min-height: auto;
  border-radius: 3px;
}

.btn-link-new-email {
  margin: -18px 0 2px;
}

.btn-link:hover {
  color: var(--in-content-link-color-hover) !important;
  text-decoration: underline;
}

.btn-link:focus-visible {
  outline-offset: 1px;
}

.password-toggled {
  color: var(--in-content-primary-button-background);
  fill: currentColor;
}

.remember-button-container {
  display: flex;
  justify-content: start;
  margin-block: -15px 24px;
}

.action-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-inline: -6px;
}

.action-buttons-container aside {
  display: flex;
  align-items: center;
}

.action-buttons-container button {
  border-radius: 3px;
}

#accountSetupNotifications {
  display: flex;
  flex-direction: column;
  margin-inline: -4px;
}

#accountSetupNotifications .notificationbox-stack {
  margin-block-end: 15px;
}

/* Results area */

#resultsArea:not([hidden]) {
  display: flex;
  flex-direction: column;
  margin-block-end: 15px;
}

.section-title {
  margin-block: 0 12px;
}

.autoconfigautoconfig-note {
  margin-block: 10px 0;
  font-size: 0.85em;
}

.content-blocking-category {
  border-radius: 4px;
  margin: 3px 0;
  padding: 9px;
  border: 1px solid var(--in-content-border-color);
  background-color: rgba(215, 215, 219, 0.2);
}

.content-blocking-category.selected {
  border: 1px solid #45A1FF;
  background-color: rgba(69, 161, 255, 0.2);
}

.content-blocking-category.selected .result-details {
  display: flex;
}

.result-details {
  display: none;
  flex-direction: column;
  font-size: 0.9em;
}

.result-details-grid {
  display: grid;
  grid-template-columns: auto max-content 1fr;
  row-gap: 6px;
  align-items: center;
  margin-block: 9px;
  margin-inline-start: 21px;
}

.result-details-grid img {
  -moz-context-properties: fill;
  fill: currentColor;
  color: inherit;
  margin-inline-end: 6px;
}

.result-details-grid h4 {
  margin-block: 0;
  margin-inline-end: 12px;
}

.toggle-container-with-text {
  flex-wrap: wrap;
}

.toggle-container-with-text span {
  flex: 1;
  line-height: 1.4em;
}

.strong {
  font-weight: 600;
}

.result-indent {
  margin-inline-start: 21px;
  margin-block: 0;
  width: 100%;
}

/* Confirmation dialog */

.account-setup-dialog {
  max-width: 500px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 6px -5px #000;
}

.account-setup-dialog::backdrop {
  background: rgba(0, 0, 0, 0.35);
}

.dialog-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.dialog-container.vertical {
  flex-direction: column;
  align-items: stretch;
}

.dialog-header-image {
  -moz-context-properties: fill;
  fill: var(--in-content-primary-button-background);
  margin-inline-end: 12px;
  height: 32px;
}

.dialog-description {
  margin-block: 0.2em;
  line-height: 1.4em;
}

.dialog-menu-container {
  display: flex;
  align-items: center;
  margin-block-end: 0;
  margin-inline: 0;
  padding-inline: 0;
  justify-content: end;
}

.dialog-menu-container.two-columns {
  justify-content: space-between;
}

/* Insecure dialog */

.account-setup-dialog.dialog-critical {
  max-width: 700px;
  box-shadow: 0 2px 20px -8px var(--red-70);
}

.warning-title {
  display: flex;
  align-items: center;
  margin-top: 0;
  background-color: var(--red-60);
  color: #fff;
  border-radius: 3px;
  padding: 6px;
}

.warning-icon {
  fill: #fff;
}

.insecure-section h3 {
  margin-top: 0;
}

.insecure-section-description {
  font-size: 1.05rem;
  line-height: 1.5em;
}

.dialog-footnote {
  margin-inline: 6px;
  font-size: 1.05rem;
  line-height: 1.4em;
}

/* Manual config area */

#manualConfigArea {
  margin-block-end: 15px;
}

#manualConfigArea select,
#manualConfigArea input:not([type="radio"],[type="checkbox"]) {
  margin: 0;
  width: 4em;
  flex: 1;
}

#manualConfigArea select {
  padding-inline-start: 9px;
  margin-block: 0;
}

#manualConfigArea select:not([size], [multiple]) {
  background-position-x: right 10px;
}

#manualConfigArea select:not([size], [multiple]):dir(rtl) {
  background-position-x: left 10px;
}

#manualConfigArea select > option {
  padding-inline-start: 11px;
}

#manualConfigArea legend {
  margin-top: 0;
  background-color: var(--in-content-primary-button-background);
  border-radius: var(--in-content-button-border-radius);
  padding: 2px 6px;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: var(--in-content-primary-button-text-color);
}

#manualConfigArea input[type="number"] {
  width: calc(2ch + 60px);
  text-align: end;
}

.manual-config-grid {
  display: grid;
  row-gap: 12px;
}

.manual-config-grid ~ .manual-config-grid {
  margin-top: 15px;
}

.manual-config-grid aside {
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 6px;
  align-items: center;
}

.manual-config-grid .input-control {
  align-items: initial;
  margin-block-end: 0;
}

.manual-config-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
}

.option-label {
  font-size: 1rem;
  line-height: 1em;
  font-weight: 500;
}

.link-row {
  display: flex;
  justify-content: end;
}

#outgoingProtocol {
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: 500;
  margin-inline: 4px;
}

.foot-note {
  line-height: 1.5em;
  font-size: 0.85em;
  margin-block-start: 21px;
}

/* Result area */

.result-host-info {
  display: flex;
  align-items: center;
  padding-block: 0;
  background-color: transparent !important;
  appearance: none;
  white-space: nowrap;
  overflow: hidden;
}

.result-host-info > .protocol-type {
  display: inline-block;
  text-transform: uppercase;
  padding: 1px 4px;
  font-size: 0.8rem;
  margin-inline-end: 5px;
  font-weight: bold;
  border-radius: 2px;
  background-color: var(--in-content-primary-button-background);
  color: var(--in-content-primary-button-text-color);
}

.result-host-info > span {
  margin-inline: 0;
}

.result-host-info > .ssl {
  margin-inline-start: 0.4em;
}

.result-host-info > .domain {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.result-host-info > .insecure {
  display: inline-block;
  padding: 2px 4px;
  font-size: 0.8rem;
  margin-inline-end: 5px;
  font-weight: bold;
  border-radius: 2px;
  line-height: 1rem;
  background-color: var(--red-70);
  color: var(--btn-bg-hover);
}

.cert-status.insecure {
  margin: 0 0 5px 0;
  color: var(--red-70);
}

#installAddonInfo {
  background-color: var(--addon-bg);
  padding: 3px 6px;
  border-radius: 3px;
  border: 1px solid var(--addon-border);
}

#resultAddonIntro {
  margin-block: 3px 12px;
}

#resultAddonInstallRows .icon {
  width: 32px;
  height: 32px;
  margin-inline-end: 6px;
}

.addon-container {
  display: flex;
  align-items: center;
}

.link {
  flex: 1;
  line-height: 1.2em;
}

input[disabled],
select[disabled] {
  opacity: 0.5;
}
