/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");
@import url("chrome://messenger/skin/variables.css");
@import url("chrome://messenger/skin/colors.css");
@import url("chrome://messenger/skin/widgets.css");
@import url("chrome://messenger/skin/inContentDialog.css");
@import url("chrome://messenger/skin/accountHubForms.css");

dialog {
  --hub-button-color: light-dark(var(--color-gray-90), var(--color-gray-05));
  --hub-button-background: light-dark(var(--color-white), var(--color-gray-90));
  --hub-account-button-background: light-dark(transparent, var(--color-gray-70));
  --hub-account-button-background-hover: light-dark(var(--color-ink-10), var(--color-gray-80));
  --hub-account-button-background-hover-active: light-dark(var(--color-gray-10), var(--color-gray-90));
  --hub-account-button-border-color: light-dark(var(--color-gray-30), var(--color-gray-60));
  --hub-account-primary-button-color: var(--color-neutral-base);
  --hub-account-primary-button-background: var(--color-primary-default);
  --hub-account-primary-button-background-hover: var(--color-primary-hover);
  --hub-account-primary-button-background-active: var(--color-primary-pressed);
  --hub-account-primary-button-background-focus: var(--color-primary-hover);
  --hub-account-primary-button-border: var(--color-primary-hover);
  --hub-account-primary-button-border-active: var(--color-primary-pressed);
  --hub-account-secondary-button-color: light-dark(#18181b, #eeeef0);
  --hub-account-secondary-button-background: var(--color-neutral-subtle);
  --hub-account-secondary-button-background-hover: light-dark(var(--color-neutral-subtle), var(--color-neutral-base));
  --hub-account-secondary-button-background-active: light-dark(var(--color-neutral-border), var(--color-neutral-lower));
  --hub-account-secondary-button-background-focus: light-dark(var(--color-neutral-subtle), var(--color-neutral-base));
  --hub-account-secondary-button-border: var(--color-neutral-border);
  --hub-account-secondary-button-border-active: var(--color-neutral-border-intense);
  --hub-account-button-outline-focus: var(--color-primary-hover);
  --hub-account-button-hover-active-color:  light-dark(var(--color-neutral-border), var(--color-neutral-lower));
  --hub-account-footer-link-color: var(--color-primary-default);
  --hub-border-color: light-dark(var(--color-primary-soft), var(--color-primary-default));
  --hub-divider-color: var(--color-neutral-base);
  --hub-loader-background: var(--color-neutral-base);
  --hub-loader-color: var(--color-primary-default);

  --hub-box-shadow: 0 2px 4px rgba(58, 57, 68, 0.3);
  --hub-input-height: 33px;
  --hub-input-border-radius: 3px;
  --hub-input-border-color: color-mix(in srgb, currentColor 50%, transparent);
  --hub-close-button-color: light-dark(#18181b, #eeeef0);
  --hub-close-button-hover-background: var(--color-neutral-subtle);
  --hub-close-button-active-background:var(--color-text-muted);
  --hub-close-button-focus-background: var(--color-neutral-subtle);
  --hub-close-button-focus-outline-color: var(--color-neutral-border-intense);
  /* TODO: apply dark mode styling */
}

@media (prefers-contrast) {
  dialog {
    --hub-button-color: currentColor;
    --hub-button-background: transparent;
    --hub-account-button-background: transparent;
    --hub-account-button-background-hover: transparent;
    --hub-account-button-background-hover-active: transparent;
    --hub-account-button-border-color: AccentColor;
  }
}

/* Dialog container */

.account-hub-dialog {
  display: grid;
  width: 800px;
  min-height: 600px;
  overflow: initial;
  padding: 0;
  box-shadow: none;

  &::after {
    --hub-blur-radius: 15px;
    content: '';
    position: absolute;
    inset-block-end: -2px;
    inset-inline: calc(2 * var(--hub-blur-radius) + 5px);
    min-height: calc(3 * var(--hub-blur-radius));
    background: linear-gradient(to right, rgba(159, 244, 240, 1), rgba(76, 177, 249, 1), rgba(168, 85, 247, 1));
    filter: blur(var(--hub-blur-radius));
    z-index: -1;
  }

  @media (prefers-color-scheme: dark) {
    &::after {
      background: linear-gradient(to right, rgb(11, 140, 134, 1), rgba(28, 99, 149, 1));
    }
  }
}

.account-hub-view:not([hidden]),
.account-hub-form,
.account-hub-grid {
  display: grid;
  grid-template: "header" min-content
    "body" minmax(auto, 1fr) "footer" min-content;
  text-align: center;
  z-index: 1;
}

.account-hub-form {
  padding-block-start: 45px;
}

.account-hub-view:not([hidden]) {
  padding-inline: 20px;
  padding-block: 40px 20px;
  border-radius: inherit;
  border: 1px solid var(--hub-border-color);
  /* Background color to better hide loading of the webp (>=100ms) */
  background-color: var(--color-neutral-base);
  background-image: url("chrome://messenger/skin/images/accounthub-bg-light.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (prefers-color-scheme: dark) {
    background-image: url("chrome://messenger/skin/images/accounthub-bg-dark.webp");
  }

  &.busy {
    cursor: wait;
  }

  #loadingOverlay {
    display: none;
    opacity: 0;
  }

  &.spinner #loadingOverlay {
    display: grid;
    position: absolute;
    inset: 0;
    place-items: center;
    background-color: var(--hub-loader-background);
    opacity: 0.8;
    z-index: 2;
    border-radius: inherit;

    @media (prefers-reduced-motion: no-preference) {
      animation: 0.5s linear 0s hub-reveal-loader;
    }
  }
}

@keyframes hub-reveal-loader {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: grid;
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes hub-loader-loading {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.loader-outside {
  --hub-loader-width: 8px;
  --hub-loader-size: 64px;
  --hub-trail-offset: 360deg;

  position: relative;
  height: var(--hub-loader-size);
  aspect-ratio: 1;
  background-image: conic-gradient(
    from 0deg,
    transparent 0deg,
    var(--hub-loader-color) 360deg,
    transparent var(--hub-trail-offset)
  );
  border-radius: 50%;
  pointer-events: none;


  @media (prefers-reduced-motion: no-preference) {
    animation: 1.1s cubic-bezier(0.61, 0.12, 0, 0.99) 0s infinite hub-loader-loading;
  }

  &::before {
    content: '';
    position: absolute;
    inset: var(--hub-loader-width);
    height: calc(var(--hub-loader-size) - 2 * var(--hub-loader-width));
    aspect-ratio: 1;
    background: var(--hub-loader-background);
    border-radius: 50%;
  }

  .loader-inside {
    position: absolute;
    inset: 0;
    aspect-ratio: 1;
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      height: var(--hub-loader-width);
      aspect-ratio: 1;
      border-radius: 50%;
      background: var(--hub-loader-color);
      inset-block-start: 0;
      inset-inline: calc(50% - var(--hub-loader-width) / 2);
    }
  }
}

/* Typography */

header {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1em;
  margin-block: 0;

  .sub-view-title {
    font-size: 2rem;
    font-weight: 400;
    margin-block-start: 35px;
  }

  .sub-view-subheader {
    font-size: 1.3rem;
    font-weight: 400;
    margin-block-start: 15px;
  }
}

/* Header */

.branding-header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  gap: 11px;

  h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-block: 0 2px;
    align-self: center;
  }
}

#closeButton:not([hidden]) {
  position: absolute;
  inset-inline-end: 15px;
  inset-block-start: 15px;
  z-index: 2;
}

#welcomeHeader > img {
  width: 90px;
  height: 90px;
}

#brandingHeader > img {
  width: 45px;
  height: 45px;
}

#brandingHeader .branding-header-name {
  font-size: 1.3rem;
  font-weight: 500;
  padding-block-end: 2px;
}

#brandingHeader .branding-header-title {
  font-size: 2.8rem;
  font-weight: 200;
  letter-spacing: 1px;
}

#welcomeHeader h1 {
  font-size: 1.4rem;
  gap: 12px;
}

#welcomeHeader h1 > span {
  font-size: 2.5rem;
}

#welcomeHeader h1 > span > small {
  font-size: 1rem;
  font-weight: 400;
}

.hub-header {
  grid-area: header;
}

/* Body */

.hub-body {
  grid-area: body;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-inline: 30px;
  max-height: 40vh;

  &.flex-direction-row {
    flex-direction: row;
  }

  &.auto-config-body {
    max-width: 650px;
  }

  &.manual-form-body {
    max-width: 500px;
    gap: 10px;

    & .form-row {
      display: grid;
      grid-template-columns: 115px 1fr;
      gap: 10px;

      &.responsive-row {
        grid-template-columns: auto 1fr;
      }

      & .expanded {
        flex: 1;
      }
    }
  }

  &.password-form-body {
    gap: 25px;
  }
}

.hub-body-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-inline-end: 1px solid var(--hub-account-button-border-color);
  overflow-y: auto;
  margin-block: 20px;
  padding-inline: 20px
}

.hub-body-grid {
  display: flex;
  gap: 21px;
  flex-wrap: wrap;
  justify-content: center;
}

.button-account {
  width: 170px;
  min-height: 93px;
  font-size: 1.2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin: 0;
  padding: 12px;
  color: var(--hub-button-color);
  background-color: var(--hub-account-button-background);
  border: 1px solid var(--hub-account-button-border-color);
  box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.3), inset 0 0 0 transparent;
}

.button-account:hover {
  color: var(--hub-button-color) !important;
  background-color: var(--hub-account-button-background-hover) !important;
  box-shadow: 0 8px 12px -8px rgba(0, 0, 0, 0.3), inset 0 0 0 transparent;
}

.button-account:hover:active {
  color: var(--hub-button-color) !important;
  background-color: var(--hub-account-button-background-hover-active) !important;
  box-shadow: 0 0 0 transparent, inset 0 4px 6px -2px rgba(0, 0, 0, 0.4);
}

.button-account::before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  -moz-context-properties: fill, stroke;
  fill: color-mix(in srgb, var(--primary) 10%, transparent);
  stroke: var(--primary);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

#emailButton::before {
  background-image: var(--icon-mail-lg);
}

#newEmailButton::before {
  background-image: var(--icon-new-mail);
}

#calendarButton::before {
  background-image: var(--icon-calendar-lg);
}

#addressBookButton::before {
  background-image: var(--icon-address-book-lg);
}

#chatButton::before {
  background-image: var(--icon-chat-lg);
}

#feedButton::before {
  background-image: var(--icon-rss);
}

#newsgroupButton::before {
  background-image: var(--icon-newsletter);
}

#importButton::before {
  background-image: var(--icon-import-lg);
}

#hubLoader {
  width: 16px;
  min-height: 16px;
  vertical-align: middle;
  content: url("chrome://messenger/skin/icons/spinning.svg");
  -moz-context-properties: fill;
  fill: var(--selected-item-color);
}

#hubSyncButton {
  align-self: center;
  position: relative;
  padding: 9px 12px;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1;
  border: none;
  color: var(--hub-button-color);
  background-color: var(--hub-button-background);
}

#hubSyncButton:hover {
  color: var(--hub-button-color);
  background-color: var(--hub-account-button-background-hover);
}

#hubSyncButton::before {
  content: var(--icon-account-sync);
  display: inline-block;
  margin-inline-end: 12px;
  vertical-align: middle;
}

#hubSyncButton::after {
  content: '';
  position: absolute;
  background: var(--color-blue-50);
  background-image: linear-gradient(127deg, var(--color-teal-50), var(--color-magenta-50));
  inset: -2px;
  border-radius: 8px;
  filter: blur(10px);
  opacity: 0.6;
  z-index: -1;
  transform: scale(0.95) translateY(5px);
}

#hubSyncButton:hover::after {
  transform: scale(0.85) translateY(8px);
  filter: blur(15px);
}

#hubSyncButton:hover:active::after {
  transform: scale(1) translateY(0px);
  filter: blur(3px);
}

/* Footer */

.hub-footer {
  grid-area: footer;

  .center-column {
    justify-content: center;
  }

  hr {
    border: none;
    height: 1px;
    margin-block: 20px;
    background: linear-gradient(to right, transparent, rgba(26, 32, 44, 0.2), transparent);
    color: transparent;
  }

  @media (prefers-color-scheme: dark) {
    hr {
      background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.4), transparent);
    }
  }

  .footer-button {
    font-size: 1.1rem;
    min-width: 128px;
    padding: 10px 25px;
    text-align: center;
  }

  .footer-primary {
    background-color: var(--hub-account-primary-button-background);
    color: var(--hub-account-primary-button-color);
    border-color: var(--hub-account-primary-button-border);
    box-shadow: 0 6px 3px -4px rgba(21, 66, 124, 0.3);

    &:hover {
      background-color: var(--hub-account-primary-button-background-hover);
      color: var(--hub-account-primary-button-color);
      border-color: var(--hub-account-primary-button-border-active);
      box-shadow: 0 4px 2px -3px rgba(21, 66, 124, 0.3);

      &:active {
        background-color: var(--hub-account-primary-button-background-active);
        color: var(--hub-account-primary-button-color);
        border-color: var(--hub-account-primary-button-border-active);
        box-shadow: none;
      }
    }

    &:active {
      background-color: var(--hub-account-primary-button-background-active);
      color: var(--hub-account-primary-button-color);
      border-color: var(--hub-account-primary-button-border-active);
      box-shadow: none;
    }

    &:focus {
      background-color: var(--hub-account-primary-button-background-focus);
      color: var(--hub-account-primary-button-color);
      outline: 2px solid var(--hub-account-button-outline-focus);
      outline-offset: 1px;
      box-shadow: none;
      border-color: var(--hub-account-primary-button-border-active);
    }
  }

  .footer-secondary {
    background-color: var(--hub-account-secondary-button-background);
    color: var(--hub-account-secondary-button-color);
    border-color: var(--hub-account-secondary-button-border);
    box-shadow: 0 6px 3px -4px rgba(0, 0, 0, 0.1);
    margin-inline-end: 15px;

    &:hover {
      background-color: var(--hub-account-secondary-button-background-hover);
      color: var(--hub-account-secondary-button-color);
      border-color: var(--hub-account-secondary-button-border);
      box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.1);

      &:active {
        background-color: var(--hub-account-secondary-button-background-active);
        color: var(--hub-account-secondary-button-color);
        border-color: var(--hub-account-secondary-button-border-active);
        box-shadow: none;
      }
    }

    &:active {
      background-color: var(--hub-account-secondary-button-background-active);
      color: var(--hub-account-secondary-button-color);
      border-color: var(--hub-account-secondary-button-border-active);
      box-shadow: none;
    }

    &:focus {
      background-color: var(--hub-account-secondary-button-background-focus);
      color: var(--hub-account-secondary-button-color);
      outline: 2px solid var(--hub-account-button-outline-focus);
      outline-offset: 1px;
      box-shadow: none;
      border-color: var(--hub-account-secondary-button-border);
    }
  }
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 3px 10px;
  justify-content: center;
  align-items: baseline;

  li > a {
    font-size: 1.1rem;
    text-decoration: none;
    letter-spacing: 0.2px;
    font-weight: 200;
    color: var(--hub-account-footer-link-color);

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-links li:not([hidden]) ~ li:not([hidden])::before {
  content: "·";
  margin-inline-end: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

/* Animations */

@media (prefers-reduced-motion: no-preference) {
  .button-account {
    transition: background 220ms ease, box-shadow 200ms ease;
  }

  #hubSyncButton {
    transition: background 220ms ease;
  }

  #hubSyncButton::after {
    transition: transform 200ms ease, filter 200ms ease;
  }
}
