/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://global/skin/in-content/common.css");
@import url("chrome://messenger/skin/preferences/preferences.css");

:root {
  --config-bg: rgba(180, 180, 180, 0.1);
  --primary-color: #0a84ff;
  --primary-color-hover: #0060df;
  --result-bg-color: -moz-DialogText;
  --warning-color: #ff9400;
  --warning-bg: #ac0808;
}

@media (prefers-color-scheme: dark) {
  :root {
    --config-bg: rgba(105, 105, 105, 0.05);
    --result-bg-color: #5e5f7a;
  }
}

.hub-container {
  overflow: auto;
}

.hub-wrapper {
  padding: 0 20px;
}

.hub-header {
  padding: 30px 20px;
}

.hub-subtitle {
  font-size: large;
  margin: 0 0 5px;
  text-align: center;
}

/* Footer style */
.hub-footer {
  padding: 20px;
}

.btn-link {
  appearance: none;
  background-color: transparent !important;
  color: var(--primary-color) !important;
  border-style: none;
  outline-width: 1px !important;
  padding: 0;
  font-size: 0.95rem;
  cursor: pointer;
}

.btn-link:hover {
  color: var(--primary-color-hover) !important;
  text-decoration: underline;
}

/* Form Fields style */
.form-control {
  position: relative;
  margin-bottom: 10px;
}

.form-control.no-margin {
  margin-bottom: 0;
}

.input-control {
  display: flex;
  align-items: stretch;
}

.hub-field,
.input-field {
  width: 4rem;
  flex-grow: 1;
}

.hub-field {
  padding-block: 5px;
  padding-inline: 6px 30px;
}

.hub-field[error="true"] {
  box-shadow: 0 0 2px 1px var(--warning-color);
}

.form-icon {
  cursor: pointer;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: 0.7;
  margin-inline: -26px 10px;
  scale: 0.9;
}

.icon-info {
  list-style-image: url("chrome://messenger/skin/icons/information.svg");
}

.icon-hidden {
  list-style-image: url("chrome://messenger/skin/icons/hidden.svg");
}

.icon-visible {
  list-style-image: url("chrome://messenger/skin/icons/visible.svg");
}

.icon-warning {
  list-style-image: url("chrome://global/skin/icons/warning.svg");
  color: var(--warning-color);
  fill-opacity: 1;
}
/* END Form Fields style */

.config-area {
  background-color: var(--config-bg);
  border-style: none;
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 6px;
}

.manual-config-table {
  display: flex;
  flex-direction: column;
}

.manual-config-table tr,
.manual-config-table th,
.manual-config-table td {
  display: flex;
  flex: 1;
  align-items: center;
}

.manual-config-table th > label,
.manual-config-table td > label,
.manual-config-table td > menulist,
.manual-config-table td > .input-control {
  flex: 1;
}

.manual-config-table td > label {
  margin-block: 1px 2px;
  margin-inline: 6px 5px;
}

.manual-config-table td > menulist,
.manual-config-table td .input-field {
  margin-inline-end: 2px;
}

.manual-config-table td > menulist {
  margin-inline: 4px;
}

.manual-config-table td > menulist[is="menulist-editable"] {
  padding-inline: 0 !important;
}

.manual-config-table td > menulist[is="menulist-editable"][editable="true"] {
  margin-inline-end: 4px;
  -moz-default-appearance: auto;
}

.manual-config-table td > menulist[is="menulist-editable"][editable="true"]::part(text-input) {
  padding: 5px 8px;
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
  background-color: var(--in-content-box-background);
  border: 1px solid var(--in-content-box-border-color);
  margin: -1px;
  margin-inline-end: 9px;
  color: inherit;
}

.manual-config-table td > menulist[is="menulist-editable"]:not([editable="true"])::part(text-input) {
  display: none;
}

.manual-config-table td > menulist[is="menulist-editable"][editable="true"]::part(dropmarker) {
  width: 1.5em;
  margin-inline-end: 0;
}

.config-label {
  max-width: 9em;
  font-weight: normal;
}

.column-title {
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
}

.link-row {
  justify-content: end;
}

#mastervbox {
  max-width: 660px;
  min-width: 660px;
}

#form {
  display: flex;
  flex-direction: column;
}

.warningicon {
  width: 16px;
  height: 16px;
  background: url("chrome://global/skin/icons/warning.svg") no-repeat;
  margin-top: 5px;
}

.insecureLarry {
  height: 32px;
  width: 32px;
  padding: 0;
  background: url("chrome://global/skin/icons/security-warning.svg") no-repeat;
  background-size: 32px;
  margin-right: 1em;
}

.secureLarry {
  height: 48px;
  width: 48px;
  padding: 0;
  background: url("chrome://messenger/skin/icons/identity.png") no-repeat;
  background-size: 48px;
}

#warningbox:not([hidden="true"]) {
  background: #333 none repeat scroll 0% 0%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning {
  padding: 1em;
  border-radius: 8px;
  background-color: #722;
  max-width: 50rem;
}

.warning_text {
  color: white;
  font-size: 120%;
}

.warning_text > vbox {
  padding-top: 5px;
}

.warning-header {
  border-bottom: 1px solid ThreeDLightShadow;
  padding-bottom: 0.5em;
}

.warning-heading {
  font-size: 140%;
  margin: 0;
  color: white;
}

.warning_settings {
  color: yellow;
  font-weight: bold;
  margin: 0;
  margin-inline-end: 3px;
}

description {
  margin-block-end: 6px;
}

#confirmationDialog {
  margin-block: 10px;
  padding: 10px;
  background-color: #FFE900;
  color: #333333;
  border: 1px solid #F3CE00;
  border-radius: 2px;
}

#confirmationButtons {
  margin-top: 6px;
}

#confirmationDialog button {
  background-color: -moz-Dialog;
  border: 1px solid ThreeDShadow;
  margin-inline: 5px;
  margin-bottom: 0;
}

#confirmationDialog button:hover,
#confirmationDialog button:focus {
  background-color: #FFFFFF;
}

checkbox.acknowledge_checkbox {
  padding-top: .5em;
}

.title {
  font-weight: bold;
  padding: 0 3px;
}

.details {
  font-style: italic;
  padding: 3px;
}

.popup-panel {
  padding: 2px 3px;
  background-color: #ffffc7;
  max-width: 320px;
}

.technical_details {
  cursor: pointer;
  margin: 0;
  padding-left: 20px;
  background: url("chrome://global/skin/icons/twisty-collapsed.svg") left center no-repeat;
  -moz-context-properties: fill;
  fill: currentColor;
}

.technical_details[expanded] {
  background-image: url("chrome://global/skin/icons/twisty-expanded.svg");
}

.label-box {
  min-width: 10em;
}

.label-result {
  min-width: 10em;
}

.result-host-info {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent !important;
  appearance: none;
}

#initialSettings {
  margin-bottom: 1em;
}

/* status area */

#status_msg {
  min-height: 1.5em;
  margin-bottom: 0;
  margin-inline: 3px;
}

#status-lines {
  margin: 4px 20px;
}

.status-line {
  margin: 2px 0px;
}

.status-msg {
 font-style: italic;
}

.status-line .status-img {
  -moz-context-properties: fill;
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.status-line[status="loading"] .status-img {
  background: url("chrome://global/skin/icons/loading.png") no-repeat;
  background-size: 16px 16px;
}

.status-line[status="failed"] .status-img {
  list-style-image: url("chrome://messenger/skin/icons/exclude.svg");
}

.status-line[status="succeeded"] .status-img {
  background: url("chrome://messenger/skin/icons/tick.png") no-repeat;
}

#status-area {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 3px 4px;
}

#status-area[status=error] {
  background-color: #FFE900;
  border-color: #F2D00F;
  color: -moz-DialogText;
}

#status-area #statusImgBefore,
#status-area #statusImgAfter {
  -moz-context-properties: fill;
  fill: currentColor;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

#status-area[status=error] #statusImgBefore {
  list-style-image: url("chrome://global/skin/icons/warning.svg");
}

#status-area[status=loading] {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.1);
}

#status-area[status=loading] #statusImgAfter {
  background: url("chrome://global/skin/icons/loading.png") no-repeat;
}

@media (min-resolution: 1.1dppx) {
  #status-area[status=loading] #statusImgAfter,
  .status-line[status=loading] .status-img {
    background-image: url("chrome://global/skin/icons/loading@2x.png");
    background-size: 16px 16px;
  }
}

#status-area[status=result] #status_msg {
  text-align: center;
}

#status-area[status=result] #statusImgBefore {
  list-style-image: url("chrome://global/skin/icons/check.svg");
  color: #12bc00;
}

/* result area */

.result-host-info > label.protocolType {
  display: inline-block;
  padding: 1px 4px;
  font-size: 0.8rem;
  margin-inline-end: 5px;
  font-weight: bold;
  border-radius: 2px;
  background-color: var(--primary-color-hover);
  color: #fff;
}

.result-host-info > label {
  margin-inline: 0;
}

.result-host-info > label.ssl {
  margin-inline-start: 0.4em;
}

.result-host-info > label.domain {
  font-weight: bold;
}

.result-host-info > label.insecure {
  display: inline-block;
  padding: 2px 4px;
  font-size: 0.8rem;
  margin-inline-end: 5px;
  font-weight: bold;
  border-radius: 2px;
  line-height: 1rem;
  background-color: var(--warning-bg);
  color: var(--btn-bg-hover);
}

.certStatus.insecure {
  margin: 0 0 5px 0;
  color: var(--warning-bg);
}

#result_servertype {
  margin-bottom: 1.5em;
}

#result_exchange_hostname_container {
  margin-bottom: 0.5em;
}

#result_area description {
  margin-top: 0px;
  margin-bottom: 0px;
}

#result_addon_intro {
  max-width: 40em;
}

#result_addon_install {
  margin-top: 4px;
}

#result_addon_install image.icon {
  width: 32px;
  height: 32px;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

textbox[disabled="true"],
input[disabled="true"],
menulist[disabled="true"],
menulist[is="menulist-editable"][editable="true"][disabled="true"] {
  opacity: 0.5;
}
