/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/messenger.css");

description {
  margin-inline: 4px;
}

.awIdentityLabel {
  width: 8em;
  margin-inline-start: 5px;
}

#accountprotocol,
#accountsummary {
  overflow: visible;
}

#summarygrid {
  overflow: auto;
}

#value-column {
  min-width: 15em;
}
