/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  min-inline-size: 750px;
  min-block-size: 170px;
}

body {
  inline-size: 750px;
  min-inline-size: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#contentWrapper {
  display: flex;

  & img {
    inline-size: 48px;
    block-size: 48px;
    margin: 1em;
    margin-inline-start: 0;
  }
}
