/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* compacttheme.css is loaded in messenger.xul after messenger.css when it
   is preffed on.  The bulk of the styling is here in the shared file, but
   there are overrides for each platform in their compacttheme.css files. */

:root:-moz-lwtheme {
  --toolbar-color: var(--chrome-color);
  --toolbar-bgcolor: var(--chrome-secondary-background-color);
  --toolbar-non-lwt-bgcolor: var(--toolbar-bgcolor);
  --toolbar-non-lwt-textcolor: var(--chrome-color);
  --toolbar-non-lwt-bgimage: none;
  --lwt-toolbar-field-border-color: hsla(240,5%,5%,.25);

  --toolbarbutton-icon-fill-opacity: .7;

  --tab-line-color: #0a84ff;
}

:root:-moz-lwtheme-brighttext {
  /* Chrome */
  --chrome-background-color: hsl(240, 5%, 5%);
  --chrome-color: rgb(249, 249, 250);
  --chrome-secondary-background-color: hsl(240, 1%, 20%);
  --toolbox-border-bottom-color: hsla(240, 5%, 5%, .1);
  --chrome-nav-bar-controls-border-color: hsla(240, 5%, 5%, .3);
  --chrome-selection-color: #fff;
  --chrome-selection-background-color: #5675b9;

  /* Toolbar buttons */
  --lwt-toolbarbutton-hover-background: rgba(179, 179, 179, 0.4);
  --lwt-toolbarbutton-active-background: rgba(179, 179, 179, 0.6);

  /* Search bars */
  --lwt-toolbar-field-background-color: rgb(71, 71, 73);
  --lwt-toolbar-field-color: var(--chrome-color);
  --urlbar-separator-color: #5F6670;

  /* !important to override LightweightThemeManager.addBuiltInTheme in
     mailGlue.js */
  --autocomplete-popup-background: #2A2A2E !important;
  --autocomplete-popup-highlight-background: #0060DF;

  /* composer header fields bottom border */
  --composer-header-border-color: rgb(127, 127, 128);
}

:root:-moz-lwtheme-darktext {
  --lwt-toolbar-field-background-color: #fff;

  --chrome-background-color: #e3e4e6;
  --chrome-color: #18191a;
  --chrome-secondary-background-color: #f5f6f7;
  --toolbox-border-bottom-color: #ccc;
  --chrome-nav-bar-controls-border-color: #ccc;
  --chrome-selection-color: #f5f7fa;
  --chrome-selection-background-color: #4c9ed9;

  /* composer header fields bottom border */
  --composer-header-border-color: #aaa;
}

toolbar[brighttext] .toolbarbutton-1 {
  fill: rgb(249, 249, 250);
}

#searchInput ::-moz-selection,
#IMSearchInput ::-moz-selection,
#peopleSearchInput ::-moz-selection,
.remote-gloda-search ::-moz-selection,
#qfb-qs-textbox ::-moz-selection,
findbar ::-moz-selection {
  background-color: var(--chrome-selection-background-color);
  color: var(--chrome-selection-color);
}

/* Change the base colors for the mail chrome */

#headers-box,
#navigation-toolbox {
  background-color: var(--chrome-background-color);
  color: var(--chrome-color);
}

findbar,
.mail-toolbox,
.contentTabToolbox,
#msgHeaderView {
  background-color: var(--chrome-secondary-background-color) !important;
  background-image: none !important;
  color: var(--chrome-color);
}

/* Let the message headers use the theme colors */
.headerValue {
  color: inherit;
}

/* Style the editContactPanel textfields */
.editContactTextbox {
  background-color: var(--lwt-toolbar-field-background-color);
  color: var(--lwt-toolbar-field-color);
}
.editContactTextbox:not([readonly="true"]):not([focused="true"]) {
  border-color: var(--lwt-toolbar-field-border-color);
}

.editContactTextbox ::-moz-selection {
  background-color: var(--chrome-selection-background-color);
  color: var(--chrome-selection-color);
}

/* Quick-Filter-Bar */
#quick-filter-bar {
  background-color: var(--chrome-background-color);
  color: var(--chrome-color);
}
#quick-filter-bar:-moz-lwtheme-brighttext {
  --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background);
  --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background);

  --toolbarbutton-checkedhover-backgroundcolor: var(--lwt-toolbarbutton-hover-background);

  --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background);
  --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background);
  --toolbarbutton-active-boxshadow: 0 0 0 1px var(--lwt-toolbarbutton-active-background) inset;
}

#qfb-qs-textbox {
  background-color: var(--lwt-toolbar-field-background-color, hsla(0,0%,100%,.8));
  color: var(--lwt-toolbar-field-color, black);
}

#qfb-qs-textbox:not([focused="true"]):-moz-lwtheme {
  border-color: var(--lwt-toolbar-field-border-color, hsla(240,5%,5%,.25));
}

#qfb-qs-textbox:-moz-lwtheme:hover {
  background-color: var(--lwt-toolbar-field-background-color, white);
}

#qfb-qs-textbox:-moz-lwtheme[focused="true"] {
  background-color: var(--lwt-toolbar-field-focus, var(--lwt-toolbar-field-background-color, white));
  color: var(--lwt-toolbar-field-focus-color, var(--lwt-toolbar-field-color, black));
  border-color: var(--toolbar-field-focus-border-color);
}

/* Search bar*/
#searchInput:not([focused="true"]),
#IMSearchInput:not([focused="true"]),
#peopleSearchInput:not([focused="true"]),
.remote-gloda-search:not([focused="true"]) {
  border-color: var(--chrome-nav-bar-controls-border-color);
}

/* Composer header box styling */
#headers-box:-moz-lwtheme-brighttext {
  --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background);
  --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background);

  --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background);
  --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background);
  --toolbarbutton-active-boxshadow: 0 0 0 1px var(--lwt-toolbarbutton-active-background) inset;
}

#MsgHeadersToolbar,
#addressingWidget,
.aw-menulist {
  color: inherit;
}

#msgIdentity,
#msgSubject,
.textbox-addressingWidget,
.dummy-row-cell:not(:first-child) {
  border-bottom-color: var(--composer-header-border-color) !important;
  color: var(--chrome-color);
}

#msgIdentity:hover,
#msgIdentity:focus,
#msgSubject:hover,
#msgSubject[focused="true"],
.textbox-addressingWidget:hover,
.textbox-addressingWidget[focused="true"] {
  background-color: var(--lwt-toolbar-field-background-color);
  color: var(--lwt-toolbar-field-color);
  border-color: var(--lwt-toolbar-field-border-color) !important;
}

#msgIdentity ::-moz-selection,
#msgSubject ::-moz-selection,
.textbox-addressingWidget ::-moz-selection {
  background-color: var(--chrome-selection-background-color);
  color: var(--chrome-selection-color);
}

.textbox-addressingWidget > .autocomplete-result-popupset {
  -moz-appearance: none;
  margin-top: -1px;
  background: var(--autocomplete-popup-background);
  color: var(--autocomplete-popup-color);
}

.textbox-addressingWidget panel[type="autocomplete-richlistbox"] {
  padding: 2px 0;
  color: inherit;
  background-color: inherit;
  border-color: var(--autocomplete-popup-border-color);
}

.textbox-addressingWidget .autocomplete-richlistbox {
  color: inherit;
  background-color: inherit;
}

.textbox-addressingWidget .autocomplete-richlistitem[selected] {
  background: #0a84ff;
  color: #fff;
}
