/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/colors.css");
@import url("chrome://messenger/skin/icons.css");

:host,
:root {
  --recipient-avatar-size: 28px;
  --recipient-avatar-placeholder-size: 16px;

  &[uidensity="compact"] {
    --recipient-avatar-size: 24px;
    --recipient-avatar-placeholder-size: contain;
    --recipient-multi-line-gap: 0;
  }

  &[uidensity="touch"] {
    --recipient-avatar-size: 32px;
    --recipient-avatar-placeholder-size: 16px;
  }
}

:host,
.recipient-avatar {
  box-sizing: border-box;
  display: inline-flex;
  height: var(--recipient-avatar-size);
  width: var(--recipient-avatar-size);
  border-radius: 50%;
  margin-inline-end: 6px;
  text-align: center;
  overflow: hidden;
  color: var(--color-text-base);
  background-color: var(--color-surface-deep);
  box-shadow: inset 0 0 0 1px color-mix(in srgb, currentColor 30%, transparent);
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.is-mail-list {
    background: none;

    & img {
      -moz-context-properties: fill, stroke;
      fill: color-mix(in srgb, currentColor 50%, transparent);
      stroke: currentColor;
    }
  }
}

:host(.is-mail-list) {
  background: none;

  & img {
    content: var(--icon-mail-list);
    -moz-context-properties: fill, stroke;
    fill: color-mix(in srgb, currentColor 20%, transparent);
    stroke: currentColor;
  }
}
