/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --menu-item-margin: 0 4px;
  --menu-item-padding: 4px;

  /* UI Density customization */

  &[uidensity="compact"] {
    --menu-item-margin: 0 3px;
    --menu-item-padding: 3px;

    & menupopup {
      --arrowpanel-padding: 3px 0;
    }
  }

  &[uidensity="touch"] {
    --menu-item-padding: 9px;
  }
}

menupopup {
  /* Complement the :is(menu, menuitem) margin. */
  --arrowpanel-padding: 4px 0;
  --panel-background: var(--arrowpanel-background);
  --panel-color: var(--arrowpanel-color);
  --panel-border-color: var(--arrowpanel-border-color);
  --panel-border-radius: var(--arrowpanel-border-radius);
  --panel-padding: var(--arrowpanel-padding);
  --menu-color: var(--arrowpanel-color);
  --menu-border-color: var(--arrowpanel-border-color);
  --menu-background-color: var(--arrowpanel-background);
  font: menu;
  font-size: inherit;
  text-align: start;

  menubar:not(:-moz-lwtheme) > menu & {
    --panel-background: Menu;
    --panel-color: MenuText;
  }

  & > :is(menu, menuitem) {
    appearance: none;
    margin: var(--menu-item-margin);
    min-height: 24px;
    padding-inline: 8px;
    padding-block: var(--menu-item-padding);
    border-radius: 3px;
    background-color: transparent;

    &:focus {
      outline: 0;
    }

    &[checked="true"] {
      list-style-image: var(--icon-check);
      -moz-context-properties: stroke;
      stroke: currentColor;
      color: inherit;
    }

    &:not([disabled="true"],:active)[_moz-menuactive] {
      color: inherit;
      background-color: var(--arrowpanel-dimmed);
    }

    &:not([disabled="true"])[_moz-menuactive]:active {
      color: inherit;
      background-color: var(--arrowpanel-dimmed-further);
      box-shadow: 0 1px 0 hsla(210, 4%, 10%, 0.03) inset;
    }

    &[disabled="true"],
    &[disabled="true"]:hover,
    &[checked="true"][disabled="true"],
    &[checked="true"][disabled="true"]:hover {
      color: var(--text-color-deemphasized);
      background-color: transparent;
    }

    & > .menu-text {
      appearance: none;
      margin-inline-start: 0;
    }
  }

  menubar:not(:-moz-lwtheme) > menu & >
    :is(menu, menuitem):not([disabled="true"])[_moz-menuactive] {
    color: -moz-MenuHoverText;
    background-color: -moz-MenuHover;

    @media (-moz-platform: windows) {
      @media not (prefers-contrast) {
        color: inherit;
        background-color: var(--arrowpanel-dimmed-further);
      }
    }
  }

  & > menu::after {
    -moz-context-properties: stroke, fill-opacity;
    content: var(--icon-nav-right-sm);
    stroke: currentColor;
    float: inline-end;
    margin-inline-start: 10px;
  }

  & > menu:-moz-locale-dir(rtl)::after {
    content: var(--icon-nav-left-sm);
  }

  & > menuseparator {
    padding-inline: 8px;
  }
}

#ContentSelectDropdown {
  & > menupopup {
    /* !important to override inline styles */
    --content-select-background-image: none !important;
    --panel-color: var(--arrowpanel-color) !important;
  }

  & > menupopup[customoptionstyling="true"]::part(arrowscrollbox) {
    /* !important to override inline styles */
    background-image: none !important;
    background-color: var(--arrowpanel-background) !important;
  }

  & .ContentSelectDropdown-item-0:not([_moz-menuactive="true"]) {
    background-color: var(--arrowpanel-background) !important;
    color: var(--arrowpanel-color) !important;
  }
}

menu > .menu-right {
  display: none;
}

.menu-iconic-accel {
  margin-inline-end: 3px;
}

/* browser navigation context menu in content pages */
#context-navigation {
  & > .menuitem-iconic {
    -moz-box-flex: 1;
    -moz-box-pack: center;
    -moz-box-align: center;
    flex: 1 0 auto;
    margin: var(--menu-item-margin);
    border-radius: 3px;

    & > .menu-iconic-left {
      appearance: none;
      margin: 0 auto;
      padding: 0;

      & > .menu-iconic-icon {
        width: 1.25em;
        height: auto;
        margin: 7px;
        -moz-context-properties: fill;
        fill: currentColor;
      }
    }

    & > .menu-iconic-text,
    & > .menu-accel-container {
      display: none;
    }
  }
}

#browserContext-back {
  list-style-image: url("chrome://messenger/skin/icons/browser-back.svg");
}

#browserContext-forward {
  list-style-image: url("chrome://messenger/skin/icons/browser-forward.svg");
}

#browserContext-reload {
  list-style-image: url("chrome://global/skin/icons/reload.svg");
}

#browserContext-stop {
  list-style-image: url("chrome://global/skin/icons/close.svg");
}

#browserContext-back:-moz-locale-dir(rtl),
#browserContext-forward:-moz-locale-dir(rtl),
#browserContext-reload:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}
