/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

:root {
  --bg-color: #f2f2f2;
  --text-color: #36385A;
  --tab-bg: rgba(255, 255, 255, 0.6);
  --tab-color: #5E5F7A;
  --config-bg: rgba(0, 0, 0, 0.05);
  --primary-color: #0a84ff;
  --primary-color-hover: #0060df;
  --warning-color: #FF9400;
  --warning-bg: #ac0808;
  --btn-bg: #FFFFFF;
  --btn-bg-hover: #FFFFFF;
  --btn-shadow-hover: rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #2E2F30;
    --text-color: #f2f2f2;
    --tab-bg: rgba(0, 0, 0, 0.6);
    --tab-color: #f2f2f2;
    --config-bg: rgba(255, 255, 255, 0.05);
    --primary-color: #0a84ff;
    --primary-color-hover: #0a84ff;
    --btn-bg: #efefef;
    --btn-bg-hover: #FFFFFF;
    --btn-shadow-hover: rgba(0, 110, 255, 0.25);
  }
}

:root[lwt-tree-brighttext] {
  --bg-color: #2E2F30;
  --text-color: #f2f2f2;
  --tab-bg: rgba(0, 0, 0, 0.6);
  --tab-color: #f2f2f2;
  --config-bg: rgba(255, 255, 255, 0.05);
  --primary-color: #0a84ff;
  --primary-color-hover: #0a84ff;
  --btn-bg: #efefef;
  --btn-bg-hover: #FFFFFF;
  --btn-shadow-hover: rgba(0, 110, 255, 0.25);
}

#brandLogo {
  list-style-image: url("chrome://branding/content/about-logo.svg");
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}

.hub-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 37em;
  min-height: 45em;
  overflow: hidden;
}

.hub-wrapper {
  padding: 0 20px;
}

.hub-header {
  color: var(--text-color);
  padding: 30px 20px;
}

.hub-title {
  font-size: x-large;
}

.hub-subtitle {
  font-size: large;
  margin: 0 0 5px;
  text-align: center;
}

.hub-description {
  font-size: medium;
}

/* Custom tabbox style =================================== */
.hub-tabs {
  background-color: var(--tab-bg);
}

.hub-tabs .tabs-right,
.hub-tabs .tabs-left {
  display: none;
}

.hub-tabs tab,
.hub-tabs tab[visuallyselected="true"] {
  color: var(--tab-color);
  -moz-appearance: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  -moz-context-properties: fill, stroke-opacity;
  fill: currentColor;
  stroke-opacity: 0;
}

.hub-tabs > tab label {
  cursor: pointer !important;
}

.hub-tabs tab > .tab-middle {
  position: relative;
}

.hub-tabs tab > .tab-middle:after,
.hub-tabs tab[visuallyselected="true"] > .tab-middle:after {
  transition: transform 280ms ease, opacity 280ms ease;
  position: absolute;
  display: block;
  content: '';
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--primary-color);
  border-radius: 2px;
  bottom: -12px;
  opacity: 0;
  transform: scaleX(0);
}

.hub-tabs tab[visuallyselected="true"] > .tab-middle:after {
  transform: scaleX(1);
  opacity: 1;
}

.hub-tabs tab[visuallyselected="true"] {
  color: var(--primary-color);
}

.hub-tabs tab + tab {
  margin-inline-start: 0px;
}

.hub-tabpanels {
  -moz-appearance: none;
}
/* END Custom tabbox style =================================== */

/* Footer style =================================== */
.hub-footer {
  padding: 20px;
}

.btn-link {
  color: var(--primary-color);
  -moz-appearance: none;
  font-size: 0.95rem;
  cursor: pointer;
}

.btn-link:hover {
  color: var(--primary-color-hover) !important;
  text-decoration: underline;
}

.footer-links {
  margin-top: 20px;
}

.footer-links a {
  color: var(--text-color);
  -moz-margin-start: 4px;
  -moz-margin-end: 4px;
}

separator.dot {
  background: var(--text-color);
  height: 2px;
  width: 2px;
  border-radius: 2px;
  -moz-margin-end: 2px;
  -moz-margin-start: 2px;
  vertical-align: middle;
}
/* END Footer style =================================== */

/* Custom buttons style =================================== */
.btn-hub {
  transition: background-color 280ms ease,
              color 280ms ease,
              box-shadow 280ms ease,
              transform 280ms ease;
  -moz-appearance: none;
  font-size: 15px;
  color: var(--primary-color);
  background-color: var(--btn-bg);
  -moz-context-properties: fill;
  fill: currentColor;
  padding: 15px 25px;
  border-radius: 2px;
  margin: 10px 0;
  cursor: pointer;
  box-shadow: 0 5px 5px -5px var(--btn-shadow-hover);
  transform: translateY(0px);
}

.btn-hub:hover {
  color: var(--primary-color-hover) !important;
  background-color: var(--btn-bg-hover);
  box-shadow: 0 14px 16px -12px rgba(0,0,0,0.2);
  transform: translateY(-5px);
}

.btn-hub image {
  margin-inline-end: 10px;
}

.btn-hub-primary {
  background-image: linear-gradient(45deg, #007FFE 0%, #005CE3 100%);
  background-color: var(--primary-color);
  color: #FFFFFF;
}

.btn-hub-primary:hover {
  background-color: var(--primary-color-hover);
  color: #FFFFFF !important;
}
/* END Custom buttons style =================================== */

/* Form Fields style =================================== */
.form-control {
  position: relative;
  margin-bottom: 10px;
}

.form-control.no-margin {
  margin-bottom: 0;
}

.input-control {
  display: flex;
  align-items: stretch;
}

.hub-field {
  padding: 5px 30px 5px 6px;
  flex-grow: 1;
  margin: 2px 4px;
  width: 4rem;
}

.input-field {
  margin: 2px 4px;
  flex-grow: 1;
  width: 4rem;
}

.hub-field[error="true"] {
  box-shadow: 0 0 2px 1px var(--warning-color);
}

.form-icon {
  cursor: pointer;
  -moz-context-properties: fill, stroke-opacity;
  fill: currentColor;
  margin-left: -26px;
  margin-right: 10px;
  color: var(--text-color);
}

.icon-info {
  list-style-image: url("chrome://messenger/skin/icons/info.svg");
}

.icon-hidden {
  list-style-image: url("chrome://messenger/skin/icons/hidden.svg");
}

.icon-visible {
  list-style-image: url("chrome://messenger/skin/icons/visible.svg");
}

.icon-warning {
  list-style-image: url("chrome://global/skin/icons/warning.svg");
  color: var(--warning-color);
}
/* END Form Fields style =================================== */

.config-area {
  background-color: var(--config-bg);
  padding: 10px 20px;
  margin-top: 10px;
}

.column-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
}

.manual-row {
  margin-bottom: 5px;
}
