/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#CustomizeToolbarWindow:-moz-lwtheme[lwtheme-image] {
  background-image: none !important;
  text-shadow: none;
}

#main-box {
  padding: 8px;
  height: 100%;
}

#instructions {
  font-weight: 600;
  font-size: 1.2em;
  margin-block: 5px 10px;
}

#palette-box {
  overflow: auto;
  display: block;
  min-height: 3em;
  background-color: hsla(0, 0%, 100%, 0.3);
  border: 1px solid hsla(0, 0%, 50%, 0.4);

  :root[lwt-tree] & {
    scrollbar-color: rgba(204, 204, 204, 0.5) rgba(230, 230, 235, 0.5);
  }

  :root[lwt-tree-brighttext] & {
    scrollbar-color: rgba(249, 249, 250, 0.4) rgba(20, 20, 25, 0.3);
  }
}

toolbarpaletteitem {
  -moz-window-dragging: no-drag;
  justify-content: flex-start;

  #palette-box > & {
    padding: 8px 2px;
    margin: 0 8px;
  }

  &[place="palette"] {
    flex-direction: column;
    width: 10em;
    max-width: 10em;
    /* icon (16) + margin (9 + 12) + 4 lines of text: */
    height: calc(39px + 4em);
    margin-bottom: 5px;
    margin-inline-end: 24px;
    overflow: visible;
    display: inline-flex;
    vertical-align: top;
  }

  &[place=palette]::after {
    content: attr(title);
    display: block;
    text-align: center;
  }

  & > :is(toolbarbutton, toolbarseparator, toolbaritem) {
    /* Prevent children from getting events */
    pointer-events: none;
    justify-content: center;
    flex: 1;
  }

  &[type="separator"][place="palette"] {
    align-items: center;

    & toolbarseparator {
      background-color: currentColor;
    }
  }

  &[type="spacer"][place="palette"] toolbarspacer {
    flex: 1000 1000;
  }
}

#main-box > box {
  overflow: hidden;
}

/* Hide the toolbarbutton label because we replicate it on the wrapper */
.toolbarbutton-text {
  display: none;
}

toolbarbutton > .toolbarbutton-menubutton-dropmarker {
  display: none;
}

#buttonBox {
  margin-block: 5px;
}

#titlebarSettings > checkbox {
  margin-inline: 0 15px;
}

#modelistLabel {
  margin-top: 2px;
}
