/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Styles to alter look of things in the Editor content window
 *  for the "Normal Edit Mode" These settings will be removed
 *  when we display in completely WYSIWYG "Edit Preview" mode
 *  Anything that should never change, like cursors, should be
 *  place in EditorOverride.css, instead of here.
*/

a[name] {
  margin-top: 2px;
  margin-inline-start: 2px;
  padding-inline-start: 20px;
  background-image: url(chrome://messenger/content/messengercompose/images/tag-anchor.gif);
  background-repeat: no-repeat;
  background-position: top left;

  &:dir(rtl) {
    background-position-x: right;
  }
}

/* Force border display for empty cells
   and tables with 0 border
*/
table {
  empty-cells: show;
}

/* give a red dotted border to tables and cells with no border
   otherwise they are invisible
*/
table:is([empty-cells], [border="0"], :not([border])),
/* next selector on line below for the case where tbody is omitted */
table:is([border="0"], :not([border])) > tr > :is(td, th),
table:is([border="0"], :not([border])) > :is(thead, tbody, tfoot) > tr > :is(td, th) {
  border: 1px dotted red;
}

/* give a green dashed border to forms otherwise they are invisible
*/
form {
  border: 2px dashed green;
}

/* give a green dotted border to labels otherwise they are invisible
*/
label {
  border: 1px dotted green;
}

img {
  -moz-force-broken-image-icon: 1;
}

.moz-card {
  position: relative;
  opacity: 1;
  transition: opacity 1.5s;

  &.loading {
    opacity: 0;
  }

  & .remove-card {
    position: absolute;
    inset-inline-end: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;

    font-size: 1.4em;
    line-height: 18px;
    border: 1px solid #f9f9fa;
    border-radius: 15px;
    float: inline-end;
    font-weight: 600;
    display: inline-block;
    transform: rotate(45deg);
    margin-block: -0.2em 0.2em;
    margin-inline: 0.2em -0.2em;

    color: #2a2a2e;
    background-color: white;

    &:hover {
      opacity: 1;
    }
  }
}

/* Can be removed when it is in messageQuotes.css enabled again */
@media (prefers-color-scheme: dark) {
  body {
    color: #f9f9fa;
    background-color: #2a2a2e;
  }

  span[_moz_quote="true"] {
    color: #009fff;
  }
}
