/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#feedSubscriptions {
  min-inline-size: 60em;
  min-block-size: 40em;
}

#rssSubscriptionsList > treechildren::-moz-tree-image {
  inline-size: 16px;
  block-size: 16px;
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: color-mix(in srgb, var(--default) 20%, transparent);
  stroke: var(--default);
}

#folderNameCol {
  flex: 2 2;
}

#rssFeedInfoBox {
  border: 1px solid ThreeDShadow;
  margin: 4px;
  padding-block-start: 4px;
  background-color: rgba(0, 0, 0, 0.05);

  :root[lwt-tree] & {
    border-color: var(--sidebar-border-color);
  }

  :root[lwt-tree-brighttext] & {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

#autotagPrefix {
  max-inline-size: 15em;
}

#statusContainerBox {
  block-size: 2.4em;
}
