/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#filterNameBox {
  min-block-size: 30px;
}

#applyFiltersSettings {
  min-block-size: 150px;
}

#searchTermListBox {
  flex: 1 1 auto;
  min-block-size: 100px;
  block-size: 150px;
}

#searchTermBox {
  min-block-size: 0;
}

#filterActionsBox {
  flex: 1 1 auto;
  min-block-size: 150px;
  block-size: 150px;
}
