/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== filterDialog.css ===============================================
  == Styles for the Mail Filters dialog.
  ======================================================================= */

:root[lwtheme] #filterListDialog:not([lwt-tree]) {
  background: -moz-Dialog !important;
  color: -moz-DialogText;
  text-shadow: none;

  --button-background: rgba(128, 128, 128, .15);
  --button-background-hover: rgba(128, 128, 128, .25);
  --button-background-active: rgba(128, 128, 128, .35);
  --button-border-color: rgba(128, 128, 128, .4);
  --box-text-color: MenuText;
  --box-background-color: Menu;
  --box-border-color: ThreeDShadow;
  --field-text-color: FieldText;
  --field-background-color: Field;
  --field-border-color: rgba(128, 128, 128, .6);
  --field-border-hover-color: rgba(128, 128, 128, .8);
  --popup-item-hover: rgba(128, 128, 128, .2);
  --popup-item-hover-text: MenuText;
  --popup-item-selected: var(--selected-item-color);
  --popup-selected-text: var(--selected-item-text-color);
  --richlist-button-background: -moz-Dialog;
}

#filterListGrid {
  min-height: 0;
}

#filterListBox {
  min-width: 0;
  min-height: 0;
}

#filterList {
  height: 340px;
}

#searchBox {
  max-width: 30ch;
}

/* ::::: columns :::::: */

treecolpicker {
  display: none;
}

richlistitem {
  padding-block: 1px;

  & > checkbox {
    width: 100px;
    min-width: 100px;
    margin: 0;
    -moz-user-focus: none;
  }
}

checkbox:not([label]) .checkbox-label-box {
  display: none;
}

.search-value-menulist {
  flex: 1;
}

.search-value-input {
  width: -moz-available;
}

.search-menulist[unavailable="true"] {
  opacity: 0.6;
}

.ruleactionitem {
  min-width: 20em;
}

.ruleaction-type {
  min-width: 15em;
}

#statusbar {
  height: 1.8em;
  padding: 2px 4px;
}

toolbarbutton[is="toolbarbutton-menu-button"] {
  appearance: none;
  min-height: 24px;
  margin: 4px;
  color: inherit !important;
  background-color: var(--button-background-color);
  border: 1px solid var(--button-border-color);
  border-radius: var(--button-border-radius);

  &:hover {
    background-color: var(--button-hover-background-color);

    &:active {
      background-color: var(--button-active-background-color);
    }
  }

  & > toolbarbutton {
    appearance: none;
    margin-block: 0;
    padding-block: 0 !important;
    font-weight: inherit;
    background-color: transparent;
    border-width: 0;
    border-inline-end: 1px solid var(--button-border-color);
  }

  & > dropmarker {
    appearance: none;
    content: var(--icon-nav-down-sm);
    -moz-context-properties: stroke;
    stroke: currentColor;
    display: inline-flex;
    flex: 0;
    align-items: center;
    justify-content: center;
  }
}

#filterListGrid toolbarbutton *:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}
