/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== folderMenus.css ================================================
  == Icons for menus which represent mail folder.
  ======================================================================= */

.folderMenuItem > .menu-icon {
  display: flex !important; /* !important needed for macOS */
}

.menulist-menupopup[is="folder-menupopup"] {
  list-style-image: none;
}

/* ::::: Folder icons for menus   ::::: */

/* Folders */
.folderMenuItem {
  --menuitem-icon: var(--icon-folder);

  /* Newsgroup */
  &[ServerType="nntp"] {
    --menuitem-icon: var(--icon-newsletter);
  }

  /* Feed folder */
  &[IsFeedFolder="true"] {
    --menuitem-icon: var(--icon-folder-rss);
  }

  /* Special folders */

  &[SpecialFolder="Inbox"] {
    --menuitem-icon: var(--icon-inbox);
  }

  &[SpecialFolder="Sent"] {
    --menuitem-icon: var(--icon-sent);
  }

  &[SpecialFolder="Outbox"] {
    --menuitem-icon: var(--icon-outbox);
  }

  &[SpecialFolder="Drafts"] {
    --menuitem-icon: var(--icon-draft);
  }

  &[SpecialFolder="Templates"] {
    --menuitem-icon: var(--icon-template);
  }

  &[SpecialFolder="Junk"] {
    --menuitem-icon: var(--icon-spam);
  }

  &[SpecialFolder="Trash"] {
    --menuitem-icon: var(--icon-trash);
  }

  &[SpecialFolder="Archive"] {
    --menuitem-icon: var(--icon-archive);
  }

  &[SpecialFolder="Virtual"] {
    --menuitem-icon: var(--icon-folder-filter);
  }

  /* IMAP/POP server */
  &[IsServer="true"] {
    --menuitem-icon: var(--icon-mail);

    /* IMAP/POP secure server */
    &:is([ServerType="imap"], [ServerType="pop3"])[IsSecure="true"] {
      --menuitem-icon: var(--icon-mail-secure);
    }

    /* Local server */
    &[ServerType="none"] {
      --menuitem-icon: var(--icon-folder);
    }

    /* News server */
    &[ServerType="nntp"] {
      --menuitem-icon: var(--icon-globe);

      /* Secure news server */
      &[IsSecure="true"] {
        --menuitem-icon: var(--icon-globe-secure);
      }
    }

    /* Feed server */
    &[ServerType="rss"] {
      --menuitem-icon: var(--icon-rss);
    }
  }

  &::part(icon),
  & > .menu-icon {
    content: var(--menuitem-icon);
    -moz-context-properties: fill, stroke;
    fill: color-mix(in srgb, currentColor 20%, transparent);
    stroke: currentColor;
  }

  :is(label, description)[value][crop="start"]::before {
    /* Mark text as isolated LTR to preserve punctuation/numeric order. */
    content: "\2066" -moz-label-content "\2069";
  }

  :is(label, description)[value][crop="start"]:-moz-locale-dir(rtl)::before {
    /* Mark text as isolated RTL to preserve punctuation/numeric order. */
    content: "\2067" -moz-label-content "\2069";
  }
}
