/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --folder-color-inbox: light-dark(var(--color-blue-50), var(--color-blue-30));
  --folder-color-draft: light-dark(var(--color-purple-50), var(--color-purple-30));
  --folder-color-sent: light-dark(var(--color-green-60), var(--color-green-30));
  --folder-color-archive: light-dark(var(--color-brown-60), var(--color-brown-30));
  --folder-color-spam: light-dark(var(--color-red-60), var(--color-red-30));
  --folder-color-trash: light-dark(var(--color-ink-60), var(--color-ink-30));
  --folder-color-template: light-dark(var(--color-gray-60), var(--color-gray-10));
  --folder-color-newsletter: light-dark(var(--color-gray-60), var(--color-gray-10));
  --folder-color-rss: light-dark(var(--color-orange-60), var(--color-orange-30));
  --folder-color-outbox: light-dark(var(--color-teal-60), var(--color-teal-30));
  --folder-color-folder: light-dark(var(--color-yellow-50), var(--color-yellow-10));
  --folder-color-folder-filter: light-dark(var(--color-magenta-60), var(--color-magenta-30));
  --folder-color-folder-rss: light-dark(var(--color-orange-60), var(--color-orange-30));
}
