/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --folder-color-inbox: var(--color-primary-default);
  --folder-color-draft: light-dark(var(--color-accent-purple-light), var(--color-secondary-pressed-dark));
  --folder-color-sent: light-dark(var(--color-success-default-light), var(--color-success-hover-dark));
  --folder-color-archive: var(--color-text-warning);
  --folder-color-spam: var(--color-text-critical);
  --folder-color-trash: var(--color-text-secondary);
  --folder-color-template: var(--color-text-secondary);
  --folder-color-newsletter: var(--color-text-secondary);
  --folder-color-rss: var(--color-accent-orange);
  --folder-color-outbox: var(--color-accent-teal);
  --folder-color-folder: var(--color-warning-hover);
  --folder-color-folder-filter: var(--color-accent-pink);
  --folder-color-folder-rss: var(--color-accent-orange);
  --folder-color-warning: var(--color-text-critical);
}
