/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  min-height: 370px;
  min-width: 750px;
}

body {
  height: 100vh;
  margin: 0;
}

description {
  max-width: 80vw;
}

#nameBox {
  display: grid;
  grid-template-columns: auto 1fr;
}

#quotaDetails {
  padding-inline-start: 6px;
  list-style: none;
}

#quotaDetails > li {
  margin-block-end: 4px;
}

progress.quota-percentage {
  appearance: none;
  height: 10px;
  background-color: hsla(0, 0%, 60%, 0.2);
  border: 1px solid var(--chrome-content-separator-color);
  border-radius: 3px;
  overflow: hidden;
  margin-inline: 1em;
}
