/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Density variations */

:root {
  --icon-account-settings: url("chrome://messenger/skin/icons/new/compact/account-settings.svg");
  --icon-address-book: url("chrome://messenger/skin/icons/new/compact/address-book.svg");
  --icon-archive: url("chrome://messenger/skin/icons/new/compact/archive.svg");
  --icon-attachment: url("chrome://messenger/skin/icons/new/compact/attachment.svg");
  --icon-calendar-empty: url("chrome://messenger/skin/icons/new/calendar-empty.svg");
  --icon-calendar: url("chrome://messenger/skin/icons/new/compact/calendar.svg");
  --icon-chat: url("chrome://messenger/skin/icons/new/compact/chat.svg");
  --icon-collapse: url("chrome://messenger/skin/icons/new/compact/collapse.svg");
  --icon-draft: url("chrome://messenger/skin/icons/new/compact/draft.svg");
  --icon-export: url("chrome://messenger/skin/icons/new/compact/export.svg");
  --icon-extension: url("chrome://messenger/skin/icons/new/compact/extension.svg");
  --icon-features: url("chrome://messenger/skin/icons/new/compact/features.svg");
  --icon-filter: url("chrome://messenger/skin/icons/new/compact/filter.svg");
  --icon-folder-filter: url("chrome://messenger/skin/icons/new/compact/folder-filter.svg");
  --icon-folder-rss: url("chrome://messenger/skin/icons/new/compact/folder-rss.svg");
  --icon-folder: url("chrome://messenger/skin/icons/new/compact/folder.svg");
  --icon-globe-secure: url("chrome://messenger/skin/icons/new/compact/globe-secure.svg");
  --icon-globe: url("chrome://messenger/skin/icons/new/compact/globe.svg");
  --icon-handshake: url("chrome://messenger/skin/icons/new/compact/handshake.svg");
  --icon-import: url("chrome://messenger/skin/icons/new/compact/import.svg");
  --icon-inbox: url("chrome://messenger/skin/icons/new/compact/inbox.svg");
  --icon-key: url("chrome://messenger/skin/icons/new/compact/key.svg");
  --icon-link: url("chrome://messenger/skin/icons/new/compact/link.svg");
  --icon-loading: url("chrome://messenger/skin/icons/new/loading.svg");
  --icon-mail-secure: url("chrome://messenger/skin/icons/new/compact/mail-secure.svg");
  --icon-mail: url("chrome://messenger/skin/icons/new/compact/mail.svg");
  --icon-new-mail: url("chrome://messenger/skin/icons/new/compact/new-mail.svg");
  --icon-newsletter: url("chrome://messenger/skin/icons/new/compact/newsletter.svg");
  --icon-offline: url("chrome://messenger/skin/icons/new/compact/offline.svg");
  --icon-online: url("chrome://messenger/skin/icons/new/compact/online.svg");
  --icon-outbox: url("chrome://messenger/skin/icons/new/compact/outbox.svg");
  --icon-overflow: url("chrome://messenger/skin/icons/new/compact/overflow.svg");
  --icon-pencil: url("chrome://messenger/skin/icons/new/compact/pencil.svg");
  --icon-pin: url("chrome://messenger/skin/icons/new/compact/pin.svg");
  --icon-question: url("chrome://messenger/skin/icons/new/compact/question.svg");
  --icon-rss: url("chrome://messenger/skin/icons/new/compact/rss.svg");
  --icon-search: url("chrome://messenger/skin/icons/new/compact/search.svg");
  --icon-sent: url("chrome://messenger/skin/icons/new/compact/sent.svg");
  --icon-settings: url("chrome://messenger/skin/icons/new/compact/settings.svg");
  --icon-spam: url("chrome://messenger/skin/icons/new/compact/spam.svg");
  --icon-star: url("chrome://messenger/skin/icons/new/compact/star.svg");
  --icon-tag: url("chrome://messenger/skin/icons/new/compact/tag.svg");
  --icon-tasks: url("chrome://messenger/skin/icons/new/compact/tasks.svg");
  --icon-template: url("chrome://messenger/skin/icons/new/compact/template.svg");
  --icon-tools: url("chrome://messenger/skin/icons/new/compact/tools.svg");
  --icon-trash: url("chrome://messenger/skin/icons/new/compact/trash.svg");
  --icon-unread: url("chrome://messenger/skin/icons/new/compact/unread.svg");

  --spaces-icon-mail: url("chrome://messenger/skin/icons/new/normal/mail.svg");
  --spaces-icon-address-book: url("chrome://messenger/skin/icons/new/normal/address-book.svg");
  --spaces-icon-calendar: url("chrome://messenger/skin/icons/new/normal/calendar.svg");
  --spaces-icon-tasks: url("chrome://messenger/skin/icons/new/normal/tasks.svg");
  --spaces-icon-chat: url("chrome://messenger/skin/icons/new/normal/chat.svg");
  --spaces-icon-overflow: url("chrome://messenger/skin/icons/new/normal/overflow.svg");
  --spaces-icon-settings: url("chrome://messenger/skin/icons/new/normal/settings.svg");
  --spaces-icon-collapse: url("chrome://messenger/skin/icons/new/normal/collapse.svg");

  --folder-pane-mail: var(--icon-mail);
  --folder-pane-mail-secure: var(--icon-mail-secure);
  --folder-pane-inbox: var(--icon-inbox);
  --folder-pane-draft: var(--icon-draft);
  --folder-pane-sent: var(--icon-sent);
  --folder-pane-archive: var(--icon-archive);
  --folder-pane-spam: var(--icon-spam);
  --folder-pane-trash: var(--icon-trash);
  --folder-pane-template: var(--icon-template);
  --folder-pane-rss: var(--icon-rss);
  --folder-pane-globe: var(--icon-globe);
  --folder-pane-globe-secure: var(--icon-globe-secure);
  --folder-pane-newsletter: var(--icon-newsletter);
  --folder-pane-outbox: var(--icon-outbox);
  --folder-pane-folder: var(--icon-folder);
  --folder-pane-folder-filter: var(--icon-folder-filter);
  --folder-pane-folder-rss: var(--icon-folder-rss);

  --account-central-address-book: url("chrome://messenger/skin/icons/new/normal/address-book.svg");
  --account-central-calendar: url("chrome://messenger/skin/icons/new/normal/calendar.svg");
  --account-central-chat: url("chrome://messenger/skin/icons/new/normal/chat.svg");
  --account-central-folder: url("chrome://messenger/skin/icons/new/normal/folder.svg");
  --account-central-globe: url("chrome://messenger/skin/icons/new/normal/globe.svg");
  --account-central-link: url("chrome://messenger/skin/icons/new/normal/link.svg");
  --account-central-mail: url("chrome://messenger/skin/icons/new/normal/mail.svg");
  --account-central-newsletter: url("chrome://messenger/skin/icons/new/normal/newsletter.svg");
  --account-central-rss: url("chrome://messenger/skin/icons/new/normal/rss.svg");
}

:root[uidensity="compact"] {
  --spaces-icon-mail: var(--icon-mail);
  --spaces-icon-address-book: var(--icon-address-book);
  --spaces-icon-calendar: var(--icon-calendar);
  --spaces-icon-tasks: var(--icon-tasks);
  --spaces-icon-chat: var(--icon-chat);
  --spaces-icon-overflow: var(--icon-overflow);
  --spaces-icon-settings: var(--icon-settings);
  --spaces-icon-collapse: var(--icon-collapse);
}

:root[uidensity="touch"] {
  --spaces-icon-mail: url("chrome://messenger/skin/icons/new/touch/mail.svg");
  --spaces-icon-address-book: url("chrome://messenger/skin/icons/new/touch/address-book.svg");
  --spaces-icon-calendar: url("chrome://messenger/skin/icons/new/touch/calendar.svg");
  --spaces-icon-tasks: url("chrome://messenger/skin/icons/new/touch/tasks.svg");
  --spaces-icon-chat: url("chrome://messenger/skin/icons/new/touch/chat.svg");
  --spaces-icon-overflow: url("chrome://messenger/skin/icons/new/touch/overflow.svg");
  --spaces-icon-settings: url("chrome://messenger/skin/icons/new/touch/settings.svg");
  --spaces-icon-collapse: url("chrome://messenger/skin/icons/new/touch/collapse.svg");

  --folder-pane-mail: url("chrome://messenger/skin/icons/new/normal/mail.svg");
  --folder-pane-mail-secure: url("chrome://messenger/skin/icons/new/normal/mail-secure.svg");
  --folder-pane-inbox: url("chrome://messenger/skin/icons/new/normal/inbox.svg");
  --folder-pane-draft: url("chrome://messenger/skin/icons/new/normal/draft.svg");
  --folder-pane-sent: url("chrome://messenger/skin/icons/new/normal/sent.svg");
  --folder-pane-archive: url("chrome://messenger/skin/icons/new/normal/archive.svg");
  --folder-pane-spam: url("chrome://messenger/skin/icons/new/normal/spam.svg");
  --folder-pane-trash: url("chrome://messenger/skin/icons/new/normal/trash.svg");
  --folder-pane-template: url("chrome://messenger/skin/icons/new/normal/template.svg");
  --folder-pane-rss: url("chrome://messenger/skin/icons/new/normal/rss.svg");
  --folder-pane-globe: url("chrome://messenger/skin/icons/new/normal/globe.svg");
  --folder-pane-globe-secure: url("chrome://messenger/skin/icons/new/normal/globe-secure.svg");
  --folder-pane-newsletter: url("chrome://messenger/skin/icons/new/normal/newsletter.svg");
  --folder-pane-outbox: url("chrome://messenger/skin/icons/new/normal/outbox.svg");
  --folder-pane-folder: url("chrome://messenger/skin/icons/new/normal/folder.svg");
  --folder-pane-folder-filter: url("chrome://messenger/skin/icons/new/normal/folder-filter.svg");
  --folder-pane-folder-rss: url("chrome://messenger/skin/icons/new/normal/folder-rss.svg");
}
