/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  color-scheme: light dark;
  --active-color: light-dark(var(--color-gray-90), var(--color-gray-05));
  --active-background-color: light-dark(var(--color-gray-05), var(--color-gray-90));
  --container-border: none;
  --text: var(--active-color);
  --content-border: light-dark(var(--color-white), #4f5683);

  /* Close button colors */
  --close-button-background: var(--active-background-color);
  --close-button-background-active: var(--active-color);
  --close-button-background-hover: var(--close-button-background);
  --close-button-text: var(--text);
  --close-button-text-active: var(--active-background-color);
  --close-button-border: transparent;
  --close-button-border-hover: light-dark(#777580, var(--color-gray-05));
  --close-button-border-active: var(--active-color);
  --close-button-outline: currentColor;

  --illustration-light: url("chrome://messenger/skin/illustrations/in-app-notification-donation-default.svg");
  --illustration-dark: url("chrome://messenger/skin/illustrations/in-app-notification-donation-default-dark.svg");
  --illustration: var(--illustration-light);

  --content-padding-inline-end: 30px;
  --notification-padding: 6px;
}

.in-app-notification-container {
  position: relative;
  width: 288px;
  background: var(--container-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--container-border);
  border-radius: 6px;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.25);
  overflow: clip;


  & .in-app-notification-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 1px solid var(--content-border);
    border-radius: 5px;
    color: var(--text);
    padding: var(--notification-padding);
    padding-inline-start: calc(var(--notification-padding) + 42px);
    isolation: isolate;
    background: var(--content-background);

    &:dir(rtl)::before {
      transform: scaleX(-1);
    }

    .in-app-notification-heading,
    .in-app-notification-description-wrapper {
      padding-inline-end: var(--content-padding-inline-end);
    }
  }

  & a[is="in-app-notification-button"] {
    align-self: end;
    background: var(--button-background);
    border: 1px solid var(--button-stroke);
    border-radius: 3px;
    color: var(--button-text);
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    text-wrap: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
    max-width: calc(100% - 52px);

    &:hover,
    &:focus {
      text-decoration: none;
      background: var(--button-background-hover);
      border: 1px solid var(--button-stroke-hover, var(--button-stroke));
    }

    &:focus-visible {
      outline: 2px solid var(--button-focus-ring);
      border: 1px solid var(--button-stroke-hover, var(--button-stroke));
      outline-offset: 2px;
    }

    &:active {
      background: var(--button-background-active);
      border: 1px solid var(--button-stroke-hover, var(--button-stroke));
      color: var(--button-text-active, var(--button-text));
    }
  }

  & button[is="in-app-notification-close-button"] {
    position: absolute;
    inset-block-start: var(--notification-padding);
    inset-inline-end: var(--notification-padding);
    background: var(--close-button-background);
    border: 1px solid var(--close-button-border);
    border-radius: 50%;
    color: var(--close-button-text);
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    -moz-context-properties: fill, stroke;
    fill: currentColor;
    stroke: currentColor;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 1px solid var(--close-button-border-hover);
      background: var(--close-button-background-hover);
    }

    &:focus-visible {
      border: 1px solid var(--close-button-border-hover);
      outline: 2px solid var(--close-button-outline);
      outline-offset: 1px;
    }

    &:active {
      background: var(--close-button-background-active);
      color: var(--close-button-text-active);
      border: 1px solid var(--close-button-border-active);
    }

    & img {
      content: var(--icon-close-xs);
      box-sizing: border-box;
    }
  }

  & .in-app-notification-heading {
    color: var(--title-text);
    font-size: 1.1rem;
    margin: 0;
    hyphens: auto;
    text-wrap: balance;
  }

  & .in-app-notification-description {
    color: var(--text);
    font-size: 0.9rem;
    min-height: 2lh;
    margin: 0;
    hyphens: auto;
    max-height: 20lh;
    overflow: auto;
  }

  & .icon {
    position: absolute;
    z-index: 9;
    pointer-events: none;
    content: var(--icon-url);
    -moz-context-properties: fill, stroke;
    fill: var(--icon-fill);
    stroke: var(--icon-stroke);

    &:dir(rtl) {
      transform: scaleX(-1);
    }
  }

  /* Styles for the donation notification type */
  &.in-app-notification-donation {
    --title-text: var(--color-secondary-default);
    --button-background: linear-gradient(var(--color-purple-80), #571c87);
    --button-stroke: var(--color-secondary-pressed);
    --button-background-hover: var(--button-background);
    --button-background-active: var(--color-secondary-pressed);
    --button-focus-ring: var(--color-secondary-pressed);
    --button-text: var(--active-background-color);
    --container-background: linear-gradient(135deg, var(--color-teal-50), var(--color-purple-80));
    --icon-url: url("chrome://messenger/skin/illustrations/in-app-notification-heart.svg");
    --icon-fill: var(--color-red-30);
    --icon-stroke: var(--color-red-60);

    padding: 1px;

    & .in-app-notification-content::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: light-dark(var(--color-white), var(--color-gray-90));
      background-image: var(--illustration);
      background-size: calc(100% + 2px); /* This accounts for the border */
      background-position: bottom 0 left -1px;
      background-repeat: no-repeat;
      border-radius: 4px;
      z-index: -1;
    }

    & .icon {
      inset-block-start: 3px;
      inset-inline-start: 0;
    }

    & .in-app-notification-description {
      margin-block-end: 60px;
    }

    & a[is="in-app-notification-button"] {
      position: absolute;
      inset-block-end: var(--notification-padding);
      inset-inline-end: var(--notification-padding);
    }

    @media (prefers-color-scheme: dark) {
      --button-background: linear-gradient(#f5e8ff, #ecd5ff);
      --illustration: var(--illustration-dark);
    }

    @media (prefers-contrast: more) {
      --content-border: #ae55f7;
    }
  }

  /* Styles for the blog notification type */
  &.in-app-notification-blog {
    --title-text: light-dark(var(--color-blue-60), #eeeef0);
    --button-background: linear-gradient(var(--color-blue-60), #175fb6);
    --stroke-dark: #32aeff;
    --stroke: light-dark(#19518f, var(--stroke-dark));
    --button-stroke: var(--stroke);
    --button-background-hover: var(--button-background);
    --button-background-active: var(--stroke);
    --button-focus-ring: var(--stroke);
    --button-text: var(--active-background-color);
    --content-border: var(--color-primary-default);
    --icon-url: url("chrome://messenger/skin/icons/sm/circle-question.svg");
    --icon-fill: light-dark(#c4ddf6, #263a47);
    --icon-stroke: var(--color-primary-default);
    --content-background: linear-gradient(#f0f8ff, #f7f7f7);

    @media (prefers-color-scheme: dark) {
      --button-background: linear-gradient(#58c9ff, #32aeff);
    }

    @media (prefers-contrast: more) {
      --content-border: var(--stroke-dark);
      --icon-stroke: var(--stroke-dark);
      --icon-fill: transparent;
    }

    & .in-app-notification-content {
      padding-inline-start: calc(var(--notification-padding) + 20px);
    }

    & .icon {
      inset-block-start: 8px;
      inset-inline-start: 8px;
    }
  }

  /* Colors for the message notification type */
  &.in-app-notification-message {
    --title-text: var(--color-text-warning);
    --border-color: #caa204;
    --button-background: linear-gradient(var(--color-yellow-40), #eabd08);
    --button-stroke: var(--border-color);
    --button-background-hover: var(--button-background);
    --button-background-active: var(--border-color);
    --button-focus-ring: var(--border-color);
    --button-text: var(--color-gray-90);
    --content-border: var(--border-color);
    --container-border: var(--border-color);
    --icon-url: url("chrome://messenger/skin/icons/new/compact/error-circle.svg");
    --icon-fill: #e1b555;
    --icon-stroke: var(--color-yellow-90);
    --container-background: linear-gradient(#ffdf8d, #fac439);
    --content-background: linear-gradient(#fefae8, #f7f7f7);

    @media (prefers-contrast: more) {
      --content-border: #eabd08;
      --icon-stroke: #eabd08;
      --icon-fill: transparent;
    }
  }

  /* Colors for the security notification type */
  &.in-app-notification-security {
    --title-text: var(--color-text-critical);
    --button-stroke: var(--color-red-90);
    --button-background: linear-gradient(#cb1f1f, var(--color-red-90));
    --button-background-active: var(--color-red-90);
    --button-background-hover: var(--button-background);
    --button-text: var(--color-gray-05);
    --button-focus-ring: var(--color-red-50);
    --content-border: light-dark(var(--color-red-90), var(--color-red-50));
    --container-border: light-dark(var(--color-red-90), var(--color-red-50));
    --icon-url: url("chrome://messenger/skin/icons/new/compact/warning.svg");
    --icon-fill: #c7484a;
    --icon-stroke: var(--color-white);
    --container-background: linear-gradient(var(--color-red-70), var(--color-red-80));
    --content-background: linear-gradient(#fef2f2, #f7f7f7);

    @media (prefers-color-scheme: dark) {
      --container-background: linear-gradient(var(--color-red-70), var(--color-red-30));
    }

    @media (prefers-contrast: more) {
      --content-border: var(--color-red-50);
      --icon-stroke: var(--color-red-50);
      --icon-fill: transparent;
    }
  }

  &.in-app-notification-message,
  &.in-app-notification-security {
    & .in-app-notification-content {
      margin: -1px;
      padding-inline-start: 14px;
      margin-inline-start: 21px;
    }

    & .icon {
      inset-block-start: 8px;
      inset-inline-start: 3px;
    }

    @media (prefers-contrast: more) {
      & .in-app-notification-content {
        margin: 0;
        padding-inline-start: calc(var(--notification-padding) + 20px);
      }

      & .icon {
        inset-block-start: 8px;
        inset-inline-start: 8px;
      }
    }
  }

  &.in-app-notification-blog,
  &.in-app-notification-message,
  &.in-app-notification-security {
    @media (prefers-color-scheme: dark) {
      --content-background: var(--color-gray-90);
    }
  }


  &.in-app-notification-blog,
  &.in-app-notification-message,
  &.in-app-notification-security,
  &.in-app-notification-donation {
    @media (prefers-contrast: more) {
      --container-background: transparent;
      --container-border: transparent;
      --content-background: Canvas;
      --title-text: CanvasText;
      --text: CanvasText;
      --button-background: ButtonFace;
      --button-stroke: ButtonBorder;
      --button-text: ButtonText;
      --button-text-active: HighlightText;
      --button-stroke-hover: CanvasText;
      --button-background-hover: Highlight;
      --button-background-active: Highlight;
      --button-focus-ring: Highlight;
      --illustration: none;
      --close-button-background: ButtonFace;
      --close-button-background-active: Highlight;
      --close-button-background-hover: Highlight;
      --close-button-text: ButtonText;
      --close-button-text-active: HighlightText;
      --close-button-border: ButtonBorder;
      --close-button-border-hover: CanvasText;
      --close-button-border-active: Highlight;
      --close-button-outline: Highlight;

      & button:hover,
      & button:focus,
      & a:hover,
      & a:focus {
        color: HighlightText;
      }
    }
  }
}

.in-app-notification-instructions {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
