/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --button-bgcolor: color-mix(in srgb, currentColor 13%, transparent);
  --button-hover-bgcolor: color-mix(in srgb, currentColor 17%, transparent);
  --button-active-bgcolor: color-mix(in srgb, currentColor 30%, transparent);
  --highlight-color: SelectedItem;
  --primary-text-color: SelectedItemText;
  --primary-background-hover: color-mix(in srgb, var(--highlight-color) 85%, black);
  --primary-background-active: color-mix(in srgb, var(--highlight-color) 78%, black);
}

/* Global overrides */

dialog *[hidden] {
  display: none !important;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* General UI */

dialog {
  border-radius: 6px;
  border: none;
  background-color: var(--in-content-page-background);
  color: var(--in-content-page-color);
  box-shadow: 0 2px 6px -5px #000;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog-title {
  display: flex;
  align-items: center;
  padding: 6px;
  margin-block: 0px 9px;
}

.dialog-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.dialog-container.vertical {
  flex-direction: column;
  align-items: stretch;
}

.dialog-header-image {
  -moz-context-properties: fill;
  fill: var(--in-content-primary-button-background);
  margin-inline-end: 12px;
  height: 32px;
}

.dialog-header-image.small {
  height: 16px;
}

.dialog-description {
  margin-block: 0.2em;
  line-height: 1.4em;
}

/* Warning dialog */

dialog.dialog-critical {
  box-shadow: 0 2px 20px -8px var(--red-70);
}

.warning-title {
  display: flex;
  align-items: center;
  margin-top: 0;
  background-color: var(--red-60);
  color: #fff;
  border-radius: var(--in-content-button-border-radius);
  padding: 6px;
}

.warning-icon {
  fill: #fff;
}

.insecure-section h3 {
  margin-top: 0;
}

.insecure-section-description {
  font-size: 1.05rem;
  line-height: 1.5em;
}

.dialog-footnote {
  margin-inline: 6px;
  font-size: 1.05rem;
  line-height: 1.4em;
}

/* Typography */

dialog h1 {
  margin-block-start: 0;
  font-size: 1.17em;
}

dialog p {
  margin-block-end: 6px;
  font-size: 1.1em;
  line-height: 1.4em;
}

dialog .tip-caption {
  opacity: 0.8;
  font-size: 1em;
}

/* Lists */

dialog .radio-list {
  margin-block: 12px;
}

dialog .radio-list li {
  margin-block-end: 12px;
}

/* Buttons area */

.vertical-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  margin-block-end: 9px;
  padding: 0;
}

.dialog-menu-container {
  display: flex;
  align-items: center;
  margin-block-end: 0;
  margin-inline: 0;
  padding-inline: 6px;
  padding-block-end: 6px;
  justify-content: end;
  background-color: field;
  position: sticky;
  bottom: 0;
}

.dialog-menu-container.two-columns {
  justify-content: space-between;
}

.dialog-menu-container.menu-in-body {
  margin-inline: -1em;
}

/* Buttons */

dialog .button-link {
  appearance: none;
  background-color: transparent !important;
  color: LinkText;
  border-style: none;
  padding: 0 3px;
  margin: 0;
  font-weight: 600;
  cursor: pointer;
  min-height: auto;
}

dialog .button-link:hover {
  text-decoration: underline;
}

dialog button:focus-visible {
  outline: 2px solid var(--highlight-color);
  outline-offset: -1px;
}

dialog button:not([disabled]):hover {
  background-color: var(--button-hover-bgcolor);
}

dialog button:not([disabled]):hover:active {
  background-color: var(--button-active-bgcolor);
}

dialog button.primary {
  background-color: var(--highlight-color);
  color: var(--primary-text-color);
}

dialog button.primary:focus-visible {
  border-color: var(--primary-focus-border);
  outline-offset: 0;
}

dialog button.primary:not([disabled]):hover {
  background-color: var(--primary-background-hover);
}

dialog button.primary:not([disabled]):hover:active {
  background-color: var(--primary-background-active);
}

dialog button[disabled] {
  opacity: 0.4;
}

/* Loading states */

@keyframes loading-animation {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes loading-animation-rtl {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

span.loading-inline {
  -moz-context-properties: fill;
  fill: currentColor;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 16px;
  width: 16px;
  color: SelectedItem;
  vertical-align: sub;
}

span.loading-inline::after {
  position: absolute;
  content: '';
  background-image: url("chrome://messenger/skin/icons/loading.svg");
  background-position: right center;
  background-repeat: no-repeat;
  width: 480px;
  height: 100%;
  animation: loading-animation 1.05s steps(30) infinite;
}

span.loading-inline:dir(rtl)::after {
  background-position-x: left;
  animation: loading-animation-rtl 1.05s steps(30) infinite;
}


