/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

menulist {

  & > html|input {
    margin: 0;
  }

  &::part(text-input) {
    appearance: none;
    background: transparent;
    flex: 1;
    margin: 0;
    border: none;
    padding: 0;
    font: inherit;
  }

  &[is="menulist-editable"]:not([editable="true"])::part(text-input),
  &[is="menulist-editable"][editable="true"]::part(label-box) {
    display: none;
  }
}
