/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

:root {
  --autocomplete-popup-background: Field;
  --autocomplete-popup-color: FieldText;
  --autocomplete-popup-border-color: ThreeDShadow;
  --autocomplete-popup-highlight-background: Highlight;
  --autocomplete-popup-highlight-color: HighlightText;
  --button-background: rgba(128, 128, 128, .15);
  --button-background-hover: rgba(128, 128, 128, .25);
  --button-background-active: rgba(128, 128, 128, .35);
  --button-border-color: rgba(128, 128, 128, .4);

  --lwt-header-image: none;

  /* Note: Setting this to 0 (without px) breaks CSS calculations for OSX. */
  --space-above-tabbar: 0px;

  --tab-min-height: 30px;
  --tabs-border-color: rgba(0, 0, 0, .3);
  --toolbar-bgcolor: var(--toolbar-non-lwt-bgcolor);
  --toolbar-bgimage: var(--toolbar-non-lwt-bgimage);

  --toolbarbutton-icon-fill-opacity: .85;
  --toolbarbutton-hover-background: rgba(0, 0, 0, .05);
  --toolbarbutton-hover-bordercolor: rgba(0, 0, 0, .25);
  --toolbarbutton-header-bordercolor: rgba(0, 0, 0, .25);
  --toolbarbutton-hover-boxshadow: none;

  --toolbarbutton-active-background: rgba(0, 0, 0, .1);
  --toolbarbutton-active-bordercolor: rgba(0, 0, 0, .3);
  --toolbarbutton-active-boxshadow: 0 1px 1px rgba(0, 0, 0, .1) inset, 0 0 1px rgba(0, 0, 0, .3) inset;

  --toolbarbutton-checked-background: rgba(200, 200, 200, .5);
  --toolbarbutton-icon-fill-attention: var(--lwt-toolbarbutton-icon-fill-attention, #0a84ff);
}

:root:-moz-lwtheme {
  --autocomplete-popup-background: #fff;
  --autocomplete-popup-color: #0c0c0d;
  --button-background: #d2d2d3;
  --button-background-hover: #c2c2c3;
  --button-background-active: #b2b2b3;

  --toolbar-bgcolor: rgba(255, 255, 255, .4);
  --toolbar-bgimage: none;
  --toolbarbutton-icon-fill-opacity: 1;

  --urlbar-popup-url-color: hsl(210, 77%, 47%);
  --urlbar-popup-action-color: hsl(178, 100%, 28%);
}

:root[lwt-tree-brighttext] {
  --button-background: #4c4c4e;
  --button-background-hover: #575758;
  --button-background-active: #626263;
  --button-border-color: #626263;
}

:root[lwt-popup-brighttext] {
  --urlbar-popup-url-color: #0a84ff;
  --urlbar-popup-action-color: #30e60b;
}

:root[extradragspace][tabsintitlebar]:not([inFullscreen]) {
  --space-above-tabbar: 8px;
}

/* Styles for the default system dark theme */
:root[lwt-default-theme-in-dark-mode] {
  --lwt-accent-color: rgb(24, 24, 26) !important; /* override the default variable */
  --sidebar-border-color: #606064 !important;
  /* Toolbar buttons */
  --lwt-toolbarbutton-hover-background: rgba(179, 179, 179, 0.4);
  --lwt-toolbarbutton-active-background: rgba(179, 179, 179, 0.6);

  /* !important to override LightweightThemeManager.addBuiltInTheme in
     mailGlue.js */
  --autocomplete-popup-background: #2a2a2e !important;
  --autocomplete-popup-highlight-background: #0060df;

  /* composer header fields bottom border */
  --composer-header-border-color: rgb(127, 127, 128);
}

toolbar[brighttext] {
  --toolbarbutton-icon-fill-attention: var(--lwt-toolbarbutton-icon-fill-attention, #45a1ff);
}

#FindToolbar:-moz-lwtheme,
.contentTabToolbox:-moz-lwtheme,
#task-addition-box:-moz-lwtheme,
#ab-toolbox > toolbar:-moz-lwtheme,
.mail-toolbox > toolbar:-moz-lwtheme,
#compose-toolbox > toolbar:-moz-lwtheme,
#navigation-toolbox > toolbar:-moz-lwtheme {
  --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background,
                                        rgba(0, 0, 0, .1));
  --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background,
                                         rgba(0, 0, 0, .1));

  --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background,
                                         rgba(0, 0, 0, .15));
  --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background,
                                          rgba(0, 0, 0, .15));
  --toolbarbutton-active-boxshadow: 0 0 0 1px var(--lwt-toolbarbutton-active-background,
                                                  rgba(0, 0, 0, .15)) inset;

  --toolbarbutton-checked-background: var(--lwt-toolbarbutton-hover-background,
                                                    rgba(0, 0, 0, .15));
}

.toolbar[brighttext],
.contentTabToolbox[brighttext],
#task-addition-box[brighttext],
#header-view-toolbar[brighttext],
#ab-toolbox > toolbar[brighttext],
.mail-toolbox > toolbar[brighttext],
#event-toolbox > toolbar[brighttext],
#compose-toolbox > toolbar[brighttext],
#headers-box > toolbar[brighttext],
#FormatToolbox > toolbar[brighttext],
:root[lwt-tree-brighttext] .otr-container,
:root[lwt-tree-brighttext] .crypto-button,
:root[lwt-tree-brighttext] .calendar-list-create,
:root[lwt-tree-brighttext] #searchTerms {
  --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background,
                                        rgba(255, 255, 255, .25));
  --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background,
                                         rgba(255, 255, 255, .5));
  --toolbarbutton-header-bordercolor: var(--lwt-toolbarbutton-hover-background,
                                          rgba(255, 255, 255, .25));

  --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background,
                                         rgba(255, 255, 255, .4));
  --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background,
                                          rgba(255, 255, 255, .7));
  --toolbarbutton-active-boxshadow: none;

  --toolbarbutton-checked-background: rgba(0, 0, 0, .25);
}

treechildren::-moz-tree-row(hover) {
  background-color: hsla(0, 0%, 50%, 0.15);
}

treechildren::-moz-tree-row(selected) {
  background-color: -moz-cellhighlight;
}

treechildren::-moz-tree-row(selected, focus) {
  background-color: Highlight;
}

/* Make the new mail indicator better visible on dark theme */
:root[lwt-default-theme-in-dark-mode] #folderTree:-moz-lwtheme-brighttext
  treechildren::-moz-tree-cell-text(folderNameCol, isServer-true, biffState-NewMail),
:root[lwt-default-theme-in-dark-mode] #folderTree:-moz-lwtheme-brighttext
  treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true),
:root[lwt-default-theme-in-dark-mode] #folderTree:-moz-lwtheme-brighttext
  treechildren::-moz-tree-cell-text(folderNameCol, specialFolder-Inbox, newMessages-true) {
  color: #0aa5ff !important;
}

/* Quick-Filter-Bar */
:root[lwt-default-theme-in-dark-mode] #quick-filter-bar:-moz-lwtheme {
  background-color: var(--lwt-accent-color);
  color: var(--lwt-text-color);
}

:root[lwt-default-theme-in-dark-mode] #quick-filter-bar:-moz-lwtheme-brighttext {
  --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background);
  --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background);

  --toolbarbutton-checked-background: var(--lwt-toolbarbutton-hover-background);

  --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background);
  --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background);
  --toolbarbutton-active-boxshadow: 0 0 0 1px var(--lwt-toolbarbutton-active-background) inset;
}

:root[lwt-default-theme-in-dark-mode] #qfb-qs-textbox:-moz-lwtheme {
  background-color: var(--lwt-toolbar-field-background-color, hsla(0,0%,100%,.8));
  color: var(--lwt-toolbar-field-color, black);
}

:root[lwt-default-theme-in-dark-mode] #qfb-qs-textbox:not([focused="true"]):-moz-lwtheme {
  border-color: var(--lwt-toolbar-field-border-color, hsla(240,5%,5%,.25));
}

:root[lwt-default-theme-in-dark-mode] #qfb-qs-textbox:-moz-lwtheme:hover {
  background-color: var(--lwt-toolbar-field-background-color, white);
}

:root[lwt-default-theme-in-dark-mode] #qfb-qs-textbox:-moz-lwtheme-brighttext:hover {
  box-shadow: 0 1px 3px rgba(255,255,255,.15);
}

:root[lwt-default-theme-in-dark-mode] #qfb-qs-textbox:-moz-lwtheme[focused="true"] {
  background-color: var(--lwt-toolbar-field-focus, var(--lwt-toolbar-field-background-color, white));
  color: var(--lwt-toolbar-field-focus-color, var(--lwt-toolbar-field-color, black));
  border-color: var(--toolbar-field-focus-border-color);
}

/* toolbarbutton */

.findbar-button {
  color: inherit !important;
}

.toolbarbutton-1 {
  -moz-box-orient: vertical;
  -moz-context-properties: fill, fill-opacity;
  fill: var(--lwt-toolbarbutton-icon-fill, currentColor);
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

toolbox[labelalign="end"] .toolbarbutton-1,
toolbox[labelalign="end"] .toolbarbutton-1[type="menu-button"]
  > .toolbarbutton-menubutton-button {
  -moz-box-orient: horizontal;
}

.findbar-button,
.toolbarbutton-1:not([type="menu-button"]),
.toolbarbutton-1 > .toolbarbutton-menubutton-button,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  border: 1px solid transparent;
  border-radius: var(--toolbarbutton-border-radius);
  transition: background-color .15s, border-color .15s;
  background-clip: padding-box;
}

.findbar-button:not(:is([checked="true"],[disabled="true"])):hover,
.toolbarbutton-1:not([disabled="true"]):is(:hover,[open="true"]) >
.toolbarbutton-menubutton-button,
.toolbarbutton-1:not([disabled="true"]):hover >
.toolbarbutton-menubutton-dropmarker,
.toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):not([checked="true"]):not([open="true"]):not(:active):hover {
  background: var(--toolbarbutton-hover-background);
  border-color: var(--toolbarbutton-hover-bordercolor);
  box-shadow: var(--toolbarbutton-hover-boxshadow);
}

.findbar-button:not([disabled=true]):is([checked="true"],:hover:active),
.toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.toolbarbutton-1[open="true"] > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.toolbarbutton-1:not([type="menu-button"]):not([disabled="true"]):is([open="true"],[checked="true"],:hover:active) {
  background: var(--toolbarbutton-checked-background);
  border-color: var(--toolbarbutton-active-bordercolor);
  box-shadow: var(--toolbarbutton-active-boxshadow);
  transition-duration: 10ms;
}

.toolbarbutton-1:not([type="menu-button"]):not([disabled="true"])[open="true"],
.toolbarbutton-1[open="true"] > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]) {
  background: var(--toolbarbutton-active-background) !important;
}

.toolbarbutton-1[type="menu-button"] > .toolbarbutton-menubutton-button {
  border-inline-end: none;
  margin: 0;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-locale-dir(ltr),
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-locale-dir(rtl) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-button:-moz-locale-dir(rtl),
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:-moz-locale-dir(ltr) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

toolbox[labelalign="end"] > toolbar[mode="full"] .toolbarbutton-1 .toolbarbutton-text {
  padding-inline-start: 2px;
}

toolbox[labelalign="end"] > toolbar[mode="full"] deck .toolbarbutton-text {
  text-align: start;
}

.toolbarbutton-1 .toolbarbutton-icon {
  width: 18px;
  height: 18px;
}

/* Separator between menu and split type buttons */
.toolbarbutton-1:not(:hover):not(:active):not([open]):not([checked]) >
.toolbarbutton-menubutton-dropmarker::before,
.toolbarbutton-1[disabled="true"] >
.toolbarbutton-menubutton-dropmarker::before {
  content: "";
  display: -moz-box;
  width: 1px;
  height: 18px;
  background-image: linear-gradient(currentColor 0, currentColor 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1px 18px;
  opacity: .2;
}

toolbar[brighttext] .toolbarbutton-1:not(:hover):not(:active):not([open]) >
  .toolbarbutton-menubutton-dropmarker::before {
  opacity: .3;
}

description.error {
  color: #f00;
}

.sidebar-header {
  min-height: 25px;
  text-shadow: none;
}

.sidebar-header > xul|label {
  padding-inline-start: 4px;
}

/* Buttons */

button {
  appearance: none;
  height: 24px;
  min-width: 5.5em;
  color: inherit !important;
  border: 1px solid var(--button-border-color);
  border-radius: var(--toolbarbutton-border-radius);
  background: var(--button-background);
  margin: 1px 5px;
  padding: 0 4px;
  box-shadow: none;
}

button:hover {
  border-color: var(--button-border-color);
  background-color: var(--button-background-hover);
}

button[open="true"],
button:hover:active {
  border-color: var(--button-border-color);
  background-color: var(--button-background-active);
}

button > .button-box {
  padding: 0;
}

button[type="menu-button"] {
  appearance: none;
}

.button-menu-list > .button-box {
  appearance: none;
  padding-inline-end: 14px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 12px;
  background-image: url("chrome://global/skin/icons/arrow-dropdown-12.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}

button.button-menu-list:-moz-locale-dir(rtl) > .button-box {
  background-position: left;
}

button[type="menu-button"] > .button-box > button {
  appearance: none;
  min-width: 5.5em;
  background: transparent;
  border-color: transparent;
  border-inline-end-color: var(--toolbarbutton-active-bordercolor);
  margin-inline: -4px 5px;
  padding: 0 4px;
}

button > .button-box > dropmarker {
  appearance: none;
  list-style-image: url(chrome://global/skin/icons/arrow-dropdown-12.svg);
  -moz-context-properties: fill;
  fill: currentColor;
}

.popup-notification-button {
  height: auto;
  border-style: none;
  border-radius: 0;
}

#notification-popup-box > image.notification-anchor-icon {
  width: 16px;
  height: 16px;
  -moz-context-properties: fill, fill-opacity;
  fill: var(--lwt-toolbarbutton-icon-fill, currentColor);
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

/* notification anchors should only be visible when their associated
   notifications are */
.notification-anchor-icon {
  -moz-user-focus: normal;
}

.notification-anchor-icon:not([showing]) {
  display: none;
}

.addons-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
}

.popup-notification-icon[popupid="xpinstall-disabled"],
.popup-notification-icon[popupid="addon-install-blocked"],
.popup-notification-icon[popupid="addon-install-origin-blocked"] {
  list-style-image: url(chrome://messenger/skin/icons/addon-install-blocked.svg);
}

.popup-notification-icon[popupid="addon-progress"] {
  list-style-image: url(chrome://messenger/skin/icons/addon-install-downloading.svg);
}

.popup-notification-icon[popupid="addon-install-failed"] {
  list-style-image: url(chrome://messenger/skin/icons/addon-install-error.svg);
}

.popup-notification-icon[popupid="addon-install-confirmation"] {
  list-style-image: url(chrome://messenger/skin/icons/addon-install-confirm.svg);
}

#addon-install-confirmation-notification[warning]
    .popup-notification-icon[popupid="addon-install-confirmation"] {
  list-style-image: url(chrome://messenger/skin/icons/addon-install-warning.svg);
}

.popup-notification-icon[popupid="addon-install-complete"] {
  list-style-image: url(chrome://messenger/skin/icons/addon-install-installed.svg);
}

.app-update-icon {
  list-style-image: url("chrome://messenger/skin/icons/app-update-badge.svg");
  background-color: #74BF43;
  border-radius: 50%;
}

.popup-notification-icon[popupid="app-update"] {
  background: #74BF43 url("chrome://messenger/skin/icons/app-update.svg") no-repeat center;
  border-radius: 50%;
}

.popup-notification-icon[popupid="app-update"].updates-unsupported {
  background-color: #FFE900;
}

html|ul.addon-installed-list {
  margin-top: 0;
}

html|ul.addon-webext-perm-list:empty {
  display: none;
}

#tabbar-toolbar {
  appearance: none;
  padding: 0;
}

#tabbar-toolbar[customizing="true"] {
  min-width: 16px;
  min-height: 10px;
}

.chromeclass-toolbar toolbarseparator:-moz-lwtheme {
  appearance: none;
  min-width: 1px;
  background-image: linear-gradient(
                    transparent 4px,
                    var(--lwt-toolbar-vertical-separator, rgba(0,0,0,.2)) 4px,
                    var(--lwt-toolbar-vertical-separator, rgba(0,0,0,.2)) calc(100% - 4px),
                    transparent calc(100% - 4px));
  margin-left: 1px;
  margin-right: 1px;
}

.chromeclass-toolbar[brighttext] toolbarseparator:-moz-lwtheme {
  background-image: linear-gradient(
                    transparent 4px,
                    var(--lwt-toolbar-vertical-separator, rgba(255,255,255,.3)) 4px,
                    var(--lwt-toolbar-vertical-separator, rgba(255,255,255,.3)) calc(100% - 4px),
                    transparent calc(100% - 4px));
}

:root[lwt-tree] tree,
:root[lwt-tree] #folderPane-toolbar {
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
}

:root[lwt-tree] tree {
  scrollbar-color: rgba(204,204,204,.5) rgba(230,230,235,.5);
}

:root[lwt-tree-brighttext] tree {
  scrollbar-color: rgba(249,249,250,.4) rgba(20,20,25,.3);
}

:root[lwt-tree] #folderPane-toolbar {
  background-image: none;
  border-bottom-color: var(--sidebar-border-color, hsla(0,0%,60%,.4));
}

:root[lwt-tree-brighttext] #folderPane-toolbar {
  border-bottom-color: var(--sidebar-border-color, rgba(249,249,250,.2));
}

:root[lwt-tree] treechildren::-moz-tree-image,
:root[lwt-tree] treechildren::-moz-tree-twisty,
:root[lwt-tree] #threadTree treechildren::-moz-tree-cell-text(untagged),
:root[lwt-tree] tree:not(#threadTree) treechildren::-moz-tree-cell-text {
  color: var(--sidebar-text-color);
}

:root[lwt-tree] treechildren::-moz-tree-image(selected),
:root[lwt-tree] treechildren::-moz-tree-twisty(selected),
:root[lwt-tree] #threadTree treechildren::-moz-tree-cell-text(untagged, selected),
:root[lwt-tree] tree:not(#threadTree) treechildren::-moz-tree-cell-text(selected) {
  color: var(--sidebar-highlight-text-color, var(--sidebar-text-color));
}

:root[lwt-tree] #folderTree >
  treechildren::-moz-tree-cell-text(folderNameCol, isServer-true, biffState-NewMail, selected, focus),
:root[lwt-tree] #folderTree >
  treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true, selected, focus),
:root[lwt-tree] #folderTree >
  treechildren::-moz-tree-cell-text(folderNameCol, specialFolder-Inbox, newMessages-true, selected, focus) {
  color: var(--sidebar-highlight-text-color, var(--sidebar-text-color)) !important;
}

:root[lwt-tree] treechildren::-moz-tree-line {
  border-color: var(--sidebar-text-color);
}

:root[lwt-tree] treechildren::-moz-tree-line(selected) {
  border-color: var(--sidebar-highlight-text-color, var(--sidebar-text-color));
}

:root[lwt-tree] treecol:not([hideheader="true"]),
:root[lwt-tree] treecolpicker:not([hideheader="true"]) {
  appearance: none;
  color: inherit;
  background-color: transparent;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--sidebar-border-color, hsla(0,0%,60%,.4));
}

:root[lwt-tree] treecol {
  border-inline-end: 1px solid var(--sidebar-border-color, hsla(0,0%,60%,.4));
}

:root[lwt-tree-brighttext] treecol,
:root[lwt-tree-brighttext] treecolpicker {
  border-color: var(--sidebar-border-color, rgba(249,249,250,.2));
}

:root[lwt-tree-brighttext] treecol {
  border-inline-end-color: var(--sidebar-border-color, rgba(249,249,250,.2));
}

:root[lwt-tree] treecol:hover,
:root[lwt-tree] treecolpicker:hover {
  background-color: hsla(0,0%,60%,.4);
}

:root[lwt-tree-brighttext] treecol:hover,
:root[lwt-tree-brighttext] treecolpicker:hover {
  background-color: rgba(249,249,250,.2);
}

.toolbarbutton-1:not(.qfb-tag-button),
.toolbarbutton-menubutton-button {
  color: inherit !important;
}

/* Don't show a menupopup in customize mode */
toolbarpaletteitem menulist,
toolbarpaletteitem toolbarbutton {
  pointer-events: none;
}

/* throbber */

#throbber-box {
  width: 16px;
  min-height: 16px;
  margin: 0 3px;
}

#throbber-box[busy="true"] {
  list-style-image: url("chrome://global/skin/icons/loading.png");
}

#wrapper-throbber-box > #throbber-box {
  list-style-image: url("chrome://messenger/skin/icons/notloading.png");
}

/* Status panel */

:root[lwt-tree] .statuspanel-label {
  background-color: var(--lwt-toolbar-field-background-color);
  color: var(--lwt-toolbar-field-color, -moz-dialogText);
  border-color: var(--lwt-toolbar-field-border-color);
}

/* Status bar */

#status-bar:-moz-lwtheme {
  border-top: 1px solid var(--tabs-border-color);
}

#status-bar:-moz-lwtheme-brighttext {
  border-top-color: var(--lwt-accent-color);
}

#status-bar:-moz-lwtheme toolbarbutton {
  color: var(--lwt-text-color, inherit);
}

.statusbarpanel {
  padding: 0 4px;
}

label.statusbarpanel {
  margin-block: 3px;
}

.statusbarpanel-progress {
  -moz-box-align: center;
}

/* online/offline icons */

#offline-status {
  padding: 0 2px;
  list-style-image: url("chrome://messenger/skin/icons/online.svg");
  appearance: none;
  -moz-context-properties: fill;
  fill: currentColor;
}

#offline-status[offline="true"] {
  list-style-image: url("chrome://messenger/skin/icons/offline.svg");
}

/* status bar adjustments */

#quotaMeter {
  min-width: 8em;
  max-width: 8em;
  border-color: ThreeDShadow;
}

#quotaPercentageBar {
  border-color: ThreeDShadow;
}

#quotaPanel ::-moz-progress-bar {
  appearance: none;
  background-color: #45a1ff;
  opacity: .75;
}

#quotaPanel.alert-warning ::-moz-progress-bar {
  background-color: orange;
}

#quotaPanel.alert-critical ::-moz-progress-bar {
  background-color: red;
  opacity: .6;
}

#quotaLabel {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
  color: black;
}

/* searchTermOverlay */

#searchTermList > richlistitem[highlight = "true"] {
  animation: highlight .4s ease-in;
}

@keyframes highlight {
  from { background-color: Highlight; }
  to { background-color: transparent; }
}

#findbar-beforeReplaceSeparator {
  height: 16px;
}

/* Address Book menuitem icons */

.abMenuItem[AddrBook="true"] {
  list-style-image: url("chrome://messenger/skin/icons/address.svg");
}

.abMenuItem[MailList="true"] {
  list-style-image: url("chrome://messenger/skin/icons/ablist.svg");
}

.abMenuItem[AddrBook="true"][IsRemote="true"] {
  list-style-image: url("chrome://messenger/skin/icons/globe.svg");
}

.abMenuItem[AddrBook="true"][IsRemote="true"][IsSecure="true"] {
  list-style-image: url("chrome://messenger/skin/icons/globe-secure.svg");
}

/* Panel toolbarbuttons */

.panelTitle {
  margin-top: 8px;
  margin-inline-start: 7px;
  margin-bottom: 6px;
}

.panelButton {
  appearance: none;
  min-height: 24px;
  padding: 4px 6px;
  background-color: transparent;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

.panelButton:focus {
  outline: 0;
}

.panelButton:not(:is([disabled],[open],:active)):is(:hover,:focus) {
  background-color: var(--arrowpanel-dimmed);
}

.panelButton:not([disabled]):is([open],:hover:active) {
  background-color: var(--arrowpanel-dimmed-further);
  box-shadow: 0 1px 0 hsla(210, 4%, 10%, .03) inset;
}

.panelButton > .toolbarbutton-text {
  text-align: start;
  padding-inline-start: 6px;
  padding-inline-end: 6px;
}

.panelButton[prettykey]::after {
  content: attr(prettykey);
  float: inline-end;
  color: GrayText;
}

toolbarpaletteitem toolbarspacer,
toolbarpaletteitem toolbarspring {
  -moz-window-dragging: no-drag;
}

/* MailExtension panels */

.mail-extension-panel {
  font: menu;
}

/* Autocomplete labels
 * These styles match those in chrome://calendar/content/calendar-event-dialog-attendees.css. */

html|span.ac-emphasize-text {
  font-weight: bold;
}

.autocomplete-richlistitem[type$="-abook"]:not([ac-comment=""]) > .ac-url,
.autocomplete-richlistitem[type$="-abook"]:not([ac-comment=""]) > .ac-separator {
  display: -moz-box;
}

.autocomplete-richlistitem[type$="-abook"]:not([ac-comment=""]) > .ac-url {
  -moz-box-ordinal-group: 1;
}

.autocomplete-richlistitem[type$="-abook"]:not([ac-comment=""]) > .ac-separator {
  -moz-box-ordinal-group: 2;
}

.autocomplete-richlistitem[type$="-abook"]:not([ac-comment=""]) > .ac-title {
  -moz-box-ordinal-group: 3;
}

.ac-url-text {
  max-width: unset !important;
}

/* Date/time picker anchor */
.popup-anchor {
  /* should occupy space but not be visible */
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

html|input[type="number"] {
  margin: 2px 4px;
}
/* sizes: chars + 8px padding + 1px borders + spin buttons 14+0+10px  */
html|input[type="number"].size2 {
  width: calc(2ch + 44px);
}
html|input[type="number"].size3 {
  width: calc(3ch + 44px);
}
html|input[type="number"].size4 {
  width: calc(4ch + 44px);
}
html|input[type="number"].size5 {
  width: calc(5ch + 44px);
}

/* Fix the height of the print preview toolbar */
#print-preview-toolbar {
  max-height: 2.5em;
}

/* Toolbar customization */

toolbarpaletteitem[type="spacer"] toolbarspacer,
toolbarpaletteitem[type="spring"] toolbarspring {
  border: 1px solid currentColor;
  background-color: hsla(0, 0%, 100%, .3) !important;
}

toolbarpaletteitem[type="spacer"][place="toolbar"] toolbarspacer,
toolbarpaletteitem[type="spring"][place="toolbar"] toolbarspring {
  margin: 2px;
}

toolbarpaletteitem[type="separator"][place="palette"] toolbarseparator {
  appearance: none;
  width: 1px;
  height: 50px;
  background-color: currentColor;
}

toolbarpaletteitem[type="spacer"][place="palette"] toolbarspacer,
toolbarpaletteitem[type="spring"][place="palette"] toolbarspring {
  margin-bottom: 2px;
}

toolbarpaletteitem[type="spring"][place="palette"] toolbarspring {
  background: url("chrome://messenger/skin/icons/spring.svg") no-repeat center;
  -moz-context-properties: fill;
  fill: currentColor;
}
