/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  inline-size: 600px;
}

#contentWrapper {
  display: flex;

  & img {
    inline-size: 48px;
    block-size: 48px;
    margin: 1em;
    margin-inline-start: 0;
  }
}
