/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#quick-filter-bar {
  --button-margin: 3px;
  background-color: var(--layout-background-1);
  padding: 3px;
  border-bottom: 1px solid var(--splitter-color);
}

#qfb-sticky {
  background-image: var(--icon-pin);
  height: auto;
}

#qfb-unread {
  background-image: var(--icon-unread);
}

#qfb-starred {
  background-image: var(--icon-star);
}

#qfb-inaddrbook {
  background-image: var(--icon-address-book);
}

#qfb-tags {
  background-image: var(--icon-tag);
}

#qfb-attachment {
  background-image: var(--icon-attachment);
}

#qfb-results-label {
  flex: 1;
  margin: 3px;
  color: GrayText;
  text-align: end;
  align-self: center;
}

#quick-filter-bar[filterActive="matches"] #qfb-results-label {
  color: #4e9a06;
}

#quick-filter-bar[filterActive="nomatches"] #qfb-results-label {
  color: #f66;
}

#qfb-qs-textbox {
  flex: 1;
  height: unset;
  margin: 3px;
  padding-block: 3px;
}

@media (-moz-platform: windows-win7) {
  #qfb-qs-textbox {
    margin-block: 4px;
  }
}

#quick-filter-bar-tab-bar:not([hidden]) {
  flex: 2;
  display: flex;
  align-items: center;
}

#qfb-boolean-mode {
  line-height: unset;
  min-height: 0;
  margin: 3px;
  padding-block: 3px;
}

.qfb-tag-button {
  --tag-color: currentColor;
  --tag-contrast-color: currentColor;
  --button-padding: 3px;
  --button-margin: 3px;
  background-color: transparent;
  color: var(--tag-color);
  border-color: var(--tag-color);
  border-radius: 100px;
  padding-inline: 9px;
  min-height: 0;
  min-width: 0;
  line-height: 1;
}

.qfb-tag-button:enabled:hover:not([aria-pressed="true"]) {
  color: var(--tag-color);
  background-color: color-mix(in srgb, var(--tag-color) 20%, transparent);
  border-color: var(--tag-color);
}

.qfb-tag-button[aria-pressed="true"]:enabled:hover {
  color: var(--tag-contrast-color);
  background-color: color-mix(in srgb, var(--tag-color) 70%, white);
  border-color: color-mix(in srgb, var(--tag-color) 60%, black);
}

.qfb-tag-button[aria-pressed="true"] {
  --tag-color: currentColor;
  color: var(--tag-contrast-color);
  background-color: var(--tag-color);
  border-color: color-mix(in srgb, var(--tag-color) 60%, black);
  border-radius: 100px;
  box-shadow: none;
}

.qfb-tag-button:enabled:hover:active {
  background-color: color-mix(in srgb, var(--tag-color) 80%, black);
  border-color: color-mix(in srgb, var(--tag-color) 60%, black);
}

.qfb-tag-button[inverted] {
  background-color: transparent;
  color: var(--tag-color);
  border-color: var(--tag-color);
  text-decoration: line-through;
}

.qfb-tag-button[inverted]:enabled:hover {
  color: var(--tag-color);
  background-color: color-mix(in srgb, var(--tag-color) 20%, transparent);
  border-color: var(--tag-color);
}

#quick-filter-bar-main-bar {
  display: flex;
  overflow: hidden;
}

#quick-filter-bar-expando {
  display: flex;
  align-items: center;
}

#quick-filter-bar-filter-text-bar:not([hidden]) {
  --button-padding: 3px;
  display: flex;
  align-items: center;
}

#qfb-upsell-line-one {
  font-weight: bold;
}

/*#threadTree[filterActive] {
  background-repeat: no-repeat;
  background-position: center;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: .3;
}

#threadTree[filterActive="nomatches"] {
  background-image: url("chrome://messenger/skin/icons/search-not-found.svg");
}

#threadTree[filterActive="searching"] {
  background-image: url("chrome://messenger/skin/icons/search-spinner.svg");
}*/
