/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Colors variables */

:root {
  --spaces-bg-color: #e8e8e8;
  --spaces-bg-image: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.05) 100%);
  --spaces-button-text-color: currentColor;
  --spaces-button-active-text-color: SelectedItemText;
  --spaces-button-active-bg-color: SelectedItem;
  --spaces-button-badge-text-color: #FFF;
  --spaces-button-badge-bg-color: #E60202;
  --spaces-button-opacity: 1;
}

:root:-moz-window-inactive {
  --spaces-button-opacity: 0.7;
  --spaces-bg-image: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --spaces-bg-color: #252525;
  }
}

@media (prefers-contrast) {
  :root {
    --spaces-bg-color: -moz-Dialog;
    --spaces-bg-image: none;
  }
}

/* Density variations */

:root {
  --spaces-icon-size: 18px;
  --spaces-padding: 7px;
  --spaces-gap: 15px;
  --spaces-container-gap: 15px;
  --spaces-button-padding: 5px;
  --spaces-pinned-button-margin: 4px;
  --spaces-button-badge-padding: 1px 6px;
  --spaces-button-badge-font: 0.9rem;
  --spaces-menuitem-current-indicator-size: 3px;
}

:root[uidensity="compact"] {
  --spaces-icon-size: 16px;
  --spaces-padding: 6px;
  --spaces-gap: 9px;
  --spaces-container-gap: 9px;
  --spaces-button-padding: 4px;
  --spaces-pinned-button-margin: 3px;
  --spaces-button-badge-padding: 1px 4px;
  --spaces-button-badge-font: 0.85rem;
  --spaces-menuitem-current-indicator-size: 3px;
}

:root[uidensity="touch"] {
  --spaces-icon-size: 20px;
  --spaces-padding: 9px;
  --spaces-gap: 18px;
  --spaces-container-gap: 18px;
  --spaces-button-padding: 6px;
  --spaces-pinned-button-margin: 6px;
  --spaces-button-badge-padding: 3px 8px;
  --spaces-button-badge-font: 1rem;
  --spaces-menuitem-current-indicator-size: 4px;
}

.spaces-toolbar:not([hidden]) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spaces-gap);
  background-color: var(--spaces-bg-color);
  background-image: var(--spaces-bg-image);
  border-inline-end: 1px solid color-mix(in srgb, var(--spaces-bg-color) 85%, black);
  margin-top: calc(-1 * var(--tab-min-height));
  padding: var(--spaces-padding);
  z-index: 2;
}

.spaces-toolbar-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spaces-container-gap);
}

.spaces-toolbar-button {
  position: relative;
  height: auto;
  min-width: auto;
  margin: 0;
  padding: var(--spaces-button-padding);
  line-height: 0; /* We never show text in these buttons */
  border: none;
  background-color: transparent;
  opacity: var(--spaces-button-opacity);
  color: var(--spaces-button-text-color);
  outline: none;
}

.spaces-toolbar-button:focus-visible:not(:hover) {
  outline: 2px solid SelectedItem;
}

.spaces-toolbar-button.current:focus-visible:not(:hover) {
  outline-offset: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .spaces-toolbar {
    transition: background-color 280ms ease;
  }

  .spaces-toolbar-button {
    transition: background-color 280ms ease, opacity 280ms ease, color 280ms;
  }

  .spaces-toolbar-button > img {
    transition: fill 280ms ease, stroke 280ms ease, opacity 280ms ease;
  }

  .spaces-toolbar-pinned-button {
    transition: background-color 280ms ease, box-shadow 280ms ease;
  }
}

.spaces-toolbar-button.current,
.spaces-toolbar-button.current:hover,
#spacesAccentPlaceholder {
  background-color: var(--spaces-button-active-bg-color);
  color: var(--spaces-button-active-text-color);
}

.spaces-toolbar-button:hover:not(.current) {
  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

.spaces-toolbar-button.current > img,
.spaces-toolbar-button.current:hover > img,
.spaces-toolbar-button:hover:not(.current) > img {
  opacity: 1;
}

.spaces-popup-menuitem > .menu-iconic-left {
  position: relative;
}

.spaces-popup-menuitem.current > .menu-iconic-left:before {
  content: '';
  display: block;
  position: absolute;
  inset-block: 0;
  inset-inline-start: calc(var(--spaces-menuitem-current-indicator-size) * -1.75);
  width: var(--spaces-menuitem-current-indicator-size);
  border-radius: 2px;
  background-color: var(--spaces-button-active-bg-color);
}

.spaces-toolbar-button:is(:not([disabled])):hover:active {
  background-color: var(--spaces-button-active-bg-color);
  color: var(--spaces-button-active-text-color);
}

.spaces-toolbar-button > img,
.spaces-toolbar-statusbar-button > img,
.spaces-toolbar-pinned-button > img,
.spaces-popup-menuitem image {
  -moz-context-properties: fill, stroke, stroke-opacity;
  fill: currentColor;
}

.spaces-toolbar-button > img {
  width: var(--spaces-icon-size);
  height: var(--spaces-icon-size);
  opacity: 0.75;
}

.spaces-toolbar-statusbar-button {
  min-width: auto;
  min-height: auto;
  padding-inline: 2px;
  margin-inline: 3px 0 !important;
  line-height: 0;
  background: none;
  color: inherit;
  opacity: 0.7;
}

.spaces-toolbar-statusbar-button:is(:not([disabled])):hover {
  background: none;
  border: none;
  opacity: 1;
}

#spacesPinnedButton {
  margin: var(--spaces-pinned-button-margin) !important;
  list-style-image: url("chrome://messenger/skin/icons/spaces.svg");
  min-width: auto;
}

#spacesPinnedButton:focus-visible {
  outline: 2px solid SelectedItem;
}

#spacesPinnedButton .toolbarbutton-text,
#spacesPinnedButton[type="menu"] > .toolbarbutton-menu-dropmarker {
  display: none;
}

#spacesPopupButtonMail {
  list-style-image: url("chrome://messenger/skin/icons/message.svg");
}

#spacesPopupButtonAddressBook {
  list-style-image: url("chrome://messenger/skin/icons/address.svg");
}

#spacesPopupButtonCalendar {
  list-style-image: url("chrome://messenger/skin/shared/preferences/calendar.svg");
}

#spacesPopupButtonTasks {
  list-style-image: url("chrome://calendar/skin/shared/icons/task-tab.svg");
}

#spacesPopupButtonChat {
  list-style-image: url("chrome://messenger/skin/icons/chat.svg");
}

#spacesPopupButtonSettings {
  list-style-image: url("chrome://global/skin/icons/settings.svg");
}

#spacesPopupButtonReveal {
  list-style-image: url("chrome://messenger/skin/icons/collapse.svg");
}

#chatButton > img,
#spacesPopupButtonChat image {
  stroke-opacity: 0;
}

#collapseButton:-moz-locale-dir(rtl) img,
#spacesToolbarReveal img,
#spacesPopupButtonReveal image {
  transform: scaleX(-1);
}

#spacesToolbarReveal:-moz-locale-dir(rtl) img,
#spacesPopupButtonReveal:-moz-locale-dir(rtl) image {
  transform: none;
}

/* Add-ons section */

#spacesToolbarAddonsContainer {
  flex: 1 1 0;
  min-height: 0;
}

.spaces-badge-container {
  display: none;
  position: absolute;
  inset-inline-end: -3px;
  inset-block-start: -2px;
  padding: var(--spaces-button-badge-padding);
  font-weight: 600;
  font-size: var(--spaces-button-badge-font);
  border-radius: 12px;
  background-color: var(--spaces-button-badge-bg-color);
  color: var(--spaces-button-badge-text-color);
  line-height: 1em;
  z-index: 1;
}

.spaces-badge-container:-moz-window-inactive {
  background-color: color-mix(in srgb, var(--spaces-button-badge-bg-color) 50%, black);
}

.has-badge .spaces-badge-container {
  display: block;
}

/* Customize panel */

panel#spacesToolbarCustomizationPanel {
  margin-block: 0;
}

.spaces-customize-panel {
  padding: var(--appmenu-button-margin);
  min-width: 300px;
}

.spaces-customize-panel h3 {
  margin-block: 0 12px;
}

.spaces-buttons-container {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: end;
}

.spaces-options-grid {
  display: grid;
  margin-block: 6px 12px;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 6px;
}

button:focus-visible,
input[type="color"]:focus-visible {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: -1px;
}

.has-badge:not([open="true"]) > .toolbarbutton-badge-stack > .toolbarbutton-badge {
  display: block;
  box-shadow: none;
  box-sizing: content-box;
  margin: -2px -3px 0 !important;
  min-width: 6px;
  height: 6px;
  width: 6px;
  padding: 0;
  background: var(--spaces-button-badge-bg-color);
  border: 2px solid var(--lwt-accent-color-inactive, var(--lwt-accent-color));
  border-radius: 6px;
}

.has-badge > .menu-iconic-left::after {
  display: block;
  content: "";
  height: 6px;
  width: 6px;
  background: var(--spaces-button-badge-bg-color);
  border: 2px solid var(--arrowpanel-background);
  border-radius: 6px;
  position: absolute;
  inset-block-start: -3px;
  inset-inline-end: -1px;
}
