/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== subscribe.css ==================================================
  == Styles for the Subscribe dialog.
  ======================================================================= */

@import url("chrome://messenger/skin/messenger.css");

#subscribeWindow {
  min-width: 40em;
  min-height: 30em;
}

#nameColumn,
#nameColumn2 {
  flex: 10 10;
}

/* ::::: Subscription Icons  :::::: */

treechildren::-moz-tree-image(subscribedColumn),
treechildren::-moz-tree-image(subscribedColumn2) {
  width: 14px;
  height: 14px;
  list-style-image: url("chrome://messenger/skin/icons/checkbox.svg");
  -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity;
  fill: currentColor;
  stroke: currentColor;
  fill-opacity: 0;
  stroke-opacity: 0;
}

treechildren::-moz-tree-image(subscribedColumn, subscribed-true),
treechildren::-moz-tree-image(subscribedColumn2, subscribed-true) {
  fill-opacity: 1;
}

treechildren::-moz-tree-image(subscribedColumn, selected, focus),
treechildren::-moz-tree-image(subscribedColumn2, selected, focus) {
  fill: var(--select-focus-text-color);
  stroke: var(--select-focus-text-color);
}

treechildren::-moz-tree-image(subscribedColumn, subscribable-false) {
  list-style-image: none;
}

treechildren::-moz-tree-cell-text(nameColumn, subscribable-false) {
  opacity: 0.6;
  font-style: italic;
}

/* ::::: Folders :::::: */

treechildren::-moz-tree-image(nameColumn) {
  margin-inline-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/folder.svg");
}

treechildren::-moz-tree-image(nameColumn, serverType-nntp),
treechildren::-moz-tree-image(nameColumn2, serverType-nntp) {
  margin-inline-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/globe.svg");
}

/* ::::: Servers :::::: */

.subscribeMenuItem {
  list-style-image: url("chrome://messenger/skin/icons/message.svg");

  &[ServerType="imap"][IsSecure="true"] {
    list-style-image: url("chrome://messenger/skin/icons/message-secure.svg");
  }

  &[ServerType="nntp"] {
    list-style-image: url("chrome://messenger/skin/icons/globe.svg");
  }
}
