/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

button {
  padding-inline: 9px;
  padding-block: 10px 6px;
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  cursor: default;
  user-select: none;
  appearance: none;
  background: none;
  border: 2px solid transparent;
  border-bottom: none;
  display: flex;
  align-content: center;
  gap: 6px;
  width: 100%;
  font-size: inherit;
  position: relative;

  &::before {
    content: '';
    height: 2px;
    margin-top: 3px;
    margin-inline: 3px;
    border-radius: 3px;
    position: absolute;
    inset-inline: 2px;
    top: 0;
  }

  &[aria-selected="true"] {
    background-color: var(--layout-background-1);
    box-shadow: 0 2px 8px -5px var(--color-black);
  }

  &[aria-selected="true"]::before {
    background-color: var(--primary);
  }

  &:not([aria-selected="true"]):hover {
    background-color: color-mix(in srgb, var(--layout-background-1) 50%, transparent);

    &::before {
      background-color: color-mix(in srgb, var(--layout-color-1) 15%, transparent);
    }
  }

  &:focus-visible {
    outline: 2px solid transparent;
    border-color: var(--primary);
  }
}

span {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
