/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

vcard-edit {
  color: var(--sidebar-text-color);
  --input-border-density: 1px;
  --input-text-height: 28px;
  margin-block: 15px;
}

vcard-edit input[type="text"],
vcard-edit input[type="email"],
vcard-edit input[type="url"],
vcard-edit .vcard-type-selection {
  line-height: 1;
  padding-inline: 9px;
  margin: 0;
  border: var(--input-border-density) solid var(--toolbar-field-border-color);
  min-height: initial;
  height: var(--input-text-height);
  color: inherit;
  margin-block-end: 3px;
  margin-inline-end: 3px;
}

vcard-edit select {
  width: 86px;
}

/* N field styles */
vcard-n {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  --button-dimension: 24px;
}

.n-list-component {
  display: inline-flex;
  flex-direction: column;
}

.n-list-component button {
  min-width: auto;
  min-height: auto;
  display: inline-flex;
  margin: 0;
  padding: 3px;
  border: none;
  z-index: 2;
  margin-block-end: 0.6em;
  border-radius: 9px;
}

.n-list-component button img {
  -moz-context-properties: fill;
  fill: currentColor;
  width: 12px;
  height: 12px;
}

.n-list-component button[hidden] {
  display: none;
}

#n-list-component-prefix input,
#n-list-component-suffix input {
  min-width: 50px;
}

#n-list-component-prefix,
#n-list-component-suffix {
  flex-grow: 1;
  flex-shrink: 2;
  max-width: 100px;
}

#n-list-component-firstname,
#n-list-component-middlename,
#n-list-component-lastname {
  flex-grow: 3;
  flex-shrink: 1;
}

#n-list-component-firstname input,
#n-list-component-middlename input,
#n-list-component-lastname input {
  min-width: 152px;
}

#n-list-component-prefix.hasButton,
#n-list-component-suffix.hasButton,
#n-list-component-middlename.hasButton {
  flex-grow: 0;
  flex-shrink: 0;
}

.n-list-component:not(:last-child) {
  margin-inline-end: 3px;
}

/* Email field styles */
tr[slot="v-email"] {
  display: table-row;
  vertical-align: middle;
}

tr[slot="v-email"] td {
  padding: 0;
}

tr[slot="v-email"] input[type="checkbox"] {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-inline: 6px;
  margin-block-start: 0;
  margin-block-end: 3px;
  display: grid;
}

tr[slot="v-email"] input[type="checkbox"]:checked {
  background-image: none;
  background-color: transparent;
  border-color: var(--in-content-primary-button-background);
  place-content: center;
}

tr[slot="v-email"] input[type="checkbox"]:enabled:checked:hover {
  background-color: transparent;
  border-color: var(--in-content-primary-button-background-hover);
}

tr[slot="v-email"] input[type="checkbox"]:checked:active {
  border-color: var(--in-content-primary-button-background-active);
}

tr[slot="v-email"] input[type="checkbox"]:checked::before {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  background-color: var(--in-content-primary-button-background);
  border-radius: 50%;
}

tr[slot="v-email"] input[type="checkbox"]:enabled:checked:hover::before {
  background-color: var(--in-content-primary-button-background-hover);
}

tr[slot="v-email"] input[type="checkbox"]:checked:active::before {
  background-color: var(--in-content-primary-button-background-active);
}

/* Field with type and text */
.screen-readers-only {
  position: absolute;
  clip-path: inset(50%);
}

vcard-url {
  /* @TODO check the whitespace after the select element */
  display: flex;
}
