/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

vcard-n {
  display: flex;
  align-items: end;
  justify-content: flex-start;
}

.n-list-component {
  display: inline-flex;
  flex-direction: column;
}

.n-list-component button {
  min-width: auto;
  min-height: auto;
  display: inline-flex;
  margin: 0;
  padding: 3px;
  border: none;
  z-index: 2;
  margin-block-end: 0.6em;
  border-radius: 9px;
}

.n-list-component button img {
  -moz-context-properties: fill;
  fill: currentColor;
  width: 12px;
  height: 12px;
}

.n-list-component label {
  margin-block-end: 3px;
}

.n-list-component input {
  padding-inline: 9px;
  margin: 0;
  border: 1px solid var(--in-content-box-border-color);
}

.n-list-component button[hidden] {
  display: none;
}

#n-list-component-prefix input,
#n-list-component-suffix input {
  min-width: 50px;
}

#n-list-component-prefix,
#n-list-component-suffix {
  flex-grow: 1;
  flex-shrink: 2;
  max-width: 100px;
}

#n-list-component-firstname,
#n-list-component-middlename,
#n-list-component-lastname {
  flex-grow: 3;
  flex-shrink: 1;
}

#n-list-component-firstname input,
#n-list-component-middlename input,
#n-list-component-lastname input {
  min-width: 152px;
}

#n-list-component-prefix.hasButton,
#n-list-component-suffix.hasButton,
#n-list-component-middlename.hasButton {
  flex-grow: 0;
  flex-shrink: 0;
}

.n-list-component:not(:last-child) {
  margin-inline-end: 3px;
}
