/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This file defines the various widgets used across the application. */

/* Default Button Styles */

.button {
  --icon-size: 16px;
  appearance: none;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: var(--button-border-size) solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  margin: var(--button-margin);
  min-width: 6em;
  -moz-context-properties: fill, stroke;
  fill: color-mix(in srgb, currentColor 20%, transparent);
  stroke: currentColor;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: inherit;

  @media (prefers-reduced-motion: no-preference) {
    transition: background-color .15s, border-color .15s;
  }

  &:enabled {
    &:hover {
      color: var(--button-hover-text-color);
      background-color: var(--button-hover-background-color);
      border-color: var(--button-border-color);

      &:active {
        background-color: var(--button-active-background-color);
        border-color: var(--button-border-color);
      }
    }

    &:focus-visible {
      outline: var(--focus-outline);
      outline-offset: var(--focus-outline-offset);
    }
  }

  &[aria-pressed="true"] {
    box-shadow: var(--button-pressed-shadow);
  }

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &[hidden] {
    display: none;
  }

  &:dir(rtl),
  &:-moz-locale-dir(rtl) {
    background-position-x: right var(--button-padding);
  }

  &.icon-button {
    background-image: none;
    background-size: var(--icon-size);
    background-position: var(--button-padding) center;
    background-repeat: no-repeat;
    padding-inline-start: calc(var(--button-padding) * 2 + var(--icon-size));
    padding-inline-end: calc(var(--button-padding) * 2);
    min-width: 0;
  }

  &.icon-only {
    background-position: center;
    /* 2px at the end for the border. */
    height: calc(var(--button-padding) * 2 + var(--icon-size) + 2px);
    padding: 0;
    aspect-ratio: 1;

    &.button-round {
      --button-border-radius: 50%;
    }
  }

  &.toolbar-button,
  &.unified-toolbar-button {
    background-color: transparent;
    color: currentColor;
    border-color: transparent;
    margin-block: 4px;
  }

  &.toolbar-button[open="true"],
  &.toolbar-button:not([disabled="true"]):hover,
  &.unified-toolbar-button:enabled:is([aria-pressed="true"], :hover) {
    color: var(--button-hover-text-color);
    background-color: var(--toolbar-button-hover-background-color);
    border-color: var(--toolbar-button-hover-border-color);
  }

  &.toolbar-button[open="true"] {
    color: var(--button-hover-text-color);
  }

  &.unified-toolbar-button[aria-pressed="true"] {
    &:enabled {
      color: var(--button-hover-text-color);
      box-shadow: var(--button-pressed-shadow);

      &:hover {
         background-color: var(--toolbar-button-hover-checked-color);
      }
    }
  }

  &.toolbar-button:not([disabled="true"]):hover:active,
  &.unified-toolbar-button:enabled:hover:active {
    background-color: var(--toolbar-button-active-background-color);
    border-color: var(--toolbar-button-active-border-color);
  }

  & > img {
    pointer-events: none;
  }

  /* Primary Button Styles */

  &.button-primary {
    background-color: var(--button-primary-background-color);
    color: var(--button-primary-text-color);
    border-color: var(--button-primary-border-color);

    &:enabled {
      &:hover {
        background-color: var(--button-primary-hover-background-color);
        color: var(--button-primary-text-color);
        border-color: var(--button-primary-border-color);

        &:active {
          background-color: var(--button-primary-active-background-color);
          border-color: var(--button-primary-border-color);
        }
      }
    }

    @media (prefers-contrast) {
      :root:not([lwtheme]) &:hover {
        border-color: var(--button-primary-hover-border-color);
      }
    }
  }

  /* Destructive Button Styles */

  &.button-destructive {
    background-color: var(--button-destructive-background-color);
    color: var(--button-destructive-text-color);
    border-color: var(--button-destructive-border-color);

    &:hover {
      background-color: var(--button-destructive-hover-background-color);
      border-color: var(--button-destructive-border-color);

      &:active {
        background-color: var(--button-destructive-active-background-color);
        border-color: var(--button-destructive-border-color);
      }
    }
  }

  /* Flat Button Styles */

  &.button-flat {
    background-color: transparent;
    color: currentColor;
    border-color: transparent;

    &:hover {
      background-color: color-mix(in srgb, currentColor 10%, transparent);
      border-color: transparent;

      &:active {
        background-color: color-mix(in srgb, currentColor 30%, transparent);
        border-color: transparent;
      }
    }

    @media (prefers-contrast) {
      &:hover,
      &:hover:active {
        background-color: SelectedItem;
      }
    }

    &:focus-visible {
      color: currentColor;
    }
  }

  /* Link Button Styles */

  &.link-button {
    background-color: transparent;
    color: var(--button-link-text-color);
    border-color: transparent;

    &:hover {
      background-color: transparent;
      color: var(--button-link-text-color);
      border-color: transparent;
      text-decoration: underline;
      cursor: pointer;

      &:active {
        background-color: transparent;
        color: var(--button-link-active-text-color);
        border-color: transparent;
      }
    }

    &.link-button-sm {
      text-decoration: underline;
      text-transform: uppercase;
      font-size: 0.8rem;
      cursor: pointer;
      padding: 0;
      margin: 0;
    }
  }

  /* Check Button Styles */

  &.check-button {
    position: relative;

    &:not(.icon-button) {
      padding-inline-start: calc(var(--button-padding) * 2 + 9px);
      padding-inline-end: calc(var(--button-padding) * 2);
    }

    &.icon-button {
      background-position: calc(var(--button-padding) * 1.2 + var(--button-pressed-indicator-padding)) center;
      padding-inline-start: calc(var(--button-padding) * 2 + var(--icon-size) + var(--button-pressed-indicator-padding));

      &:dir(rtl),
      &:-moz-locale-dir(rtl) {
        background-position-x: right calc(var(--button-padding) * 1.2 + var(--button-pressed-indicator-padding));
      }
    }

    &.icon-only {
      background-position: calc(var(--button-padding) + var(--button-pressed-indicator-padding)) center;
      aspect-ratio: auto;

      &:dir(rtl),
      &:-moz-locale-dir(rtl) {
        background-position-x: right calc(var(--button-padding) + var(--button-pressed-indicator-padding));
      }
    }

    &::before {
      content: '';
      box-sizing: border-box;
      background-color: color-mix(in srgb, currentColor 10%, transparent);
      border: 1px solid color-mix(in srgb, currentColor 20%, transparent);
      border-radius: 4px;
      width: 4px;
      height: 12px;
      margin: auto 3px;
      position: absolute;
      inset-block: 0;
      inset-inline-start: 2px;
    }

    &[aria-pressed="true"]::before {
      background-color: var(--button-primary-background-color);
      border-color: var(--button-primary-border-color);
      box-shadow: var(--button-pressed-indicator-shadow);
    }
  }

  @container threadPane (max-width: 999px) {
    &.collapsible-button {
      padding-inline-end: 0;

      & span {
        display: inline-block;
        visibility: hidden;
        width: 0;
      }
    }
  }

  &.modal-close-button:not([hidden]) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

/* Button Group Styles */

.button-group {
  display: inline-flex;
  color: var(--button-text-color);
  border: var(--button-border-size) solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  margin: var(--button-margin);
  position: relative;
  isolation: isolate;
  z-index: 1;

  & :is(.button, input) {
    --button-margin: 0;
    border: none;
    border-radius: 0;
    z-index: 2;
  }

  & .button {
    &:focus-visible {
      outline-offset: 0;
      z-index: 3;
    }

    &:first-child {
      border-inline-end: var(--button-border-size) solid var(--button-border-color);
      border-start-start-radius: calc(var(--button-border-radius) - 1px);
      border-end-start-radius: calc(var(--button-border-radius) - 1px);
    }

    &:last-child {
      border-start-end-radius: calc(var(--button-border-radius) - 1px);
      border-end-end-radius: calc(var(--button-border-radius) - 1px);
    }

    & + .button:not(:last-child) {
      border-inline-end: var(--button-border-size) solid var(--button-border-color);
    }
  }
}

@media (-moz-windows-accent-color-in-titlebar) {
  :root:not([lwtheme]) #navigation-toolbox :is(.unified-toolbar-button, .toolbar-button):focus-visible {
    outline-color: AccentColorText;
  }
}

/* Select element */

.select {
  appearance: none;
  text-decoration: none;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: var(--button-border-size) solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  padding: var( --button-padding);
  margin: var(--button-margin);
  font-size: 1em;

  &:enabled {
    &:hover {
      color: var(--button-hover-text-color);
      background-color: var(--button-hover-background-color);
      border-color: var(--button-border-color);

      &:active {
        background-color: var(--button-active-background-color);
        border-color: var(--button-border-color);
      }
    }

    &:focus-visible {
      outline: var(--focus-outline);
      outline-offset: var(--focus-outline-offset);
    }
  }

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &[hidden] {
    display: none;
  }

  &:not([size], [multiple]) {
    --logical-padding: 3px;
    --start-padding: calc(var(--logical-padding) + 3px);
    --end-padding: calc(var(--logical-padding) + 9px);
    --background-image-width: 12px;
    background-image: var(--icon-nav-down-sm);
    background-position: right calc(var(--end-padding) / 2) center;
    background-repeat: no-repeat;
    background-size: auto var(--background-image-width);
    -moz-context-properties: fill;
    fill: currentColor;
    font: inherit;
    padding-inline-start: var(--start-padding);
    padding-inline-end: calc(var(--background-image-width) + var(--end-padding));
    text-overflow: ellipsis;

    &:dir(rtl) {
      background-position-x: left calc(var(--end-padding) / 2);
    }

    & > option {
      background-color: var(--background-color-box);
      color: var(--text-color);
    }
  }
}

.kbd-container kbd {
  background-color: var(--layout-background-3);
  color: var(--layout-color-2);
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1;
  font-weight: bold;
  box-shadow: inset 0 -1px 0 var(--layout-border-2);
  border-radius: 3px;
  display: inline-block;
  padding: 2px 4px;

  &:first-of-type {
    margin-inline-start: 6px;
  }
}

.icon-success {
  -moz-context-properties: fill, stroke;
  fill: color-mix(in srgb, var(--color-success-pressed) 20%, transparent);
  stroke: var(--color-success-default);
  content: var(--icon-success);
}

.icon-danger {
  -moz-context-properties: fill, stroke;
  fill: color-mix(in srgb, var(--color-critical-pressed) 20%, transparent);
  stroke: var(--color-critical-pressed);
  content: var(--icon-warning);
}

.icon-warning {
  -moz-context-properties: fill, stroke;
  fill: color-mix(in srgb, var(--color-warning-pressed) 20%, transparent);
  stroke: var(--color-warning-pressed);
  content: var(--icon-info);
}

.icon-info {
  -moz-context-properties: fill, stroke;
  fill: color-mix(in srgb, var(--color-primary-pressed) 20%, transparent);
  stroke: var(--color-primary-default);
  content: var(--icon-info);
}

.icon-close-lg {
  -moz-context-properties: stroke;
  stroke: currentColor;
  content: var(--icon-close-lg);
}

.toggle-label {
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.toggle-group {
  display: flex;
  align-items: center;
}

.toggle-checkbox {
  appearance: none;
  box-sizing: border-box;
  padding: 0;
  background-color: var(--color-surface-lower);
  border: 1px solid var(--color-surface-border);
  height: 22px;
  width: 44px;
  border-radius: 14px;
  cursor: pointer;

  &::before {
    display: block;
    content: "";
    box-sizing: border-box;
    background-color: var(--color-surface-base);
    border: 1px solid var(--color-surface-border);
    height: 18px;
    width: 18px;
    margin-block-start: 1px;
    margin-inline-start: 1px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    translate: 0;
  }

  &:checked {
    background-color: var(--selected-item-color);
    border-color: color-mix(in srgb, var(--selected-item-color) 80%, black);

    &::before {
      translate: 23px;
      background-color: var(--selected-item-text-color);
      border-color: color-mix(in srgb, var(--selected-item-color) 80%, black);
    }

    &:is(:hover, :active) {
      background-color: color-mix(in srgb, var(--selected-item-color) 90%, black);
      border-color: color-mix(in srgb, var(--selected-item-color) 80%, black);
    }
  }

  &:is(:hover, :active) {
    background-color: var(--color-surface-border);
    border-color: var(--color-neutral-200);
  }

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  &.toggle-checkbox-sm {
    height: 18px;
    width: 38px;

    &::before {
      height: 14px;
      width: 14px;
    }

    &:checked::before {
      translate: 20px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .toggle-checkbox {
    background-color: color-mix(in srgb, currentColor 10%, transparent);
    border-color: color-mix(in srgb, currentColor 50%, transparent);

    &::before {
      background-color: color-mix(in srgb, currentColor 70%, transparent);
      border-color: transparent;
    }

    &:is(:hover, :active) {
      background-color: color-mix(in srgb, currentColor 20%, transparent);
      border-color: color-mix(in srgb, currentColor 50%, transparent);
    }

    &:checked {
      border-color: rgba(0, 0, 0, 0.4);

      &::before {
        border-color: color-mix(in srgb, var(--selected-item-color), black 40%);
      }

      &:is(:hover, :active) {
        background-color: color-mix(in srgb, var(--selected-item-color), black 20%);
        border-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .toggle-checkbox {
    transition: opacity .15s ease, background-color .15s ease, border-color .15s ease;

    &::before {
      transition: translate .21s ease;
    }
  }
}

/* menupopup */

.menupopup {
  --panel-border-color: var(--in-content-box-border-color);
  appearance: none;
}

/* Drag and Drop indicator */

[is="drop-indicator"] {
  -moz-context-properties: fill, stroke;
  fill: var(--selected-item-color);
  stroke: var(--selected-item-text-color);
  pointer-events: none;
  content: url("chrome://messenger/skin/icons/drop-indicator.svg");
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  /* The z-index needs to be big enough to trump other positioned UI pieces
     that we want to overlay. The selected tab uses 2. */
  z-index: var(--drop-indicator-z-index);
  margin: 0;
  padding: 0;
  /* The custom element depends on fixed width and height values. */
  width: 12px;
  height: 29px;

  &[horizontal] {
    content: url("chrome://messenger/skin/icons/drop-indicator-horizontal.svg");
    width: 29px;
    height: 12px;

    &:dir(rtl) {
      transform: scaleX(-1);
    }
  }
}

.screen-reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
