/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

xbl-notification {
  padding: 2px 0;
  padding-inline-start: 12px;
  background: -moz-dialog;
  color: -moz-dialogText;
  border-color: ThreeDLightShadow;
  border-style: solid;
  border-width: 1px 0;
  text-shadow: none;
}

xbl-notification.animated {
  transition: margin-top 300ms var(--animation-easing-function), opacity 300ms var(--animation-easing-function);
}

notificationbox[notificationside="top"] xbl-notification {
  border-top-style: none;
}

notificationbox[notificationside="bottom"] xbl-notification {
  border-bottom-style: none;
}

xbl-notification[type="warning"],
xbl-notification[type="critical"] {
  border-color: rgba(12, 12, 13, 0.2);
}

xbl-notification[type="warning"] {
  background: #ffc;
  color: #0c0c0d;
}

xbl-notification[type="critical"] {
  background: #d70022;
  color: #fff;
}

xbl-notification[type="info"] > hbox > .messageImage {
  list-style-image: url("chrome://global/skin/icons/help.svg");
}

xbl-notification[type="warning"] > hbox > .messageImage {
  list-style-image: url("chrome://global/skin/icons/warning.svg");
}

xbl-notification[type="critical"] > hbox > .messageImage {
  list-style-image: url("chrome://global/skin/icons/error.svg");
}

xbl-notification[value="draftMsgContent"] > hbox > .messageImage {
  list-style-image: url("chrome://messenger/skin/icons/newmsg.svg");
}
