/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/preferences/preferences.css");
@namespace html "http://www.w3.org/1999/xhtml";

body {
  font-size: 1.36em;
}

html|h2 {
  border-bottom-width: 0;
  padding-bottom: 2px !important;
  padding-inline-start: 0;
}

html|legend {
  margin: 0;
}

html|input[type="number"] {
  min-height: 26px;
}

html|input[type="number"]::-moz-number-spin-up,
html|input[type="number"]::-moz-number-spin-down {
  min-height: 11px;
}

menulist:not([popuponly="true"]) {
  min-height: 30px;
}

tab:-moz-focusring > .tab-middle > .tab-text {
  outline: none;
}

/**
 * Dialog
 */

/* Add to Cookies dialog a bottom padding */
#CookiesDialog > hbox > .actionButtons {
  padding-bottom: 10px;
}

#defaultWebSearchPopup > menuitem > .menu-iconic-left {
  margin-inline: 5px 3px;
}
