/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --calendar-dialog-row-padding-inline: 12px;
  --calendar-dialog-row-column-gap: 9px;
  --calendar-dialog-row-content-gap: 3px;
  --calendar-dialog-row-expand-button-padding-inline-start: 9px;
  --calendar-dialog-expanded-row-content-gap: 6px;
  --calendar-dialog-expanded-row-padding-block: 12px;

  &[uidensity="compact"] {
    --calendar-dialog-row-padding-inline: 6px;
    --calendar-dialog-row-column-gap: 5px;
    --calendar-dialog-row-content-gap: 1px;
    --calendar-dialog-expanded-row-content-gap: 3px;
    --calendar-dialog-expanded-row-padding-block: 6px;
  }

  &[uidensity="touch"] {
    --calendar-dialog-row-column-gap: 18px;
    --calendar-dialog-row-content-gap: 6px;
    --calendar-dialog-expanded-row-content-gap: 9px;
    --calendar-dialog-expanded-row-padding-block: 15px;
  }
}

[is="calendar-dialog"] {
  border-radius: 6px;
  border: 1px solid var(--color-neutral-border);
  box-shadow: 0 2px 24px rgba(0, 0, 0, .15);
  margin: 0;
  padding: 0;
  width: 424px;
  max-height: calc(100vh - 24px);
  z-index: 999;
  box-sizing: border-box;
}

.titlebar {
  --calendar-bar-color-fallback: #1373d9;
  position: relative;

  &::before {
    border-radius: 6px 6px 0 0;
    content: '';
    position: absolute;
    inset-block-start: -11px;
    inset-inline: 0;
    height: 6px;
    background: var(--calendar-bar-color, var(--calendar-bar-color-fallback));
  }

  & .calendar-dialog-title {
      font-size: 1.15rem;
      font-weight: 500;
  }
}

.row-label {
  font-size: 1rem;
  font-weight: 700;
}

.icon-date-time {
  content: var(--icon-date-time-sm);
}

.icon-recurrence {
  content: var(--icon-recurrence);
  -moz-context-properties: stroke;
  stroke: currentColor;
}

.icon-location {
  content: var(--icon-globe);
}

.icon-reminder {
  content: var(--icon-bell);
}

.icon-description {
  content: var(--icon-file-draft);
}

.icon-nav-right {
  content: var(--icon-nav-right);
  -moz-context-properties: stroke;
  stroke: currentColor;

  &:dir(rtl) {
    content: var(--icon-nav-left);
  }
}

calendar-dialog-date-row {
  display: block;
  background: var(--color-neutral-subtle);
  padding-block: 6px;
}

.button.close-button {
  background-image: var(--icon-close);
}

.button.back-button {
  background-image: var(--icon-nav-left);

  &:dir(rtl) {
    background-image: var(--icon-nav-right);
  }
}

.button.join-button {
  border-radius: 1000px;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.1),
              0 2px 4px rgba(0, 0, 0, 0.1);
}

.expanding-row {
  display: grid;
  grid-template-columns: 1fr auto;

  & .expand-button {
    padding-inline: var(--calendar-dialog-row-expand-button-padding-inline-start) var(--calendar-dialog-row-padding-inline);
    padding-block: 0;
    margin: 0;
    min-width: 0;
    align-self: stretch;
    aspect-ratio: 0;
    border: 0;
  }
}

calendar-dialog-subview-manager {
  display: block;
  overflow-y: auto;

  & > *:not([hidden]) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
