/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.calendar-dialog-row {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--calendar-dialog-row-content-gap) var(--calendar-dialog-row-column-gap);
  padding-inline: var(--calendar-dialog-row-padding-inline);
}

slot[name="content"]::slotted(*) {
  grid-column: 2;
}
