/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== accountManage.css ==============================================
  == Styles for the Mail Account Manager.
  ======================================================================= */

@import url("chrome://messenger/skin/");
@import url("chrome://global/skin/in-content/common.css");
@import url("chrome://messenger/skin/preferences/aboutPreferences.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

page {
  font-size: 0.95em;
  margin-inline-start: 4px;
}

page groupbox {
  margin-left: 6px;
  margin-right: 6px;
}

/* ::::: account manager :::::: */

.specialFolderPickerGrid {
  margin-inline-start: 20px;
}

.fccReplyFollowsParent {
  margin-inline-start: 20px;
}

.signatureBox {
  font-family: -moz-fixed;
}

listitem[default="true"],
#identitiesList > listitem:first-child {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(isDefaultServer-true) {
  text-decoration: underline;
}

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-smtp) {
  list-style-image: url("chrome://messenger/skin/icons/server.png");
  -moz-image-region: rect(16px 64px 32px 48px);
}

treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-im) {
  list-style-image: url("chrome://chat/skin/prpl-generic/icon.png");
}

#accounttree treechildren::-moz-tree-indentation {
  width: 1ch;
}

#accountActionsButton {
  margin-left: 0;
  margin-right: 0;
}

#accountActionsDropdown {
  min-width: 30ch;
}

/* ::::: SMTP Server Panel :::::: */

#smtpList {
  margin-inline-start: 6px;
}

#backgroundBox {
  background-color: var(--in-content-box-background);
}

#smtpServerInfoBox {
  background-color: var(--in-content-box-background);
  margin: 0 6px 5px;
}

#smtpServerInfoBox label {
  height: 30px;
  padding-top: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

#smtpServerInfoBox textbox {
  background-color: transparent !important;
}

/* ::::: dialog header ::::: */

.dialogheader-title {
  margin-top: 0;
  margin-bottom: 8px;
  margin-inline-start: 6px;
  font-size: 1.46em;
  font-weight: 300;
  line-height: 1.3em;
  color: var(--in-content-text-color);
}
