/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/editContactPanel.css");

@namespace html url("http://www.w3.org/1999/xhtml");

#contactMoveDisabledText {
  margin-top: 5px;
}

html|input.editContactTextbox {
  appearance: none;
  cursor: text;
  margin: 1px 4px;
  background-color: Field;
  border-radius: 3px;
  border: 1px solid ThreeDShadow;
  padding: 3px 6px;
  width: 20em;
}

html|input.editContactTextbox:focus {
  border-color: Highlight;
}
