/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== filterDialog.css ===============================================
  == Styles for the Mail Filters dialog.
  ======================================================================= */

@import url("chrome://messenger/skin/shared/filterDialog.css");

/* ::::: columns :::::: */

#gray_horizontal_splitter {
  margin-inline: -6px;
}

#filterHeader,
#filterListGrid {
  margin: 8px 6px 0;
}

#FilterEditor {
  padding-inline: 4px;
}

.search-menulist,
.search-value-menulist {
  width: 16em;
}

.small-button {
  min-width: 3em;
  padding: 0;
  margin: 2px;

  & + & {
    margin-inline: 0 4px;
  }
}

toolbarbutton[is="toolbarbutton-menu-button"] {
  padding-inline-end: 8px !important;

  & > dropmarker {
    padding-inline-start: 6px;
  }
}
