/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

menulist[is="menulist-editable"][editable="true"] {
  -moz-appearance: none;
}

menulist[is="menulist-editable"][editable="true"] .menulist-dropmarker {
  display: -moz-box;
  min-width: 2em;
}
