/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ..... select column ..... */

.selectColumnHeader {
  min-width: 28px;
}

.selectColumnHeader,
treechildren::-moz-tree-image(selectCol) {
  cursor: pointer;
  list-style-image: url("chrome://messenger/skin/icons/checkbox.svg");
}

.selectColumnHeader > .treecol-icon,
treechildren::-moz-tree-image(selectCol) {
  width: 14px;
  height: 14px;
  -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity;
  fill: currentColor;
  stroke: currentColor;
  fill-opacity: 0;
  stroke-opacity: 0;
}

.selectColumnHeader.someselected > .treecol-icon {
  stroke-opacity: 1;
}

.selectColumnHeader.allselected > .treecol-icon,
treechildren::-moz-tree-image(selectCol, selected) {
  fill-opacity: 1;
}

treechildren::-moz-tree-image(selectCol) {
  width: 12px;
  height: 12px;
}

/* ..... delete column ..... */

.deleteColumnHeader {
  list-style-image: url("chrome://messenger/skin/icons/delete-col.svg");
}

treechildren::-moz-tree-image(deleteCol) {
  list-style-image: url("chrome://messenger/skin/icons/delete.svg");
}

treechildren::-moz-tree-image(deleteCol) {
  fill: currentColor;
  opacity: 0.3;
  width: 14px;
}

treechildren::-moz-tree-image(deleteCol, hover),
treechildren::-moz-tree-image(deleteCol, selected),
treechildren::-moz-tree-image(deleteCol, imapdeleted) {
  opacity: 0.6;
}

treechildren::-moz-tree-image(deleteCol, imapdeleted) {
  list-style-image: url("chrome://messenger/skin/icons/restore.svg");
  opacity: 0.6;
}

/* ..... thread column ..... */

.threadColumnHeader {
  list-style-image: url(chrome://messenger/skin/icons/thread-col.svg);
  padding-inline-end: 1px;
}

treechildren::-moz-tree-image(threadCol, container) {
  list-style-image: url(chrome://messenger/skin/icons/thread.png);
}

treechildren::-moz-tree-image(threadCol, watch) {
  list-style-image: url(chrome://messenger/skin/icons/thread-watched.png);
}

treechildren::-moz-tree-image(threadCol, ignore) {
  list-style-image: url(chrome://messenger/skin/icons/thread-ignored.png);
}

treechildren::-moz-tree-image(threadCol, ignoreSubthread) {
  list-style-image: url(chrome://messenger/skin/icons/message-ignored.png);
}

/* ..... read column ..... */

.readColumnHeader {
  list-style-image: url(chrome://messenger/skin/icons/readcol.svg);
  padding-inline-end: 3px;
}

treechildren::-moz-tree-image(unreadButtonColHeader) {
  list-style-image: url(chrome://messenger/skin/icons/message-list.png);
  -moz-image-region: rect(0 16px 16px 0);
}

treechildren::-moz-tree-image(unreadButtonColHeader, unread) {
  -moz-image-region: rect(16px 16px 32px 0);
}

/* ..... attachment column ..... */

.attachmentColumnHeader {
  list-style-image: url(chrome://messenger/skin/icons/attachment-col.svg);
  padding-inline-end: 2px;
}

treechildren::-moz-tree-image(attachmentCol, attach) {
  list-style-image: url(chrome://messenger/skin/icons/attachment-col.svg);
  padding-inline-start: 6px;
}

/* ..... flag column ..... */

.flagColumnHeader {
  list-style-image: url(chrome://messenger/skin/icons/flag-col.svg);
  padding-inline-end: 3px;
}

treechildren::-moz-tree-image(flaggedCol) {
  list-style-image: url(chrome://messenger/skin/icons/message-list.png);
  -moz-image-region: rect(96px 16px 112px 0);
  padding-inline-end: 3px;
}

treechildren::-moz-tree-image(flaggedCol, flagged) {
  -moz-image-region: rect(80px 16px 96px 0);
  padding-inline-end: 3px;
}

/* ..... junkStatus column ..... */

.junkStatusHeader {
  list-style-image: url(chrome://messenger/skin/icons/junk-col.svg);
}

/* "unknown" now looks like "not junk".  see bug #182386 */
treechildren::-moz-tree-image(junkStatusCol) {
  list-style-image: url(chrome://messenger/skin/icons/junk.svg);
  -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity;
  fill: currentColor;
  stroke: currentColor;
  fill-opacity: 0.2;
  stroke-opacity: 0;
}

treechildren::-moz-tree-image(junkStatusCol, junk) {
  fill: #f68a16;
  fill-opacity: 1;
  stroke: #eed003;
  stroke-opacity: 0.8;
}

treechildren::-moz-tree-image(junkStatusCol, notjunk) {
  fill: currentColor;
  stroke: currentColor;
  fill-opacity: 0.2;
  stroke-opacity: 0;
}

/* ..... subject column ..... */

#subjectCol {
  padding-inline-start: 16px;
}

#subjectCol[primary="true"] {
  padding-inline-start: 26px;
}

treechildren::-moz-tree-image(subjectCol) {
  margin-inline-end: 2px;
  list-style-image: url(chrome://messenger/skin/icons/message-list.png);
  -moz-image-region: rect(176px 16px 192px 0);
}

treechildren::-moz-tree-image(subjectCol, forwarded) {
  -moz-image-region: rect(128px 16px 144px 0);
}

treechildren::-moz-tree-image(subjectCol, replied) {
  -moz-image-region: rect(112px 16px 128px 0);
}

treechildren::-moz-tree-image(subjectCol, replied, forwarded) {
  -moz-image-region: rect(144px 16px 160px 0);
}

treechildren::-moz-tree-image(subjectCol, new) {
  -moz-image-region: rect(64px 16px 80px 0);
}

treechildren::-moz-tree-image(subjectCol, imapdeleted) {
  list-style-image: url("chrome://messenger/skin/icons/cancel.svg");
  fill: #ff0039;
  width: 12px;
  margin-inline: 2px 4px;
}
