/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messageHeader.css ==============================================
  == Styles for the header toolbars of a mail message.
  ======================================================================= */

@import url("chrome://messenger/skin/shared/messageHeader.css");

/* ::::: for the entire area ::::: */
#singleMessage,
#calendar-task-details-container {
  color: WindowText;
  background-color: AppWorkspace;
}

/* ::::: expanded header pane ::::: */

.inline-toolbox {
  appearance: none;
  padding-inline-end: 2px;
}

/* ::::: msg header captions ::::: */

.dateLabel {
  line-height: 1.5em;
  margin: 0;
  padding-block: .1em;
  margin-inline: 0 9px;
}

.headerName,
#attachmentSize {
  color: #888a85; /* lower contrast */
}
