/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messenger.css ==================================================
  == Styles shared throughout the Messenger application.
  ======================================================================= */

@import url("chrome://global/skin/global.css");
@import url("chrome://messenger/content/messenger.css");
@import url("chrome://messenger/skin/shared/messenger.css");

:root {
  --tabline-color: Highlight;

  --toolbar-non-lwt-bgcolor: -moz-dialog;
  --toolbar-non-lwt-textcolor: -moz-dialogtext;
  --toolbar-non-lwt-bgimage: linear-gradient(rgba(255,255,255,.15), rgba(255,255,255,.15));
  --chrome-content-separator-color: ThreeDShadow;

  --toolbarbutton-border-radius: 2px;

  --row-grouped-header-bg-color: -moz-dialog;
  --row-grouped-header-bg-color-selected: Highlight;
  --panel-separator-color: ThreeDShadow;
  --arrowpanel-dimmed: hsla(0, 0%, 80%, .3);
  --arrowpanel-dimmed-further: hsla(0, 0%, 80%, .45);
  --splitter-color: ThreeDShadow;
  --urlbar-popup-url-color: -moz-nativehyperlinktext;
  --urlbar-popup-action-color: -moz-nativehyperlinktext;

  --select-focus-text-color: HighlightText;
}

:root:-moz-lwtheme {
  --panel-separator-color: hsla(210, 4%, 10%, .14);
}

:root[lwt-popup-brighttext] {
  --panel-separator-color: rgba(249, 249, 250, .1);
  --arrowpanel-dimmed: rgba(249, 249, 250, .1);
  --arrowpanel-dimmed-further: rgba(249, 249, 250, .15);
}

:root[lwt-tree] {
  --splitter-color: var(--sidebar-border-color);
  --row-grouped-header-bg-color: hsla(0, 0%, 50%, .15);
  --row-grouped-header-bg-color-selected: var(--sidebar-highlight-background-color,
                                              hsla(0, 0%, 80%, .6));

  --select-focus-text-color: var(--sidebar-highlight-text-color,
                             var(--sidebar-text-color));
}

:root[lwt-tree-brighttext] {
  --row-grouped-header-bg-color-selected: var(--sidebar-highlight-background-color,
                                              rgba(249, 249, 250, .3));
}

#tabs-toolbar {
  --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background,
                                        hsla(240, 5%, 5%, .1));
  --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background,
                                         hsla(240, 5%, 5%, .1));
  --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background,
                                         hsla(240, 5%, 5%, .15));
  --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background,
                                          hsla(240, 5%, 5%, .15));
}

#tabs-toolbar[brighttext] {
  --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background,
                                        hsla(0, 0%, 70%, .4));
  --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background,
                                         hsla(0, 0%, 70%, .4));
  --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background,
                                         hsla(0, 0%, 70%, .6));
  --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background,
                                          hsla(0, 0%, 70%, .6));
}

/* Hide the titlebar explicitly on versions of GTK+ where
 * it's rendered by window manager. */
@media (-moz-gtk-csd-available: 0) {
  #titlebar {
    display: none;
  }
}

/* We draw to titlebar when Gkt+ CSD is available */
@media (-moz-gtk-csd-available) {
  /* Some Gtk+ themes use non-rectangular toplevel windows. To fully support
   * such themes we need to make toplevel window transparent.
   * It may cause performanance issues so let's put it under a preference
   * and enable it for desktop environment which do that by default.
   * See nsWindow::TopLevelWindowUseARGBVisual() for details. */
  @media (-moz-gtk-csd-transparent-background) {
    :root[tabsintitlebar]:not(:-moz-lwtheme) {
      background-color: transparent;
      background-image: linear-gradient(transparent 25px, -moz-dialog 25px);
      appearance: none;
    }
  }

  :root[tabsintitlebar] #titlebar:-moz-lwtheme {
    visibility: hidden;
  }
  :root[tabsintitlebar] #titlebar-content:-moz-lwtheme {
    visibility: visible;
  }

  :root[tabsintitlebar] #titlebar {
    appearance: auto;
    -moz-default-appearance: -moz-window-titlebar-maximized;
  }
  :root[tabsintitlebar][sizemode="normal"]:not([gtktiledwindow="true"]) #titlebar {
    appearance: auto;
    -moz-default-appearance: -moz-window-titlebar;
  }

  /* Add extra space to titlebar for dragging */
  :root[sizemode="normal"] #mail-toolbar-menubar2[autohide="true"][inactive] ~ #tabs-toolbar {
    padding-top: var(--space-above-tabbar);
  }

  /* Make #TabsToolbar transparent as we style underlying #titlebar with
      * -moz-window-titlebar (Gtk+ theme).
      */
  :root[tabsintitlebar] #tabs-toolbar,
  :root[tabsintitlebar] #mail-toolbar-menubar2 {
    appearance: none;
  }

  /* The button box must appear on top of the navigator-toolbox in order for
   * click and hover mouse events to work properly for the button in the restored
   * window state. Otherwise, elements in the navigator-toolbox, like the menubar,
   * can swallow those events.
   */
  #titlebar-buttonbox {
    position: relative;
    z-index: 1;
    -moz-box-align: center;
  }

  /* Render titlebar command buttons according to system config.
   * Use full scale icons here as the Gtk+ does.
   */
  @media (-moz-gtk-csd-minimize-button) {
    #titlebar-min {
      appearance: auto;
      -moz-default-appearance: -moz-window-button-minimize;
    }
  }
  @media (-moz-gtk-csd-minimize-button: 0) {
    #titlebar-min {
      display: none;
    }
  }

  @media (-moz-gtk-csd-maximize-button) {
    #titlebar-max {
      appearance: auto;
      -moz-default-appearance: -moz-window-button-maximize;
    }
    :root[sizemode="maximized"] #titlebar-max {
      appearance: auto;
      -moz-default-appearance: -moz-window-button-restore;
    }
  }
  @media (-moz-gtk-csd-maximize-button: 0) {
    #titlebar-max {
      display: none;
    }
  }

  @media (-moz-gtk-csd-close-button) {
    #titlebar-close {
      appearance: auto;
      -moz-default-appearance: -moz-window-button-close;
    }
  }
  @media (-moz-gtk-csd-close-button: 0) {
    #titlebar-close {
      display: none;
    }
  }

  @media (-moz-gtk-csd-reversed-placement: 0) {
    .titlebar-placeholder[type="caption-buttons"] {
      -moz-box-ordinal-group: 1000;
    }

    :root[tabsintitlebar] .titlebar-placeholder[type="caption-buttons"] {
      margin-inline-start: 10px;
    }
  }

  @media (-moz-gtk-csd-reversed-placement) {
    #titlebar-buttonbox-container,
    #titlebar-close,
    .titlebar-placeholder[type="caption-buttons"] {
      -moz-box-ordinal-group: 0;
    }

    :root[tabsintitlebar] .titlebar-placeholder[type="caption-buttons"] {
      margin-inline-end: 10px;
    }
  }
}

toolbar:not(.inline-toolbar,.contentTabToolbar,:-moz-lwtheme) {
  appearance: auto;
  -moz-default-appearance: menubar;
  color: -moz-menubartext;
}

.inline-toolbar,
.contentTabToolbar {
  appearance: none;
  min-height: 15px;
  padding: 0;
}

.inline-toolbar toolbarseparator {
  height: 28px;
}

.inline-toolbar toolbarspacer {
  height: 23px;
}

/*
 * Override the menulist icon forbidding in menu.css so that we can show
 * check-marks. radio-marks and folder icons. bug 443516
 */
.menulist-menupopup > menuitem > .menu-iconic-left,
menulist > menupopup >
  menuitem:is(.menuitem-iconic,[type="radio"],[type="checkbox"]) >
  .menu-iconic-left,
.menulist-menupopup > menu > .menu-iconic-left,
menulist > menupopup >
  menu:is(.menuitem-iconic,[type="radio"],[type="checkbox"]) >
  .menu-iconic-left {
  display: -moz-box;
}

/* ::::: Toolbar customization ::::: */

toolbarpaletteitem[place="toolbar"] > toolbarspacer {
  width: 11px;
}

/* ::::: toolbarbutton menu-button ::::: */

toolbarbutton[type="menu-button"] {
  -moz-box-align: stretch;
  appearance: auto;
  -moz-default-appearance: dualbutton;
  -moz-box-orient: horizontal !important;
  padding: 0 !important;
}

/* .......... dropmarker .......... */

.toolbarbutton-menubutton-dropmarker {
  appearance: auto;
  -moz-default-appearance: toolbarbutton-dropdown !important;
  list-style-image: none;
  -moz-image-region: auto;
}

/* ::::: toolbarbutton ::::: */

.findbar-button {
  appearance: none;
  padding: 5px;
}

.toolbarbutton-1,
.toolbarbutton-menubutton-button,
.toolbarbutton-1[type="menu-button"],
.toolbarbutton-1 .toolbarbutton-menu-dropmarker,
.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  appearance: none;
}

.toolbarbutton-1 .toolbarbutton-menu-dropmarker {
  margin-inline-start: 3px;
}

toolbar[mode="text"] .toolbarbutton-text {
  margin: 0 !important;
  padding-inline: 2px !important;
}

.toolbarbutton-1[disabled=true] .toolbarbutton-icon,
.toolbarbutton-1[disabled=true] .toolbarbutton-text,
.toolbarbutton-1[disabled=true] .toolbarbutton-menu-dropmarker,
.toolbarbutton-1[disabled=true] > .toolbarbutton-menubutton-dropmarker {
  opacity: .4;
}

.sidebar-header .toolbarbutton-text:not([value]) {
  display: none;
}

button[type="menu-button"] > .button-box > button {
  margin-block: -5px;
}

/* message column icons */

.treecol-sortdirection {
  appearance: none;
  -moz-context-properties: fill;
  fill: currentColor;
}

treecol[sortDirection="ascending"]:not([hideheader="true"]) > .treecol-sortdirection {
  list-style-image: url("chrome://global/skin/icons/arrow-dropdown-12.svg");
}

treecol[sortDirection="descending"]:not([hideheader="true"]) > .treecol-sortdirection {
  list-style-image: url("chrome://global/skin/icons/arrow-up-12.svg");
}

.treecol-image image {
  -moz-context-properties: fill;
  fill: currentColor;
}

treecol.treecol-image:hover:active {
  padding-inline-start: 1px;
}

:root[lwt-tree] treecol:not([hideheader="true"]),
:root[lwt-tree] treecolpicker:not([hideheader="true"]) {
  padding-inline-start: 7px;
  padding-inline-end: 6px;
}

:root[lwt-tree] treechildren::-moz-tree-row(odd) {
  background-color: transparent;
}

treechildren::-moz-tree-row {
  min-height: 18px;
}

treechildren::-moz-tree-cell-text {
  padding-inline-start: 5px;
}

treechildren::-moz-tree-twisty(selected, focus) {
  color: HighlightText;
}

/* Status bar */

.statusbar {
  appearance: auto;
  -moz-default-appearance: statusbar;
  min-height: 22px;
}

.statusbar:-moz-lwtheme {
  appearance: none;
}

.statusbar:-moz-lwtheme-brighttext {
  --tabs-border-color: hsla(0,0%,60%,.4);
}

.statusbarpanel {
  appearance: none;
}

.statusbarpanel-iconic {
  padding: 0 1px;
}

/* Status panel */

.statuspanel-label {
  margin: 0;
  padding: 2px 4px;
  background-color: -moz-dialog;
  border: 1px none ThreeDShadow;
  border-top-style: solid;
  color: -moz-dialogText;
  text-shadow: none;
}

.statuspanel-label:-moz-locale-dir(ltr):not([mirror]),
.statuspanel-label:-moz-locale-dir(rtl)[mirror] {
  border-right-style: solid;
  border-top-right-radius: .3em;
  margin-right: 1em;
}

.statuspanel-label:-moz-locale-dir(rtl):not([mirror]),
.statuspanel-label:-moz-locale-dir(ltr)[mirror] {
  border-left-style: solid;
  border-top-left-radius: .3em;
  margin-left: 1em;
}

.contentTabInstance {
  background-color: -moz-dialog;
}

.contentTabInstance:-moz-lwtheme {
  background-color: transparent;
  background-image: linear-gradient(transparent 40px, -moz-dialog 40px);
}

findbar {
  background-color: var(--toolbar-non-lwt-bgcolor);
  color: var(--toolbar-non-lwt-textcolor);
  text-shadow: none;
}

:root:not([lwtheme-image]) findbar:-moz-lwtheme {
  background-color: var(--lwt-accent-color);
  background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor));
  border-top-color: var(--chrome-content-separator-color);
  color: var(--toolbar-color);
}

fieldset {
  margin: 5px;
  padding: 5px;
  border: none;
}

legend {
  font-weight: bold;
}

fieldset > hbox,
fieldset > vbox,
fieldset > radiogroup {
  width: -moz-available;
}
