/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/content/quickFilterBar.css");

/* :::: Filter Bar :::: */

#quick-filter-bar {
  background-color: -moz-dialog;
  border-bottom: 1px solid ThreeDShadow;
}

#quick-filter-bar-main-bar {
  padding-inline-start: 4px;
}

#qfb-qs-textbox {
  margin: 5px;
}

#quick-filter-bar-expando {
  margin-top: -1px;
  padding-bottom: 2px;
}

#quick-filter-bar-filter-text-bar {
  padding-inline-end: 4px;
}

#threadTree[filterActive="matches"] {
  outline: 1px solid #4e9a06;
}

#threadTree[filterActive="nomatches"] {
  outline: 1px solid #cc0000;
}

/* :::: Filter Buttons :::: */

#quick-filter-bar toolbarbutton {
  margin-right: 1px;
  margin-left: 1px;
}

#quick-filter-bar-main-bar toolbarbutton {
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

#qfb-sticky {
  list-style-image: url("chrome://messenger/skin/icons/sticky.svg");
}

#qfb-unread {
  list-style-image: url("chrome://messenger/skin/icons/mark.svg");
}

#qfb-starred {
  list-style-image: url("chrome://messenger/skin/icons/star.svg");
}

#qfb-inaddrbook {
  list-style-image: url("chrome://messenger/skin/icons/address.svg")
}

#qfb-tags {
  list-style-image: url("chrome://messenger/skin/icons/tag.svg");
}

#qfb-attachment {
  list-style-image: url("chrome://messenger/skin/icons/attach.svg");
}

#qfb-results-label {
  color: GrayText;
}

#quick-filter-bar[filterActive="matches"] #qfb-results-label {
  color: #4e9a06;
}

#quick-filter-bar[filterActive="nomatches"] #qfb-results-label {
  color: #cc0000;
}

#qfb-boolean-mode {
  margin-top: 0;
  margin-bottom: 0;
}
