/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/spacesToolbar.css");

@media (-moz-gtk-csd-available) {
  :root[tabsintitlebar]:not([gtktiledwindow="true"]) .spaces-toolbar:not([hidden]) {
    border-start-start-radius: env(-moz-gtk-csd-titlebar-radius);
  }
}

:root[tabsintitlebar][sizemode="normal"]:not([gtktiledwindow="true"]) {
  /* stylelint-disable-next-line media-query-no-invalid */
  @media (-moz-bool-pref: "widget.gtk.rounded-bottom-corners.enabled") {
    .spaces-toolbar:not([hidden]) {
      &:-moz-locale-dir(ltr) {
        border-bottom-left-radius: env(-moz-gtk-csd-titlebar-radius);
      }

      &:-moz-locale-dir(rtl) {
        border-bottom-right-radius: env(-moz-gtk-csd-titlebar-radius);
      }
    }
  }
}
