/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/tabmail.css");

/**
 * Tabmail Tabs
 */

#navigation-toolbox:not(:-moz-lwtheme) {
  -moz-appearance: menubar;
}

#tabs-toolbar {
  -moz-appearance: none;
  padding: 0;
  background-image: linear-gradient(to top, hsla(0, 0%, 0%, .3) 1px,
                                    transparent 1px);
}

#tabs-toolbar:not(:-moz-lwtheme) {
  -moz-binding: url("chrome://global/content/bindings/toolbar.xml#toolbar-drag");
}

#tabpanelcontainer:-moz-lwtheme {
  color: inherit;
}

tabpanels {
  -moz-appearance: none;
  background-color: transparent;
}

/**
 * Tab
 */

.tabmail-tab {
  list-style-image: url("moz-icon://stock/gtk-file?size=menu");
}

.tabmail-tab > .tab-stack > .tab-content > .tab-label-container {
  /* tabmail-tab focus ring */
  border: 1px dotted transparent;
  margin: -1px !important; /* let the border not consume any space, like outline */
}

.tabmail-tab[selected]:focus > .tab-stack > .tab-content > .tab-label-container {
  border-color: -moz-DialogText;
}

/* Tab drag and drop */
.tab-drop-indicator {
  list-style-image: url(tabs/dragIndicator.png);
  margin-bottom: -11px;
}

/* Tabstrip close button */
.tabs-closebutton {
  border: none;
  margin-top: 1px;
}

/* In-tab close button */
.tab-close-button {
  list-style-image: none;
}

.tabs-closebutton:not(:hover),
.tab-close-button:not([selected]):not(:hover) {
  background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 64, 16, 48);
}

.tabs-closebutton:not(:hover):-moz-lwtheme-brighttext,
.tab-close-button:not(:hover):-moz-lwtheme-brighttext,
#tabs-toolbar[brighttext] .tabs-closebutton:not(:hover),
#tabs-toolbar[brighttext] .tab-close-button:not([selected]):not(:hover) {
  background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 80, 16, 64);
}

.tabs-closebutton:not(:hover):-moz-lwtheme-darktext,
.tab-close-button:not([selected]):not(:hover):-moz-lwtheme-darktext {
  background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 96, 16, 80);
}

/**
 * Tab Scrollbox Arrow Buttons
 */

.tabmail-arrowscrollbox > .scrollbutton-up,
.tabmail-arrowscrollbox > stack > .scrollbutton-down,
.tabmail-arrowscrollbox > .scrollbutton-up > .toolbarbutton-icon,
.tabmail-arrowscrollbox > stack > .scrollbutton-down > .toolbarbutton-icon {
  -moz-appearance: none;
}

.tabmail-arrowscrollbox > .scrollbutton-up:not([disabled]):hover,
.tabmail-arrowscrollbox > stack > .scrollbutton-down:not([disabled]):hover {
  background: var(--toolbarbutton-active-background);
}

.tabmail-arrowscrollbox > .scrollbutton-up[disabled],
.tabmail-arrowscrollbox > stack > .scrollbutton-down[disabled] {
  opacity: .4;
}

.tabs-alltabs-box-animate {
  background-color: Highlight;
  opacity: 0;
}

/**
 * All Tabs Menupopup
 */

.alltabs-item {
  list-style-image: url("moz-icon://stock/gtk-file?size=menu");
}

.tabs-alltabs-button {
  min-width: 24px;
  padding-right: 1px;
  padding-left: 1px;
}

.tabs-alltabs-button > .toolbarbutton-icon {
  margin-inline-end: 0;
}

.alltabs-item > .menu-iconic-left {
  visibility: visible !important;
}
