/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/themeableDialog.css");

@namespace html url("http://www.w3.org/1999/xhtml");

:root:-moz-lwtheme {
  appearance: none;
}

button > .button-box {
  appearance: none;
  padding-block: 4px;
}

#resetColor > .button-box {
  padding-block: 0;
}

.button-menu-dropmarker {
  appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
  content: var(--icon-nav-down-sm);
  -moz-context-properties: stroke;
  stroke: currentColor;
}

html|input {
  padding: 4px;

  &[type="number"]::-moz-number-spin-up,
  &[type="number"]::-moz-number-spin-down {
    min-height: 0.7em;
  }
}

menulist[is="menulist-editable"][editable="true"] {
  appearance: none;
  margin-inline-end: 4px;
  padding: 0;

  &::part(text-input) {
    padding: 5px 4px;
    margin-block: -2px;
    margin-inline: -7px 7px;
  }

  &::part(dropmarker) {
    width: initial;
    margin-inline-end: 3px;
  }
}

menulist menupopup menu,
menulist menupopup menuitem,
button menupopup menu,
button menupopup menuitem {
  appearance: none;
  padding: 5px 8px;
}

.menu-right {
  height: 1em;
  margin-inline-end: 3px;
  transform: scale(0.7);
}

tab + tab {
  margin-inline-start: 0;
}
