/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/in-content/aboutPreferences.css");

.dialogBox,
#MailPreferences > prefpane {
  font-size: 1.11em;
}

radio[pane] > .radio-label-box {
  font-size: 1.2em;
}

checkbox {
  -moz-binding: url("chrome://global/content/bindings/checkbox.xml#checkbox") !important;
}

spinbuttons {
  -moz-appearance: none;
}

.treecol-sortdirection {
  /* override the Linux only toolkit rule */
  -moz-appearance: none;
}

.actionsMenu > .menulist-label-box > .menulist-icon {
  margin-inline-start: 1px;
  margin-inline-end: 8px;
}

menulist.actionsMenu > .menulist-dropmarker {
  margin-top: 11px;
  margin-bottom: 11px;
}

textbox[type="number"] {
  -moz-appearance: none;
  border: 1px solid var(--in-content-box-border-color);
  background-color: var(--in-content-box-background);
}

.numberbox-input-box {
  -moz-appearance: none;
  border-width: 0;
}

.sidebar-footer-label {
  font-size: 1em;
}

/**
 * Dialog
 */

#dialogTitle {
  font-size: 1.05em;
}

#defaultWebSearchPopup > menuitem > .menu-iconic-left {
  margin-inline-start: 5px !important;
}
