/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/in-content/aboutPreferences.css");
@namespace html "http://www.w3.org/1999/xhtml";

.dialogBox,
#MailPreferences prefpane {
  font-size: 1.11em;
}

radio[pane] > .radio-label-box {
  font-size: 1.2em;
}

.treecol-sortdirection {
  /* override the Linux only toolkit rule */
  -moz-appearance: none;
}

.actionsMenu > .menulist-label-box > .menulist-icon {
  margin-inline-start: 1px;
  margin-inline-end: 8px;
}

menulist.actionsMenu > .menulist-dropmarker {
  margin-top: 11px;
  margin-bottom: 11px;
}

button[type="menu"] > .button-box > .button-menu-dropmarker {
  margin-inline-end: 4px;
  list-style-image: url("chrome://global/skin/icons/arrow-dropdown-12.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}

html|input[type="number"]::-moz-number-spin-up {
  min-height: 10px;
}

html|input[type="number"]::-moz-number-spin-down {
  min-height: 11px;
}

.sidebar-footer-label {
  font-size: 1em;
}

/**
 * Dialog
 */

#dialogTitle {
  font-size: 1.05em;
}

#defaultWebSearchPopup > menuitem > .menu-iconic-left {
  margin-inline-start: 5px !important;
}
