/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#Chat {
  white-space: normal;
}

/* The "#chat " is required to override "#Chat *" from conv.css */

.message {
  display: flex;
  align-items: flex-start;
  margin-block: 5px;
  padding: 5px 6px;
  border-radius: 4px;
}

#Chat .event {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  clear: none;
  padding-inline: 6px;
}

.event-row {
  display: flex;
  align-items: start;
}

#Chat .event p {
  margin: 0;
  margin-block-end: 5px;
  color: GrayText;
}

#Chat #unread-ruler {
  margin: 4px;
  border-top: 1px solid #30e60b;
}

.message:hover,
.message:focus {
  background-color: rgba(0, 0, 0, 0.03);
}

.sidebar {
  display: flex;
  justify-content: end;
  margin-inline-end: 10px;
  margin-block-start: 2px;
  width: 4.5em;
  flex-wrap: wrap;
  text-align: right;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pseudo {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin-block-end: 0;
}

.outgoing .pseudo {
  color: #0060DF;
}

.incoming .pseudo {
  color: #B5007F;
}

.message:not(.action) > .next {
  visibility: hidden;
}

.date {
  font-size: 0.75em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  color: GrayText;
  white-space: nowrap;
}

.encrypted {
  display: none;
  width: 11px;
  height: 11px;
  opacity: 0.35;
  background: url("chrome://messenger/skin/icons/connection-secure.svg") no-repeat center;
  background-size: contain;
  margin-top: 1px;
  margin-inline-end: 2px;
}

.encrypted:hover {
  opacity: 0.75;
}

.encrypted.show {
  display: inline-block;
}

.usericon {
  display: none;
}

.nick {
  font-weight: bold;
}

.nick > .pseudo {
  text-decoration: underline;
}

.action {
  font-style: italic;
}

.context {
  color: rgb(91, 91, 91);
}

.context > .pseudo {
  opacity: 0.7;
}

p *:any-link img {
  margin-bottom: 1px;
  border-bottom: solid 1px;
}

.sessionstart-ruler {
  margin: 8px 0 12px;
  width: 100%;
  border: none;
  border-top: 1px solid ThreeDDarkShadow;
}

/* used by javascript */
.eventToggle {
  background: url("chrome://global/skin/icons/twisty-expanded.svg") no-repeat left center;
  margin-bottom: -22px;
  cursor: pointer;
  height: 22px;
  width: 20px;
  z-index: 1;
  opacity: 0.5;
}

.eventToggle:hover {
  opacity: 1;
}

.hide-children > :-moz-any(p.event.row, hr):not(:first-of-type):not(:last-of-type):not(.no-collapse) {
  display: none;
}

/* We style Twitter differently from other types of chat */

.message:-moz-any([data-prpl="Twitter"], [data-prpl="twitter"]) {
  background-color: rgba(69, 161, 255, 0.1);
  border: 1px solid #45a1ff;
  margin-bottom: 10px;
}

.message:-moz-any([data-prpl="Twitter"], [data-prpl="twitter"]) .next {
  visibility: visible;
}

.message:-moz-any([data-prpl="Twitter"], [data-prpl="twitter"]) .usericon {
  display: block;
  max-width: 42px;
  max-height: 42px;
  border-radius: 9999px;
  margin-block-end: 8px;
}
