/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== sidebarPanel.css ===============================================
  == Styles for the Address Book sidebar panel.
  ======================================================================= */

@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://messenger/skin/addressbook/addressbook.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#abContactsPanel {
  -moz-appearance: none !important;
  background-color: transparent;
}

#abContextMenuButton {
  -moz-appearance: button;
  margin-top: -4px;
  margin-inline-end: 1px;
  list-style-image: url("chrome://messenger/skin/addressbook/icons/menu.svg");
}

#abContextMenuButton > .toolbarbutton-icon {
  width: 11px;
  height: 11px;
}

#abContextMenuButton > .toolbarbutton-text {
  display: none;
}

#results_box {
  background-color: transparent;
}
