/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/shared/calendar-task-view.css);

:root[lwt-tree-brighttext] #calendar-task-details-container {
    --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .25));
    --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .5));
    --toolbarbutton-header-bordercolor: var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .25));
    --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background, rgba(255, 255, 255, .4));
    --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background, rgba(255, 255, 255, .7));
    --toolbarbutton-active-boxshadow: 0 0 0 1px var(--lwt-toolbarbutton-active-background, rgba(255, 255, 255, .4)) inset;
    --toolbarbutton-checkedhover-backgroundcolor: var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .5));
}

#calendar-task-details-container {
    border-top: 1px solid ThreeDShadow;
    border-left: 1px solid ThreeDShadow;
    border-right: 0;
    border-bottom: 0;
    overflow: hidden;
}

#other-actions-box {
    margin-inline-end: -2px;
}

#task-text-filter-field {
    margin-top: 5px;
    margin-bottom: 5px;
}

#task-text-filter-field .textbox-search-icons {
    margin-bottom: -1px;
}

/* ::::: task actions toolbar ::::: */

#calendar-add-task-button[disabled="true"] {
    fill-opacity: 0.4;
}

#view-task-edit-field,
#task-text-filter-field {
    width: 15em;
}

#calendar-task-box #calendar-task-view-splitter {
    border-width: 0;
    border-bottom: 1px solid var(--splitter-color);
    min-height: 0;
    height: 5px;
    background-color: transparent;
    margin-top: -5px;
    position: relative;
    z-index: 10;
}

#calendar-nav-control {
    border-top-width: 0;
}

#calendar-task-details-container {
    border-top-width: 0;
    padding-top: 0;
}

@media (-moz-windows-default-theme) {
    #task-addition-box {
        background-color: #f8f8f8;
        height: 32px;
    }
}

@media (-moz-os-version: windows-vista),
       (-moz-os-version: windows-win7) {
    #view-task-edit-field,
    #task-text-filter-field {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}
