/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/shared/calendar-views.css);

/* Navigation controls for the views */
#calendar-nav-control {
  background-color: ButtonFace;
  --calview-tabline-color: #0a84ff;
  --calview-border-color: ThreeDShadow;
  --calview-border-bottom-color: ThreeDShadow;
}

#view-box {
  background-color: Field;
  border-width: 0;
  border-inline-start: 1px;
}

.view-header {
  margin-bottom: 0;
}

radio.calview[selected="true"] {
  background-color: Field;
}

.navigation-inner-box > hbox {
  padding-top: 1px;
}

.navigation-bottombox {
  background-color: Field;
}

.today-navigation-button {
  padding-top: 0;
}

#calendar-view-box #calendar-view-splitter {
  border: none;
  border-bottom: 1px solid var(--splitter-color);
  min-height: 0;
  height: 5px;
  background-color: transparent;
  margin-top: -5px;
  position: relative;
  z-index: 10;
}
