/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar-common/skin/today-pane.css);

#today-pane-panel:-moz-lwtheme > sidebarheader {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 19px);
}

.miniday-nav-buttons {
  list-style-image: url("chrome://calendar-common/skin/widgets/nav-arrow.svg");
}

#previous-day-button:-moz-locale-dir(ltr),
#next-day-button:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

#miniday-dropdown-button {
  max-width: 18px;
}

.today-closebutton {
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-appearance: none;
  border: none !important;
  padding: 2px;
}

.today-closebutton > .toolbarbutton-icon {
  -moz-margin-end: 0px; /* override toolkit's default value */
}

@media (-moz-os-version: windows-xp) {
  #today-pane-panel {
    border-left: 1px solid ThreeDShadow;
  }

  #todaypane-new-event-button {
    list-style-image: url("chrome://calendar/skin/toolbar-small.png");
    -moz-image-region: rect(0px 16px 16px 0px);
  }
  #todaypane-new-event-button[disabled="true"] {
    -moz-image-region: rect(32px 16px 48px 0px);
  }
}

@media not all and (-moz-os-version: windows-xp) {
  #todaypane-new-event-button {
    list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#newevent);
  }

  #todaypane-new-event-button[disabled="true"] > .toolbarbutton-icon {
    opacity: 0.4;
  }

  #todaypane-new-event-button > .toolbarbutton-icon {
    width: 18px;
    height: 18px;
    margin: -1px;
  }

  @media (-moz-windows-default-theme) {
    #today-pane-panel > sidebarheader {
      -moz-appearance: none;
      background-color: #f8f8f8;
      border-bottom: none;
    }

    #today-pane-panel:-moz-lwtheme > sidebarheader {
      background-color: rgba(255, 255, 255, 0.3);
      background-image: linear-gradient(rgba(255, 255, 255, 0.5),
                        rgba(255, 255, 255, 0) 28px);
    }

    sidebarheader > spacer {
      min-height: 25px;
    }
  }
}

@media all and (-moz-windows-compositor) {
  @media not all and (-moz-os-version: windows-win10) {
    #messengerWindow[sizemode=normal] #today-pane-panel {
      -moz-border-end: 1px solid rgba(10%, 10%, 10%, .4);
      border-bottom: 1px solid rgba(10%, 10%, 10%, .4);
      background-clip: padding-box;
    }
  }

  #today-pane-panel .folderview-cycler {
    margin-top: -1px;
  }
}

@media (-moz-os-version: windows-win8),
       (-moz-os-version: windows-win10) {
  .today-closebutton {
    padding-top: 0;
    padding-bottom: 0;
    -moz-image-region: rect(0 20px 20px 0);
  }

  .today-closebutton:hover {
    -moz-image-region: rect(0 40px 20px 20px);
  }

  .today-closebutton:hover:active {
    -moz-image-region: rect(0 60px 20px 40px);
  }
}

@media (-moz-windows-default-theme) and (-moz-os-version: windows-win8),
       (-moz-windows-default-theme) and (-moz-os-version: windows-win10) {
  #todaypane-new-event-button {
    list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#newevent-flat);
  }
}
