/* -*- Mode: C++; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*- */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
#include <windows.h>
#include "nsNativeAppSupportWin.h"

1 24 "instantbird.exe.manifest"

#define IDI_APPICON 1
#define IDI_DOCUMENT 2
#ifndef IDI_APPLICATION
#define IDI_APPLICATION 32512
#endif

// Program icon.
IDI_APPICON  ICON  INSTANTBIRD_ICO
2  ICON  "available-16.ico"
3  ICON  "away-16.ico"
4  ICON  "offline-16.ico"
IDI_APPLICATION ICON INSTANTBIRD_ICO

STRINGTABLE DISCARDABLE
BEGIN
    IDS_STARTMENU_APPNAME,              "@MOZ_APP_DISPLAYNAME@"
END
