/* -*- Mode: C++; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*- */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
#include <windows.h>
#include "nsNativeAppSupportWin.h"

1 24 "instantbird.exe.manifest"

#define IDI_APPICON 1
#define IDI_DOCUMENT 2
#ifndef IDI_APPLICATION
#define IDI_APPLICATION 32512
#endif

// Program icon.
IDI_APPICON  ICON  INSTANTBIRD_ICO
2  ICON  "available-16.ico"
3  ICON  "away-16.ico"
4  ICON  "offline-16.ico"
IDI_APPLICATION ICON INSTANTBIRD_ICO

STRINGTABLE DISCARDABLE
BEGIN
#ifdef DEBUG
    IDS_STARTMENU_APPNAME,              "@MOZ_APP_DISPLAYNAME@ Debug"
#else
    IDS_STARTMENU_APPNAME,              "@MOZ_APP_DISPLAYNAME@"
#endif
END

#ifdef MOZ_STATIC_BUILD

// XXX This code is copied from resource.h and widget.rc.  It's a work-around
// for the limitation that only one resource file can be used in an .exe.  We
// should develop a method, for static builds only, to combine multiple .rc
// files into a single .rc file, and then use that to build the single .res
// file for the .exe.

#define IDC_GRAB                        4101
#define IDC_GRABBING                    4102
#define IDC_CELL                        4103
#define IDC_COPY                        4104
#define IDC_ALIAS                       4105
#define IDC_ZOOMIN                      4106
#define IDC_ZOOMOUT                     4107
#define IDC_COLRESIZE                   4108
#define IDC_ROWRESIZE                   4109
#define IDC_VERTICALTEXT                4110
#define IDC_NONE                        4112

IDC_GRAB                CURSOR  DISCARDABLE     "../../mozilla/widget/src/build/res/grab.cur"
IDC_GRABBING            CURSOR  DISCARDABLE     "../../mozilla/widget/src/build/res/grabbing.cur"
IDC_CELL                CURSOR  DISCARDABLE     "../../mozilla/widget/src/build/res/cell.cur"
IDC_COPY                CURSOR  DISCARDABLE     "../../mozilla/widget/src/build/res/copy.cur"
IDC_ALIAS               CURSOR  DISCARDABLE     "../../mozilla/widget/src/build/res/aliasb.cur"
IDC_ZOOMIN              CURSOR  DISCARDABLE     "../../mozilla/widget/src/build/res/zoom_in.cur"
IDC_ZOOMOUT             CURSOR  DISCARDABLE     "../../mozilla/widget/src/build/res/zoom_out.cur"
IDC_COLRESIZE           CURSOR  DISCARDABLE     "../../mozilla/widget/src/build/res/col_resize.cur"
IDC_ROWRESIZE           CURSOR  DISCARDABLE     "../../mozilla/widget/src/build/res/row_resize.cur"
IDC_VERTICALTEXT        CURSOR  DISCARDABLE     "../../mozilla/widget/src/build/res/vertical_text.cur"
IDC_NONE                CURSOR  DISCARDABLE     "../../mozilla/widget/src/build/res/none.cur"
#endif
