/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== accountCentral.css ==========================================
  == Styles for the Messenger Account Central panel.
  ======================================================================= */

@import url("chrome://messenger/skin/shared/accountCentral.css");

#acctCentralGrid {
  font: menu;
}

.acctCentralText {
  padding-top: 3px;
}

/* ::::: links ::::: */

#ReadMessages label {
  background: url("chrome://messenger/skin/accountcentral/mailbox.png") no-repeat;
  background-size: 24px 24px;
}

#ComposeMessage label {
  background: url("chrome://messenger/skin/accountcentral/writemail.png") no-repeat;
  background-size: 24px 24px;
}

#JunkSettingsMail label {
  background: url("chrome://messenger/skin/accountcentral/junk.png") no-repeat;
  background-size: 24px 24px;
}

#SubscribeNewsgroups label {
  background: url("chrome://messenger/skin/accountcentral/manage-subscriptions.png") no-repeat;
  background-size: 24px 24px;
}

#AccountSettings label {
  background: url("chrome://messenger/skin/accountcentral/accountsettings.png") no-repeat;
  background-size: 24px 24px;
}

#CreateAccount label {
  background: url("chrome://messenger/skin/accountcentral/newaccount.png") no-repeat;
  background-size: 24px 24px;
}

#SearchMessages label {
  background: url("chrome://messenger/skin/accountcentral/search-messages.png") no-repeat;
  background-size: 24px 24px;
}

#CreateFilters label {
  background: url("chrome://messenger/skin/accountcentral/mailbox.png") no-repeat;
  background-size: 24px 24px;
}

#SubscribeImapFolders label {
  background: url("chrome://messenger/skin/accountcentral/folder.png") no-repeat;
  background-size: 24px 24px;
}

#SubscribeRSS label {
  background: url("chrome://messenger/skin/accountcentral/manage-rss.png") no-repeat;
  background-size: 24px 24px;
}

#OfflineSettings label {
  background: url("chrome://messenger/skin/accountcentral/offline.png") no-repeat;
  background-size: 24px 24px;
}

#CreateAccountMail,
#CreateAccountMovemail {
  background-image: -moz-image-rect(url("chrome://messenger/skin/icons/server.png"), 0, 16, 16, 0);
  background-repeat: no-repeat;
}

#CreateAccountChat {
  background: url("chrome://chat/skin/chat-16.png") no-repeat;
}

#CreateAccountNewsgroups {
  background-image: -moz-image-rect(url("chrome://messenger/skin/icons/server.png"), 0, 64, 16, 48);
  background-repeat: no-repeat;
}

#CreateAccountRSS {
  background-image: -moz-image-rect(url("chrome://messenger-newsblog/skin/rss-feed.png"), 0, 16, 16, 0);
  background-repeat: no-repeat;
}

@media (min-resolution: 2dppx) {
  #ReadMessages label {
    background: url("chrome://messenger/skin/accountcentral/mailbox@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #ComposeMessage label {
    background: url("chrome://messenger/skin/accountcentral/writemail@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #JunkSettingsMail label {
    background: url("chrome://messenger/skin/accountcentral/junk@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #SubscribeNewsgroups label {
    background: url("chrome://messenger/skin/accountcentral/manage-subscriptions@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #AccountSettings label {
    background: url("chrome://messenger/skin/accountcentral/accountsettings@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #CreateAccount label {
    background: url("chrome://messenger/skin/accountcentral/newaccount@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #SearchMessages label {
    background: url("chrome://messenger/skin/accountcentral/search-messages@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #CreateFilters label {
    background: url("chrome://messenger/skin/accountcentral/mailbox@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #SubscribeImapFolders label {
    background: url("chrome://messenger/skin/accountcentral/folder@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #SubscribeRSS label {
    background: url("chrome://messenger/skin/accountcentral/manage-rss@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #OfflineSettings label {
    background: url("chrome://messenger/skin/accountcentral/offline@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #CreateAccountMail,
  #CreateAccountMovemail {
    background-image: -moz-image-rect(url("chrome://messenger/skin/icons/server@2x.png"), 0, 32, 32, 0);
    background-size: 16px 16px;
  }

  #CreateAccountChat {
    background: url("chrome://messenger/skin/icons/chat-16@2x.png") no-repeat;
    background-size: 16px 16px;
  }

  #CreateAccountNewsgroups {
    background-image: -moz-image-rect(url("chrome://messenger/skin/icons/server@2x.png"), 0, 160, 32, 128);
    background-size: 16px 16px;
  }

  #CreateAccountRSS {
    background-image: -moz-image-rect(url("chrome://messenger-newsblog/skin/rss-feed@2x.png"), 0, 32, 32, 0);
    background-size: 16px 16px;
  }
}
