/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== accountCentral.css ==========================================
  == Styles for the Messenger Account Central panel.
  ======================================================================= */

@import url("chrome://messenger/skin/shared/accountCentral.css");

#acctCentralLayout {
  font: menu;
}

.acctCentralText {
  padding-top: 3px;
}

/* ::::: links ::::: */

#readMessages label {
  background: url("chrome://messenger/skin/accountcentral/mailbox.png") no-repeat;
  background-size: 24px 24px;
}

#composeMessage label {
  background: url("chrome://messenger/skin/accountcentral/writemail.png") no-repeat;
  background-size: 24px 24px;
}

#junkSettingsMail label {
  background: url("chrome://messenger/skin/accountcentral/junk.png") no-repeat;
  background-size: 24px 24px;
}

#subscribeNewsgroups label {
  background: url("chrome://messenger/skin/accountcentral/manage-subscriptions.png") no-repeat;
  background-size: 24px 24px;
}

#accountSettings label {
  background: url("chrome://messenger/skin/accountcentral/accountsettings.png") no-repeat;
  background-size: 24px 24px;
}

#createAccount label {
  background: url("chrome://messenger/skin/accountcentral/newaccount.png") no-repeat;
  background-size: 24px 24px;
}

#searchMessages label {
  background: url("chrome://messenger/skin/accountcentral/search-messages.png") no-repeat;
  background-size: 24px 24px;
}

#createFilters label {
  background: url("chrome://messenger/skin/accountcentral/mailbox.png") no-repeat;
  background-size: 24px 24px;
}

#subscribeImapFolders label {
  background: url("chrome://messenger/skin/accountcentral/folder.png") no-repeat;
  background-size: 24px 24px;
}

#subscribeRSS label {
  background: url("chrome://messenger/skin/accountcentral/manage-rss.png") no-repeat;
  background-size: 24px 24px;
}

#offlineSettings label {
  background: url("chrome://messenger/skin/accountcentral/offline.png") no-repeat;
  background-size: 24px 24px;
}

#createAccountMail,
#createAccountMovemail {
  background-image: -moz-image-rect(url("chrome://messenger/skin/icons/server.png"), 0, 16, 16, 0);
  background-repeat: no-repeat;
}

#createAccountChat {
  background: url("chrome://chat/skin/chat-16.png") no-repeat;
}

#createAccountNewsgroups {
  background-image: -moz-image-rect(url("chrome://messenger/skin/icons/server.png"), 0, 64, 16, 48);
  background-repeat: no-repeat;
}

#createAccountRSS {
  background-image: -moz-image-rect(url("chrome://messenger-newsblog/skin/rss-feed.png"), 0, 16, 16, 0);
  background-repeat: no-repeat;
}

@media (min-resolution: 2dppx) {
  #readMessages label {
    background: url("chrome://messenger/skin/accountcentral/mailbox@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #composeMessage label {
    background: url("chrome://messenger/skin/accountcentral/writemail@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #junkSettingsMail label {
    background: url("chrome://messenger/skin/accountcentral/junk@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #subscribeNewsgroups label {
    background: url("chrome://messenger/skin/accountcentral/manage-subscriptions@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #accountSettings label {
    background: url("chrome://messenger/skin/accountcentral/accountsettings@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #createAccount label {
    background: url("chrome://messenger/skin/accountcentral/newaccount@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #searchMessages label {
    background: url("chrome://messenger/skin/accountcentral/search-messages@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #createFilters label {
    background: url("chrome://messenger/skin/accountcentral/mailbox@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #subscribeImapFolders label {
    background: url("chrome://messenger/skin/accountcentral/folder@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #subscribeRSS label {
    background: url("chrome://messenger/skin/accountcentral/manage-rss@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #offlineSettings label {
    background: url("chrome://messenger/skin/accountcentral/offline@2x.png") no-repeat;
    background-size: 24px 24px;
  }

  #createAccountMail,
  #createAccountMovemail {
    background-image: -moz-image-rect(url("chrome://messenger/skin/icons/server@2x.png"), 0, 32, 32, 0);
    background-size: 16px 16px;
  }

  #createAccountChat {
    background: url("chrome://messenger/skin/icons/chat-16@2x.png") no-repeat;
    background-size: 16px 16px;
  }

  #createAccountNewsgroups {
    background-image: -moz-image-rect(url("chrome://messenger/skin/icons/server@2x.png"), 0, 160, 32, 128);
    background-size: 16px 16px;
  }

  #createAccountRSS {
    background-image: -moz-image-rect(url("chrome://messenger-newsblog/skin/rss-feed@2x.png"), 0, 32, 32, 0);
    background-size: 16px 16px;
  }
}
