/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/common.css");

@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

xul|tabs {
  padding-inline: 0;
  position: static;
}

xul|button[dlgtype="help"] {
  appearance: none;
  width: auto;
}

xul|menulist {
  & > xul|menupopup > xul|menuitem:where([checked="true"], [selected="true"])::before {
    display: none;
  }

  & :where(xul|menu, xul|menuitem) {
    padding-inline-end: 34px;
  }

  & xul|menuitem:where(::after, ::before) {
    display: none;
  }
}

xul|*.checkbox-icon,
xul|*.radio-icon {
  margin-inline-end: 0;
}

xul|*.text-link:-moz-focusring {
  box-shadow: none;
}

xul|search-textbox::part(search-sign) {
  -moz-context-properties: stroke, fill-opacity;
  stroke: currentColor;
  fill-opacity: 0.8;
  list-style-image: url("chrome://messenger/skin/icons/new/compact/search.svg");
  margin-inline-end: 5px;
}

html|button {
  /* XUL button min-width */
  min-width: 79px;
}

html|input[type="email"],
html|input[type="tel"],
html|input[type="text"],
html|input[type="password"],
html|input[type="number"],
html|textarea {
  margin: 4px;
}

xul|tab {
  min-height: 2.5em;
}

:host(dialog[subdialog]) .dialog-button-box > button {
  min-height: var(--in-content-button-height);
  padding-block: initial;
  padding-inline: 15px;
  border-color: transparent;
  border-radius: var(--in-content-button-border-radius);
}
