/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/compacttheme.css");

:root[tabsintitlebar] #tabs-toolbar:-moz-lwtheme-brighttext {
  appearance: auto;
  -moz-default-appearance: -moz-mac-vibrant-titlebar-dark;
  -moz-font-smoothing-background-color: -moz-mac-vibrant-titlebar-dark;
}

:root[tabsintitlebar] #tabs-toolbar:-moz-lwtheme-darktext {
  appearance: auto;
  -moz-default-appearance: -moz-mac-vibrant-titlebar-light;
  -moz-font-smoothing-background-color: -moz-mac-vibrant-titlebar-light;
}

.tabmail-tab[selected="true"]:-moz-lwtheme-darktext {
  -moz-font-smoothing-background-color: var(--toolbar-bgcolor);
}

:root[tabsintitlebar] #LW-background-box:-moz-lwtheme {
  background-color: transparent;
}
