/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/contextMenu.css");

menupopup {
  appearance: none;
  background-color: transparent;

  &::part(content) {
    margin: 1px;
  }

  & > :is(menu, menuitem)[disabled="true"][_moz-menuactive="true"] {
    background-color: transparent !important;
  }

  & > menu::after {
    line-height: 0;
  }

  & > menuitem:is([type="checkbox"], [type="radio"]) {

    &:before {
      display: none;
    }

    &:not([image]) > .menu-icon {
      display: flex;
      content: var(--menuitem-icon);
    }

    &[checked="true"] > .menu-icon {
      visibility: inherit;
    }
  }

  &[needsgutter] > :is(menu, menuitem, menucaption) {
    padding-inline-start: 8px;

    &:before {
      display: none;
    }

    & > .menu-icon {
      display: flex;
    }

    &[selected="true"] > .menu-icon {
      visibility: inherit;
      content: var(--menuitem-icon);
    }
  }

  &:not([needsgutter], .no-icon-menupopup, .textbox-contextmenu) >
    :is(menu, menuitem, menucaption) > .menu-icon {
    display: flex;
  }

  & > menuseparator {
    margin-inline: 0;
  }

  & > menuseparator#customizeMailToolbarMenuSeparator {
    display: none;
  }

  & > .webextension-rootElement,
  &.webextension-menupopup > :is(menu, menuitem) {

    & > .menu-icon {
      display: flex;
    }

    &::before {
      display: none;
    }
  }

  menulist > & > menuitem {
    &::before {
      display: hidden;
    }

    &[checked="true"] > .menu-icon {
      visibility: inherit;
    }

    &.menuitem-iconic::before {
      display: none !important;
    }
  }
}

.menu::after,
.menu-accel {
  margin-inline-end: 0;
}

.menu-accel {

  menupopup[type="arrow"] & {
    margin-inline-end: 0;
  }

  menuitem:not([disabled="true"]):hover &,
  menuitem:not([disabled="true"]):focus & {
    opacity: 1;
  }
}
