/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/creationDialog.css");

tabbox {
  margin: 0 !important;
}

tabs {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.input-field {
  padding-top: 0;
  padding-bottom: 0;
}
