/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

 @import url("chrome://messenger/skin/shared/folderPane.css");

#folderTree > treechildren::-moz-tree-row {
  min-height: 1.7rem;
}

/* ::::: All Servers ::::: */

treechildren::-moz-tree-image(folderNameCol, newMessages-true),
treechildren::-moz-tree-cell-text(folderNameCol, isServer-true, biffState-NewMail),
treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true),
treechildren::-moz-tree-cell-text(folderNameCol, specialFolder-Inbox, newMessages-true) {
  color: blue !important;
}

treechildren::-moz-tree-image(folderNameCol, newMessages-true),
treechildren::-moz-tree-image(folderNameCol, isServer-true, biffState-NewMail) {
  fill: blue !important;
}

treechildren::-moz-tree-cell-text(folderNameCol, noSelect-true) {
  color: gray !important;
  font-style: italic;
}

treechildren::-moz-tree-image(folderNameCol, selected, focus),
treechildren::-moz-tree-image(folderNameCol, newMessages-true, selected, focus),
treechildren::-moz-tree-image(folderNameCol, isServer-true, biffState-NewMail, selected, focus) {
  opacity: 1 !important;
  fill: currentColor !important;
}
