/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/menulist.css");

menulist[is="menulist-editable"][editable="true"] {
  margin: 4px 2px;

  &:focus-within {
    outline: var(--focus-outline);
  }

  & > menupopup,
  & > menupopup > menuitem,
  & > menupopup > menucaption {
    appearance: none;
  }

  & > menupopup > :is(menuitem,menucaption) > .menu-iconic-left {
    display: none;
  }

  & > menupopup > menuitem[checked="true"]::before,
  & > menupopup > menuitem[selected="true"]::before {
    display: none;
    margin-inline-start: 0;
  }
}
