/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/messageIcons.css");

/* ..... read column ..... */

.readColumnHeader {
  padding-inline: 2px 3px;
}

treechildren::-moz-tree-image(unreadButtonColHeader) {
  margin-inline-start: -2px;
}

/* ..... attachment column ..... */

.attachmentColumnHeader {
  padding-inline: 2px 3px;
}

/* ..... flag column ..... */

.flagColumnHeader {
  padding-inline: 2px 3px;
}

/* ..... junkStatus column ..... */

.junkStatusHeader {
  padding-inline: 3px 5px;
}

/* ..... correspondent column ..... */

#correspondentCol {
  padding-inline-start: 20px;
}

/* ..... subject column ..... */

#subjectCol {
  padding-inline-start: 20px;
}

#subjectCol[primary="true"] {
  padding-inline-start: 40px;
}
