/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/messageIcons.css");

/* ..... select column ..... */

treechildren::-moz-tree-image(selectCol) {
  margin-inline-start: -1px;
}

/* ..... delete column ..... */

treechildren::-moz-tree-image(deleteCol) {
  margin-inline-start: -1px;
}

/* ..... thread column ..... */

.threadColumnHeader {
  padding-inline: 3px 2px;
}

/* ..... read column ..... */

.readColumnHeader {
  padding-inline: 2px 3px;
}

treechildren::-moz-tree-image(unreadButtonColHeader) {
  margin-inline-start: -2px;
}

/* ..... attachment column ..... */

.attachmentColumnHeader {
  padding-inline: 2px 3px;
}

treechildren::-moz-tree-image(attachmentCol) {
  margin-inline-start: -2px;
}

/* ..... flag column ..... */

.flagColumnHeader {
  padding-inline: 2px 3px;
}

/* ..... junkStatus column ..... */
treechildren::-moz-tree-image(junkStatusCol) {
  margin-inline-start: -1px;
}

/* ..... correspondent column ..... */

#correspondentCol {
  padding-inline-start: 20px;
}

/* ..... subject column ..... */

#subjectCol {
  padding-inline-start: 20px;

  &[primary="true"] {
    padding-inline-start: 40px;
  }
}
