/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messageWindow.css ==============================================
  == Styles for the message window.
  ======================================================================= */

@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://messenger/skin/primaryToolbar.css");

/* ::::: Mail Toolbars and Menubars ::::: */

.mail-toolbox {
  border-bottom: 0;
}

#mail-toolbox:-moz-lwtheme {
  box-shadow: none;
}

.mail-toolbox > toolbar:not(:-moz-lwtheme) {
  appearance: auto;
  -moz-default-appearance: toolbar;
}

/* ::::: message header borders ::::: */

#messagepanebox:not(:-moz-lwtheme) {
  text-shadow: none;
  background-color: var(--toolbar-bgcolor);
}
