/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== primaryToolbar.css =============================================
   == Images for the Mail primary toolbar.
   == This file is mainly about the general look-and-feel of
   == native-OS-style toolbars at the top of various windows, as well as
   == the specifically about the ones that appear on the 3-pane window and
   == the standalone message window.  The other native-OS-style toolbars
   == (addressbook and compose) are already styled elsewhere.
   ====================================================================== */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: Mail Toolbars and Menubars ::::: */

.mail-toolbox,
.contentTabToolbox {
  appearance: none;
  background: var(--toolbar-bgcolor);
}

.mail-toolbox:-moz-lwtheme,
.contentTabToolbox:-moz-lwtheme {
  color: var(--toolbar-color, inherit);
}

/*
  This is a workaround for Bug 1482157
  -moz-default-appearance: toolbox; makes the macOS sheets attached to the
  element's bottom border. We cannot put this property on the toolbox itself as
  it cancels all backgrounds that are there, so we set it on the toolbox bottom
  border.
*/
.mail-toolbox::after,
.contentTabToolbox::after {
  appearance: auto;
  -moz-default-appearance: toolbox;
  content: "";
  display: -moz-box;
  margin-top: -1px;
  height: 1px;
  /* use inset box-shadow instead of border because -moz-default-appearance hides the border */
  box-shadow: inset 0 -1px var(--chrome-content-separator-color);
}

.mail-bar3 {
  padding: 4px 4px 0;
}

.mail-toolbox > toolbar
.contentTabToolbox > toolbar {
  appearance: none;
}

.mail-toolbox > toolbar {
  appearance: none;
  /* force iconsize="small" on these toolbars */
  counter-reset: smallicons;
}

#folderPane-toolbox {
  appearance: none;
}

/* remove the small icons checkbox in Customize window */
#smallicons {
  display: none;
}

#button-getmsg {
  list-style-image: url("chrome://messenger/skin/icons/getmsg.svg");
}

#button-newmsg {
  list-style-image: url("chrome://messenger/skin/icons/newmsg.svg");
}

#button-address {
  list-style-image: url("chrome://messenger/skin/icons/address.svg");
}

#button-reply {
  list-style-image: url("chrome://messenger/skin/icons/reply.svg");
}

#button-replyall {
  list-style-image: url("chrome://messenger/skin/icons/replyall.svg");
}

#button-replylist {
  list-style-image: url("chrome://messenger/skin/icons/replylist.svg");
}

#button-forward {
  list-style-image: url("chrome://messenger/skin/icons/forward.svg");
}

.delete-button {
  list-style-image: url("chrome://messenger/skin/icons/delete.svg");
}

.junk-button {
  list-style-image: url("chrome://messenger/skin/icons/junk.svg");
}

#button-print {
  list-style-image: url("chrome://messenger/skin/icons/print.svg");
}

#button-stop {
  list-style-image: url("chrome://messenger/skin/icons/stop.svg");
}

#button-file {
  list-style-image: url("chrome://messenger/skin/icons/file.svg");
}

#button-nextUnread {
  list-style-image: url("chrome://messenger/skin/icons/nextunread.svg");
}

#button-previousUnread {
  list-style-image: url("chrome://messenger/skin/icons/previousunread.svg");
}

#button-mark {
  list-style-image: url("chrome://messenger/skin/icons/mark.svg");
}

#button-tag {
  list-style-image: url("chrome://messenger/skin/icons/tag.svg");
}

#button-goback {
  list-style-image: url("chrome://messenger/skin/icons/goback.svg");
}

#button-goforward {
  list-style-image: url("chrome://messenger/skin/icons/goforward.svg");
}

#button-compact {
  list-style-image: url("chrome://messenger/skin/icons/compact.svg");
}

#button-archive {
  list-style-image: url("chrome://messenger/skin/icons/archive.svg");
}

#button-chat {
  -moz-context-properties: fill, fill-opacity, stroke-opacity;
  stroke-opacity: 0;
  list-style-image: url("chrome://messenger/skin/icons/chat.svg");
}

#button-nextMsg {
  list-style-image: url("chrome://messenger/skin/icons/nextmsg.svg");
}

#button-previousMsg {
  list-style-image: url("chrome://messenger/skin/icons/previousmsg.svg");
}

#qfb-show-filter-bar {
  list-style-image: url("chrome://messenger/skin/icons/filter.svg");
}

#button-showconversation {
  list-style-image: url("chrome://messenger/skin/icons/conversation.svg");
}

#button-addons {
  list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
}

.button-appmenu {
  list-style-image: url("chrome://messenger/skin/icons/appbutton.svg");
  min-width: 35px !important;
  margin-right: 7px;
  margin-left: 7px;
}

#button-chat[unreadMessages="true"] {
  fill: var(--toolbarbutton-icon-fill-attention);
  stroke-opacity: 0.5;
  color: #0969b2;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

#button-newMsgPopup .menuitem-iconic {
  fill: currentColor;
}

#button-file > dropmarker {
  display: none;
}

#button-chat > stack > .badgeButton-badge {
  padding-inline-end: 1px;
}

toolbar:not([mode="text"]) .badgeButton-badge {
  margin-inline-start: 11px;
  margin-bottom: 12px;
}

.button-appmenu .toolbarbutton-text {
  display: none;
}

toolbar[mode="text"] .button-appmenu .toolbarbutton-icon {
  display: -moz-box;
}

#folderPane-toolbar > .toolbarbutton-1,
#folderPane-toolbar > toolbaritem > menulist {
  margin: 0;
}

/* Force the folder location and mail view items to fit in the available width
   in the Customize Toolbar dialog. */
#palette-box #locationFolders,
#palette-box #folder-location-container,
#palette-box #folderpane-mode-selector,
#palette-box #viewPicker {
  -moz-box-flex: 1;
}

.msgNotificationBarText {
  font: icon;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0;
}

.msgNotification-smallText {
  padding-inline-start: 10px;
  font-size: 90%;
}

/* AppMenu styling */

.appmenu-edit-button {
  appearance: none;
  border-width: 0;
  padding: 0 2px;
}

.appmenu-edit-button[disabled="true"] {
  opacity: .3;
}

.subviewbutton-iconic {
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

#appmenu_new {
  list-style-image: url("chrome://messenger/skin/icons/new.svg");
}

#appmenu_msgAttachmentMenu {
  list-style-image: url("chrome://messenger/skin/icons/attach.svg");
}

#appmenu-cut,
#appmenu-editmenu-cut {
  list-style-image: url("chrome://messenger/skin/icons/cut.svg");
}

#appmenu-copy,
#appmenu-editmenu-copy {
  list-style-image: url("chrome://messenger/skin/icons/copy.svg");
}

#appmenu-paste,
#appmenu-editmenu-paste {
  list-style-image: url("chrome://messenger/skin/icons/paste.svg");
}

#appmenu_find {
  list-style-image: url("chrome://messenger/skin/icons/search-glass.svg");
}

#appmenu_print,
#appmenu_print_popup {
  list-style-image: url("chrome://messenger/skin/icons/print.svg");
}

#appmenu_saveAs {
  list-style-image: url("chrome://messenger/skin/icons/save-as.svg");
}

#appmenu_emptyTrash {
  list-style-image: url("chrome://messenger/skin/icons/delete.svg");
}

#appmenu_activityManager {
  list-style-image: url("chrome://messenger/skin/icons/file-item.svg");
}

#appmenu_accountmgr {
  list-style-image: url("chrome://messenger/skin/icons/sidebar-left.svg");
}

#appmenu_filters,
#appmenu_filtersCmd {
  list-style-image: url("chrome://messenger/skin/icons/filter.svg");
}

#appmenu_customize {
  list-style-image: url("chrome://mozapps/skin/extensions/category-themes.svg");
}

#appmenu_preferences {
  list-style-image: url("chrome://global/skin/icons/settings.svg");
}

#appmenu-quit {
  list-style-image: url("chrome://messenger/skin/icons/quit.svg");
}

#appmenu_addons,
#appmenu_Add-Ons {
  list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
}

#appmenu_help,
#appmenu_openHelp {
  list-style-image: url(chrome://global/skin/icons/help.svg);
}

#appmenu_addressBook {
  list-style-image: url("chrome://messenger/skin/icons/address.svg");
}

#button-getAllNewMsg,
#menu_getnewmsgs_all_accounts,
#appmenu_getnewmsgs_all_accounts {
  list-style-image: url("chrome://messenger/skin/icons/get-all.svg");
}

.appmenu-edit-button {
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

.appmenu-edit-button:not([disabled="true"]):hover,
.appmenu-edit-button:not([disabled="true"]):hover:active {
  fill: HighlightText;
  background-color: Highlight;
}

.appmenu-edit-button > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
  margin: 1px;
}

#appmenu-cut {
  list-style-image: url("chrome://messenger/skin/icons/cut.svg");
}

#appmenu-copy {
  list-style-image: url("chrome://messenger/skin/icons/copy.svg");
}

#appmenu-paste {
  list-style-image: url("chrome://messenger/skin/icons/paste.svg");
}
