/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/primaryToolbar.css");

/* ::::: Mail Toolbars and Menubars ::::: */

#button-chat[unreadMessages="true"] {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.button-appmenu {
  margin-inline: 7px;
}

.msgNotificationBarText {
  font: icon;
  padding: 0;
}
