/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/primaryToolbar.css");

/* ::::: Mail Toolbars and Menubars ::::: */

/*
  This is a workaround for Bug 1482157
  -moz-default-appearance: toolbox; makes the macOS sheets attached to the
  element's bottom border. We cannot put this property on the toolbox itself as
  it cancels all backgrounds that are there, so we set it on the toolbox bottom
  border.
*/
.mail-toolbox::after,
.contentTabToolbox::after {
  appearance: auto;
  -moz-default-appearance: toolbox;
  content: "";
  display: -moz-box;
  margin-top: -1px;
  height: 1px;
  /* use inset box-shadow instead of border because -moz-default-appearance hides the border */
  box-shadow: inset 0 -1px var(--chrome-content-separator-color);
}

.mail-toolbox > toolbar
.contentTabToolbox > toolbar {
  appearance: none;
}

#button-chat[unreadMessages="true"] {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.button-appmenu {
  margin-inline: 7px;
}

.msgNotificationBarText {
  font: icon;
  padding: 0;
}
