/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/quickFilterBar.css");

/* :::: Filter Bar :::: */

#quick-filter-bar {
  height: 25px;
}

#quick-filter-bar-main-bar:-moz-window-inactive,
#quick-filter-bar-expando:-moz-window-inactive {
  background-color: -moz-mac-chrome-inactive;
}

:root[lwt-tree] #quick-filter-bar-main-bar:-moz-lwtheme,
:root[lwt-tree] #quick-filter-bar-expando:-moz-lwtheme {
  background-color: transparent;
}

/* :::: Filter Buttons :::: */

#quick-filter-bar toolbarbutton {
  padding: 0 4px;
  margin: 0 3px;
}

#quick-filter-bar-filter-text-bar toolbarbutton {
  height: 20px;
}

#quick-filter-bar-main-bar toolbarbutton:not(#qfb-sticky) > .toolbarbutton-icon {
  margin-inline-end: 2px;
}

#quick-filter-bar toolbarbutton > .toolbarbutton-text {
  padding: 0;
  margin: 0 2px;
}

#quick-filter-bar-expando toolbarbutton {
  margin-bottom: 3px;
}

#qfb-sticky {
  width: 18px;
  margin-inline-start: 6px !important;
}

/* we use both IDs so we are more precise than the other # toolbarbutton rules */
#quick-filter-bar #qfb-sticky > .toolbarbutton-text {
  margin: 0;
}

#qfb-qs-textbox {
  margin-block: 3px 2px;
}

#qfb-qs-label {
  margin-block: 0 3px;
  opacity: 0.7;
}

#qfb-boolean-mode {
  margin-block: 0;
}
