/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== searchDialog.css ===============================================
  == Styles for the Mail Search dialog.
  ======================================================================= */

@import url("chrome://messenger/skin/shared/searchDialog.css");

#searchTerms > vbox {
  font: menu;
}

#checkSearchSubFolders,
#checkSearchOnline {
  margin-inline-start: 6px;
}

#booleanAndGroup {
  margin-inline-start: 4px;
}

:root:not([lwt-tree]) #searchResultListBox {
  appearance: auto;
  -moz-default-appearance: listbox;
}

.search-menulist,
.search-value-menulist {
  width: 14.5em;
}

.small-button {
  min-width: 22px;
  height: 20px;
  padding: 0;
  padding-inline-end: 1px;
  padding-bottom: 1px;
  margin: 2px 0;
}

.small-button:first-child {
  margin-inline-start: 2px;
}

#sizeCol,
#unreadCol,
#totalCol {
  text-align: right;
}

#status-bar {
  font: message-box;
  margin-top: 8px;
}
