/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== searchDialog.css ===============================================
  == Styles for the Mail Search dialog.
  ======================================================================= */

@import url("chrome://messenger/skin/shared/searchDialog.css");

#searchTerms > vbox {
  font: menu;
}

:root:not([lwt-tree]) #searchResultListBox {
  -moz-appearance: listbox;
}

menulist {
  width: 18em;
}

.search-menulist {
  width: 12em;
}

.small-button {
  min-width: 22px;
  height: 20px;
  padding: 0;
  padding-inline-end: 1px;
  padding-bottom: 1px;
  margin: 4px 0;
}

.small-button:first-child {
  margin-inline-start: 2px;
}

#sizeCol,
#unreadCol,
#totalCol {
  text-align: right;
}

#status-bar {
  font: message-box;
  margin-top: 8px;
}

:root[lwt-tree] #searchTermList button:hover,
:root[lwt-tree] #searchTermList menulist:hover,
:root[lwt-tree] #searchTermList menulist[open="true"] {
  background-color: rgba(230, 230, 230, .7) !important;
}

:root[lwt-tree] #searchTermList menulist > .menulist-label-box {
  -moz-appearance: none;
  padding-inline-end: 12px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 9px 7px;
  background-image: url("chrome://messenger/skin/icons/toolbarbutton-arrow.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}

:root[lwt-tree] #searchTermList menulist:-moz-locale-dir(rtl) >
  .menulist-label-box {
  background-position: left;
}
