/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  min-height: 300px;
  font: message-box;
  font-size: 17px;
  color: #0c0c0d;
}

a,
.text-link {
  color: #0a8dff;
  text-decoration: none;
}

a {
  display: block;
}

h1 {
  font-size: 1.1em;
  font-weight: 600;
  margin: 0;
}

a:hover,
.text-link:hover {
  color: #0060df;
  text-decoration: underline;
}

#background {
  max-height: 100%;
  max-width: 100%;
}

#title {
  text-align: end;
}

#story {
  margin-top: 2ex;
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(249, 249, 250);
  }
}
