/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

tabconversation {
  -moz-binding: url("chrome://instantbird/content/tabbrowser.xml#tabbrowser");
}

.tabbrowser-tabs {
  -moz-binding: url("chrome://instantbird/content/tabbrowser.xml#tabbrowser-tabs");
}

.tabbrowser-tab {
  -moz-binding: url("chrome://instantbird/content/tabbrowser.xml#tabbrowser-tab");
}

.tabbrowser-arrowscrollbox {
  -moz-binding: url("chrome://instantbird/content/tabbrowser.xml#tabbrowser-arrowscrollbox");
}

.tabs-alltabs-popup {
  -moz-binding: url("chrome://instantbird/content/tabbrowser.xml#tabbrowser-alltabs-popup");
}

.tab-close-button, .tabs-closebutton {
  -moz-binding: url("chrome://instantbird/content/tabbrowser.xml#tabbrowser-close-tab-button");
}

.tab-close-button {
  display: none;
}

.tabbrowser-tabs:not([closebuttons="noclose"]):not([closebuttons="closeatend"]) > .tabbrowser-tab[selected="true"] > * > * > .tab-close-button {
  display: -moz-box;
}

.tabbrowser-tabs[closebuttons="alltabs"] > .tabbrowser-tab:not(:only-child) > * > * > .tab-close-button {
  display: -moz-box;
}

.tabs-container:not([overflow="true"]) > .tabs-newtab-button,
.tabs-container:not([overflow="true"]) > .tabs-alltabs-button,
.tabs-container[overflow="true"] > .tabbrowser-arrowscrollbox > .tabs-newtab-button {
  visibility: collapse;
}

.tabs-newtab-button > .toolbarbutton-text {
  display: none;
}

/* Ensure two menuseparators aren't shown together when no tab-specific menuitems exist */
#context_tabSpecificStartSeparator + #context_tabSpecificEndSeparator {
  display: none;
}

/* Status panel */

statuspanel {
  -moz-binding: url("chrome://instantbird/content/tabbrowser.xml#statuspanel");
  position: fixed;
  margin-top: -3em;
  max-width: calc(100% - 5px);
  pointer-events: none;
}

statuspanel:-moz-locale-dir(ltr)[mirror],
statuspanel:-moz-locale-dir(rtl):not([mirror]) {
  left: auto;
  right: 0;
}

statuspanel[sizelimit] {
  max-width: 50%;
}

statuspanel[type=overLink] {
  transition: opacity 120ms ease-out;
  direction: ltr;
}

statuspanel[inactive] {
  transition: none;
  opacity: 0;
}

statuspanel[inactive][previoustype=overLink] {
  transition: opacity 200ms ease-out;
}

.statuspanel-inner {
  height: 3em;
  width: 100%;
  -moz-box-align: end;
}

