.browser, .conv-bottom { 
  margin: 0 0;
  border: solid 1px rgb(128, 128, 128);
  padding: 1px 1px;
  min-height:100px;
}

tabbox {
  margin-top: 3px;
}

tabpanels {
  padding: 5px 5px;
}

conversation,
textbox {
  margin: 0 0;
  padding: 0 0;
}

.splitter {
  margin: 0 0px;
  border-style: none;
  height: 3px;
}

#conv-toolbar {
  border-style:none;
}

convtab[unread] { 
  color: red !important;
}

convtab > .tab-image-middle > .tab-text {
  border: 1.4pt solid transparent;
}

convtab[selected="true"],
convtab:hover {
  color: #000000;
}

.tab-image-left,
.tab-image-right {
  width: 8px;
  margin: 0px;
  padding: 0px;
}

.tab-image-right {
  background: url("chrome://instantbird/skin/tabbrowser/tab-right.png") no-repeat;
}

convtab:not([selected="true"]) > .tab-image-right {
  background: url("chrome://instantbird/skin/tabbrowser/tab-right-bkgnd.png") no-repeat;
  margin-bottom: 1px;
}

convtab:hover:not([selected="true"]) > .tab-image-right {
  background: url("chrome://instantbird/skin/tabbrowser/tab-right-hover.png") no-repeat;
}

convtab > .tab-image-left {
  background: url("chrome://instantbird/skin/tabbrowser/tab-left.png") no-repeat;
}

convtab:not([selected="true"]) > .tab-image-left {
  background: url("chrome://instantbird/skin/tabbrowser/tab-left-bkgnd.png") no-repeat;
  margin-bottom: 1px;
}

convtab:hover:not([selected="true"]) > .tab-image-left {
  background: url("chrome://instantbird/skin/tabbrowser/tab-left-hover.png") no-repeat;
}

convtab > .tab-image-middle {
  background: url("chrome://instantbird/skin/tabbrowser/tab-middle.png") repeat-x;
  -moz-box-flex: 0 !important;
}

convtab:not([selected="true"]) > .tab-image-middle {
  background: url("chrome://instantbird/skin/tabbrowser/tab-middle-bkgnd.png");
  margin-bottom: 1px;
}

convtab:hover:not([selected="true"]) > .tab-image-middle {
  background: url("chrome://instantbird/skin/tabbrowser/tab-middle-hover.png");
}
