/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* avoids contributing to the min width when Lightning is not selected */
#calendarTabPanel:not([selected]) {
  visibility: collapse;
}

#calendar-status-todaypane-button > stack > .toolbarbutton-day-text {
  text-align: center;
  margin-inline-start: 0;
  margin-bottom: -4px;
  font-size: 7pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: none;
  background-color: transparent;
}

.imipMoreButton > .toolbarbutton-icon {
  display: none;
}

.imipMoreButton >.toolbarbutton-icon {
  display: none;
}

@media not all and (-moz-os-version: windows-xp) {
  #task-tab-button .toolbarbutton-icon,
  #calendar-tab-button .toolbarbutton-icon,
  .calbar-toolbarbutton-1 .toolbarbutton-icon,
  toolbarpaletteitem > .msgHeaderView-button .toolbarbutton-icon,
  #task-actions-toolbar > .msgHeaderView-button .toolbarbutton-icon {
    width: 18px;
    height: 18px;
  }
}


/*--------------------------------------------------------------------
 *   Event dialog in a tab
 *
 *   XXX These styles could be moved to their own CSS file.
 *-------------------------------------------------------------------*/

.calendar-task-dialog-tab  .event-only,
.calendar-event-dialog-tab .todo-only {
    display: none;
}

/*--------------------------------------------------------------------
 *   Event dialog toolbar buttons
 *-------------------------------------------------------------------*/

#button-save {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#save);
}

#button-attendees {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#address);
}

#button-privacy {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#security);
}

#button-url {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#attach);
}

#button-delete.cal-event-toolbarbutton {
    /* !important to override the SM #button-delete states */
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#delete) !important;
  -moz-image-region: auto !important;
}

#button-priority {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#priority);
}

#button-status {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#status);
}

#button-freebusy {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#freebusy);
}

#button-timezones {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#timezones);
}

toolbar[brighttext] #button-save {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#save-inverted);
}

toolbar[brighttext] #button-attendees {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#address-inverted);
}

toolbar[brighttext] #button-privacy {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#security-inverted);
}

toolbar[brighttext] #button-url {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#attach-inverted);
}

toolbar[brighttext] #button-delete.cal-event-toolbarbutton {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#delete-inverted) !important;
}

toolbar[brighttext] #button-priority {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#priority-inverted);
}

toolbar[brighttext] #button-status {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#status-inverted);
}

toolbar[brighttext] #button-freebusy {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#freebusy-inverted);
}

toolbar[brighttext] #button-timezones {
  list-style-image: url(chrome://calendar-common/skin/calendar-toolbar.svg#timezones-inverted);
}

@media not all and (-moz-os-version: windows-xp) {
  .cal-event-toolbarbutton .toolbarbutton-icon {
    width: 18px;
    height: 18px;
  }
}

/*--------------------------------------------------------------------
 *   Event dialog statusbar images
 *-------------------------------------------------------------------*/

.my-cal-statusbar-1 {
    -moz-box-orient: vertical;
    min-width: 0px;
    list-style-image: url("chrome://calendar-common/skin/calendar-event-dialog.png");
}

/*--------------------------------------------------------------------
 *   Event dialog statusbarpanels
 *-------------------------------------------------------------------*/

#status-privacy,
#status-priority,
#status-status,
#status-freebusy {
    overflow: hidden;
}

/*--------------------------------------------------------------------
 *   priority "low" image
 *-------------------------------------------------------------------*/

#my-image-priority-low {
    -moz-image-region: rect(0px 100px 16px 84px);
}

/*--------------------------------------------------------------------
 *   priority "normal" image
 *-------------------------------------------------------------------*/

#my-image-priority-normal {
    -moz-image-region: rect(0px 116px 16px 100px);
}

/*--------------------------------------------------------------------
 *   priority "high" image
 *-------------------------------------------------------------------*/

#my-image-priority-high {
    -moz-image-region: rect(0px 132px 16px 116px);
}
