/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* avoids contributing to the min width when Lightning is not selected */
#calendarTabPanel:not([selected]) {
  visibility: collapse;
}

#calendar-status-todaypane-button > stack > .toolbarbutton-day-text {
  text-align: center;
  -moz-margin-start: 0;
  margin-top: 4px;
  margin-bottom: -4px;
  font-size: 7pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: none;
  background-color: transparent;
}

#calendar-status-todaypane-button:-moz-lwtheme-brighttext > stack > .toolbarbutton-day-text {
  color: inherit;
}

.imipMoreButton > .toolbarbutton-icon {
  display: none;
}

.imipMoreButton >.toolbarbutton-icon {
  display: none;
}

@media not all and (-moz-os-version: windows-xp) {
  #task-tab-button .toolbarbutton-icon,
  #calendar-tab-button .toolbarbutton-icon,
  .calbar-toolbarbutton-1 .toolbarbutton-icon,
  toolbarpaletteitem > .msgHeaderView-button .toolbarbutton-icon,
  #task-actions-toolbar > .msgHeaderView-button .toolbarbutton-icon {
    width: 18px;
    height: 18px;
  }
}
