/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/preferences/applications.css");

/**
 * Used by the cloudFile manager
 */

.cloudfileAccount {
  & > label {
    margin-block: initial;
  }

  & > input {
    min-height: unset !important;
    margin: 0 !important;
    padding-block: 2px 3px !important;
    padding-inline: 4px 3px !important;
  }
}

.actionsMenu > menupopup > menuitem {
  padding-inline-start: 10px;
}
