/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== sidebarPanel.css ===============================================
  == Styles for the Address Book sidebar panel.
  ======================================================================= */

@import url("chrome://messenger/skin/shared/abContactsPanel.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#peopleSearchInput {
  min-height: 24px;
}

#abContextMenuButton {
  margin-top: 0;
  padding-inline: 0;
}

#abContextMenuButton > .toolbarbutton-icon {
  margin-inline-end: 0;
}

:root:not([lwt-tree]) #abResultsTree {
  border-top: 1px solid #a9b1b8;
  border-bottom: 1px solid #a9b1b8;
}
