/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== addressbook.css ================================================
  == Styles for the main Address Book window.
  ======================================================================= */

@import url("chrome://messenger/skin/");
@import url("chrome://messenger/skin/shared/addressbook.css");

/* ::::: directory pane adjustments ::::: */

#abDirTreeHeader-title {
  padding-inline-start: 4px;
}

/* ::::: results pane ::::: */

#abResultsTree {
  -moz-appearance:  none;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

#GeneratedName {
  padding-inline-start: 30px;
}

/* ::::: card view pane ::::: */

#CardViewBox {
  -moz-user-focus: ignore;
  overflow: auto;
  min-width: 150px;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

#CardViewInnerBox {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0 8px;
}

#CardTitle {
  font-size: 150%;
  font-weight: bold;
  border-bottom: 2px solid -moz-FieldText;
  min-width: 120px;
  margin: 0;
}

.cardViewGroup {
  margin-top: 8px;
  padding-bottom: 5px;
  min-width: 50px;
}

@media (-moz-os-version: windows-xp) {
  /* ::::: primary toolbar buttons ::::: */

  .toolbarbutton-1 {
    min-width: 0;
  }

  #button-newcard {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.png");
    -moz-image-region: rect(0 24px 24px 0);
  }

  #button-newcard:hover {
    -moz-image-region: rect(24px 24px 48px 0);
  }

  #button-newcard:hover:active {
    -moz-image-region: rect(24px 24px 48px 0);
  }

  #button-newcard[disabled="true"] {
    -moz-image-region: rect(48px 24px 72px 0) !important;
  }

  #button-newlist {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.png");
    -moz-image-region: rect(0 48px 24px 24px);
  }

  #button-newlist:hover {
    -moz-image-region: rect(24px 48px 48px 24px);
  }

  #button-newlist[disabled="true"] {
    -moz-image-region: rect(48px 48px 72px 24px) !important;
  }

  #button-editcard {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.png");
    -moz-image-region: rect(0 72px 24px 48px);
  }

  #button-editcard:hover {
    -moz-image-region: rect(24px 72px 48px 48px);
  }

  #button-editcard[disabled="true"] {
    -moz-image-region: rect(48px 72px 72px 48px) !important;
  }

  #button-newmessage {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.png");
    -moz-image-region: rect(0 96px 24px 72px);
  }

  #button-newmessage:hover {
    -moz-image-region: rect(24px 96px 48px 72px);
  }

  #button-newmessage[disabled] {
    -moz-image-region: rect(48px 96px 72px 72px) !important;
  }

  #button-newim {
   list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.png");
   -moz-image-region: rect(0 120px 24px 96px);
  }

  #button-newim:hover {
    -moz-image-region: rect(24px 120px 48px 96px);
  }

  #button-newim[disabled] {
    -moz-image-region: rect(48px 120px 72px 96px) !important;
  }

  #button-abdelete {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.png");
    -moz-image-region: rect(0 144px 24px 120px);
  }

  #button-abdelete:hover {
    -moz-image-region: rect(24px 144px 48px 120px);
  }

  #button-abdelete[disabled] {
    -moz-image-region: rect(48px 144px 72px 120px) !important;
  }

  /* ::::: small primary toolbar buttons ::::: */

  toolbar[iconsize="small"] #button-newcard {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-small.png");
    -moz-image-region: rect(0 16px 16px 0);
  }

  toolbar[iconsize="small"] #button-newcard:hover {
    -moz-image-region: rect(16px 16px 32px 0);
  }

  toolbar[iconsize="small"] #button-newcard[disabled] {
    -moz-image-region: rect(32px 16px 48px 0) !important;
  }

  toolbar[iconsize="small"] #button-newlist {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-small.png");
    -moz-image-region: rect(0 32px 16px 16px);
  }

  toolbar[iconsize="small"] #button-newlist:hover {
    -moz-image-region: rect(16px 32px 32px 16px);
  }

  toolbar[iconsize="small"] #button-newlist[disabled] {
     -moz-image-region: rect(32px 32px 48px 16px) !important;
  }

  toolbar[iconsize="small"] #button-editcard {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-small.png");
    -moz-image-region: rect(0 48px 16px 32px);
  }

  toolbar[iconsize="small"] #button-editcard:hover {
    -moz-image-region: rect(16px 48px 32px 32px);
  }

  toolbar[iconsize="small"] #button-editcard[disabled="true"] {
    -moz-image-region: rect(32px 48px 48px 32px) !important;
  }

  toolbar[iconsize="small"] #button-newmessage {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-small.png");
    -moz-image-region: rect(0 64px 16px 48px);
  }

  toolbar[iconsize="small"] #button-newmessage:hover {
    -moz-image-region: rect(16px 64px 32px 48px);
  }

  toolbar[iconsize="small"] #button-newmessage[disabled] {
    -moz-image-region: rect(32px 64px 48px 48px) !important;
  }

  toolbar[iconsize="small"] #button-newim {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-small.png");
    -moz-image-region: rect(0 80px 16px 64px);
  }

  toolbar[iconsize="small"] #button-newim:hover {
    -moz-image-region: rect(16px 80px 32px 64px);
  }

  toolbar[iconsize="small"] #button-newim[disabled] {
    -moz-image-region: rect(32px 80px 48px 64px) !important;
  }

  toolbar[iconsize="small"] #button-abdelete {
     list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar-small.png");
    -moz-image-region: rect(0 96px 16px 80px);
  }

  toolbar[iconsize="small"] #button-abdelete:hover {
    -moz-image-region: rect(16px 96px 32px 80px);
  }

  toolbar[iconsize="small"] #button-abdelete[disabled] {
    -moz-image-region: rect(32px 96px 48px 80px) !important;
  }

  #abContent {
    border-top: 1px solid ThreeDShadow;
  }

  /* ::::: directory pane adjustments ::::: */

  /* Don't use the listbox appearance as that gives us a blue-grey top border
     that collides with the primary toolbar border */
  #dirTree {
    -moz-appearance:  none;
    background-color: -moz-Field;
    color: -moz-FieldText;
  }

  /* ::::: splitters ::::: */

  #results-splitter {
    margin-inline-start: -1px;
  }

  #dirTree-splitter:-moz-locale-dir(rtl) {
    /* Don't draw the splitter's border here... */
    border-left: 0;
  }

  #abResultsTree:-moz-locale-dir(rtl),
  #CardViewOuterBox:-moz-locale-dir(rtl){
    /* ... draw it here instead! (This removes the white highlight just below the
       folder pane splitter so everything looks pretty.) */
    margin-right: -2px !important;
    border-right: 2px solid;
    -moz-border-right-colors: ThreeDHighlight ThreeDShadow;
  }

  #abResultsTree:-moz-locale-dir(rtl) {
    /* Make sure we have a white dot in the top-left corner where the splitters
       meet. */
    margin-bottom: -2px;
    padding-bottom: 2px;
  }

  /* ::::: results pane ::::: */

  .CardViewHeading {
    padding: 1px;
    padding-inline-start: 5px;
    background-color: Highlight;
    color: HighlightText;
    font-weight: bold;
    min-width: 30px;
  }

  #cvHomeMapIt,
  #cvWorkMapIt {
    margin-bottom: 0;
  }
}

@media not all and (-moz-os-version: windows-xp) {
  /* :::: Toolbar :::: */

  #ab-toolbox:not(:-moz-lwtheme) {
    -moz-appearance: none;
    background-color: -moz-Dialog;
    border-top: none;
    border-bottom: 1px solid ThreeDShadow;
  }

  toolbar:not(:-moz-lwtheme) {
    -moz-appearance: none;
    border: none;
  }

  #ab-toolbox > toolbar {
    /* force iconsize="small" on these toolbars */
    counter-reset: smallicons;
  }

  #ab-toolbox > toolbar:not([type="menubar"]) {
    padding: 2px 1px;
  }

  #ab-toolbox > toolbar:not([type="menubar"]):-moz-lwtheme {
    text-shadow: none;
  }

  toolbox > toolbar:last-of-type {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  /* ::::: primary toolbar buttons ::::: */

  @media (-moz-windows-default-theme) {
    sidebarheader {
      -moz-appearance: none;
      background-color: #f8f8f8;
      border-top: 0;
      border-bottom: 1px solid #a9b1b8;
    }
  }

  #button-newcard {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#newcard");
  }

  #button-newlist {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#newlist");
  }

  #button-editcard {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#editcard");
  }

  #button-newmessage {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#newmessage");
  }

  #button-newim {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#newim");
  }

  #button-abdelete {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#abdelete");
  }

  #ab-bar2[brighttext] #button-newcard {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#newcard-inverted");
  }

  #ab-bar2[brighttext] #button-newlist {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#newlist-inverted");
  }

  #ab-bar2[brighttext] #button-editcard {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#editcard-inverted");
  }

  #ab-bar2[brighttext] #button-newmessage {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#newmessage-inverted");
  }

  #ab-bar2[brighttext] #button-newim {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#newim-inverted");
  }

  #ab-bar2[brighttext] #button-abdelete {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#abdelete-inverted");
  }

  /* ::::: Search Textbox ::::: */

  #peopleSearchInput {
    width: 20em;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-inline-start: 5px;
  }

  /* ::::: directory pane adjustments ::::: */

  /* Don't use the listbox appearance as that gives us a blue-grey top border
     that collides with the primary toolbar border */
  #dirTree {
    border-inline-end: 1px solid transparent;
  }

  /* ::::: splitters ::::: */

  #dirTree-splitter {
    border: none;
    border-inline-end: 1px solid #a9b7c9;
    min-width: 0;
    width: 3px;
    background-color: transparent;
    margin-inline-start: -3px;
    position: relative;
    z-index: 10;
  }

  #results-splitter {
    border: none;
    border-top: 1px solid #a9b7c9;
    min-height: 0;
    height: 3px;
    background-color: transparent;
    margin-bottom: -3px;
    position: relative;
    z-index: 10;
  }

  /* ::::: results pane ::::: */

  #abResultsTree {
    border-inline-end: 1px solid ThreeDHighlight;
  }

  /* ::::: card view pane ::::: */

  #CardViewOuterBox {
    border: none;
    border-top: 1px solid ThreeDShadow;
  }
}

@media (-moz-windows-glass) {
  #ab-toolbox:not(:-moz-lwtheme) {
    color: black;
    text-shadow: 0 0 .7em white, 0 0 .7em white, 0 1px 0 rgba(255, 255, 255, .4);
    border-bottom-color: #aabccf;
  }
}

@media (-moz-os-version: windows-vista),
        (-moz-os-version: windows-win7) {
  #ab-toolbox:not(:-moz-lwtheme) {
  background-image: linear-gradient(rgba(255, 255, 255, .5),
                    rgba(255, 255, 255, 0));
  }
}

@media (-moz-windows-default-theme) and (-moz-os-version: windows-vista),
       (-moz-windows-default-theme) and (-moz-os-version: windows-win7) {
  #ab-toolbox:not(:-moz-lwtheme) {
    background-color: hsl(210, 75%, 92%);
  }

  #dirTree {
    background-color: #eef3fa;
  }

  #status-bar {
    -moz-appearance: none;
    border: none;
    border-top: 1px solid ThreeDShadow;
    background-color: hsl(210, 75%, 92%);
  }
}

@media (-moz-windows-default-theme) and (-moz-os-version: windows-win10) {
  #dirTree {
    background-color: #fafafa;
  }
}

@media (-moz-windows-default-theme) and (-moz-os-version: windows-win8),
       (-moz-windows-default-theme) and (-moz-os-version: windows-win10) {
  #button-newcard {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#newcard-flat");
  }

  #button-newlist {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#newlist-flat");
  }

  #button-editcard {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#editcard-flat");
  }

  #button-newmessage {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#newmessage-flat");
  }

  #button-newim {
    list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbook-toolbar.svg#newim-flat");
  }
}
