/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url(chrome://calendar/skin/shared/calendar-unifinder.css);

:root[lwt-tree-brighttext] #unifinder-searchBox {
  --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .25));
  --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .5));
  --toolbarbutton-header-bordercolor: var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .25));
  --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background, rgba(255, 255, 255, .4));
  --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background, rgba(255, 255, 255, .7));
  --toolbarbutton-active-boxshadow: 0 0 0 1px var(--lwt-toolbarbutton-active-background, rgba(255, 255, 255, .4)) inset;
  --toolbarbutton-checkedhover-backgroundcolor: var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .5));
}

/* restyle splitter-border to match Thunderbird's layout */
#calendar-view-splitter {
   -moz-appearance: none;
   border-bottom: 1px solid var(--splitter-color);
   /* splitter grip area */
   height: 5px;
   /* make only the splitter border visible */
   margin-top: -5px;
   /* because of the negative margin needed to make the splitter visible */
   position: relative;
   z-index: 10;
}

#bottom-events-box {
    border-left: 1px solid ThreeDShadow;
}

/* added for new id ..... search box ..... */
#unifinder-searchBox {
    background-color: transparent;
    border-bottom: 1px solid ThreeDShadow;
    height: 37px;
}

.unifinder-closebutton {
    margin-inline-end: 2px;
}
