/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This file needs to be in content so it can load the moz-extension:// images. */

.unified-toolbar .extension-action .button-icon {
  height: 16px;
  width: 16px;
  margin-inline: 1px;
  content: var(--webextension-toolbar-image, inherit);

  :root[lwtheme] & {
    content: var(--webextension-toolbar-image-dark, inherit);
  }

  @media (prefers-color-scheme: dark) {
    content: var(--webextension-toolbar-image-light, inherit) !important;
  }
}

:is(.icons-only, .icons-above-text, .icons-beside-text) .extension-action .prefer-icon-only .button-label {
  display: none;
}

.extension-action .preview-icon {
  content: var(--webextension-icon, inherit);
}
