/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#palette-box {
  overflow: auto;
  display: block;
  min-height: 3em;
}

toolbarpaletteitem {
  -moz-window-dragging: no-drag;
  -moz-box-pack: start;
}

toolbarpaletteitem[place="palette"] {
  -moz-box-orient: vertical;
  width: 10em;
  max-width: 10em;
  /* icon (16) + margin (9 + 12) + 4 lines of text: */
  height: calc(39px + 4em);
  margin-bottom: 5px;
  margin-inline-end: 24px;
  overflow: visible;
  display: inline-block;
  vertical-align: top;
}

toolbarpaletteitem[place=palette]::after {
  content: attr(title);
  display: block;
  text-align: center;
}

toolbarpaletteitem > toolbarbutton,
toolbarpaletteitem > toolbarseparator,
toolbarpaletteitem > toolbaritem {
  /* Prevent children from getting events */
  pointer-events: none;
  -moz-box-pack: center;
  -moz-box-flex: 1;
}

#main-box > box {
  overflow: hidden;
}

/* Hide the toolbarbutton label because we replicate it on the wrapper */
.toolbarbutton-text {
  display: none;
}

toolbarbutton > .toolbarbutton-menubutton-dropmarker {
  display: none;
}
