/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== msgCompSMIMEOverlay.css ========================================
  == Styles for the S/Mime in composer window.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#msgcomposeWindow #signing-status {
  list-style-image: none;
  visibility: collapse;
}

#msgcomposeWindow #encryption-status {
  list-style-image: none;
  visibility: collapse;
}

@media (-moz-os-version: windows-xp) {
  #msgcomposeWindow[signing="ok"] #signing-status {
    list-style-image: url("chrome://messenger/skin/smime/icons/sbSignOk-XP.png");
    visibility: visible;
  }

  #msgcomposeWindow[signing="notok"] #signing-status {
    list-style-image: url("chrome://messenger/skin/smime/icons/sbSignNotOk-XP.png");
    visibility: visible;
  }

  #msgcomposeWindow[crypto="ok"] #encryption-status {
    list-style-image: url("chrome://messenger/skin/smime/icons/sbCryptoOk-XP.png");
    visibility: visible;
  }

  #msgcomposeWindow[crypto="notok"] #encryption-status {
    list-style-image: url("chrome://messenger/skin/smime/icons/sbCryptoNotOk-XP.png");
    visibility: visible;
  }
}

@media not all and (-moz-os-version: windows-xp) {
  #msgcomposeWindow[signing="ok"] #signing-status {
    list-style-image: url("chrome://messenger/skin/smime/icons/sbSignOk.png");
    visibility: visible;
  }

  #msgcomposeWindow[signing="notok"] #signing-status {
    list-style-image: url("chrome://messenger/skin/smime/icons/sbSignNotOk.png");
    visibility: visible;
  }

  #msgcomposeWindow[crypto="ok"] #encryption-status {
    list-style-image: url("chrome://messenger/skin/smime/icons/sbCryptoOk.png");
    visibility: visible;
  }

  #msgcomposeWindow[crypto="notok"] #encryption-status {
    list-style-image: url("chrome://messenger/skin/smime/icons/sbCryptoNotOk.png");
    visibility: visible;
  }
}
