/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#signedHdrIcon {
  list-style-image: none;
  visibility: visible;
  -moz-margin-end: 10px;
}

#encryptedHdrIcon {
  list-style-image: none;
  visibility: visible;
}

@media (-moz-os-version: windows-xp) {
  #signedHdrIcon[signed="ok"] {
    list-style-image: url("chrome://messenger/skin/smime/icons/hdrSignOk-XP.png");
  }

  #signedHdrIcon[signed="unknown"] {
    list-style-image: url("chrome://messenger/skin/smime/icons/hdrSignUnknown-XP.png");
  }

  #signedHdrIcon[signed="mismatch"] {
    list-style-image: url("chrome://messenger/skin/smime/icons/hdrSignUnknown-XP.png");
  }

  #signedHdrIcon[signed="notok"] {
    list-style-image: url("chrome://messenger/skin/smime/icons/hdrSignNotOk-XP.png");
  }

  #encryptedHdrIcon[encrypted="ok"] {
    list-style-image: url("chrome://messenger/skin/smime/icons/hdrCryptoOk-XP.png");
  }

  #encryptedHdrIcon[encrypted="notok"] {
    list-style-image: url("chrome://messenger/skin/smime/icons/hdrCryptoNotOk-XP.png");
  }
}

@media not all and (-moz-os-version: windows-xp) {
  #signedHdrIcon[signed="ok"] {
    list-style-image: url("chrome://messenger/skin/smime/icons/hdrSignOk.png");
  }

  #signedHdrIcon[signed="unknown"] {
    list-style-image: url("chrome://messenger/skin/smime/icons/hdrSignUnknown.png");
  }

  #signedHdrIcon[signed="mismatch"] {
    list-style-image: url("chrome://messenger/skin/smime/icons/hdrSignUnknown.png");
  }

  #signedHdrIcon[signed="notok"] {
    list-style-image: url("chrome://messenger/skin/smime/icons/hdrSignNotOk.png");
  }

  #encryptedHdrIcon[encrypted="ok"] {
    list-style-image: url("chrome://messenger/skin/smime/icons/hdrCryptoOk.png");
  }

  #encryptedHdrIcon[encrypted="notok"] {
    list-style-image: url("chrome://messenger/skin/smime/icons/hdrCryptoNotOk.png");
  }
}
