% This Source Code Form is subject to the terms of the Mozilla Public
% License, v. 2.0. If a copy of the MPL was not distributed with this
% file, You can obtain one at http://mozilla.org/MPL/2.0/.

%include instantbird.css

/* This applies only if Glass is available. */
@media all and (-moz-windows-compositor) {
  #convWindow {
    -moz-appearance: -moz-win-borderless-glass;
    background: transparent;
  }
}

/* Our fallback for Aero Basic: set the background color appropriately. */
@media not all and (-moz-windows-compositor) {
  #convWindow:-moz-system-metric(windows-default-theme) {
    background-color: rgb(185, 209, 234);
  }
  #convWindow:-moz-system-metric(windows-default-theme):-moz-window-inactive {
    background-color: rgb(215, 228, 242);
  }
}

/* Use for both Aero themes. */
@media all and (-moz-windows-theme: aero) {
  #statusbar-display {
    -moz-appearance: none;
    border-radius: 0 0 5px 5px;
    border: none;
    background: transparent;
  }

  #conversations {
    padding-top: 2px;
    border-radius: 5px 5px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
