/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%ifdef XP_MACOSX
#logList {
  -moz-appearance: none;
  background-color: #d2d8e2;
  border: 0px;
  margin: 0 0;
}

#logList:-moz-window-inactive {
  background-color: #e8e8e8;
}

splitter {
  -moz-border-end: none !important;
  -moz-border-start: 1px solid #404040;
  min-width: 1px;
  width: 1px;
}

splitter:-moz-window-inactive {
  border-color: rgba(0,0,0,0.35);
}
%else
%ifdef XP_WIN
#logList {
  -moz-appearance: none;
  border: none;
  margin: 0 0;
}
%else
#browser {
  -moz-appearance: listbox;
}

#logList {
  margin: 0 0;
}
%endif
%endif
