/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/customizableui/panelUI.css");

.restoreallitem > .toolbarbutton-icon {
  display: none;
}

.subviewbutton {
  padding-inline-start: 18px;
}

.subviewbutton.download {
  padding-inline-start: 14px;
}

panelmultiview .toolbaritem-combined-buttons > spacer.before-label {
  width: 42px; /* 18px toolbarbutton padding + 16px icon + 8px label padding start */
}

.subviewbutton:not([image],[targetURI],.bookmark-item) > .menu-iconic-left {
  display: none;
}

/* Override OSX-specific toolkit styles for the bookmarks panel */
menu.subviewbutton > .menu-right {
  margin-inline-end: -4px;
  appearance: none;
}

@media not (-moz-proton) {
.PanelUI-subView menuseparator,
.cui-widget-panelview menuseparator {
  padding: 0 !important;
}
} /** END not Proton **/
