/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#timezone-stack {
  margin: 4px 4px 0;
}

.timezone-highlight {
  object-fit: none;
  width: 460px;
  height: 287px;
}
.timezone-highlight[tzid="none"] {
  display: none;
}
.timezone-highlight[tzid="+0000"] {
  object-position: top 0 left -6900px;
}
.timezone-highlight[tzid="+0100"] {
  object-position: top 0 left -7360px;
}
.timezone-highlight[tzid="+0200"] {
  object-position: top 0 left -7820px;
}
.timezone-highlight[tzid="+0300"] {
  object-position: top 0 left -8280px;
}
.timezone-highlight[tzid="+0330"] {
  object-position: top 0 left -8740px;
}
.timezone-highlight[tzid="+0400"] {
  object-position: top 0 left -9200px;
}
.timezone-highlight[tzid="+0430"] {
  object-position: top 0 left -9660px;
}
.timezone-highlight[tzid="+0500"] {
  object-position: top 0 left -10120px;
}
.timezone-highlight[tzid="+0530"] {
  object-position: top 0 left -10580px;
}
.timezone-highlight[tzid="+0545"] {
  object-position: top 0 left -11040px;
}
.timezone-highlight[tzid="+0600"] {
  object-position: top 0 left -11500px;
}
.timezone-highlight[tzid="+0630"] {
  object-position: top 0 left -11960px;
}
.timezone-highlight[tzid="+0700"] {
  object-position: top 0 left -12420px;
}
.timezone-highlight[tzid="+0800"] {
  object-position: top 0 left -12880px;
}
.timezone-highlight[tzid="+0845"] {
  display: none;
}
.timezone-highlight[tzid="+0900"] {
  object-position: top 0 left -13340px;
}
.timezone-highlight[tzid="+0930"] {
  object-position: top 0 left -13800px;
}
.timezone-highlight[tzid="+1000"] {
  object-position: top 0 left -14260px;
}
.timezone-highlight[tzid="+1030"] {
  object-position: top 0 left -14720px;
}
.timezone-highlight[tzid="+1100"] {
  object-position: top 0 left -15180px;
}
.timezone-highlight[tzid="+1130"] {
  object-position: top 0 left -15180px;
}
.timezone-highlight[tzid="+1200"] {
  object-position: top 0 left -16100px;
}
.timezone-highlight[tzid="+1245"] {
  object-position: top 0 left -16560px;
}
.timezone-highlight[tzid="+1300"] {
  object-position: top 0 left -17020px;
}
.timezone-highlight[tzid="+1400"] {
  object-position: top 0 left -17480px;
}
.timezone-highlight[tzid="-0100"] {
  object-position: top 0 left -6440px;
}
.timezone-highlight[tzid="-0200"] {
  object-position: top 0 left -5980px;
}
.timezone-highlight[tzid="-0300"] {
  object-position: top 0 left -5520px;
}
.timezone-highlight[tzid="-0330"] {
  object-position: top 0 left -5060px;
}
.timezone-highlight[tzid="-0400"] {
  object-position: top 0 left -4600px;
}
.timezone-highlight[tzid="-0430"] {
  display: none;
}
.timezone-highlight[tzid="-0500"] {
  object-position: top 0 left -4140px;
}
.timezone-highlight[tzid="-0600"] {
  object-position: top 0 left -3680px;
}
.timezone-highlight[tzid="-0700"] {
  object-position: top 0 left -3220px;
}
.timezone-highlight[tzid="-0800"] {
  object-position: top 0 left -17940px;
}
.timezone-highlight[tzid="-0830"] {
  object-position: top 0 left -2760px;
}
.timezone-highlight[tzid="-0900"] {
  object-position: top 0 left -2300px;
}
.timezone-highlight[tzid="-0930"] {
  object-position: top 0 left -1840px;
}
.timezone-highlight[tzid="-1000"] {
  object-position: top 0 left -1380px;
}
.timezone-highlight[tzid="-1100"] {
  object-position: top 0 left -920px;
}
.timezone-highlight[tzid="-1245"] {
  object-position: top 0 left -460px;
}
.timezone-highlight[tzid="-1200"] {
  object-position: top 0 left 0;
}
