/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* We want the calendar items container to span the full width of the dialog
   window, so there's no space between its scrollbar and the right side of the
   window. Set the dialog element's padding to 0 and then set the equivalent
   padding on its children. The dialog buttons area is in the shadow dom, so we
   add padding to it via JS in the window load handler function. */
#calendar-ics-file-dialog {
  padding-inline: 0;
}

#calendar-ics-file-dialog-header,
#calendar-ics-file-dialog-items-container,
#calendar-ics-file-dialog-progress-pane,
#calendar-ics-file-dialog-result-pane {
  /* This padding needs to change elsewhere if it changes here.
     See the note above the styles for #calendar-ics-file-dialog */
  padding-inline: 10px;
}

#calendar-ics-file-dialog-items-container,
#calendar-ics-file-dialog-progress-pane,
#calendar-ics-file-dialog-result-pane {
  flex: 1 1 0;
}

#calendar-ics-file-dialog-calendar-menu-label {
  margin-top: 1em;
}

#calendar-ics-file-dialog-calendar-menu > menupopup > menuitem .menu-iconic-left {
  display: flex;
}

#calendar-ics-file-dialog-calendar-menu::part(icon) {
  margin-inline-start: 4px;
  margin-inline-end: 3px;
}

#calendar-ics-file-dialog-calendar-menu::part(icon),
#calendar-ics-file-dialog-calendar-menu > menupopup > menuitem .menu-iconic-icon {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--item-color);
}

#calendar-ics-file-dialog-sort-button {
  list-style-image: var(--icon-sort);
  min-width: 0;
  margin-block: 2px;
  -moz-context-properties: stroke;
  stroke: currentColor;
}

#calendar-ics-file-dialog-sort-button > .button-box > dropmarker {
  display: none;
}

#calendar-ics-file-dialog-items-container {
  border-block: 1px solid var(--field-border-color);
  margin-block: 0.7em;
  margin-inline: -8px -10px;
  padding-block: 0 1.5em;
  padding-inline: 18px 20px;
  min-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

#calendar-ics-file-dialog-items-loading-message {
  text-align: center;
  margin-top: 3em;
}

.calendar-ics-file-dialog-item-frame {
  background-color: var(--field-background-color);
  border: 1px solid var(--field-border-color);
  margin-block: 1.5em 0;
  margin-inline: 6px 5px;
  padding: 0.7em;
}

.calendar-ics-file-dialog-item-import-button {
  margin-block: 0.7em 0;
}

.calendar-caption {
  display: none;
}

.item-description {
  padding: 2px;
}

#calendar-ics-file-dialog-progress-pane,
#calendar-ics-file-dialog-result-pane {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#calendar-ics-file-dialog-progress {
  width: 400px;
}
