/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#calendar-invitations-dialog {
  min-width: 500px;
  min-height: 273px;
}

.calendar-invitations-updating-icon {
  opacity: 0.5;
}

#invitations-listbox {
  background-color: Field;
  color: FieldText;
  border: 1px solid #7F9DB9;
  display: flex;
  flex-direction: column;
}

richlistitem[is="calendar-invitations-richlistitem"] {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-inline-start: 7px;
  padding-inline-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

richlistitem[is="calendar-invitations-richlistitem"][selected="true"] {
  background-color: Highlight;
  color: HighlightText;
  border-bottom: 1px dotted #7F9DB9;
}

.calendar-invitations-richlistitem-title {
  font-weight: bold;
}

.calendar-invitations-richlistitem-icon {
  /* Crops the src of the image. */
  object-fit: none;
  width: 32px;
  height: 32px;
}

.calendar-invitations-richlistitem-icon[status="NEEDS-ACTION"] {
  object-position: top 0 left 0;
}

.calendar-invitations-richlistitem-icon[status="ACCEPTED"] {
  object-position: top 0 left -32px;
}

.calendar-invitations-richlistitem-icon[status="DECLINED"] {
  object-position: top 0 left -64px;
}

.calendar-invitations-richlistitem-button {
  margin-bottom: 10px;
  visibility: hidden;
}

richlistitem[is="calendar-invitations-richlistitem"][selected="true"] .calendar-invitations-richlistitem-button {
  visibility: visible;
}

.calendar-invitations-richlistitem-button .button-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 5px;
}

.calendar-invitations-richlistitem-accept-button {
  list-style-image: url("chrome://calendar/skin/shared/calendar-invitations-dialog-button-images.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.calendar-invitations-richlistitem-decline-button {
  list-style-image: url("chrome://calendar/skin/shared/calendar-invitations-dialog-button-images.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}
