/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#dialog-box {
  overflow: auto;
  height: 290px;
}

.calendar-invitations-updating-icon {
  opacity: 0.5;
  -moz-context-properties: fill;
  fill: var(--selected-item-color);
}

#updating-box {
  background-color: var(--field-background-color);
  color: var(--field-text-color);
  border: 1px solid var(--field-border-color);
}

#invitationContainer {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

richlistitem[is="calendar-invitations-richlistitem"] {
  padding: 6px 7px;
  min-height: 25px;
  border-bottom: 1px dotted #808080;
}

.calendar-invitations-richlistitem-title {
  font-weight: bold;
  white-space: break-spaces;
}

.calendar-invitations-richlistitem-icon {
  /* Crops the src of the image. */
  object-fit: none;
  width: 32px;
  height: 32px;
}

.calendar-invitations-richlistitem-icon[status="NEEDS-ACTION"] {
  object-position: top 0 left 0;
}

.calendar-invitations-richlistitem-icon[status="ACCEPTED"] {
  object-position: top 0 left -32px;
}

.calendar-invitations-richlistitem-icon[status="DECLINED"] {
  object-position: top 0 left -64px;
}

.calendar-invitations-richlistitem-button {
  margin-bottom: 10px;
  visibility: hidden;
}

richlistitem[is="calendar-invitations-richlistitem"][selected="true"] .calendar-invitations-richlistitem-button {
  visibility: visible;
}

.calendar-invitations-richlistitem-button .button-icon {
  margin-block: 0;
  margin-inline: 0 5px;
  border-radius: 3px;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

.calendar-invitations-richlistitem-accept-button {
  list-style-image: url(chrome://calendar/skin/shared/icons/complete.svg);
}

.calendar-invitations-richlistitem-decline-button {
  list-style-image: url(chrome://calendar/skin/shared/icons/decline.svg);
}
