/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

#spacer {
  border: 1px solid transparent;
}

#attendee-list {
  margin: 0;
  border: 1px solid var(--field-border-color);
  overflow-x: scroll;
  background-attachment: local;
  background-color: var(--field-background-color);
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2250%22%20height%3D%2221%22%3E%3Cpath%20d%3D%22M49.5%2020.5H0%22%20fill%3D%22none%22%20stroke%3D%22threedshadow%22%20stroke-width%3D%221%22%2F%3E%3C%2Fsvg%3E%0A);
  color: var(--field-text-color);
}

.attendees-grid-container {
  width: 540px;
  overflow-y: auto;
}

event-attendee {
  flex: 0 0 21px;
  height: 21px;
  padding: 0 4px 1px;
  display: flex;
  align-items: center;
}

event-attendee > .role-icon {
  margin: 0;
}

event-attendee > input {
  flex: 1 1 auto;
  outline: none !important;
}

/* Autocomplete labels
 * These styles match those in chrome://messenger/skin/shared/messenger.css. */

span.ac-emphasize-text {
  font-weight: bold;
}

.autocomplete-richlistitem[type$="-abook"]:not([ac-comment=""]) > .ac-url,
.autocomplete-richlistitem[type$="-abook"]:not([ac-comment=""]) > .ac-separator {
  display: flex;
}

.autocomplete-richlistitem[type$="-abook"]:not([ac-comment=""]) > .ac-url {
  order: 1;
}

.autocomplete-richlistitem[type$="-abook"]:not([ac-comment=""]) > .ac-separator {
  order: 2;
}

.autocomplete-richlistitem[type$="-abook"]:not([ac-comment=""]) > .ac-title {
  order: 3;
}

.ac-url-text {
  max-width: unset !important;
}

#outer > splitter {
  background-color: transparent;
  border: none;
}

#day-header-outer {
  border: 1px solid var(--field-border-color);
  border-bottom: none;
  overflow: hidden;
  background-color: var(--field-background-color);
  color: var(--field-text-color);
  text-align: center;
}

#day-header-inner {
  padding-bottom: 6px;
  background-position: left bottom;
  background-repeat: repeat-x;
}

#day-header-inner.twoMinorColumns {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%226%22%20fill%3D%22none%22%20stroke%3D%22threedshadow%22%20stroke-width%3D%221%22%3E%3Cpath%20d%3D%22M59.5%200V6%22%2F%3E%3C%2Fsvg%3E);
}

#day-header-inner.threeMinorColumns {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2290%22%20height%3D%226%22%20fill%3D%22none%22%20stroke%3D%22threedshadow%22%20stroke-width%3D%221%22%3E%3Cpath%20d%3D%22M89.5%200V6%22%2F%3E%3C%2Fsvg%3E);
}

calendar-day {
  border-inline-end: 1px solid var(--field-border-color);
  flex-direction: column;
  justify-content: flex-end;
}

.day-label {
  margin: 2px 0;
  text-align: center;
  font-weight: 600;
}

.hour-label {
  margin: 0 0 2px;
}

#freebusy-grid {
  margin: 0;
  border: 1px solid var(--field-border-color);
  overflow: scroll auto;
  background-color: var(--field-background-color);
  color: var(--field-text-color);
}

.day-column {
  position: absolute;
  top: 0;
  bottom: 0;
}

.day-off {
  background-color: var(--viewWeekendBackground);
}

.time-off {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--viewOffTimeBackground);
}

.day-off > .time-off {
  background-color: var(--viewMonthDayOffLabelBackground);
}

#freebusy-grid-inner {
  overflow: hidden;
}

#freebusy-grid-inner.twoMinorColumns {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2260%22%20height%3D%2221%22%20fill%3D%22none%22%20stroke%3D%22threedshadow%22%20stroke-width%3D%221%22%3E%3Cpath%20d%3D%22M59.5%200V20.5H0%22%2F%3E%3Cpath%20d%3D%22M29.5%200V20.5%22%20stroke-opacity%3D%220.33%22%20stroke-dasharray%3D%2215%25%22%2F%3E%3C%2Fsvg%3E);
}

#freebusy-grid-inner.threeMinorColumns {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2290%22%20height%3D%2221%22%20fill%3D%22none%22%20stroke%3D%22threedshadow%22%20stroke-width%3D%221%22%3E%3Cpath%20d%3D%22M89.5%200V20.5H0%22%2F%3E%3Cpath%20d%3D%22M29.5%200V20.5%22%20stroke-opacity%3D%220.44%22%2F%3E%3Cpath%20d%3D%22M59.5%200V20.5%22%20stroke-opacity%3D%220.44%22%2F%3E%3C%2Fsvg%3E);
}

.freebusy-row {
  position: relative;
  height: 21px;
  box-sizing: border-box;
  padding: 2px 0 3px;
}

.freebusy-row > .pending {
  position: absolute;
  top: 0;
  bottom: 1px;
  background-color: #999;
}

.freebusy-row > .busy,
.freebusy-row > .tentative,
.freebusy-row > .unavailable,
.freebusy-row > .unknown {
  position: absolute;
  top: 2px;
  bottom: 3px;
}
.freebusy-row > .busy {
  background-color: #153e7e;
}
.freebusy-row > .tentative {
  background-color: #1589ff;
}
.freebusy-row > .unavailable {
  background-color: #4e387e;
}
.freebusy-row > .unknown {
  background-color: #e09ebd;
}

#event-bar-top {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  border: 1px #f045a5 solid;
  border-bottom: none;
  cursor: move;
  background-color: rgba(240, 69, 165, 0.44);
}

#event-bar-bottom {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  border: 1px #f045a5 solid;
  border-top: none;
  background-color: rgba(240, 69, 165, 0.44);
}

.zoom-in-icon,
.zoom-out-icon {
  margin: 3px;
  -moz-context-properties: fill, stroke;
  fill: color-mix(in srgb, currentColor 20%, transparent);
  stroke: currentColor;
}

.zoom-in-icon[disabled="true"],
.zoom-out-icon[disabled="true"] {
  -moz-context-properties: fill, stroke;
  fill: color-mix(in srgb, currentColor 10%, transparent);
  stroke: color-mix(in srgb, currentColor 40%, transparent);
}

.zoom-in-icon {
  list-style-image: var(--font-size-increase);
}

.zoom-out-icon {
  list-style-image: var(--font-size-decrease);
}

.legend {
  display: flex;
  width: 3em;
  height: 1em;
  border-top: 1px solid #a1a1a1;
  border-bottom: 1px solid #dddddd;
  border-inline: 1px solid #c3c3c3;
}

.legend[status="FREE"] {
  background-color: #ebebe4;
  color: #ebebe4;
}

.legend[status="BUSY"] {
  background-color: #153e7e;
  color: #153e7e;
}

.legend[status="BUSY_TENTATIVE"] {
  background-color: #1589ff;
  color: #1589ff;
}

.legend[status="BUSY_UNAVAILABLE"] {
  background-color: #4e387e;
  color: #4e387e;
}

.legend[status="UNKNOWN"] {
  background-color: #e09ebd;
  color: #e09ebd;
}
