/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  min-inline-size: 300px;
  min-block-size: 200px;
}

#calendar-list {
  flex: 1 1 0;
}

richlistitem {
  padding: 4px 8px;
  align-items: center;
}

richlistitem > box:first-child {
  inline-size: 10px;
  block-size: 10px;
  border-radius: 5px;
}
